<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  <head>
    <meta charset="UTF-8">
    <title>Instagramキャンペーンで見事1,000ポイント当選！ | 楽天ビューティ</title>
    <meta name="viewport" content="width=1300">
    <meta name="description" content="楽天ビューティのInstagramフォロー＆いいねなどのアクションありがとうございました！厳正なる抽選の結果、見事1,000ポイント当選しました！">
    <link rel="canonical" href="https://beauty.rakuten.co.jp/cnt/topics/campaign/instagram/entry/">
    <meta property="og:type" content="article">
    <meta property="og:site_name" content="楽天ビューティ">
    <meta property="og:url" content="https://beauty.rakuten.co.jp/cnt/topics/campaign/instagram/entry/">
    <meta property="fb:app_id" content="461054960620939">
    <meta property="og:title" content="Instagramキャンペーンで見事1,000ポイント当選！ | 楽天ビューティ">
    <meta property="og:description" content="楽天ビューティのInstagramフォロー＆いいねなどのアクションありがとうございました！厳正なる抽選の結果、見事1,000ポイント当選しました！">
    <meta property="og:image" content="https://beauty.rakuten.co.jp/cnt/topics/campaign/instagram/entry/img/share.png?v20240530">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="apple-touch-icon-precomposed" href="//beauty.rakuten.co.jp/cnt/common/images/beauty_192px.png?v20180702">
    <link rel="shortcut icon" href="//jp.rakuten-static.com/1/im/ci/rakuten/favicon/pi.ico?20181001">
    <link rel="mask-icon" href="//jp.rakuten-static.com/1/im/ci/rakuten/favicon/Rakuten_SafariPin.svg?20181001" color="#ff41be">
    <link href="css/main.css?v20240530" rel="stylesheet" type="text/css">
    <link rel="dns-prefetch" href="https://cdn.rex.contents.rakuten.co.jp">
    <script>
      const ua = navigator.userAgent;
      //- viewport for Tablet
      if( ua.indexOf('iPhone') > 0 || ua.indexOf('iPod') > 0 || (ua.indexOf('Android') > 0 && ua.indexOf('Mobile') > 0) || ( ua.indexOf('windows') > 0 && ua.indexOf('phone') > 0) || ( ua.indexOf('firefox') > 0 && ua.indexOf('mobile') > 0) ) {
        document.querySelector("meta[name='viewport']").setAttribute("content", "width=device-width,initial-scale=1,user-scalable=no");
      } else if( ua.indexOf('iPad') > 0 || ua.indexOf('Android') > 0 || (ua.indexOf('windows') > 0 && ua.indexOf('touch') > 0) || ( ua.indexOf('firefox') > 0 && ua.indexOf('tablet') > 0) ) {
        document.querySelector("meta[name='viewport']").setAttribute("content", "width=1300");
      }
    </script>
    <meta name="robots" content="noindex,nofollow">
  </head>
  <body>
    <noscript>
      <iframe class="txt_h vis_h" src="//www.googletagmanager.com/ns.html?id=GTM-RKLN" height="0" width="0"></iframe>
    </noscript>
    <script>
      (function(w,d,s,l,i){
      w[l]=w[l]||[];
      w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});
      var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';
      j.async=true;
      j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;
      f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-RKLN');
    </script>
    <script src="//jp.rakuten-static.com/1/grp/banner/js/create.js"></script>
    <div id="mkdiv_header_pitari"></div>
    <header class="-excludeApp" id="SP_header">
      <p id="serviceID"><a class="logo" href="/"><img src="https://beauty.rakuten.co.jp/sp/images/global/rb_logo_v201807.svg" width="74" height="40"></a></p>
    </header>
        <header id="PC_header">
          <div class="rc-h-standard">
            <noscript>
              <div class="rc-h-noscript-bar">
                <div class="rc-h-inner">
                  <p>JavaScriptが無効の為、一部のコンテンツをご利用いただけません。JavaScriptの設定を有効にしてからご利用いただきますようお願いいたします。（<a href="//ichiba.faq.rakuten.co.jp/app/answers/detail/a_id/154">設定方法</a>）</p>
                </div>
              </div>
            </noscript>
            <div class="rc-h-utility-bar">
              <div class="rc-h-inner">
                <div class="rb_wrapper">
                  <ul class="rc-h-group-nav">
                    <li id="grpNote">
                      <noscript><a href="//card.rakuten.co.jp/entry/">今すぐ2,000ポイント！</a></noscript>
                    </li>
                    <li class="rc-h-dropdown rc-h-group-dropdown"><a href="//www.rakuten.co.jp/sitemap/">楽天グループ</a>
                      <ul class="rc-h-dropdown-panel">
                        <li><a href="//books.rakuten.co.jp/?scid=wi_grp_gmx_bea_hepullbu_boo" rel="nofollow">楽天ブックス</a></li>
                        <li><a href="//hoken.rakuten.co.jp/?scid=wi_grp_gmx_bea_hepullbu_hkn" rel="nofollow">楽天の保険</a></li>
                        <li><a href="//www.infoseek.co.jp/?scid=wi_grp_gmx_bea_hepullbu_ifs" rel="nofollow">インフォシーク</a></li>
                        <li><a href="//sm.rakuten.co.jp/?scid=wi_grp_gmx_bea_hepullbu_sup&amp;xadid=wi_grp_gmx_bea_hepullbu_sup" rel="nofollow">楽天西友ネットスーパー</a></li>
                        <li><a href="//www.rakuten.co.jp/sitemap/">サービス一覧</a></li>
                      </ul>
                    </li>
                    <li><a href="//www.rakuten-life.co.jp/?scid=wi_grp_gmx_bea_hetopbu_sei" rel="nofollow">楽天生命</a></li>
                    <li><a href="//www.rakuten.co.jp/" rel="nofollow">楽天市場</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="rb_wrapper">
              <div class="rc-h-service-bar">
                <div class="rc-h-inner">
                  <div class="rc-h-site-id">
                    <p class="rc-h-logo"><a href="/"><img src="//beauty.rakuten.co.jp/images/global/rb_logo_v201807.svg" width="206" height="32" alt="Rakuten BEAUTY"></a></p>
                  </div>
                  <div class="rc-h-site-menu">
                    <div class="rc-h-menu-btns">
                      <ul class="rc-h-help-nav">
                        <li><a href="/cnt/topics/guide/">はじめての方へ</a></li>
                        <li><a href="//beauty.faq.rakuten.net/user/s/">ヘルプ</a></li>
                        <li><a href="//emagazine.rakuten.co.jp/ne?n=294" onclick="_gaq.push(['_trackEvent', 'permission', 'click', 'rbpc_header']);">お得な情報を受け取る</a></li>
                        <li><a href="/cnt/topics/bp/?l-id=rb_pc_header_bp">掲載ご希望のサロン様</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <nav id="globalNav">
            <ul class="globalNav__list c-container">
              <li class="globalNav__item"><a class="globalNav__link" href="/">美容院・ヘアサロン</a></li>
              <li class="globalNav__item"><a class="globalNav__link" href="/nail/">ネイル・まつげサロン</a></li>
              <li class="globalNav__item"><a class="globalNav__link" href="/esthe/">エステサロン</a></li>
              <li class="globalNav__item"><a class="globalNav__link" href="/relax/">リラク・マッサージサロン</a></li>
              <li class="globalNav__item"><a class="globalNav__link" href="/style/">ヘアカタログ</a></li>
              <li class="globalNav__item"><a class="globalNav__link" href="/naildesign/">ネイルカタログ</a></li>
              <li class="globalNav__item"><a class="globalNav__current" href="/cnt/topics/">キャンペーン一覧・特集</a></li>
              <li class="globalNav__item"><a class="globalNav__link" href="/rakulab/">Raku Lab</a></li>
            </ul>
          </nav>
        </header>
        <div class="c-container" id="breadcrumb">
          <ul class="c-breadcrumbs">
            <li class="c-breadcrumbs__item"><a class="c-breadcrumbs__link" href="/">楽天ビューティ</a></li>
            <li class="c-breadcrumbs__item"><a class="c-breadcrumbs__link" href="https://beauty.rakuten.co.jp/cnt/topics/">キャンペーン一覧・特集</a></li>
            <li class="c-breadcrumbs__item"><strong class="c-breadcrumbs__current">Instagramキャンペーンで見事1,000ポイント当選！</strong></li>
          </ul>
        </div>
        <script type="application/ld+json">
           {
            "@context": "https://schema.org",
            "@type": "BreadcrumbList",
            "itemListElement": [
              {
                "@type": "ListItem",
                "position": 1,
                "name": "楽天ビューティ",
                "item": "https://beauty.rakuten.co.jp/"
              },
              {
                "@type": "ListItem",
                "position": 2,
                "name": "キャンペーン一覧・特集",
                "item": "https://beauty.rakuten.co.jp/cnt/topics/"
              },
              {
                "@type": "ListItem",
                "position": 3,
                "name": "Instagramキャンペーンで見事1,000ポイント当選！"
              }
            ]
           }
        </script>
    <main id="content">
      <div id="Instagram">
        <div id="CpnTags">
                <div class="campaignTagSet">
                  <div class="campaignTagSet__wrap">
                    <div class="campaignTagSet__box">
                      <p class="campaignTag -red">エントリー必要</p>
                    </div>
                  </div>
                </div>
        </div>
        <section class="main" id="Main" data-ratid="cpn_instagram_entry_Main" data-ratevent="appear" data-ratparam="all">
          <h1 class="main__title"><img class="main__titleImg -pc" src="img/main.png?v20240530" alt="Instagramキャンペーンで見事1,000ポイント当選！"><img class="main__titleImg -sp" src="img/main_sp.jpg?v20240530" alt="Instagramキャンペーンで見事1,000ポイント当選！"></h1>
          <div class="main__terms">
            <div class="main__termsBox">
              <p class="main__termsTxt -bold">当選者エントリー期間：<br class="-sp">当選通知のDM受け取り 〜 5月23日 9:59</p>
              <p class="main__termsTxt -small">※進呈するポイント（期間限定ポイントを含む）には条件があります。</p>
              <p class="main__termsTxt -small">キャンペーン詳細は<a class="main__termsLink" href="#Detail">こちら</a></p>
            </div>
          </div>
        </section>
        <section class="stepContent" id="Step1" data-ratid="cpn_instagram_entry_Step1" data-ratevent="appear" data-ratparam="all">
          <h2 class="stepContent--title"><img src="img/img_title_complete.png?v20240530" alt="Step1" width="100%" height=""></h2>
          <p class="stepContent--lead">Instagramフォロー＆いいねなどの<br class="-sp">アクションありがとうございました！<br>ポイント受け取りのため<br class="-sp">下記よりエントリーください。</p>
        </section>
        <section class="entryBox" id="EntryBox" data-ratid="cpn_instagram_entry_EntryBox" data-ratevent="appear" data-ratparam="all">
          <!-- ReX Campaign Entry Button: Mounting points-->
          <!-- mounting point for button 1-->
          <div id="rex-ceb-01"></div>
          <!-- ReX Campaign Entry Button: Configuration-->
          <script>var rexButtons = {language: 'ja', buttons: [{"code":"/instagram2404","theme":"pink","wide":true,"showCelebration":false,"alreadyAppliedText":"エントリー済みです","ids":["rex-ceb-01"]}]}</script>
          <!-- ReX Campaign Entry Button: Script-->
          <script src="https://cdn.rex.contents.rakuten.co.jp/rex-ceb/5.1.0/static/js/main.js" defer=""></script>
          <p class="entryBox--info">※5月23日 9:59までに<br class="-sp">エントリーいただけなかった場合は、<br>当選を無効とさせていただきます。</p>
        </section>
        <section class="detail" id="Detail" data-ratid="cpn_instagram_entry_Detail" data-ratevent="appear" data-ratparam="all">
          <div class="detailBox">
            <div class="titleWrap">
              <h2 class="titleWrap--title">キャンペーン詳細</h2>
            </div>
            <p class="detail__caption">※本キャンペーンは予告なく変更・中止される可能性がございます。</p>
            <table class="detail__table">
              <tbody>
                <tr class="detail__tableBlock">
                  <th class="detail__tableBlockHead">キャンペーン期間</th>
                  <td class="detail__tableBlockBody">2024年4月8日(月)10:00 ～ 2024年4月22日(月)9:59まで</td>
                </tr>
                <tr class="detail__tableBlock">
                  <th class="detail__tableBlockHead">対象者</th>
                  <td class="detail__tableBlockBody">
                    <p class="detail__tableBlockTxt">下記の対象条件を全て満たした方が、特典の対象となります。</p>
                    <p class="detail__tableBlockTxt--space"></p>
                    <p class="detail__tableBlockTxt">＜対象条件＞</p>
                    <ul class="detail__tableBlockList--disc">
                      <li class="detail__tableBlockList--li">楽天ビューティのInstagramアカウントをフォローされた方<br>Instagramアカウントは<a class="detail__tableBlockTxt--link" href="https://www.instagram.com/rakutenbeauty/?hl=ja" target="_blank">こちら</a></li>
                      <li class="detail__tableBlockList--li">4月8日(月)に楽天ビューティのアカウントから投稿されている対象ポストに対して、下記いずれかの条件を達成された方<br>（達成された条件によって当選確率が変動します）<br>A) 当選確率1倍<br>いいねの♡をタップ<br>B) 当選確率2倍<br>今気になっているヘアスタイルやヘアカラー、トリートメントなどの種類、美容情報をコメント<br>C) 当選確率3倍<br>ストーリーズ機能を用いて楽天ビューティのアカウントのメンション及び #楽天ビューティ のハッシュタグを付けてシェア</li>
                    </ul>
                    <p class="detail__tableBlockTxt--space"></p>
                    <ul class="detail__tableBlockList">
                      <li class="detail__tableBlockList--li">応募期間以前から<a class="detail__tableBlockTxt--link" href="https://www.instagram.com/rakutenbeauty/?hl=ja" target="_blank">楽天ビューティの公式アカウント「@rakutenbeauty」</a>をフォローいただいている方も、その他条件を満たせば応募可能です。</li>
                      <li class="detail__tableBlockList--li">Cの条件に関して、Instagram のストーリーズ以外へのシェアは対象外となります。</li>
                      <li class="detail__tableBlockList--li">C の条件に関して、メンションかハッシュタグどちらか片方のみのシェアは対象外となります。</li>
                      <li class="detail__tableBlockList--li">B～C の条件に関して、対象となるのはお1人様1アクションとなります。複数回のシェアまたはコメントをいただいても当選確率は上がりませんのでご了承ください。</li>
                      <li class="detail__tableBlockList--li">A～Cの条件に関して、本キャンペーンに関する投稿に対するアクションのみが対象となります。通常のヘアカラー特集などの投稿にアクションされても対象外となりますので、ご注意ください。</li>
                      <li class="detail__tableBlockList--li">A～C の条件に関して、複数達成された場合の当選確率は合算となります。<br>例）BとCの条件を達成された場合、当選確率は5倍</li>
                      <li class="detail__tableBlockList--li">ご自身のアカウントを非公開設定にしている場合は対象外となります。</li>
                      <li class="detail__tableBlockList--li">楽天グループの役職員及び関係者は応募できません。</li>
                    </ul>
                  </td>
                </tr>
                <tr class="detail__tableBlock">
                  <th class="detail__tableBlockHead">特典内容</th>
                  <td class="detail__tableBlockBody">
                    <p class="detail__tableBlockTxt">抽選で250名様に楽天ポイント1,000ポイントが進呈されます。</p>
                    <p class="detail__tableBlockTxt--space"></p>
                    <ul class="detail__tableBlockList">
                      <li class="detail__tableBlockList--li">現在実施中のキャンペーンとの併用が可能です(一部併用が出来ないキャンペーンもございます)。<a class="detail__tableBlockTxt--link" href="https://beauty.rakuten.co.jp/cnt/topics/">キャンペーン一覧はこちら</a></li>
                    </ul>
                  </td>
                </tr>
                <tr class="detail__tableBlock">
                  <th class="detail__tableBlockHead">ポイント進呈予定日</th>
                  <td class="detail__tableBlockBody">
                    <ul class="detail__tableBlockList--none">
                      <li class="detail__tableBlockList--li">2024年5月末頃<br>当選者の方には2024年5月15日（水）頃に、Instagramのダイレクトメッセージにて「@rakutenbeauty」より当選通知とその後のご案内をさせていただきます。ダイレクトメッセージを受け取れる設定をされていない場合や、メッセージをお送りしてから一週間以内にご返信をいただけなかった場合は、当選を無効とさせていただきますのでご了承ください。</li>
                    </ul>
                    <p class="detail__tableBlockTxt--space"></p>
                    <ul class="detail__tableBlockList">
                      <li class="detail__tableBlockList--li">ポイントの進呈には、楽天IDが必要になります。まだお持ちでない方は<a class="detail__tableBlockTxt--link" href="https://www.rakuten.co.jp/myrakuten/help/">こちらから楽天会員登録</a>(無料)をお願いいたします。</li>
                      <li class="detail__tableBlockList--li">獲得した特典ポイントは、<a class="detail__tableBlockTxt--link" href="https://point.rakuten.co.jp/history/">楽天PointClubのポイント実績</a>でご確認いただけます。</li>
                      <li class="detail__tableBlockList--li">当選発表は当選者の方のみにご連絡いたします。当選に関わる個別のお問い合わせについては、対応しておりません。</li>
                    </ul>
                  </td>
                </tr>
                <tr class="detail__tableBlock">
                  <th class="detail__tableBlockHead">ポイント有効期限</th>
                  <td class="detail__tableBlockBody">
                    <ul class="detail__tableBlockList--none">
                      <li class="detail__tableBlockList--li">ポイント進呈日から6ヶ月間有効な期間限定ポイントとして進呈されます。</li>
                      <li class="detail__tableBlockList--li">期間限定ポイントの詳細は<a class="detail__tableBlockTxt--link" href="https://ichiba.faq.rakuten.net/detail/000006532?scid=su_2312">こちら</a>をご確認ください。</li>
                    </ul>
                  </td>
                </tr>
                <tr class="detail__tableBlock">
                  <th class="detail__tableBlockHead">注意事項</th>
                  <td class="detail__tableBlockBody">
                    <ul class="detail__tableBlockList">
                      <li class="detail__tableBlockList--li">抽選時に楽天ビューティのアカウントのフォロー及び該当投稿へのアクションが確認できない場合には対象外となります。</li>
                      <li class="detail__tableBlockList--li">本キャンペーンのためにアカウントを開設し、応募したと当社が合理的に判断した場合、当選権利を無効とさせていただく場合がございます。</li>
                      <li class="detail__tableBlockList--li">Instagramの利用規約・法令に違反する行為は当選を無効とさせていただきます</li>
                      <li class="detail__tableBlockList--li">本サービスへのアクセス集中や通信回線の状態による遅延、またシステム等の不具合などにより本サービスへのアクセスや登録・表示などができないことにより発生した障害、または起因して発生したすべての事象につきましては、楽天グループ株式会社の責めに帰すべき場合を除き責任を負いかねます。</li>
                      <li class="detail__tableBlockList--li">本キャンペーン参加にかかる費用(通信費等含む)は、ユーザ様のご負担となりますので、あらかじめご了承ください。</li>
                      <li class="detail__tableBlockList--li">取得したユーザ情報は<a class="detail__tableBlockTxt--link" href="https://privacy.rakuten.co.jp/">個人情報保護方針</a>に基づいてお取り扱いいたします。</li>
                      <li class="detail__tableBlockList--li">弊社が不正と合理的に判断した場合は、特典対象から除外する場合がございます。</li>
                      <li class="detail__tableBlockList--li">「キャンペーンの条件達成状況及び抽選に関わるお問い合わせは一切お受けいたしかねますので、ご了承ください。</li>
                      <li class="detail__tableBlockList--li">「QR コード」は、株式会社デンソーウェーブの登録商標です。</li>
                      <li class="detail__tableBlockList--li">その他ご不明な点は<a class="detail__tableBlockTxt--link" href="https://beauty.faq.rakuten.net/user/s/">こちら</a>よりお問い合わせください。</li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>
        <section class="campaign" id="Campaign" data-ratid="cpn_instagram_entry_Campaign" data-ratevent="appear" data-ratparam="all">
          <div class="titleWrap">
            <h2 class="titleWrap--title">その他のキャンペーン</h2>
          </div>
                    <script>var dirStr = 'instagram_entry';</script>
                    <div class="campaignList" id="CampaignList">
                      <div class="campaignListWrap">
                        <template v-for="res in results"><a class="campaignListBox" v-bind:href="res.url" v-if="res.directory !== dirStr">
                            <div class="campaignListBanner"><img class="campaignListBannerImg" v-bind:src="res.banner" v-bind:alt="res.alt"></div>
                            <div class="campaignListTxts">
                              <ul class="campaignListMain">
                                <li class="campaignListTagBox">
                                  <template v-for="tag in res.tag">
                                    <p class="campaignListTag -pink" v-if="tag.name == 'エントリー必要' || tag.name == 'ラ・クーポン'">{{ tag.name }}</p>
                                    <p class="campaignListTag -disable" v-else-if="tag.name == 'エントリー不要'">{{ tag.name }}</p>
                                    <p class="campaignListTag" v-else>{{ tag.name }}</p>
                                  </template>
                                </li>
                                <li class="campaignListTxtBox">
                                  <template v-for="terms in res.terms">
                                    <p class="campaignListTxt">{{ terms.txt }}</p>
                                  </template>
                                </li>
                              </ul>
                              <ul class="campaignListDetail">
                                <p class="campaignListTxt -small">詳細はこちら<i class="icon-chevronRight"></i></p>
                              </ul>
                            </div></a></template>
                      </div>
                    </div>
        </section>
      </div>
    </main>
    <footer id="PC_footer">
      <ul class="global-footer__utility">
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="/cnt/topics/bp/">掲載ご希望のサロン様</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="/cnt/terms/">利用規約</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="/sitemap/">サイトマップ</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="//beauty.faq.rakuten.net/user/s/ask">お問い合わせ</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="//beauty.faq.rakuten.net/user/s/">ヘルプ</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="/cnt/topics/release/">リリース情報</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="//www.facebook.com/RakutenBeauty" target="_blank">Facebook</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="//x.com/Rakuten__BEAUTY" target="_blank">X</a></li>
      </ul>
      <div class="rc-f-standard rc-f-liquid rc-f-custom00">
        <div class="rc-f-section-content00">
          <div class="rc-f-section-bar rc-f-first">
            <div class="rc-f-inner">
              <dl class="rc-f-dl-inline-box">
                <dt class="rc-f-dl-title01 rc-f-text-em">楽天グループ</dt>
                <dd>
                  <ul class="rc-f-list-inline">
                    <li><a class="rc-f-btn" href="//www.rakuten.co.jp/sitemap/"><span>サービス一覧</span></a></li>
                    <li><a class="rc-f-btn" href="//www.rakuten.co.jp/sitemap/inquiry.html"><span>お問い合わせ一覧</span></a></li>
                  </ul>
                </dd>
              </dl>
            </div>
          </div>
          <div class="rc-f-section-bar">
            <div class="rc-f-inner">
              <dl class="rc-f-dl-inline rc-f-block">
                <dt class="rc-f-dl-title01">おすすめ</dt>
                <dd class="rc-f-text-strong" id="grpRakutenRecommend"><a href="//www.rakuten-card.co.jp/">【楽天カード】楽天ポイントが貯まるクレジットカード。年会費無料。</a></dd>
              </dl>
              <ul class="rc-f-row rc-f-row-dot rc-f-row4">
                <li class="rc-f-col rc-f-first">
                  <div class="rc-f-media rc-f-nav-item rc-f-nav-item">
                    <div class="rc-f-media-head"><a href="/rakulab/">「キレイの主役」を応援するビューティメディア</a></div>
                    <div class="rc-f-media-body">Raku Lab(ラクラボ)</div>
                  </div>
                </li>
                <li class="rc-f-col">
                  <div class="rc-f-media rc-f-nav-item rc-f-nav-item-delimit">
                    <div class="rc-f-media-head"><a href="https://brandavenue.rakuten.co.jp/">人気ブランド新作やヘア小物をGET</a></div>
                    <div class="rc-f-media-body">Rakuten Fashion</div>
                  </div>
                </li>
                <li class="rc-f-col">
                  <div class="rc-f-media rc-f-nav-item rc-f-nav-item-delimit">
                    <div class="rc-f-media-head"><a href="https://www.infoseek.co.jp/">楽天が運営するポータルサイト</a></div>
                    <div class="rc-f-media-body">Infoseekトップ</div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div id="mkdiv_footer_pitari"></div>
        <div class="rc-f-section01">
          <div class="-excludeApp" id="footerRakutenBnr"><a href="//corp.rakuten.co.jp/event/climateaction/?scid=wi_bty_gogreen_footer" target="_blank"><img class="footerRakutenBnr__img" src="//cloudinary-a.akamaihd.net/vivivi/image/upload/t_beauty,f_auto/w_150,h_40/v1/front/image/common/bnr_gogreen_pc.svg" alt="本サービスは再生可能エネルギー100%" width="150" height="40"></a></div>
          <div class="rc-f-inner">
            <ul class="rcf-list-inline rcf-list-block">
              <li><a href="//corp.rakuten.co.jp/" rel="nofollow">企業情報</a></li>
              <li><a href="//privacy.rakuten.co.jp/" rel="nofollow">個人情報保護方針</a></li>
              <li><a href="//corp.rakuten.co.jp/csr/">社会的責任[CSR]</a></li>
              <li><a href="//corp.rakuten.co.jp/careers/">採用情報</a></li>
            </ul>
            <p class="copyright">© Rakuten Group, Inc.</p>
          </div>
        </div>
      </div>
      <script type="text/javascript" src="//jp.rakuten-static.com/1/js/lib/prm_selector.js"></script>
      <script type="text/javascript" src="//jp.rakuten-static.com/1/js/grp/hdr/prm_sender.js"></script>
      <script type="text/javascript" src="//jp.rakuten-static.com/1/js/grp/ftr/js/parm_selector_footer.js"></script>
    </footer>
    <div id="SP_footer">
      <div class="c-section c-text--alignCenter">
        <ul class="c-list--inlineSmall c-section__inside">
          <li class="c-list__item"><a href="/cnt/topics/guide/">はじめての方へ</a></li>
          <li class="c-list__item"><a href="//beauty.faq.rakuten.net/user/s/ask">お問い合わせ</a></li>
          <li class="c-list__item"><a href="//beauty.faq.rakuten.net/user/s/">ヘルプ</a></li>
          <li class="c-list__item"><a href="/cnt/topics/release/">リリース情報</a></li>
          <li class="c-list__item"><a href="/cnt/terms/">利用規約</a></li>
          <li class="c-list__item"><a href="/cnt/topics/bp/">掲載ご希望のサロン様</a></li>
        </ul>
      </div>
      <div id="footer">
        <ul>
          <li><a rel="nofollow" href="//corp.rakuten.co.jp/">企業情報</a></li>
          <li><a rel="nofollow" href="//privacy.rakuten.co.jp/sp/">個人情報保護方針</a></li>
          <li><a rel="nofollow" href="//www.rakuten.co.jp/sitemap/sp/">楽天のサービス一覧</a></li>
          <li><a rel="nofollow" href="//www.rakuten.co.jp/sitemap/sp/app.html">アプリ一覧</a></li>
        </ul>
        <div id="copyright">&copy; Rakuten Group, Inc.</div>
        <div class="-excludeApp" id="footerRakutenBnr"><a href="//corp.rakuten.co.jp/event/climateaction/?scid=wi_bty_gogreen_footer" target="_blank"><img class="footerRakutenBnr__img" src="https://cloudinary-a.akamaihd.net/vivivi/image/upload/t_beauty,f_auto/w_150,h_40/v1/front/image/common/bnr_gogreen_sp.svg" alt="本サービスは再生可能エネルギー100%" width="150" height="40"></a></div>
      </div>
    </div>
    <script src="/cnt/common/js/ua-parser/ua-parser.min.js"></script>
    <script src="/cnt/common/js/ua-parser/main.js"></script>
    <script src="/cnt/common/js/smooth-scroll.min.js"></script>
    <script>
      var scroll = new SmoothScroll('a[href*="#"]');
      
    </script>
    <script src="/cnt/common/js/jquery/3.4.1/jquery.min.js" defer></script>
    <script src="/cnt/common/js/vue/vue.min.js" defer></script>
    <script src="/cnt/common/js/vue/axios.min.js" defer></script>
    <script src="/cnt/common/js/readjson.js?v20240530" defer></script>
    <script>
      campaignlist = true;
      
    </script>
    <!-- RAT tag start-->
    <!-- Generic Parameter-->
    <input id="ratAccountId" type="hidden" name="rat" value="426">
    <input id="ratServiceId" type="hidden" name="rat" value="1">
    <input id="ratPageLayout" type="hidden" name="rat" value="resp">
    <input id="ratSiteSection" type="hidden" name="rat" value="cnt">
    <input id="ratPageName" type="hidden" name="rat" value="cnt">
    <input id="ratPageType" type="hidden" name="rat" value="cnt_item">
    <script type="text/javascript" src="//r.r10s.jp/com/rat/js/rat-main.js"></script>
    <!-- /RAT tag end-->
  </body>
</html>