<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  <head>
    <meta charset="UTF-8">
    <title>【毎月開催】楽天学割メンバー限定！美容室などのアプリ予約でポイント2倍♪ | 楽天ビューティ</title>
    <meta name="viewport" content="width=1300">
    <meta name="description" content="楽天学割メンバー限定！美容室などのアプリ予約でポイント2倍♪">
    <link rel="canonical" href="https://beauty.rakuten.co.jp/cnt/topics/campaign/gakuwari/">
    <meta property="og:type" content="article">
    <meta property="og:site_name" content="楽天ビューティ">
    <meta property="og:url" content="https://beauty.rakuten.co.jp/cnt/topics/campaign/gakuwari/">
    <meta property="fb:app_id" content="461054960620939">
    <meta property="og:title" content="【毎月開催】楽天学割メンバー限定！美容室などのアプリ予約でポイント2倍♪ | 楽天ビューティ">
    <meta property="og:description" content="楽天学割メンバー限定！美容室などのアプリ予約でポイント2倍♪">
    <meta property="og:image" content="https://beauty.rakuten.co.jp/asset/img/Beauty/ogp.png?202101">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="apple-touch-icon-precomposed" href="//beauty.rakuten.co.jp/cnt/common/images/beauty_192px.png?v20180702">
    <link rel="shortcut icon" href="//jp.rakuten-static.com/1/im/ci/rakuten/favicon/pi.ico?20181001">
    <link rel="mask-icon" href="//jp.rakuten-static.com/1/im/ci/rakuten/favicon/Rakuten_SafariPin.svg?20181001" color="#ff41be">
    <link href="css/main.css?v20250508" rel="stylesheet" type="text/css">
    <link rel="dns-prefetch" href="https://cdn.rex.contents.rakuten.co.jp">
    <script>
      const ua = navigator.userAgent;
      //- viewport for Tablet
      if( ua.indexOf('iPhone') > 0 || ua.indexOf('iPod') > 0 || (ua.indexOf('Android') > 0 && ua.indexOf('Mobile') > 0) || ( ua.indexOf('windows') > 0 && ua.indexOf('phone') > 0) || ( ua.indexOf('firefox') > 0 && ua.indexOf('mobile') > 0) ) {
        document.querySelector("meta[name='viewport']").setAttribute("content", "width=device-width,initial-scale=1,user-scalable=no");
      } else if( ua.indexOf('iPad') > 0 || ua.indexOf('Android') > 0 || (ua.indexOf('windows') > 0 && ua.indexOf('touch') > 0) || ( ua.indexOf('firefox') > 0 && ua.indexOf('tablet') > 0) ) {
        document.querySelector("meta[name='viewport']").setAttribute("content", "width=1300");
      }
    </script>
  </head>
  <body>
    <noscript>
      <iframe class="txt_h vis_h" src="//www.googletagmanager.com/ns.html?id=GTM-RKLN" height="0" width="0"></iframe>
    </noscript>
    <script>
      (function(w,d,s,l,i){
      w[l]=w[l]||[];
      w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});
      var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';
      j.async=true;
      j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;
      f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-RKLN');
    </script>
    <script src="//jp.rakuten-static.com/1/grp/banner/js/create.js"></script>
    <div id="mkdiv_header_pitari"></div>
    <header class="-excludeApp" id="SP_header">
      <p id="serviceID"><a class="logo" href="/"><img src="https://beauty.rakuten.co.jp/sp/images/global/rb_logo_v201807.svg" width="74" height="40"></a></p>
    </header>
        <header id="PC_header">
          <div class="rc-h-standard">
            <noscript>
              <div class="rc-h-noscript-bar">
                <div class="rc-h-inner">
                  <p>JavaScriptが無効の為、一部のコンテンツをご利用いただけません。JavaScriptの設定を有効にしてからご利用いただきますようお願いいたします。（<a href="//ichiba.faq.rakuten.co.jp/app/answers/detail/a_id/154">設定方法</a>）</p>
                </div>
              </div>
            </noscript>
            <div class="rc-h-utility-bar">
              <div class="rc-h-inner">
                <div class="rb_wrapper">
                  <ul class="rc-h-group-nav">
                    <li id="grpNote">
                      <noscript><a href="//card.rakuten.co.jp/entry/">今すぐ2,000ポイント！</a></noscript>
                    </li>
                    <li class="rc-h-dropdown rc-h-group-dropdown"><a href="//www.rakuten.co.jp/sitemap/">楽天グループ</a>
                      <ul class="rc-h-dropdown-panel">
                        <li><a href="//books.rakuten.co.jp/?scid=wi_grp_gmx_bea_hepullbu_boo" rel="nofollow">楽天ブックス</a></li>
                        <li><a href="//hoken.rakuten.co.jp/?scid=wi_grp_gmx_bea_hepullbu_hkn" rel="nofollow">楽天の保険</a></li>
                        <li><a href="//www.infoseek.co.jp/?scid=wi_grp_gmx_bea_hepullbu_ifs" rel="nofollow">インフォシーク</a></li>
                        <li><a href="//sm.rakuten.co.jp/?scid=wi_grp_gmx_bea_hepullbu_sup&amp;xadid=wi_grp_gmx_bea_hepullbu_sup" rel="nofollow">楽天西友ネットスーパー</a></li>
                        <li><a href="//www.rakuten.co.jp/sitemap/">サービス一覧</a></li>
                      </ul>
                    </li>
                    <li><a href="//www.rakuten-life.co.jp/?scid=wi_grp_gmx_bea_hetopbu_sei" rel="nofollow">楽天生命</a></li>
                    <li><a href="//www.rakuten.co.jp/" rel="nofollow">楽天市場</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="rb_wrapper">
              <div class="rc-h-service-bar">
                <div class="rc-h-inner">
                  <div class="rc-h-site-id">
                    <p class="rc-h-logo"><a href="/"><img src="//beauty.rakuten.co.jp/images/global/rb_logo_v201807.svg" width="206" height="32" alt="Rakuten BEAUTY"></a></p>
                  </div>
                  <div class="rc-h-site-menu">
                    <div class="rc-h-menu-btns">
                      <ul class="rc-h-help-nav">
                        <li><a href="/cnt/topics/guide/">はじめての方へ</a></li>
                        <li><a href="//beauty.faq.rakuten.net/user/s/">ヘルプ</a></li>
                        <li><a href="//emagazine.rakuten.co.jp/ne?n=294" onclick="_gaq.push(['_trackEvent', 'permission', 'click', 'rbpc_header']);">お得な情報を受け取る</a></li>
                        <li><a href="/cnt/topics/bp/?l-id=rb_pc_header_bp">掲載ご希望のサロン様</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <nav id="globalNav">
            <ul class="globalNav__list c-container">
              <li class="globalNav__item"><a class="globalNav__link" href="/">美容院・ヘアサロン</a></li>
              <li class="globalNav__item"><a class="globalNav__link" href="/nail/">ネイル・まつげサロン</a></li>
              <li class="globalNav__item"><a class="globalNav__link" href="/esthe/">エステサロン</a></li>
              <li class="globalNav__item"><a class="globalNav__link" href="/relax/">リラク・マッサージサロン</a></li>
              <li class="globalNav__item"><a class="globalNav__link" href="/style/">ヘアカタログ</a></li>
              <li class="globalNav__item"><a class="globalNav__link" href="/naildesign/">ネイルカタログ</a></li>
              <li class="globalNav__item"><a class="globalNav__current" href="/cnt/topics/">キャンペーン一覧・特集</a></li>
              <li class="globalNav__item"><a class="globalNav__link" href="/rakulab/">Raku Lab</a></li>
            </ul>
          </nav>
        </header>
        <div class="c-container" id="breadcrumb">
          <ul class="c-breadcrumbs">
            <li class="c-breadcrumbs__item"><a class="c-breadcrumbs__link" href="/">楽天ビューティ</a></li>
            <li class="c-breadcrumbs__item"><a class="c-breadcrumbs__link" href="https://beauty.rakuten.co.jp/cnt/topics/">キャンペーン一覧・特集</a></li>
            <li class="c-breadcrumbs__item"><strong class="c-breadcrumbs__current">【毎月開催】楽天学割メンバー限定！美容室などのアプリ予約でポイント2倍♪</strong></li>
          </ul>
        </div>
        <script type="application/ld+json">
           {
            "@context": "https://schema.org",
            "@type": "BreadcrumbList",
            "itemListElement": [
              {
                "@type": "ListItem",
                "position": 1,
                "name": "楽天ビューティ",
                "item": "https://beauty.rakuten.co.jp/"
              },
              {
                "@type": "ListItem",
                "position": 2,
                "name": "キャンペーン一覧・特集",
                "item": "https://beauty.rakuten.co.jp/cnt/topics/"
              },
              {
                "@type": "ListItem",
                "position": 3,
                "name": "【毎月開催】楽天学割メンバー限定！美容室などのアプリ予約でポイント2倍♪"
              }
            ]
           }
        </script>
    <main id="content">
      <div id="Gakuwari">
        <div id="CpnTags">
                <div class="campaignTagSet">
                  <div class="campaignTagSet__wrap">
                    <div class="campaignTagSet__box">
                      <p class="campaignTag -blue">エントリー不要</p>
                      <p class="campaignTag">対象者限定</p>
                      <p class="campaignTag">アプリ予約・施術完了</p>
                      <p class="campaignTag">毎月開催</p>
                    </div>
                  </div>
                </div>
        </div>
        <div class="title" id="Title">
          <div class="titleLogo"><img class="titleLogoImg" src="img/logo_gakuwari_beauty.svg" alt="Rakuten 学割 x Rakuten BEAUTY"></div>
          <h3 class="titleWrap--subtitle">楽天学割メンバー特典</h3>
          <ul class="titleLabel">
            <li class="titleLabelBox">
              <p class="titleLabelBoxTxt">対象：</p>
            </li>
            <li class="titleLabelBox"><img class="titleLabelBoxImg -pc" src="img/label_hon_PC.png" alt="本メンバー"><img class="titleLabelBoxImg -sp" src="img/label_hon_SP.png" alt="本メンバー"></li>
          </ul>
        </div>
        <div class="main" id="Main">
          <h1 class="main__title"><img class="main__titleImg -pc" src="img/main.jpg?v20250508" alt="楽天学割メンバー限定！美容室などのアプリ予約でポイント2倍♪"><img class="main__titleImg -sp" src="img/main_sp.jpg?v20250508" alt="楽天学割メンバー限定！美容室などのアプリ予約でポイント2倍♪"></h1>
          <div class="main__terms">
            <div class="main__termsBox">
              <p class="main__termsTxt">予約期間：2025年5月1日10:00～2025年6月2日9:59<br>施術期間：2025年5月1日10:00～2025年7月31日23:59</p>
              <p class="main__termsTxt">対象条件：楽天学割本メンバー／3,000円(税込)以上のアプリ予約／当月中の施術完了</p>
              <p class="main__termsTxt -small">※本企画は、予告無く変更・中止されることがございます。</p>
              <p class="main__termsTxt -small">※進呈するポイント（期間限定ポイントを含む）には上限や条件があります。</p>
              <p class="main__termsTxt -small">※キャンペーン詳細は<a class="main__termsLink" href="#Detail">こちら</a></p>
            </div>
          </div>
        </div>
        <div class="salon" id="Salon">
          <div class="titleWrap">
            <h2 class="titleWrap--title">楽天ビューティを使ってみる</h2>
          </div>
          <h3 class="titleWrap--subtitle">まずは行きたいサロンを探そう！</h3>
          <div class="salonBoxWrapper">
            <ul class="salonBoxInner">
              <li class="salonBox"><a class="salonLink" href="/"><img class="salonImg" src="img/rb_hair.png" alt="美容室"></a></li>
              <li class="salonBox"><a class="salonLink" href="/nail/"><img class="salonImg" src="img/rb_nail.png" alt="ネイル・まつげ"></a></li>
              <li class="salonBox"><a class="salonLink" href="/esthe/"><img class="salonImg" src="img/rb_esthe.png" alt="エステ"></a></li>
              <li class="salonBox"><a class="salonLink" href="/relax/"><img class="salonImg" src="img/rb_relax.png" alt="リラク"></a></li>
            </ul>
          </div>
        </div>
        <section class="app -excludeApp" id="App" data-ratid="cpn_undefined_App" data-ratevent="appear" data-ratparam="all">
                <article class="app__set">
                  <h2 class="app__title">
                     楽天ビューティで予約するなら<br class="-sp">アプリがオススメ！</h2>
                  <div class="app__contents">
                    <ul class="app__cpn">
                      <li class="app__cpnTitle">
                        <h3 class="app__subtitle">アプリから予約でポイントアップ</h3>
                      </li>
                      <li class="app__cpnCaptionBox">
                        <p class="app__cpnCaption">ネット予約・施術完了で通常は100円につき1ポイント、アプリなら最大3ポイント進呈！
                        </p>
                      </li>
                      <li class="app__cpnBanner"><a class="app__link" href="https://app.adjust.com/1ifdl1tv?redirect=https://beauty.rakuten.co.jp/cnt/topics/campaign/app2x/?l-id=wi_bty_appappeal_App2x"><img class="app__img" src="/cnt/common/banner/campaign/bnr_app2x_1280x464.png?v20241209" alt="アプリで予約＆条件達成で最大ポイント3倍" width="480" height="174"></a>
                      </li>
                    </ul>
                    <ul class="app__dl">
                      <li class="app__dlTitle -desktop">
                        <h3 class="app__subtitle">ダウンロードはこちら</h3>
                      </li>
                      <li class="app__dlbtns">
                        <figure class="app__dlbtnsPic"><img class="app__img" src="/cnt/common/images/cpn-parts/img_appdl.png?v20241209" alt="アプリ画面" width="248" height="248"></figure><a class="app__link" href="https://app.adjust.com/1ifdl1tv" target="_blank"><img class="app__img -desktop" src="/cnt/common/images/cpn-parts/btn_dl_qr.svg?v20241209" alt="アプリのダウンロードはこちら" width="188" height="188"><img class="app__img -iphone" src="/cnt/common/images/cpn-parts/btn_dl_appstore.svg?v20241209" alt="App Storeからダウンロード" width="136" height="50"><img class="app__img -android" src="/cnt/common/images/cpn-parts/btn_dl_googleplay.svg?v20241209" alt="Goole Playで手に入れよう" width="169" height="50"></a>
                      </li>
                    </ul>
                  </div>
                </article>
        </section>
        <div class="service" id="Service">
          <h4 class="serviceTitle">まだ楽天学割に登録していない人はこちらから</h4><a class="serviceBtnGakuwari" href="https://event.rakuten.co.jp/young/?scid=wi_bty_rgw_benefit">楽天学割に登録する</a>
        </div>
        <div class="aboutGakuwari" id="AboutGakuwari">
          <ul class="aboutGakuwari__box">
            <li class="titleWrap accordion_btn">
              <h2 class="titleWrap--title">楽天学割とは?</h2><i class="icon-plus"></i>
            </li>
            <li class="aboutGakuwari__contents accordion_wrap">
              <div class="explain_main">
                <p class="explain_logo"><img src="img/cmn_about/gakuwari_logo.png" alt="rakuten学割"></p>
                <p class="explain_age"><img src="img/cmn_about/explain_txt1.png" alt="学生でなくても使えます！15～25歳の方限定！"></p>
                <p class="explain_mes">ショッピングもエンタメもおトクになる無料プログラム</p>
                <div class="explain_list boxsiz">
                  <div class="explain_list_box">
                    <p class="explain_list_no">おトク１</p>
                    <figure class="explain_list_img"><img src="img/cmn_about/explain_img1.png" alt=""></figure>
                    <p class="explain_list_mes">楽天市場での<br><span>送料無料クーポン</span><br>プレゼント！</p>
                  </div>
                  <div class="explain_list_box">
                    <p class="explain_list_no">おトク２</p>
                    <figure class="explain_list_img"><img src="img/cmn_about/explain_img2.png?v20250508" alt=""></figure>
                    <p class="explain_list_mes">毎週水曜日10:00〜は<br>楽天市場・楽天ブックス<br><span>ポイント3倍以上</span></p>
                    <p class="explain_list_come">※要エントリー</p>
                  </div>
                  <div class="explain_list_box">
                    <p class="explain_list_no">おトク３</p>
                    <figure class="explain_list_img"><img src="img/cmn_about/explain_img3.png?v20250508" alt=""></figure>
                    <p class="explain_list_mes"><span>ファッションや</span><br><span>日用品</span>に使える<br>クーポンプレゼント</p>
                  </div>
                  <div class="explain_list_box">
                    <p class="explain_list_no">おトク４</p>
                    <figure class="explain_list_img"><img src="img/cmn_about/explain_img4.png" alt=""></figure>
                    <p class="explain_list_mes">アンケートなど<br><span>無料でポイント</span>が<br>たまるチャンス多数</p>
                  </div>
                </div>
                <p class="explain_mes2">この他にもメンバーだけの特典やキャンペーンがいっぱい！<span>※特典には適用条件があります。</span></p>
                <p class="explain_btn"><a href="https://event.rakuten.co.jp/young/?scid=wi_bty_rgw_benefit"><img src="img/cmn_about/explain_btn.png" alt="詳細はこちら"></a></p>
              </div>
            </li>
          </ul>
        </div>
        <div class="pointget" id="Pointget">
          <div class="titleWrap">
            <h2 class="titleWrap--title">ポイントGETの流れ</h2>
          </div>
          <div class="pointgetWrapper">
            <ul class="pointgetBoxInner">
              <li class="pointgetBox"><img class="pointgetImg -pc" src="img/point_1.png?v20250508" alt="楽天ビューティのアプリでサロン予約"><img class="pointgetImg -sp" src="img/point_1_sp.png?v20250508" alt="楽天ビューティのアプリでサロン予約"></li>
              <li class="pointgetBox"><img class="pointgetImg -pc" src="img/point_2.png?v20250508" alt="予約当日にお店に行く"><img class="pointgetImg -sp" src="img/point_2_sp.png?v20250508" alt="予約当日にお店に行く"></li>
              <li class="pointgetBox"><img class="pointgetImg -pc" src="img/point_3.png?v20250508" alt="楽天ポイント特典ゲット"><img class="pointgetImg -sp" src="img/point_3_sp.png?v20250508" alt="楽天ポイント特典ゲット"></li>
            </ul>
          </div>
        </div>
        <div class="detail" id="Detail">
          <div class="detailBox">
            <div class="titleWrap">
              <h2 class="titleWrap--title">キャンペーン詳細</h2>
            </div>
            <p class="detail__caption">※本キャンペーンは予告なく変更・中止される可能性がございます。</p>
            <table class="detail__table">
              <tbody>
                <tr class="detail__tableBlock">
                  <th class="detail__tableBlockHead">予約期間</th>
                  <td class="detail__tableBlockBody">2025年5月1日10:00～2025年6月2日9:59</td>
                </tr>
                <tr class="detail__tableBlock">
                  <th class="detail__tableBlockHead">施術期間</th>
                  <td class="detail__tableBlockBody">2025年5月1日10:00～2025年7月31日23:59</td>
                </tr>
                <tr class="detail__tableBlock">
                  <th class="detail__tableBlockHead">対象者</th>
                  <td class="detail__tableBlockBody">
                    <p class="detail__tableBlockTxt">下記の対象条件を全て満たした方が、特典の対象となります。</p>
                    <p class="detail__tableBlockTxt--space"></p>
                    <p class="detail__tableBlockTxt">＜対象条件＞</p>
                    <ul class="detail__tableBlockList--disc">
                      <li class="detail__tableBlockList--li">予約期間中に楽天ビューティのアプリ経由で 3,000 円以上(税込)ネット予約された方</li>
                      <li class="detail__tableBlockList--li">施術期間中に施術を完了された方</li>
                      <li class="detail__tableBlockList--li">楽天学割 本メンバー登録をされた方</li>
                    </ul>
                    <p class="detail__tableBlockTxt--space"></p>
                    <ul class="detail__tableBlockList">
                      <li class="detail__tableBlockList--li">施術日の月末までに楽天学割 本メンバーに登録されていることが条件となります。</li>
                      <li class="detail__tableBlockList--li">アプリ経由のネット予約後キャンセルされた場合、ご来店いただけなかった場合は対象外となります。</li>
                      <li class="detail__tableBlockList--li">楽天発行の割引クーポン利用の場合は、<span class="detail__tableBlockTxt--red">クーポン割引後</span>の価格が3,000円(税込)以上の場合に対象となります。 </li>
                      <li class="detail__tableBlockList--li">電話予約や直接来店は対象外となります。</li>
                      <li class="detail__tableBlockList--li">アプリ経由のネット予約後、お客様都合や店舗都合でキャンセルになり、その後電話予約や直接来店で施術完了された場合は、ポイント進呈の対象外となります。</li>
                      <li class="detail__tableBlockList--li">アプリ経由のネット予約後、来店日時が変更になった場合でも、対象の施術期間内で施術完了された場合は、ポイント進呈の対象となります。</li>
                      <li class="detail__tableBlockList--li">対象条件は開催月毎に変更となる可能性がございます。</li>
                    </ul>
                  </td>
                  <tr class="detail__tableBlock"></tr>
                  <th class="detail__tableBlockHead">特典内容</th>
                  <td class="detail__tableBlockBody">
                    <p class="detail__tableBlockTxt">楽天ビューティアプリ経由のネット予約に対し、通常の2倍(通常分含む)の特典ポイントが進呈されます。</p>
                    <p class="detail__tableBlockTxt--space"></p>
                    <p class="detail__tableBlockTxt">＜例＞</p>
                    <p class="detail__tableBlockTxt">施術金額5,500円(税込)で楽天ビューティのネット予約後、施術対象期間内に施術完了した場合に獲得できるポイント</p>
                    <p class="detail__tableBlockTxt--space"></p>
                    <p class="detail__tableBlockTxt">＜計算方法＞</p>
                    <p class="detail__tableBlockTxt">5,500円(税込)の税抜価格：5,000円（税抜）</p>
                    <p class="detail__tableBlockTxt">楽天ビューティの通常のネット予約分(1倍)＝50ポイント</p>
                    <p class="detail__tableBlockTxt">本特典分(1倍)＝50ポイント</p>
                    <p class="detail__tableBlockTxt">合計獲得ポイント：100ポイント</p>
                    <p class="detail__tableBlockTxt--space"></p>
                    <ul class="detail__tableBlockList">
                      <li class="detail__tableBlockList--li">1倍(楽天ビューティの通常のネット予約分)は、施術完了月の翌月12日頃に進呈されます。残りの1倍(本特典分)は、後述の本特典ポイント進呈予定日に進呈されます。</li>
                      <li class="detail__tableBlockList--li">アプリ経由のネット予約時のメニュー、またはスペシャルメニューの金額を基準としてポイントが進呈されます。</li>
                      <li class="detail__tableBlockList--li">アプリ経由のネット予約後にメニューが変更になり金額が変わった場合は、変更後の金額に対してポイントが進呈されます。</li>
                      <li class="detail__tableBlockList--li">ポイントを利用してネット予約された場合は、<span class="detail__tableBlockTxt--red">ポイント差引前</span>の金額に対して、特典ポイントが計算されます。</li>
                      <li class="detail__tableBlockList--li">楽天発行の割引クーポン利用の場合は、<span class="detail__tableBlockTxt--red">クーポン割引後</span>の金額に対して、特典ポイントが計算されます。  </li>
                      <li class="detail__tableBlockList--li">現在実施中のキャンペーンとの併用が可能です(一部併用が出来ないキャンペーンもございます)。<a class="detail__tableBlockTxt--link" href="https://beauty.rakuten.co.jp/cnt/topics/">キャンペーン一覧はこちら</a></li>
                      <li class="detail__tableBlockList--li">進呈対象のポイント倍率は、開催月毎に変更となる可能性がございます。</li>
                    </ul>
                  </td>
                </tr>
                <tr class="detail__tableBlock">
                  <th class="detail__tableBlockHead">ポイント進呈予定日 </th>
                  <td class="detail__tableBlockBody">施術完了月の翌月末頃
                    <p class="detail__tableBlockTxt--space"></p>
                    <p class="detail__tableBlockTxt">獲得した特典ポイントは、<a class="detail__tableBlockTxt--link" href="https://point.rakuten.co.jp/history/">楽天PointClubのポイント実績</a>でご確認いただけます。</p>
                  </td>
                </tr>
                <tr class="detail__tableBlock">
                  <th class="detail__tableBlockHead">ポイント有効期限</th>
                  <td class="detail__tableBlockBody">
                    <p class="detail__tableBlockTxt">ポイント進呈日から6ヶ月間有効な期間限定ポイントとして進呈されます。</p>
                    <p class="detail__tableBlockTxt">期間限定ポイントの詳細は<a class="detail__tableBlockTxt--link" href="https://ichiba.faq.rakuten.net/detail/000006532?scid=su_2312">こちら</a>をご確認ください。</p>
                  </td>
                </tr>
                <tr class="detail__tableBlock">
                  <th class="detail__tableBlockHead">キャンペーン対象外となる場合／その他注意事項</th>
                  <td class="detail__tableBlockBody">
                    <ul class="detail__tableBlockList">
                      <li class="detail__tableBlockList--li">下記キャンペーンのポイント進呈対象者は、同時期に行われている当キャンペーンの対象外となります。<br><a class="detail__tableBlockTxt--link" href="https://beauty.rakuten.co.jp/cnt/topics/campaign/sbc/">・スタート1000楽天ビューティで初めてのネット予約＆6,000円(税込)以上の施術完了で1,000ポイント！<br></a><a class="detail__tableBlockTxt--link" href="https://beauty.rakuten.co.jp/cnt/topics/campaign/spu/">・SPU初利用ボーナス！エントリー＆楽天ビューティ初利用で300ポイントキャンペーン</a></li>
                      <li class="detail__tableBlockList--li">一部ネット予約が行えないサロンがございます。また、サロンの予約状況によっては、ご希望に添えない場合やお断りする場合もございます。</li>
                      <li class="detail__tableBlockList--li">本サービスへのアクセス集中や通信回線の状態による遅延、不具合などにより本サービスへのアクセスや登録・表示などができないことにより発生した障害、または起因して発生したすべての事象に関しましては、当社の責めに帰すべき場合を除き、責任を負いかねます。</li>
                      <li class="detail__tableBlockList--li">取得したユーザ情報は<a class="detail__tableBlockTxt--link" href="https://privacy.rakuten.co.jp/">個人情報保護方針</a>に基づいてお取り扱いいたします。</li>
                      <li class="detail__tableBlockList--li">掲載店舗、あるいは弊社が不正と合理的に判断した場合は、特典対象から除外する場合がございます。</li>
                      <li class="detail__tableBlockList--li">キャンペーンの条件達成状況に関わるお問い合わせは一切お受けいたしかねますので、ご了承ください。</li>
                      <li class="detail__tableBlockList--li">「QRコード」は、株式会社デンソーウェーブの登録商標です。</li>
                      <li class="detail__tableBlockList--li">本キャンペーンは楽天グループ株式会社「楽天ビューティ」が主催しているものであり、Apple Inc., Apple Japan合同会社によるものではありません。</li>
                      <li class="detail__tableBlockList--li">その他ご不明な点は<a class="detail__tableBlockTxt--link" href="https://beauty.faq.rakuten.net/user/s/">こちら</a>よりお問い合わせください。 </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="campaignLists" id="Campaign">
          <div class="titleWrap">
            <h2 class="titleWrap--title">おトクなキャンペーン実施中</h2>
          </div>
                    <script>var dirStr = '';</script>
                    <div class="campaignList" id="CampaignList">
                      <div class="campaignListWrap">
                        <template v-for="res in results"><a class="campaignListBox" v-bind:href="res.url" v-if="res.directory !== dirStr">
                            <div class="campaignListBanner"><img class="campaignListBannerImg" v-bind:src="res.banner" v-bind:alt="res.alt"></div>
                            <div class="campaignListTxts">
                              <ul class="campaignListMain">
                                <li class="campaignListTagBox">
                                  <template v-for="tag in res.tag">
                                    <p class="campaignListTag -pink" v-if="tag.name == 'エントリー必要' || tag.name == 'ラ・クーポン'">{{ tag.name }}</p>
                                    <p class="campaignListTag -disable" v-else-if="tag.name == 'エントリー不要'">{{ tag.name }}</p>
                                    <p class="campaignListTag" v-else>{{ tag.name }}</p>
                                  </template>
                                </li>
                                <li class="campaignListTxtBox">
                                  <template v-for="terms in res.terms">
                                    <p class="campaignListTxt">{{ terms.txt }}</p>
                                  </template>
                                </li>
                              </ul>
                              <ul class="campaignListDetail">
                                <p class="campaignListTxt -small">詳細はこちら<i class="icon-chevronRight"></i></p>
                              </ul>
                            </div></a></template>
                      </div>
                    </div>
        </div>
        <div class="backBtn" id="BackBtn"><a class="backBtnLink" href="https://event.rakuten.co.jp/young/?scid=wi_bty_rgw_benefit">
            <ul class="backBtnLinkBox">
              <li class="backBtnLinkParts"><img class="backBtnImg" src="img/logo_gakuwari_wh.svg" alt="Rakuten学割"></li>
              <li class="backBtnLinkParts">トップへ</li>
            </ul></a></div>
      </div>
    </main>
    <footer id="PC_footer">
      <ul class="global-footer__utility">
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="/cnt/topics/bp/">掲載ご希望のサロン様</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="/cnt/terms/">利用規約</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="/sitemap/">サイトマップ</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="//beauty.faq.rakuten.net/user/s/ask">お問い合わせ</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="//beauty.faq.rakuten.net/user/s/">ヘルプ</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="/cnt/topics/release/">リリース情報</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="//www.facebook.com/RakutenBeauty" target="_blank">Facebook</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="//x.com/Rakuten__BEAUTY" target="_blank">X</a></li>
      </ul>
      <div class="rc-f-standard rc-f-liquid rc-f-custom00">
        <div class="rc-f-section-content00">
          <div class="rc-f-section-bar rc-f-first">
            <div class="rc-f-inner">
              <dl class="rc-f-dl-inline-box">
                <dt class="rc-f-dl-title01 rc-f-text-em">楽天グループ</dt>
                <dd>
                  <ul class="rc-f-list-inline">
                    <li><a class="rc-f-btn" href="//www.rakuten.co.jp/sitemap/"><span>サービス一覧</span></a></li>
                    <li><a class="rc-f-btn" href="//www.rakuten.co.jp/sitemap/inquiry.html"><span>お問い合わせ一覧</span></a></li>
                  </ul>
                </dd>
              </dl>
            </div>
          </div>
          <div class="rc-f-section-bar">
            <div class="rc-f-inner">
              <dl class="rc-f-dl-inline rc-f-block">
                <dt class="rc-f-dl-title01">おすすめ</dt>
                <dd class="rc-f-text-strong" id="grpRakutenRecommend"><a href="//www.rakuten-card.co.jp/">【楽天カード】楽天ポイントが貯まるクレジットカード。年会費無料。</a></dd>
              </dl>
              <ul class="rc-f-row rc-f-row-dot rc-f-row4">
                <li class="rc-f-col rc-f-first">
                  <div class="rc-f-media rc-f-nav-item rc-f-nav-item">
                    <div class="rc-f-media-head"><a href="/rakulab/">「キレイの主役」を応援するビューティメディア</a></div>
                    <div class="rc-f-media-body">Raku Lab(ラクラボ)</div>
                  </div>
                </li>
                <li class="rc-f-col">
                  <div class="rc-f-media rc-f-nav-item rc-f-nav-item-delimit">
                    <div class="rc-f-media-head"><a href="https://brandavenue.rakuten.co.jp/">人気ブランド新作やヘア小物をGET</a></div>
                    <div class="rc-f-media-body">Rakuten Fashion</div>
                  </div>
                </li>
                <li class="rc-f-col">
                  <div class="rc-f-media rc-f-nav-item rc-f-nav-item-delimit">
                    <div class="rc-f-media-head"><a href="https://www.infoseek.co.jp/">楽天が運営するポータルサイト</a></div>
                    <div class="rc-f-media-body">Infoseekトップ</div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div id="mkdiv_footer_pitari"></div>
        <div class="rc-f-section01">
          <div class="-excludeApp" id="footerRakutenBnr"><a href="//corp.rakuten.co.jp/event/climateaction/?scid=wi_bty_gogreen_footer" target="_blank"><img class="footerRakutenBnr__img" src="//cloudinary-a.akamaihd.net/vivivi/image/upload/t_beauty,f_auto/w_150,h_40/v1/front/image/common/bnr_gogreen_pc.svg" alt="本サービスは再生可能エネルギー100%" width="150" height="40"></a></div>
          <div class="rc-f-inner">
            <ul class="rcf-list-inline rcf-list-block">
              <li><a href="//corp.rakuten.co.jp/" rel="nofollow">企業情報</a></li>
              <li><a href="//privacy.rakuten.co.jp/" rel="nofollow">個人情報保護方針</a></li>
              <li><a href="//corp.rakuten.co.jp/csr/">社会的責任[CSR]</a></li>
              <li><a href="//corp.rakuten.co.jp/careers/">採用情報</a></li>
            </ul>
            <p class="copyright">© Rakuten Group, Inc.</p>
          </div>
        </div>
      </div>
      <script type="text/javascript" src="//jp.rakuten-static.com/1/js/lib/prm_selector.js"></script>
      <script type="text/javascript" src="//jp.rakuten-static.com/1/js/grp/hdr/prm_sender.js"></script>
      <script type="text/javascript" src="//jp.rakuten-static.com/1/js/grp/ftr/js/parm_selector_footer.js"></script>
    </footer>
    <div id="SP_footer">
      <div class="c-section c-text--alignCenter">
        <ul class="c-list--inlineSmall c-section__inside">
          <li class="c-list__item"><a href="/cnt/topics/guide/">はじめての方へ</a></li>
          <li class="c-list__item"><a href="//beauty.faq.rakuten.net/user/s/ask">お問い合わせ</a></li>
          <li class="c-list__item"><a href="//beauty.faq.rakuten.net/user/s/">ヘルプ</a></li>
          <li class="c-list__item"><a href="/cnt/topics/release/">リリース情報</a></li>
          <li class="c-list__item"><a href="/cnt/terms/">利用規約</a></li>
          <li class="c-list__item"><a href="/cnt/topics/bp/">掲載ご希望のサロン様</a></li>
        </ul>
      </div>
      <div id="footer">
        <ul>
          <li><a rel="nofollow" href="//corp.rakuten.co.jp/">企業情報</a></li>
          <li><a rel="nofollow" href="//privacy.rakuten.co.jp/sp/">個人情報保護方針</a></li>
          <li><a rel="nofollow" href="//www.rakuten.co.jp/sitemap/sp/">楽天のサービス一覧</a></li>
          <li><a rel="nofollow" href="//www.rakuten.co.jp/sitemap/sp/app.html">アプリ一覧</a></li>
        </ul>
        <div id="copyright">&copy; Rakuten Group, Inc.</div>
        <div class="-excludeApp" id="footerRakutenBnr"><a href="//corp.rakuten.co.jp/event/climateaction/?scid=wi_bty_gogreen_footer" target="_blank"><img class="footerRakutenBnr__img" src="https://cloudinary-a.akamaihd.net/vivivi/image/upload/t_beauty,f_auto/w_150,h_40/v1/front/image/common/bnr_gogreen_sp.svg" alt="本サービスは再生可能エネルギー100%" width="150" height="40"></a></div>
      </div>
    </div>
    <script src="/cnt/common/js/ua-parser/ua-parser.min.js"></script>
    <script src="/cnt/common/js/ua-parser/main.js"></script>
    <script src="/cnt/common/js/smooth-scroll.min.js"></script>
    <script>
      var scroll = new SmoothScroll('a[href*="#"]');
      
    </script>
    <script src="/cnt/common/js/jquery/3.7.1/jquery.min.js" defer></script>
    <script src="/cnt/common/js/vue/vue.min.js" defer></script>
    <script src="/cnt/common/js/vue/axios.min.js" defer></script>
    <script src="/cnt/common/js/readjson.js?v20250508" defer></script>
    <script>
      const campaignlist = true;
      
    </script>
    <script src="/cnt/topics/campaign/gakuwari/js/main.js" defer></script>
    <!-- RAT tag start-->
    <!-- Generic Parameter-->
    <input id="ratAccountId" type="hidden" name="rat" value="426">
    <input id="ratServiceId" type="hidden" name="rat" value="1">
    <input id="ratPageLayout" type="hidden" name="rat" value="resp">
    <input id="ratSiteSection" type="hidden" name="rat" value="cnt">
    <input id="ratPageName" type="hidden" name="rat" value="cnt">
    <input id="ratPageType" type="hidden" name="rat" value="cnt_item">
    <script type="text/javascript" src="//r.r10s.jp/com/rat/js/rat-main.js"></script>
    <!-- /RAT tag end-->
  </body>
</html>