<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  <head>
    <meta charset="UTF-8">
    <title>さいたま市 ベストサロン一覧 | 楽天ビューティアワード 2025 | 楽天ビューティ</title>
    <meta name="viewport" content="width=1300">
    <meta name="description" content="楽天ビューティアワード 2025は、ユーザーに支持されたサロンとスタイリストを表彰する年間アワードです。第5回目となる今年度は、札幌市・仙台市・さいたま市・東京都・神戸市・広島市・福岡市の計7都市で高い評価を得たサロンとスタイリストを選出しています。">
    <link rel="canonical" href="https://beauty.rakuten.co.jp/cnt/topics/campaign/beautyaward/saitama/salon/">
    <meta property="og:type" content="article">
    <meta property="og:site_name" content="楽天ビューティ">
    <meta property="og:url" content="https://beauty.rakuten.co.jp/cnt/topics/campaign/beautyaward/saitama/salon/">
    <meta property="fb:app_id" content="461054960620939">
    <meta property="og:title" content="さいたま市 ベストサロン一覧 | 楽天ビューティアワード 2025 | 楽天ビューティ">
    <meta property="og:description" content="楽天ビューティアワード 2025は、ユーザーに支持されたサロンとスタイリストを表彰する年間アワードです。第5回目となる今年度は、札幌市・仙台市・さいたま市・東京都・神戸市・広島市・福岡市の計7都市で高い評価を得たサロンとスタイリストを選出しています。">
    <meta property="og:image" content="https://beauty.rakuten.co.jp/cnt/topics/campaign/beautyaward/images/ogp.jpg?v202500409">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="apple-touch-icon-precomposed" href="//beauty.rakuten.co.jp/cnt/common/images/beauty_192px.png?v20180702">
    <link rel="shortcut icon" href="//jp.rakuten-static.com/1/im/ci/rakuten/favicon/pi.ico?20181001">
    <link rel="mask-icon" href="//jp.rakuten-static.com/1/im/ci/rakuten/favicon/Rakuten_SafariPin.svg?20181001" color="#ff41be">
    <link href="../../css/main.css?v202500409" rel="stylesheet" type="text/css">
    <link rel="dns-prefetch" href="https://cdn.rex.contents.rakuten.co.jp">
    <script>
      const ua = navigator.userAgent;
      //- viewport for Tablet
      if( ua.indexOf('iPhone') > 0 || ua.indexOf('iPod') > 0 || (ua.indexOf('Android') > 0 && ua.indexOf('Mobile') > 0) || ( ua.indexOf('windows') > 0 && ua.indexOf('phone') > 0) || ( ua.indexOf('firefox') > 0 && ua.indexOf('mobile') > 0) ) {
        document.querySelector("meta[name='viewport']").setAttribute("content", "width=device-width,initial-scale=1,user-scalable=no");
      } else if( ua.indexOf('iPad') > 0 || ua.indexOf('Android') > 0 || (ua.indexOf('windows') > 0 && ua.indexOf('touch') > 0) || ( ua.indexOf('firefox') > 0 && ua.indexOf('tablet') > 0) ) {
        document.querySelector("meta[name='viewport']").setAttribute("content", "width=1300");
      }
    </script>
    <link rel="preconnect" href="//fonts.gstatic.com">
    <link rel="stylesheet" href="//fonts.googleapis.com/css2?family=Lora:wght@700&amp;display=swap&amp;text=BESTALONYI0123456789">
  </head>
  <body>
    <noscript>
      <iframe class="txt_h vis_h" src="//www.googletagmanager.com/ns.html?id=GTM-RKLN" height="0" width="0"></iframe>
    </noscript>
    <script>
      (function(w,d,s,l,i){
      w[l]=w[l]||[];
      w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});
      var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';
      j.async=true;
      j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;
      f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-RKLN');
    </script>
    <script src="//jp.rakuten-static.com/1/grp/banner/js/create.js"></script>
    <div id="mkdiv_header_pitari"></div>
    <header class="-excludeApp" id="SP_header">
      <p id="serviceID"><a class="logo" href="/"><img src="https://beauty.rakuten.co.jp/sp/images/global/rb_logo_v201807.svg" width="74" height="40"></a></p>
    </header>
        <header id="PC_header">
          <div class="rc-h-standard">
            <noscript>
              <div class="rc-h-noscript-bar">
                <div class="rc-h-inner">
                  <p>JavaScriptが無効の為、一部のコンテンツをご利用いただけません。JavaScriptの設定を有効にしてからご利用いただきますようお願いいたします。（<a href="//ichiba.faq.rakuten.co.jp/app/answers/detail/a_id/154">設定方法</a>）</p>
                </div>
              </div>
            </noscript>
            <div class="rc-h-utility-bar">
              <div class="rc-h-inner">
                <div class="rb_wrapper">
                  <ul class="rc-h-group-nav">
                    <li id="grpNote">
                      <noscript><a href="//card.rakuten.co.jp/entry/">今すぐ2,000ポイント！</a></noscript>
                    </li>
                    <li class="rc-h-dropdown rc-h-group-dropdown"><a href="//www.rakuten.co.jp/sitemap/">楽天グループ</a>
                      <ul class="rc-h-dropdown-panel">
                        <li><a href="//books.rakuten.co.jp/?scid=wi_grp_gmx_bea_hepullbu_boo" rel="nofollow">楽天ブックス</a></li>
                        <li><a href="//hoken.rakuten.co.jp/?scid=wi_grp_gmx_bea_hepullbu_hkn" rel="nofollow">楽天の保険</a></li>
                        <li><a href="//www.infoseek.co.jp/?scid=wi_grp_gmx_bea_hepullbu_ifs" rel="nofollow">インフォシーク</a></li>
                        <li><a href="//sm.rakuten.co.jp/?scid=wi_grp_gmx_bea_hepullbu_sup&amp;xadid=wi_grp_gmx_bea_hepullbu_sup" rel="nofollow">楽天西友ネットスーパー</a></li>
                        <li><a href="//www.rakuten.co.jp/sitemap/">サービス一覧</a></li>
                      </ul>
                    </li>
                    <li><a href="//www.rakuten-life.co.jp/?scid=wi_grp_gmx_bea_hetopbu_sei" rel="nofollow">楽天生命</a></li>
                    <li><a href="//www.rakuten.co.jp/" rel="nofollow">楽天市場</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="rb_wrapper">
              <div class="rc-h-service-bar">
                <div class="rc-h-inner">
                  <div class="rc-h-site-id">
                    <p class="rc-h-logo"><a href="/"><img src="//beauty.rakuten.co.jp/images/global/rb_logo_v201807.svg" width="206" height="32" alt="Rakuten BEAUTY"></a></p>
                  </div>
                  <div class="rc-h-site-menu">
                    <div class="rc-h-menu-btns">
                      <ul class="rc-h-help-nav">
                        <li><a href="/cnt/topics/guide/">はじめての方へ</a></li>
                        <li><a href="//beauty.faq.rakuten.net/user/s/">ヘルプ</a></li>
                        <li><a href="//emagazine.rakuten.co.jp/ne?n=294" onclick="_gaq.push(['_trackEvent', 'permission', 'click', 'rbpc_header']);">お得な情報を受け取る</a></li>
                        <li><a href="/cnt/topics/bp/?l-id=rb_pc_header_bp">掲載ご希望のサロン様</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <nav id="globalNav">
            <ul class="globalNav__list c-container">
              <li class="globalNav__item"><a class="globalNav__link" href="/">美容院・ヘアサロン</a></li>
              <li class="globalNav__item"><a class="globalNav__link" href="/nail/">ネイル・まつげサロン</a></li>
              <li class="globalNav__item"><a class="globalNav__link" href="/esthe/">エステサロン</a></li>
              <li class="globalNav__item"><a class="globalNav__link" href="/relax/">リラク・マッサージサロン</a></li>
              <li class="globalNav__item"><a class="globalNav__link" href="/style/">ヘアカタログ</a></li>
              <li class="globalNav__item"><a class="globalNav__link" href="/naildesign/">ネイルカタログ</a></li>
              <li class="globalNav__item"><a class="globalNav__current" href="/cnt/topics/">キャンペーン一覧・特集</a></li>
              <li class="globalNav__item"><a class="globalNav__link" href="/rakulab/">Raku Lab</a></li>
            </ul>
          </nav>
        </header>
        <div class="c-container" id="breadcrumb">
          <ul class="c-breadcrumbs">
            <li class="c-breadcrumbs__item"><a class="c-breadcrumbs__link" href="/">楽天ビューティ</a></li>
            <li class="c-breadcrumbs__item"><a class="c-breadcrumbs__link" href="https://beauty.rakuten.co.jp/cnt/topics/">キャンペーン一覧・特集</a></li>
            <li class="c-breadcrumbs__item"><a class="c-breadcrumbs__link" href="https://beauty.rakuten.co.jp/cnt/topics/campaign/beautyaward/">楽天ビューティアワード 2025</a></li>
            <li class="c-breadcrumbs__item"><strong class="c-breadcrumbs__current">さいたま市 ベストサロン一覧</strong></li>
          </ul>
        </div>
        <script type="application/ld+json">
           {
            "@context": "https://schema.org",
            "@type": "BreadcrumbList",
            "itemListElement": [
              {
                "@type": "ListItem",
                "position": 1,
                "name": "楽天ビューティ",
                "item": "https://beauty.rakuten.co.jp/"
              },
              {
                "@type": "ListItem",
                "position": 2,
                "name": "キャンペーン一覧・特集",
                "item": "https://beauty.rakuten.co.jp/cnt/topics/"
              },
              {
                "@type": "ListItem",
                "position": 3,
                "name": "楽天ビューティアワード 2025",
                "item": "https://beauty.rakuten.co.jp/cnt/topics/campaign/beautyaward/"
              },
              {
                "@type": "ListItem",
                "position": 4,
                "name": "さいたま市 ベストサロン一覧"
              }
            ]
           }
        </script>
    <main id="content">
      <div id="award">
        <div id="mainVisual">
          <div class="mainVisual"><a class="mainVisual__logo" href="../../"><img class="mainVisual__logo__img" src="../../images/logo_award.png?v202500409" width="100%" height="auto" alt="楽天ビューティアワード 2025"></a>
            <h1 class="mainVisual__title">さいたま市 ベストサロン一覧</h1><span class="mainVisual__label">BEST SALON</span>
          </div>
        </div>
        <div id="award-content">
          <nav class="awardNav">
            <p class="awardNav__current">BEST SALON</p><a class="awardNav__item" href="../../saitama/stylist/">BEST STYLIST</a>
          </nav>
          <div id="bestsalon">
            <div id="bestsalonsaitama" v-cloak>
              <template v-for="(res, index) in results" :key="res">
                <template v-if="res.rank === 'gold'">
                  <section class="bestSalon" v-if="res.no === 1">
                    <div :id="['header-' + res.rank + '-before']"></div>
                    <h2 class="bestSalon__headings" :id="['header-' + res.rank]"><img class="bestSalon__headings__image" :src="['../../images/headings_salon_' + res.rank + '.png']" width="402" :alt="res.rank"></h2>
                    <div class="bestSalonList container">
                      <template v-for="(res, index) in results" :key="res">
                        <div class="bestSalonList__item" v-if="res.rank === 'gold'" :class="{'is-open': res.status === 'open', 'is-close': res.status === 'close'}" data-trigger-list>
                          <div class="bestSalonList__item__cover"><img class="lazyload bestSalonList__item__coverItem" v-if="res.noimage === 'on'" src="../../images/noimage.png" width="100%" height="auto" :alt="res.name"><img class="lazyload bestSalonList__item__coverItem" v-else :data-src="['//cloudinary-a.akamaihd.net/vivivi/image/upload/t_beauty,f_auto,dpr_2.0,q_auto:good/c_fill,g_auto,w_500,h_354/v' + param + '/' + res.salonId + '_01.jpg']" width="100%" height="auto" alt="res.salon"></div>
                          <div class="bestSalonList__item__outline">
                            <p class="bestSalonList__item__place">{{ res.area }}</p>
                            <h3 class="bestSalonList__item__name" v-if="res.status === 'open'"><a class="stretched-link" :href="'/' + res.salonId + '/?l-id=rb_beautyaward-saitama_salon'">{{ res.salon }}</a></h3>
                            <h3 class="bestSalonList__item__name" v-if="res.status === 'close'">{{ res.salon }}</h3><a class="bestSalonList__item__interview ignore-stretched-link" v-if="res.interview" :href="res.interview">受賞インタビュー<i class="icon-chevronRight"></i></a>
                          </div>
                        </div>
                      </template>
                    </div>
                  </section>
                </template>
                <template v-if="res.rank === 'silver'">
                  <section class="bestSalon" v-if="res.no === 1">
                    <div :id="['header-' + res.rank + '-before']"></div>
                    <h2 class="bestSalon__headings" :id="['header-' + res.rank]"><img class="bestSalon__headings__image" :src="['../../images/headings_salon_' + res.rank + '.png']" width="402" :alt="res.rank"></h2>
                    <div class="bestSalonList container">
                      <template v-for="(res, index) in results" :key="res">
                        <div class="bestSalonList__item" v-if="res.rank === 'silver'" :class="{'is-open': res.status === 'open', 'is-close': res.status === 'close'}" data-trigger-list>
                          <div class="bestSalonList__item__cover"><img class="lazyload bestSalonList__item__coverItem" v-if="res.noimage === 'on'" src="../../images/noimage.png" width="100%" height="auto" :alt="res.name"><img class="lazyload bestSalonList__item__coverItem" v-else :data-src="['//cloudinary-a.akamaihd.net/vivivi/image/upload/t_beauty,f_auto,dpr_2.0,q_auto:good/c_fill,g_auto,w_500,h_354/v' + param + '/' + res.salonId + '_01.jpg']" width="100%" height="auto" alt="res.salon"></div>
                          <div class="bestSalonList__item__outline">
                            <p class="bestSalonList__item__place">{{ res.area }}</p>
                            <h3 class="bestSalonList__item__name" v-if="res.status === 'open'"><a class="stretched-link" :href="'/' + res.salonId + '/?l-id=rb_beautyaward-saitama_salon'">{{ res.salon }}</a></h3>
                            <h3 class="bestSalonList__item__name" v-if="res.status === 'close'">{{ res.salon }}</h3><a class="bestSalonList__item__interview ignore-stretched-link" v-if="res.interview" :href="res.interview">受賞インタビュー<i class="icon-chevronRight"></i></a>
                          </div>
                        </div>
                      </template>
                    </div>
                  </section>
                </template>
                <template v-if="res.rank === 'bronze'">
                  <section class="bestSalon" v-if="res.no === 1">
                    <div :id="['header-' + res.rank + '-before']"></div>
                    <h2 class="bestSalon__headings" :id="['header-' + res.rank]"><img class="bestSalon__headings__image" :src="['../../images/headings_salon_' + res.rank + '.png']" width="402" :alt="res.rank"></h2>
                    <div class="bestSalonList container">
                      <template v-for="(res, index) in results" :key="res">
                        <div class="bestSalonList__item" v-if="res.rank === 'bronze'" :class="{'is-open': res.status === 'open', 'is-close': res.status === 'close'}" data-trigger-list>
                          <div class="bestSalonList__item__cover"><img class="lazyload bestSalonList__item__coverItem" v-if="res.noimage === 'on'" src="../../images/noimage.png" width="100%" height="auto" :alt="res.name"><img class="lazyload bestSalonList__item__coverItem" v-else :data-src="['//cloudinary-a.akamaihd.net/vivivi/image/upload/t_beauty,f_auto,dpr_2.0,q_auto:good/c_fill,g_auto,w_500,h_354/v' + param + '/' + res.salonId + '_01.jpg']" width="100%" height="auto" alt="res.salon"></div>
                          <div class="bestSalonList__item__outline">
                            <p class="bestSalonList__item__place">{{ res.area }}</p>
                            <h3 class="bestSalonList__item__name" v-if="res.status === 'open'"><a class="stretched-link" :href="'/' + res.salonId + '/?l-id=rb_beautyaward-saitama_salon'">{{ res.salon }}</a></h3>
                            <h3 class="bestSalonList__item__name" v-if="res.status === 'close'">{{ res.salon }}</h3><a class="bestSalonList__item__interview ignore-stretched-link" v-if="res.interview" :href="res.interview">受賞インタビュー<i class="icon-chevronRight"></i></a>
                          </div>
                        </div>
                      </template>
                    </div>
                  </section>
                </template>
                <template v-if="res.rank === 'rookie'">
                  <section class="bestSalon" v-if="res.no === 1">
                    <div :id="['header-' + res.rank + '-before']"></div>
                    <h2 class="bestSalon__headings" :id="['header-' + res.rank]"><img class="bestSalon__headings__image" :src="['../../images/headings_salon_' + res.rank + '.png']" width="402" :alt="res.rank"></h2>
                    <div class="bestSalonList container">
                      <template v-for="(res, index) in results" :key="res">
                        <div class="bestSalonList__item" v-if="res.rank === 'rookie'" :class="{'is-open': res.status === 'open', 'is-close': res.status === 'close'}" data-trigger-list>
                          <div class="bestSalonList__item__cover"><img class="lazyload bestSalonList__item__coverItem" v-if="res.noimage === 'on'" src="../../images/noimage.png" width="100%" height="auto" :alt="res.name"><img class="lazyload bestSalonList__item__coverItem" v-else :data-src="['//cloudinary-a.akamaihd.net/vivivi/image/upload/t_beauty,f_auto,dpr_2.0,q_auto:good/c_fill,g_auto,w_500,h_354/v' + param + '/' + res.salonId + '_01.jpg']" width="100%" height="auto" alt="res.salon"></div>
                          <div class="bestSalonList__item__outline">
                            <p class="bestSalonList__item__place">{{ res.area }}</p>
                            <h3 class="bestSalonList__item__name" v-if="res.status === 'open'"><a class="stretched-link" :href="'/' + res.salonId + '/?l-id=rb_beautyaward-saitama_salon'">{{ res.salon }}</a></h3>
                            <h3 class="bestSalonList__item__name" v-if="res.status === 'close'">{{ res.salon }}</h3><a class="bestSalonList__item__interview ignore-stretched-link" v-if="res.interview" :href="res.interview">受賞インタビュー<i class="icon-chevronRight"></i></a>
                          </div>
                        </div>
                      </template>
                    </div>
                  </section>
                </template>
              </template>
            </div>
          </div>
        </div>
        <div id="footer-nav">
          <nav class="backBtn"><a class="backBtn__link" href="../../"><span class="backBtn__txt">BEAUTY AWARD<br class="-sp">トップに戻る</span></a></nav>
        </div>
      </div>
    </main>
    <footer id="PC_footer">
      <ul class="global-footer__utility">
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="/cnt/topics/bp/">掲載ご希望のサロン様</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="/cnt/terms/">利用規約</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="/sitemap/">サイトマップ</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="//beauty.faq.rakuten.net/user/s/ask">お問い合わせ</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="//beauty.faq.rakuten.net/user/s/">ヘルプ</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="/cnt/topics/release/">リリース情報</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="//www.facebook.com/RakutenBeauty" target="_blank">Facebook</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="//x.com/Rakuten__BEAUTY" target="_blank">X</a></li>
      </ul>
      <div class="rc-f-standard rc-f-liquid rc-f-custom00">
        <div class="rc-f-section-content00">
          <div class="rc-f-section-bar rc-f-first">
            <div class="rc-f-inner">
              <dl class="rc-f-dl-inline-box">
                <dt class="rc-f-dl-title01 rc-f-text-em">楽天グループ</dt>
                <dd>
                  <ul class="rc-f-list-inline">
                    <li><a class="rc-f-btn" href="//www.rakuten.co.jp/sitemap/"><span>サービス一覧</span></a></li>
                    <li><a class="rc-f-btn" href="//www.rakuten.co.jp/sitemap/inquiry.html"><span>お問い合わせ一覧</span></a></li>
                  </ul>
                </dd>
              </dl>
            </div>
          </div>
          <div class="rc-f-section-bar">
            <div class="rc-f-inner">
              <dl class="rc-f-dl-inline rc-f-block">
                <dt class="rc-f-dl-title01">おすすめ</dt>
                <dd class="rc-f-text-strong" id="grpRakutenRecommend"><a href="//www.rakuten-card.co.jp/">【楽天カード】楽天ポイントが貯まるクレジットカード。年会費無料。</a></dd>
              </dl>
              <ul class="rc-f-row rc-f-row-dot rc-f-row4">
                <li class="rc-f-col rc-f-first">
                  <div class="rc-f-media rc-f-nav-item rc-f-nav-item">
                    <div class="rc-f-media-head"><a href="/rakulab/">「キレイの主役」を応援するビューティメディア</a></div>
                    <div class="rc-f-media-body">Raku Lab(ラクラボ)</div>
                  </div>
                </li>
                <li class="rc-f-col">
                  <div class="rc-f-media rc-f-nav-item rc-f-nav-item-delimit">
                    <div class="rc-f-media-head"><a href="https://brandavenue.rakuten.co.jp/">人気ブランド新作やヘア小物をGET</a></div>
                    <div class="rc-f-media-body">Rakuten Fashion</div>
                  </div>
                </li>
                <li class="rc-f-col">
                  <div class="rc-f-media rc-f-nav-item rc-f-nav-item-delimit">
                    <div class="rc-f-media-head"><a href="https://www.infoseek.co.jp/">楽天が運営するポータルサイト</a></div>
                    <div class="rc-f-media-body">Infoseekトップ</div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div id="mkdiv_footer_pitari"></div>
        <div class="rc-f-section01">
          <div class="-excludeApp" id="footerRakutenBnr"><a href="//corp.rakuten.co.jp/event/climateaction/?scid=wi_bty_gogreen_footer" target="_blank"><img class="footerRakutenBnr__img" src="//cloudinary-a.akamaihd.net/vivivi/image/upload/t_beauty,f_auto/w_150,h_40/v1/front/image/common/bnr_gogreen_pc.svg" alt="本サービスは再生可能エネルギー100%" width="150" height="40"></a></div>
          <div class="rc-f-inner">
            <ul class="rcf-list-inline rcf-list-block">
              <li><a href="//corp.rakuten.co.jp/" rel="nofollow">企業情報</a></li>
              <li><a href="//privacy.rakuten.co.jp/" rel="nofollow">個人情報保護方針</a></li>
              <li><a href="//corp.rakuten.co.jp/csr/">社会的責任[CSR]</a></li>
              <li><a href="//corp.rakuten.co.jp/careers/">採用情報</a></li>
            </ul>
            <p class="copyright">© Rakuten Group, Inc.</p>
          </div>
        </div>
      </div>
      <script type="text/javascript" src="//jp.rakuten-static.com/1/js/lib/prm_selector.js"></script>
      <script type="text/javascript" src="//jp.rakuten-static.com/1/js/grp/hdr/prm_sender.js"></script>
      <script type="text/javascript" src="//jp.rakuten-static.com/1/js/grp/ftr/js/parm_selector_footer.js"></script>
    </footer>
    <div id="SP_footer">
      <div class="c-section c-text--alignCenter">
        <ul class="c-list--inlineSmall c-section__inside">
          <li class="c-list__item"><a href="/cnt/topics/guide/">はじめての方へ</a></li>
          <li class="c-list__item"><a href="//beauty.faq.rakuten.net/user/s/ask">お問い合わせ</a></li>
          <li class="c-list__item"><a href="//beauty.faq.rakuten.net/user/s/">ヘルプ</a></li>
          <li class="c-list__item"><a href="/cnt/topics/release/">リリース情報</a></li>
          <li class="c-list__item"><a href="/cnt/terms/">利用規約</a></li>
          <li class="c-list__item"><a href="/cnt/topics/bp/">掲載ご希望のサロン様</a></li>
        </ul>
      </div>
      <div id="footer">
        <ul>
          <li><a rel="nofollow" href="//corp.rakuten.co.jp/">企業情報</a></li>
          <li><a rel="nofollow" href="//privacy.rakuten.co.jp/sp/">個人情報保護方針</a></li>
          <li><a rel="nofollow" href="//www.rakuten.co.jp/sitemap/sp/">楽天のサービス一覧</a></li>
          <li><a rel="nofollow" href="//www.rakuten.co.jp/sitemap/sp/app.html">アプリ一覧</a></li>
        </ul>
        <div id="copyright">&copy; Rakuten Group, Inc.</div>
        <div class="-excludeApp" id="footerRakutenBnr"><a href="//corp.rakuten.co.jp/event/climateaction/?scid=wi_bty_gogreen_footer" target="_blank"><img class="footerRakutenBnr__img" src="https://cloudinary-a.akamaihd.net/vivivi/image/upload/t_beauty,f_auto/w_150,h_40/v1/front/image/common/bnr_gogreen_sp.svg" alt="本サービスは再生可能エネルギー100%" width="150" height="40"></a></div>
      </div>
    </div>
    <script src="/cnt/common/js/ua-parser/ua-parser.min.js"></script>
    <script src="/cnt/common/js/ua-parser/main.js"></script>
    <script src="/cnt/common/js/smooth-scroll.min.js"></script>
    <script>
      var scroll = new SmoothScroll('a[href*="#"]');
      
    </script>
    <script src="/cnt/common/js/vue/vue.min.js"></script>
    <script src="/cnt/common/js/vue/axios.min.js"></script>
    <script src="../../js/readjson.js?v202500409" defer></script>
    <script>
      saitamasalons = true;
      //- js用パラメータ
      const param = '202500409';
      
    </script>
    <script src="../../js/lazysizes.min.js" defer></script>
    <script src="../../js/ScrollTrigger.min.js"></script>
    <script src="../../js/list.bundle.js?v2210119" defer></script>
    <!-- RAT tag start-->
    <!-- Generic Parameter-->
    <input id="ratAccountId" type="hidden" name="rat" value="426">
    <input id="ratServiceId" type="hidden" name="rat" value="1">
    <input id="ratPageLayout" type="hidden" name="rat" value="resp">
    <input id="ratSiteSection" type="hidden" name="rat" value="cnt">
    <input id="ratPageName" type="hidden" name="rat" value="cnt">
    <input id="ratPageType" type="hidden" name="rat" value="cnt_item">
    <script type="text/javascript" src="//r.r10s.jp/com/rat/js/rat-main.js"></script>
    <!-- /RAT tag end-->
  </body>
</html>