#CampaignTokyo
  .rbSPU-content-pitari_inner
    h2.ttl
      span
        | 東京都対象！
        span お得なキャンペーン開催中
  .cpnList
    //- Campaign List AreaAll
    //- jsonが空orエラーの時非表示にしたい親要素に#Campaign[Areaname]をつけておく
    include ../../../../../_common/pug/Module/Common/_campaignList
    +campaignListAreaAllPitari('Tokyo','東京')

script.
  readJsonTokyo();