passStr = '../../../../../'
@import passStr + '_common/stylus/Base/_init'

//------------------------------// Common - このページで使う共通設定。自由に設定可能

mainColor = #cc5777
mainColorSub = #f3abbf
secondColor = #45a9bc
secondColorSub = #98ccd6
grayBgColor = #f7f7f7
grayTxtColor = #333333
grayTagColor = #828282
grayLineColor = #d1d1d1
redColor = #bf0000

lavenderColor = #8FA3CD
lightBlueColor = #83BFCE
beigeColor = #D4BC7C

pcWidth = 1216px
couponWidth = 470px

//------------------------------

#CouponTemplate

  // main
  .main
    margin: 0 auto 32px
    +sp()
      margin-bottom: 24px
    .main__title
      display: block
      width:pcWidth
      margin: 0 auto
      line-height:1
      font-size:1.4rem
      text-align: center
      +sp()
        width:100%
        margin: 0 auto
      &Img
        width:100%
    .main__terms
      text-align: center
      //
      margin: 0 auto
      box-sizing: border-box
      background: grayBgColor
      +pc()
        width:pcWidth
        padding: 10px 40px
      +sp()
        padding: 10px
      .main__termsBox
        width: 100% //IE対応
        .main__termsTxt
          line-height 1.5
          color:grayTxtColor
          +pc()
            font-size: 1.6rem
          +sp()
            font-size: 1.2rem
          &.-small
            +pc()
              display: inline-block
              font-size: 1.4rem
            +sp()
              display: inline
              font-size: 1.2rem
        .main__termsLink
          color:secondColor

  //- ラ・クーポン
  .coupon
    width:100%
    // text-align: center

    // 事前
    .couponAdd
      +pc()
        margin-bottom:40px
        //
        display: flex
        flex-direction: column
        justify-content: center
      +sp()
        padding 10px 10px 16px
        box-sizing: border-box

      // ボタンセット(bgColor,txtColor)
      btnSet(Colors.CrimsonRed.color,#fff)

      .coupon__terms
        +pc()
          display: flex
          flex-direction: column
          //
          width: auto
          height:auto
          margin: 16px auto
          &:last-of-type
            margin: 0 auto
        +sp()
          margin: 0 auto
        .coupon__termsTxt
          font-size: 1.4rem
          line-height 1.5
          color:grayTxtColor
          +sp()
            font-size: 1.2rem
          .coupon__termsLink
            color:secondColor

    // 獲得
    .couponGet

      // 非遷移クーポン
      // couponOneClickSet(couponWidth,couponColor)
      @import passStr + '_common/stylus/Module/Common/_couponOneClick'
      couponOneClickSet(couponWidth,mainColor)
    // hair care menu
  .menu
    margin: 0 auto
    +pc()
      width: pcSmallWidth
      margin-bottom: 24px
    +sp()
      width: auto
      margin-bottom: 32px
    // override
    .titleWrap
      margin: 0 auto
      +pc()
        margin-bottom: 40px
      +sp()
        margin-bottom: 24px
    .menuWrap
      margin: 0 auto
      +pc()
        display: flex
        justify-content: center
        //
        width: pcSmallWidth
      +sp()
        width: 90%
        text-align: center
      .menuBox
        display: block
        text-align: center
        box-sizing: border-box
        color: brawnTxtColor
        +pc()
          width: 294px
          margin-right: 40px
          &:last-of-type
            margin: 0
        +sp()
          margin: 0 auto 32px
        .menuBoxPhoto
          border: 8px solid lavenderColor
          border-radius: 50%
          box-sizing: border-box
          margin: 0 auto
          +pc()
            width: 200px
            margin-bottom: 16px
          +sp()
            width: 160px
            margin-bottom: 16px
          &.-genre
            &0
              border-color: lavenderColor
            &1
              border-color: lightBlueColor
            &2
              border-color: beigeColor
          .menuBoxPhotoImg
            width: 100%
            border-radius: 50% // for IE
        .menuBoxTitle
          font-weight: bold
          margin: 0 auto 16px
          +pc()
            font-size: 2.8rem
          +sp()
            font-size: 1.8rem
          &.-genre
            &0
              color: lavenderColor
            &1
              color: lightBlueColor
            &2
              color: beigeColor
        .menuBoxSubTitle
          font-weight: bold
          color: mainColor
          margin: 0 auto 16px
          +pc()
            font-size: 1.8rem
          +sp()
            font-size: 1.4rem
        .menuBoxTxtWrap
          text-align: left
          .menuBoxTxt
            font-size: 1.4rem
            line-height: 1.5

  // welcome
  .welcome
    text-align: center
    font-weight: bold
    margin: 0 auto
    padding: 72px 0
    box-sizing: border-box
    +pc()
      width: pcSmallWidth
      margin-bottom: 60px
      background: url('../img/bg.png') center top / contain no-repeat
    +sp()
      width: 90%
      margin-bottom: 32px
      background: url('../img/bg_sp.png') center top / contain no-repeat
    .welcomeTitle
      color:mainColor
      +pc()
        font-size: 3.6rem
        margin-bottom: 32px
      +sp()
        font-size: 1.8rem
        margin-bottom: 16px
    .welcomeTxtBox
      .welcomeTxt
        color:brawnTxtColor
        line-height: 1.5
        +pc()
          font-size: 1.8rem
        +sp()
          font-size: 1.4rem
        &:first-of-type
          +pc()
            margin-bottom: 24px
          +sp()
            margin-bottom: 16px

  //- 検索UI
  // JSに影響する記述 ----------------------- //
  $loader-size = 60px
  $loader-size = 60px

  #salonFilterSection
    .is-hidden
      display: none

    .loader,
    .loader:after
      display: none

    &.is-loading
      .loader,
      .loader:after
        display: block

      #salonFilter,
      #salonList
        display: none

    .loader,
    .loader:after
      box-sizing: border-box
      width: $loader-size
      height: $loader-size
      border-radius: 50%

    .loader
      position: relative
      margin: $loader-size auto
      border-top: 3px solid rgba(#333, .1)
      border-right: 3px solid rgba(#333, .1)
      border-bottom: 3px solid rgba(#333, .1)
      border-left: 3px solid rgba(#333, .2)
      text-indent: -9999em
      font-size: 10px
      transform: translateZ(0)
      animation: loading 1.1s infinite linear

    #salonList
      opacity: 0
      transition: opacity 0s ease-out

      &.is-loading
        opacity: 1
        transition-delay: .3s
        transition-duration: .35s

      .position-relative
        position: relative

      .stretched-link
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
        tap-highlight-color: rgba(0, 0, 0, 0)

        &::after
          position: absolute
          top: 0
          right: 0
          bottom: 0
          left: 0
          z-index: 1
          background-color: rgba(0, 0, 0, 0)
          content: ''
          pointer-events: auto

      .not-stretched-link
        position: relative
        z-index: 2

  @keyframes loading
    0%
      transform: rotate(0)

    100%
      transform: rotate(360deg)

  // レイアウト関連 --------------------- //
  #salonFilter
    position: relative
    margin-bottom: 20px
    padding: 40px 16px
    background-color: Colors.LightGray.color
    text-align: center
    box-sizing: border-box
    +pc()
      padding 30px 0
    +sp()
      padding 16px

    &:after
      position: absolute
      bottom: -40px
      left: 50%
      margin-left: -20px
      border: 20px solid transparent
      border-top: 20px solid Colors.LightGray.color
      content: ''
      +sp()
        bottom -32px

    .filter-heading
      font-weight: bold
      line-height: 1.5
      +pc()
        font-size 2.4rem
        margin-bottom:16px
      +sp()
        font-size:1.8rem
        margin:0 auto 16px

    .filter-select
      position: relative
      display: inline-block

      &:after
        position: absolute
        right: 16px
        bottom: 16px
        border: 6px solid transparent
        border-top: 6px solid Colors.DarkGray.color
        content: ''

      +pc()
        margin: 4px
        width: 360px

      +sp()
        margin-bottom:8px
        width: 100%

    .filter-select__item
      overflow: hidden
      box-sizing: border-box
      padding-right: 44px
      padding-left: 16px
      width: 100%
      height: 54px
      border: 1px solid Colors.MediumGray.color
      border-radius: 4px
      background-color: #fff
      text-overflow: ellipsis
      white-space: nowrap
      font-weight: bold
      font-size: 2rem
      line-height: @height
      line-height: 1
      cursor: pointer
      appearance: none
      +sp()
        height: 48px
        font-size: 1.8rem

      option
        line-height: 1

      &::-ms-expand
        display: none

      &:disabled
        color: grayTagColor
        background-color: Colors.LightGray.color
        cursor: auto

    .filter-button-list
      margin: 0 auto
      padding: 0
      list-style: none
      font-size: 0
      +pc()
        width: 800px

      .filter-button-list-item

        +pc()
          display: inline-block
          margin: 8px

        +sp()
          display: block
          margin-bottom: 8px

      .filter-list-button
        border: 1px solid Colors.Secondary.color
        border-radius: 4px
        background-color: Colors.Secondary.color
        color: #fff
        font-size: 1.6rem
        line-height: 1
        cursor: pointer

        +pc()
          padding: 14px 16px
          Transition(color, .25s)

          &:hover
            opacity: .8
            transition-duration: .15s

          &.is-selected:hover
            // background-color: lighten(Colors.Secondary.color, 40)

        +sp()
          width:100%
          padding: 8px 16px
          font-size: 1.4rem

        &.is-selected
          background-color: #fff
          color: Colors.Secondary.color

    .filter-button
      box-sizing: border-box
      padding: 0 16px
      width: 200px
      height: 54px
      border: none
      border-radius: 4px
      background-color: mainColor
      color: #fff
      font-weight: bold
      font-size: 2rem
      line-height: @height
      line-height: 1
      cursor: pointer

      +pc()
        margin: 0 4px
        Transition(background-color, .25s)

        &:hover
          background-color: lighten(mainColor, 7)
          transition-duration: .15s

      +sp()
        margin: 0 0 8px
        width: 100%
        height: 48px
        font-size: 1.8rem

      &:disabled
        background-color: Colors.MediumGray.color
        color: Colors.DarkGray.color
        cursor: auto

  #salonList
    +pc()
      margin: 0 auto (40px - 12px)
      width: pcWidth

      .salonList
        display: flex
        flex-wrap: wrap
        margin: 0 -12px

    +sp()
      padding-right: 16px
      padding-left: 16px

      .salonList
        width: 100%

    .salonList__item
      overflow: hidden
      box-sizing: border-box
      border: 1px solid Colors.MediumGray.color
      border-radius: 8px
      background-color: #fff
      text-align: left

      +sp()
        margin: 0 auto 16px
        width: 100%

      +pc()
        display: flex
        flex-direction: column
        justify-content: space-between
        margin: 12px
        width: ((pcWidth + 24) / 3) - 24

      &.has-divide
        justify-content: normal

      .salonList__content
        +pc()
          &:hover
            .salonList__image
              transform: scale(1.05)

            .salonList__link
              color: #45A9BC

      .salonList__link
        display: block
        color: #333
        text-decoration: none

      .salonList__button
        display: block
        text-align: center
        font-size: 1.6rem
        color: #fff
        background: secondColor
        padding: 10px 0
        box-sizing: border-box
        border-radius: 4px
        +sp()
          font-size: 1.4rem
        &:hover
          opacity: 0.8

      .salonList__cover
        overflow: hidden
        +pc()
          height: 200px

        +sp()
          height: 160px

      .salonList__image
        width: 100%
        height: auto
        vertical-align: top

        +pc()
          width: 101%
          transition: transform .45s

      .salonList__buttonArea
        padding: 0 16px 16px
        +sp()
          padding: 0 8px 8px

      .salonList__outline
        line-height: 1.5
        padding: 16px
        +sp()
          padding: 10px 10px 8px 10px

      .salonList__detail
        display: flex
        //
        margin-bottom: 16px
        +pc()
          align-items: flex-start
        +sp()
          align-items: center
          //
          margin-bottom: 8px

      .salonList__menuIcon
        flex-shrink:0
        //
        display: block
        width: 60px
        height: 60px
        border-radius: 50%
        +pc()
          margin-right: 16px
        +sp()
          margin-right: 8px

      .salonList__genre
        display:flex
        justify-content: center
        align-items: center
        //
        width: 100%
        height: 100%
        border-radius: 50%
        //
        text-align: center
        color: #fff
        font-size: 1.1rem
        font-weight: bold
        padding: 8px
        box-sizing: border-box
        &.-no1
          background: lavenderColor
        &.-no2
          background: lightBlueColor
        &.-no3
          background: beigeColor

      .salonList__menuDetail
        //

      .salonList__salonName
        margin: 0 0 8px
        padding: 0
        font-weight: bold
        font-size: 1.6rem
        +sp()
          font-size: 1.4rem
          margin: 0 0 4px

      .salonList__area,
      .salonList__station
        display: block
        margin: 0 0 4px
        color: Colors.DarkGray.color
        font-weight: bold
        font-size: 1.2rem
        +sp()
          display: inline-block
          margin: 0 0 2px

        .icon
          margin-right: 2px
          font-size: 1.6rem

      .salonList__area
        margin-right: 16px

      .salonList__station
        margin-bottom: 0

      .salonList__divide
        display: flex
        flex-direction: column
        justify-content: space-between
        align-items: stretch
        //
        line-height: 1.5
        background: #fff
        height 100%
        border-top: 1px dashed Colors.MediumGray.color

      .salonList__menuName
        font-size: 1.6rem
        font-weight: bold
        color: secondColor
        +sp()
          font-size: 1.4rem

      .salonList__target
        display: inline-block
        font-weight: normal
        color:#fff
        background:secondColor
        line-height: 1
        border-radius: 4px
        border: 1px solid secondColor
        box-sizing: border-box
        +pc()
          vertical-align: 1px
          font-size: 1.2rem
          margin-right: 8px
          padding: 4px 8px
        +sp()
          vertical-align: 1px
          font-size: 1.1rem
          margin-right: 4px
          padding: 4px 6px

        &.is-all
          background: #fff
          color: secondColor

      .salonList__menuPriceArea
        margin-bottom: 16px
        text-align: right
        +sp()
          margin-bottom: 8px

        .salonList__menuTime
          font-size: 1.2rem
          margin-right: 8px
          +sp()
            font-size: 1.1rem

        .salonList__menuPrice
          font-size: 2rem
          margin-right: 8px
          +sp()
            font-size: 1.8rem

      .salonList__menuTermsArea
        background: grayBgColor
        padding: 4px 16px
        margin-bottom: 16px
        +sp()
          margin-bottom: 8px

        .salonList__menuTerm
          font-size: 1.2rem
          +sp()
            font-size: 1.1rem

      .salonList__description
        font-size: 1.4rem
        +sp()
          font-size: 1.2rem

  //- more search
  // more btn(pcWidth,bgColor)
  btnMore(pcInnerWidth,grayBgColor)

  //- howto
  .howto
    +pc()
      margin-bottom: 60px
    +sp()
      margin-bottom: 40px

    // ラ・クーポンの使い方セット
    howtoCouponset()

  // app DL
  .app
    +pc()
      margin-bottom: 60px
    +sp()
      margin-bottom: 40px

    // app DL parts(bgColor)
    // 目立たせたい時は #FFE8E8 など推奨
    appDL(#FFE8E8)

  // Campaign Deatail
  .detail

    // Campaign Deatail / ()の中にwidthを入れる。SPは何もしなくてもwidth:autoになる
    @import passStr + '_common/stylus/Module/Common/_campaignDetail'
    campaignDetail(pcWidth)
