//- 新クーポンLP専用テンプレート。毎回最新のものをフォルダごと複製して使用してください
//- こちらはクーポン+ShoplistのみのLP専用のため、手動でコンテンツを追加する必要がある場合は_template_couponBase/を使用してください
//- CSV Coupon Template / ver 1.1.4 / 更新日時：2024.8.26 / ラ・クーポン注意事項更新

-
  //- 更新用のpugです。Kintoneの内容をjsonに変換して転記してください。
  //- 作成マニュアル：https://confluence.rakuten-it.com/confluence/display/BUXDGP/Kintone+to+Coupon+LP

  //- 更新日（キャッシュクリア用のパラメータとして使用）
  var parameter = '?v20250206'
  //- ディレクトリ名（l-idなどに使用。入力例：cnt/topics/campaign/xxxx/ -> 'xxxx'）
  var directory = 'employee'

  //- Kintoneのcsvをjsonに変換して、[]の中身をまるごと置き換えてください。インデント（段落）が崩れないよう注意
  //- 「クーポン名」のみ手動で良い感じに書き換えてください
  var coupon = [
    {
      "利用開始日時": "2024/10/1 0:00",
      "本発行": "（対応中）",
      "クーポンコード": "B1PD-CHNS-CIWX-QSGP",
      "クーポン名": "楽天関係者様ご優待クーポン",
      "種別": "獲得",
      "事前付与リスト": "※リスト提出予定日までにURL記載",
      "店舗指定リスト": "https://rak.box.com/s/2z5jkr7es6fxjpxcimuzbkkfbl9cljqv",
      "露出先管理Kintone URL": "https://rak.cybozu.com/k/#/space/163/thread/174xxxxxxxxxxxxxxxxxxxxx",
      "担当部署": "狭域_東京",
      "レコード番号": 1636,
      "更新者": "ts-yuka.d.kaneko",
      "作成者": "yukoerin.kanayama",
      "更新日時": "2024/9/19 12:08",
      "作成日時": "2024/7/23 10:41",
      "入稿シート": "",
      "ページURL": "https://beauty.rakuten.co.jp/",
      "事前付与空き枠申請": "未申請",
      "対象条件": "新規限定",
      "対象デバイス": "セグメントなし",
      "表示フラグ": "不可",
      "割引適用対象": "全アイテム",
      "割引適用ショップ・アイテム": "指定ショップ",
      "店舗件数": 3177,
      "クーポン説明": "楽天ビューティに掲載されている、東京都のヘアサロンのネット予約で利用可能な割引クーポンです。関係者様特別優待クーポンです。初回ネット予約をされる方のみご利用になれ、過去に一度でもネット予約をご利用いただいた方は予約時にラ・クーポンを選択できなくなりますので予めご了承ください。ラ・クーポンがご利用いただけるのは、2024年10月1日現在、楽天ビューティに掲載されているヘアサロンとなります。",
      "獲得用URL": "https://coupon.rakuten.co.jp/getCoupon?getkey=Q0hOUy1CMVBELUNJV1gtUVNHUA--",
      "利用終了日時": "2024/12/31 23:59",
      "来店終了日時": "2024/12/31 23:59",
      "リダイレクトURL": "https://beauty.rakuten.co.jp/pre13/?scid=wi_emp_202410_tokyo_13",
      "事前付与対象枚数": 0,
      "セグメント": "獲得(新規)社員割引クーポン",
      "制作依頼JIRA URL": "https://jira.rakuten-it.com/jira/xxxxxxxxxxxxxxxxxxxxxxxxxx",
      "注意事項": "＜獲得型_共通＞\n・獲得したラ・クーポンは、お1人様1回までご利用いただけます。\n・他のラ・クーポンとの併用はできません。\n・ラ・クーポンには利用上限枚数（予約成立順）が設定されています。ラ・クーポン獲得済みであっても利用上限に達した場合はご利用いただけません。\n・獲得したラ・クーポンは、マイページのマイクーポンからご確認いただけます。\n・ラ・クーポンの利用条件に合致したクーポンのみが、ネット予約STEP中に表示されます。獲得していても、ラ・クーポンが表示されない場合、ラ・クーポンの利用条件等をご確認ください。（予約条件が一致しない、有効期限を過ぎている、利用枚数を超えた場合等）\n・ネット予約確定の前に、他のネット予約が成立し利用上限枚数に達した場合には、ネット予約がエラーとなり、ラ・クーポンをご利用になれません。\n・ラ・クーポンは、楽天ビューティ（サイト/アプリ）での予約時にのみご利用いただけます。予約成立後など後から利用することはできません。\n・ラ・クーポンを印刷して来店時にお持ちいただいても割引することはできません。\n・ラ・クーポンは、電話予約でご利用できません。\n・一部、ラ・クーポンを利用できない店舗がございます。\n・予約画面で選択できる来店日時は、ネット予約される日から30日後までとなりますが、発行されているラ・クーポンによって来店期日は異なりますので、ご注意ください。\n・サロンの予約状況によっては、ご希望に添えなかったり、お断りする場合もございます。\n・ラ・クーポンを利用した予約をキャンセルした場合、利用条件を満たしていれば、マイクーポンに返還されます。詳しくはこちら\n・本企画は予告無く変更・中止されることがございます。\n・本サービスへのアクセス集中や通信回線の状態による遅延、不具合などにより本サービスへのアクセスや登録・表示などができないことにより発生した障害、または起因して発生したすべての事象に関しましては、当社の責めに帰すべき場合を除き、責任を負いかねます。\n・ご来店いただける期間はサロンの営業時間によって異なります。\n\n---------------------------------------------------------------------\n＜獲得型_APPのみ＞\t\n・獲得したラ・クーポンは、お1人様1回までご利用いただけます。\n・他のラ・クーポンとの併用はできません。\n・ラ・クーポンには利用上限枚数（予約成立順）が設定されています。ラ・クーポン獲得済みであっても利用上限に達した場合はご利用いただけません。\n・獲得したラ・クーポンは、マイページのマイクーポンからご確認いただけます。\n・ラ・クーポンの利用条件に合致したクーポンのみが、ネット予約STEP中に表示されます。獲得していても、ラ・クーポンが表示されない場合、ラ・クーポンの利用条件等をご確認ください。（予約条件が一致しない、有効期限を過ぎている、利用枚数を超えた場合等）\n・ネット予約確定の前に、他のネット予約が成立し利用上限枚数に達した場合には、ネット予約がエラーとなり、ラ・クーポンをご利用になれません。\n・ラ・クーポンは、楽天ビューティのアプリでの予約時にのみご利用いただけます。予約成立後など後から利用することはできません。\n・ラ・クーポンを印刷して来店時にお持ちいただいても割引することはできません。\n・ラ・クーポンは、電話予約でご利用できません。\n・一部、ラ・クーポンを利用できない店舗がございます。\n・予約画面で選択できる来店日時は、ネット予約される日から30日後までとなりますが、発行されているラ・クーポンによって来店期日は異なりますので、ご注意ください。\n・サロンの予約状況によっては、ご希望に添えなかったり、お断りする場合もございます。\n・ラ・クーポンを利用した予約をキャンセルした場合、利用条件を満たしていれば、マイクーポンに返還されます。詳しくはこちら\n・本企画は予告無く変更・中止されることがございます。\n・本サービスへのアクセス集中や通信回線の状態による遅延、不具合などにより本サービスへのアクセスや登録・表示などができないことにより発生した障害、または起因して発生したすべての事象に関しましては、当社の責めに帰すべき場合を除き、責任を負いかねます。\n・ご来店いただける期間はサロンの営業時間によって異なります。\n\n\n-----------------------------------------------------------------------------------\n＜事前付与型＞\n・ラ・クーポンは、お1人様1回までご利用いただけます。\n・他のラ・クーポンとの併用はできません。\n・ラ・クーポンには利用上限枚数（予約成立順）が設定されています。ラ・クーポン獲得済みであっても利用上限に達した場合はご利用いただけません。\n・ラ・クーポンは、マイページのマイクーポンからご確認いただけます。\n・ラ・クーポンの利用条件に合致したクーポンのみが、ネット予約STEP中に表示されます。獲得していても、ラ・クーポンが表示されない場合、ラ・クーポンの利用条件等をご確認ください。（予約条件が一致しない、有効期限を過ぎている、利用枚数を超えた場合等）\n・ネット予約確定の前に、他のネット予約が成立し利用上限枚数に達した場合には、ネット予約がエラーとなり、ラ・クーポンをご利用になれません。\n・ラ・クーポンは、楽天ビューティ（サイト/アプリ）での予約時にのみご利用いただけます。予約成立後など後から利用することはできません。\n・ラ・クーポンを印刷して来店時にお持ちいただいても割引することはできません。\n・ラ・クーポンは、電話予約でご利用できません。\n・一部、ラ・クーポンを利用できない店舗がございます。\n・予約画面で選択できる来店日時は、ネット予約される日から30日後までとなりますが、発行されているラ・クーポンによって来店期日は異なりますので、ご注意ください。\n・サロンの予約状況によっては、ご希望に添えなかったり、お断りする場合もございます。\n・ラ・クーポンを利用した予約をキャンセルした場合、利用条件を満たしていれば、マイクーポンに返還されます。詳しくはこちら\n・本企画は予告無く変更・中止されることがございます。\n・本サービスへのアクセス集中や通信回線の状態による遅延、不具合などにより本サービスへのアクセスや登録・表示などができないことにより発生した障害、または起因して発生したすべての事象に関しましては、当社の責めに帰すべき場合を除き、責任を負いかねます。\n・ご来店いただける期間はサロンの営業時間によって異なります。\n\n\n\n---------　コメントアウト　---------\n※編成へ 各リンク先はこちらでお願いします！\n\nマイクーポン\nhttps://beauty.rakuten.co.jp/user/coupon.php\n\n詳しくはこちら\nhttps://beauty.faq.rakuten.net/user/s/detail/000005759",
      "エリアカテゴリー": "東京_獲得",
      "リスト提出予定日": "2024/9/20",
      "補足": "店舗リスト、メニューリストについてコメントがあればこちらにお願いいたします。",
      "毎月開催": "未定",
      "割引額": 1300,
      "利用上限枚数": 2000,
      "利用最低金額": 4000,
      "メニュークーポン": "なし",
      "メニュー指定リスト": "※リスト提出予定日までにURL記載",
      "サムネイルURL": "https://beauty.rakuten.co.jp/cnt/common/banner/coupon/tokyo_coupon01.png",
      "対象店舗予約有無": "なし",
      "会員利用上限枚数(一人あたりの利用回数)": 1
    },
    {
      "利用開始日時": "2024/10/1 0:00",
      "本発行": "（対応中）",
      "クーポンコード": "EQR4-EYXK-0GK0-HOQ8",
      "クーポン名": "楽天関係者様ご優待クーポン",
      "種別": "獲得",
      "事前付与リスト": "※リスト提出予定日までにURL記載",
      "店舗指定リスト": "https://rak.box.com/s/2z5jkr7es6fxjpxcimuzbkkfbl9cljqv",
      "露出先管理Kintone URL": "https://rak.cybozu.com/k/#/space/163/thread/174xxxxxxxxxxxxxxxxxxxxx",
      "担当部署": "狭域_東京",
      "レコード番号": 1635,
      "更新者": "ts-yuka.d.kaneko",
      "作成者": "yukoerin.kanayama",
      "更新日時": "2024/9/19 12:14",
      "作成日時": "2024/7/23 10:39",
      "入稿シート": "",
      "ページURL": "https://beauty.rakuten.co.jp/",
      "事前付与空き枠申請": "不要",
      "対象条件": "セグメントなし",
      "対象デバイス": "セグメントなし",
      "表示フラグ": "不可",
      "割引適用対象": "全アイテム",
      "割引適用ショップ・アイテム": "指定ショップ",
      "店舗件数": 3177,
      "クーポン説明": "楽天ビューティに掲載されている、東京都のヘアサロンのネット予約で利用可能な割引クーポンです。関係者様特別優待クーポンです。ラ・クーポンがご利用いただけるのは、2024年10月1日現在、楽天ビューティに掲載されているヘアサロンとなります。",
      "獲得用URL": "https://coupon.rakuten.co.jp/getCoupon?getkey=RVlYSy1FUVI0LTBHSzAtSE9ROA--",
      "利用終了日時": "2024/12/31 23:59",
      "来店終了日時": "2024/12/31 23:59",
      "リダイレクトURL": "https://beauty.rakuten.co.jp/pre13/?scid=wi_emp_202410_tokyo_05",
      "事前付与対象枚数": 0,
      "セグメント": "獲得(既存)社員割引クーポン",
      "制作依頼JIRA URL": "https://jira.rakuten-it.com/jira/xxxxxxxxxxxxxxxxxxxxxxxxxx",
      "注意事項": "＜獲得型_共通＞\n・獲得したラ・クーポンは、お1人様1回までご利用いただけます。\n・他のラ・クーポンとの併用はできません。\n・ラ・クーポンには利用上限枚数（予約成立順）が設定されています。ラ・クーポン獲得済みであっても利用上限に達した場合はご利用いただけません。\n・獲得したラ・クーポンは、マイページのマイクーポンからご確認いただけます。\n・ラ・クーポンの利用条件に合致したクーポンのみが、ネット予約STEP中に表示されます。獲得していても、ラ・クーポンが表示されない場合、ラ・クーポンの利用条件等をご確認ください。（予約条件が一致しない、有効期限を過ぎている、利用枚数を超えた場合等）\n・ネット予約確定の前に、他のネット予約が成立し利用上限枚数に達した場合には、ネット予約がエラーとなり、ラ・クーポンをご利用になれません。\n・ラ・クーポンは、楽天ビューティ（サイト/アプリ）での予約時にのみご利用いただけます。予約成立後など後から利用することはできません。\n・ラ・クーポンを印刷して来店時にお持ちいただいても割引することはできません。\n・ラ・クーポンは、電話予約でご利用できません。\n・一部、ラ・クーポンを利用できない店舗がございます。\n・予約画面で選択できる来店日時は、ネット予約される日から30日後までとなりますが、発行されているラ・クーポンによって来店期日は異なりますので、ご注意ください。\n・サロンの予約状況によっては、ご希望に添えなかったり、お断りする場合もございます。\n・ラ・クーポンを利用した予約をキャンセルした場合、利用条件を満たしていれば、マイクーポンに返還されます。詳しくはこちら\n・本企画は予告無く変更・中止されることがございます。\n・本サービスへのアクセス集中や通信回線の状態による遅延、不具合などにより本サービスへのアクセスや登録・表示などができないことにより発生した障害、または起因して発生したすべての事象に関しましては、当社の責めに帰すべき場合を除き、責任を負いかねます。\n・ご来店いただける期間はサロンの営業時間によって異なります。\n\n---------------------------------------------------------------------\n＜獲得型_APPのみ＞\t\n・獲得したラ・クーポンは、お1人様1回までご利用いただけます。\n・他のラ・クーポンとの併用はできません。\n・ラ・クーポンには利用上限枚数（予約成立順）が設定されています。ラ・クーポン獲得済みであっても利用上限に達した場合はご利用いただけません。\n・獲得したラ・クーポンは、マイページのマイクーポンからご確認いただけます。\n・ラ・クーポンの利用条件に合致したクーポンのみが、ネット予約STEP中に表示されます。獲得していても、ラ・クーポンが表示されない場合、ラ・クーポンの利用条件等をご確認ください。（予約条件が一致しない、有効期限を過ぎている、利用枚数を超えた場合等）\n・ネット予約確定の前に、他のネット予約が成立し利用上限枚数に達した場合には、ネット予約がエラーとなり、ラ・クーポンをご利用になれません。\n・ラ・クーポンは、楽天ビューティのアプリでの予約時にのみご利用いただけます。予約成立後など後から利用することはできません。\n・ラ・クーポンを印刷して来店時にお持ちいただいても割引することはできません。\n・ラ・クーポンは、電話予約でご利用できません。\n・一部、ラ・クーポンを利用できない店舗がございます。\n・予約画面で選択できる来店日時は、ネット予約される日から30日後までとなりますが、発行されているラ・クーポンによって来店期日は異なりますので、ご注意ください。\n・サロンの予約状況によっては、ご希望に添えなかったり、お断りする場合もございます。\n・ラ・クーポンを利用した予約をキャンセルした場合、利用条件を満たしていれば、マイクーポンに返還されます。詳しくはこちら\n・本企画は予告無く変更・中止されることがございます。\n・本サービスへのアクセス集中や通信回線の状態による遅延、不具合などにより本サービスへのアクセスや登録・表示などができないことにより発生した障害、または起因して発生したすべての事象に関しましては、当社の責めに帰すべき場合を除き、責任を負いかねます。\n・ご来店いただける期間はサロンの営業時間によって異なります。\n\n\n-----------------------------------------------------------------------------------\n＜事前付与型＞\n・ラ・クーポンは、お1人様1回までご利用いただけます。\n・他のラ・クーポンとの併用はできません。\n・ラ・クーポンには利用上限枚数（予約成立順）が設定されています。ラ・クーポン獲得済みであっても利用上限に達した場合はご利用いただけません。\n・ラ・クーポンは、マイページのマイクーポンからご確認いただけます。\n・ラ・クーポンの利用条件に合致したクーポンのみが、ネット予約STEP中に表示されます。獲得していても、ラ・クーポンが表示されない場合、ラ・クーポンの利用条件等をご確認ください。（予約条件が一致しない、有効期限を過ぎている、利用枚数を超えた場合等）\n・ネット予約確定の前に、他のネット予約が成立し利用上限枚数に達した場合には、ネット予約がエラーとなり、ラ・クーポンをご利用になれません。\n・ラ・クーポンは、楽天ビューティ（サイト/アプリ）での予約時にのみご利用いただけます。予約成立後など後から利用することはできません。\n・ラ・クーポンを印刷して来店時にお持ちいただいても割引することはできません。\n・ラ・クーポンは、電話予約でご利用できません。\n・一部、ラ・クーポンを利用できない店舗がございます。\n・予約画面で選択できる来店日時は、ネット予約される日から30日後までとなりますが、発行されているラ・クーポンによって来店期日は異なりますので、ご注意ください。\n・サロンの予約状況によっては、ご希望に添えなかったり、お断りする場合もございます。\n・ラ・クーポンを利用した予約をキャンセルした場合、利用条件を満たしていれば、マイクーポンに返還されます。詳しくはこちら\n・本企画は予告無く変更・中止されることがございます。\n・本サービスへのアクセス集中や通信回線の状態による遅延、不具合などにより本サービスへのアクセスや登録・表示などができないことにより発生した障害、または起因して発生したすべての事象に関しましては、当社の責めに帰すべき場合を除き、責任を負いかねます。\n・ご来店いただける期間はサロンの営業時間によって異なります。\n\n\n\n---------　コメントアウト　---------\n※編成へ 各リンク先はこちらでお願いします！\n\nマイクーポン\nhttps://beauty.rakuten.co.jp/user/coupon.php\n\n詳しくはこちら\nhttps://beauty.faq.rakuten.net/user/s/detail/000005759",
      "エリアカテゴリー": "東京_獲得",
      "リスト提出予定日": "2024/9/20",
      "補足": "店舗リスト、メニューリストについてコメントがあればこちらにお願いいたします。",
      "毎月開催": "未定",
      "割引額": 500,
      "利用上限枚数": 3000,
      "利用最低金額": 4000,
      "メニュークーポン": "なし",
      "メニュー指定リスト": "※リスト提出予定日までにURL記載",
      "サムネイルURL": "https://beauty.rakuten.co.jp/cnt/common/banner/coupon/tokyo_coupon01.png",
      "対象店舗予約有無": "なし",
      "会員利用上限枚数(一人あたりの利用回数)": 1
    }
  ]