<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  <head>
    <meta charset="UTF-8">
    <title>【地域別クーポン】地元の美容室予約をおトクに！キャンペーン・特集一覧 | 楽天ビューティ</title>
    <meta name="viewport" content="width=1300">
    <meta name="description" content="美容室予約に使える割引クーポンやキャンペーンが続々。地元の美容室・ヘアサロンをおトクに予約して、地元を応援しよう！">
    <link rel="canonical" href="https://beauty.rakuten.co.jp/cnt/topics/campaign/area-all/">
    <meta property="og:type" content="article">
    <meta property="og:site_name" content="楽天ビューティ">
    <meta property="og:url" content="https://beauty.rakuten.co.jp/cnt/topics/campaign/area-all/">
    <meta property="fb:app_id" content="461054960620939">
    <meta property="og:title" content="【地域別クーポン】地元の美容室予約をおトクに！キャンペーン・特集一覧 | 楽天ビューティ">
    <meta property="og:description" content="美容室予約に使える割引クーポンやキャンペーンが続々。地元の美容室・ヘアサロンをおトクに予約して、地元を応援しよう！">
    <meta property="og:image" content="https://beauty.rakuten.co.jp/cnt/topics/campaign/area-all/img/share.png?v20250109">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="apple-touch-icon-precomposed" href="//beauty.rakuten.co.jp/cnt/common/images/beauty_192px.png?v20180702">
    <link rel="shortcut icon" href="//jp.rakuten-static.com/1/im/ci/rakuten/favicon/pi.ico?20181001">
    <link rel="mask-icon" href="//jp.rakuten-static.com/1/im/ci/rakuten/favicon/Rakuten_SafariPin.svg?20181001" color="#ff41be">
    <link href="css/main.css?v20250109" rel="stylesheet" type="text/css">
    <link rel="dns-prefetch" href="https://cdn.rex.contents.rakuten.co.jp">
    <script>
      const ua = navigator.userAgent;
      //- viewport for Tablet
      if( ua.indexOf('iPhone') > 0 || ua.indexOf('iPod') > 0 || (ua.indexOf('Android') > 0 && ua.indexOf('Mobile') > 0) || ( ua.indexOf('windows') > 0 && ua.indexOf('phone') > 0) || ( ua.indexOf('firefox') > 0 && ua.indexOf('mobile') > 0) ) {
        document.querySelector("meta[name='viewport']").setAttribute("content", "width=device-width,initial-scale=1,user-scalable=no");
      } else if( ua.indexOf('iPad') > 0 || ua.indexOf('Android') > 0 || (ua.indexOf('windows') > 0 && ua.indexOf('touch') > 0) || ( ua.indexOf('firefox') > 0 && ua.indexOf('tablet') > 0) ) {
        document.querySelector("meta[name='viewport']").setAttribute("content", "width=1300");
      }
    </script>
  </head>
  <body>
    <noscript>
      <iframe class="txt_h vis_h" src="//www.googletagmanager.com/ns.html?id=GTM-RKLN" height="0" width="0"></iframe>
    </noscript>
    <script>
      (function(w,d,s,l,i){
      w[l]=w[l]||[];
      w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});
      var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';
      j.async=true;
      j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;
      f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-RKLN');
    </script>
    <script src="//jp.rakuten-static.com/1/grp/banner/js/create.js"></script>
    <div id="mkdiv_header_pitari"></div>
    <header class="-excludeApp" id="SP_header">
      <p id="serviceID"><a class="logo" href="/"><img src="https://beauty.rakuten.co.jp/sp/images/global/rb_logo_v201807.svg" width="74" height="40"></a></p>
    </header>
        <header id="PC_header">
          <div class="rc-h-standard">
            <noscript>
              <div class="rc-h-noscript-bar">
                <div class="rc-h-inner">
                  <p>JavaScriptが無効の為、一部のコンテンツをご利用いただけません。JavaScriptの設定を有効にしてからご利用いただきますようお願いいたします。（<a href="//ichiba.faq.rakuten.co.jp/app/answers/detail/a_id/154">設定方法</a>）</p>
                </div>
              </div>
            </noscript>
            <div class="rc-h-utility-bar">
              <div class="rc-h-inner">
                <div class="rb_wrapper">
                  <ul class="rc-h-group-nav">
                    <li id="grpNote">
                      <noscript><a href="//card.rakuten.co.jp/entry/">今すぐ2,000ポイント！</a></noscript>
                    </li>
                    <li class="rc-h-dropdown rc-h-group-dropdown"><a href="//www.rakuten.co.jp/sitemap/">楽天グループ</a>
                      <ul class="rc-h-dropdown-panel">
                        <li><a href="//books.rakuten.co.jp/?scid=wi_grp_gmx_bea_hepullbu_boo" rel="nofollow">楽天ブックス</a></li>
                        <li><a href="//hoken.rakuten.co.jp/?scid=wi_grp_gmx_bea_hepullbu_hkn" rel="nofollow">楽天の保険</a></li>
                        <li><a href="//www.infoseek.co.jp/?scid=wi_grp_gmx_bea_hepullbu_ifs" rel="nofollow">インフォシーク</a></li>
                        <li><a href="//sm.rakuten.co.jp/?scid=wi_grp_gmx_bea_hepullbu_sup&amp;xadid=wi_grp_gmx_bea_hepullbu_sup" rel="nofollow">楽天西友ネットスーパー</a></li>
                        <li><a href="//www.rakuten.co.jp/sitemap/">サービス一覧</a></li>
                      </ul>
                    </li>
                    <li><a href="//www.rakuten-life.co.jp/?scid=wi_grp_gmx_bea_hetopbu_sei" rel="nofollow">楽天生命</a></li>
                    <li><a href="//www.rakuten.co.jp/" rel="nofollow">楽天市場</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="rb_wrapper">
              <div class="rc-h-service-bar">
                <div class="rc-h-inner">
                  <div class="rc-h-site-id">
                    <p class="rc-h-logo"><a href="/"><img src="//beauty.rakuten.co.jp/images/global/rb_logo_v201807.svg" width="206" height="32" alt="Rakuten BEAUTY"></a></p>
                  </div>
                  <div class="rc-h-site-menu">
                    <div class="rc-h-menu-btns">
                      <ul class="rc-h-help-nav">
                        <li><a href="/cnt/topics/guide/">はじめての方へ</a></li>
                        <li><a href="//beauty.faq.rakuten.net/user/s/">ヘルプ</a></li>
                        <li><a href="//emagazine.rakuten.co.jp/ne?n=294" onclick="_gaq.push(['_trackEvent', 'permission', 'click', 'rbpc_header']);">お得な情報を受け取る</a></li>
                        <li><a href="/cnt/topics/bp/?l-id=rb_pc_header_bp">掲載ご希望のサロン様</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <nav id="globalNav">
            <ul class="globalNav__list c-container">
              <li class="globalNav__item"><a class="globalNav__link" href="/">美容院・ヘアサロン</a></li>
              <li class="globalNav__item"><a class="globalNav__link" href="/nail/">ネイル・まつげサロン</a></li>
              <li class="globalNav__item"><a class="globalNav__link" href="/esthe/">エステサロン</a></li>
              <li class="globalNav__item"><a class="globalNav__link" href="/relax/">リラク・マッサージサロン</a></li>
              <li class="globalNav__item"><a class="globalNav__link" href="/style/">ヘアカタログ</a></li>
              <li class="globalNav__item"><a class="globalNav__link" href="/naildesign/">ネイルカタログ</a></li>
              <li class="globalNav__item"><a class="globalNav__link" href="/cnt/topics/">キャンペーン一覧・特集</a></li>
              <li class="globalNav__item"><a class="globalNav__link" href="/rakulab/">Raku Lab</a></li>
            </ul>
          </nav>
        </header>
        <div class="c-container" id="breadcrumb">
          <ul class="c-breadcrumbs">
            <li class="c-breadcrumbs__item"><a class="c-breadcrumbs__link" href="/">楽天ビューティ</a></li>
            <li class="c-breadcrumbs__item"><strong class="c-breadcrumbs__current">【地域別クーポン】地元の美容室予約をおトクに！キャンペーン・特集一覧</strong></li>
          </ul>
        </div>
        <script type="application/ld+json">
           {
            "@context": "https://schema.org",
            "@type": "BreadcrumbList",
            "itemListElement": [
              {
                "@type": "ListItem",
                "position": 1,
                "name": "楽天ビューティ",
                "item": "https://beauty.rakuten.co.jp/"
              },
              {
                "@type": "ListItem",
                "position": 2,
                "name": "【地域別クーポン】地元の美容室予約をおトクに！キャンペーン・特集一覧"
              }
            ]
           }
        </script>
    <main id="content">
      <div id="AreaCampaignListPage">
        <section class="main" id="Main">
          <h1 class="main__title"><img class="main__titleImg -pc" src="img/main.png?v20250109" alt="【地域別クーポン】地元の美容室予約をおトクに！キャンペーン・特集一覧"><img class="main__titleImg -sp" src="img/main_sp.png?v20250109" alt="【地域別クーポン】地元の美容室予約をおトクに！キャンペーン・特集一覧"></h1>
        </section>
        <h2 class="description_text">あなたの地元で使えるクーポンやキャンペーンなど、<br class="brsp">美容室をおトクに予約できる企画が盛りだくさん！</h2>
        <nav class="navigation" id="Navigation">
          <h3 class="navigation__title">あなたの地元を選ぶ</h3>
          <ul class="navigation__btnWrap">
            <li class="navigation__btnBox"><a class="navigation__btnLink" href="#Tokyo"><span class="navigation__btnTxt">東京都</span></a></li>
            <li class="navigation__btnBox"><a class="navigation__btnLink" href="#Sendai"><span class="navigation__btnTxt">仙台市</span></a></li>
            <li class="navigation__btnBox"><a class="navigation__btnLink" href="#Kobe"><span class="navigation__btnTxt">神戸市</span></a></li>
            <li class="navigation__btnBox"><a class="navigation__btnLink" href="#Fukuoka"><span class="navigation__btnTxt">福岡市</span></a></li>
            <li class="navigation__btnBox"><a class="navigation__btnLink" href="#Saitama"><span class="navigation__btnTxt -small">さいたま市</span></a></li>
            <li class="navigation__btnBox"><a class="navigation__btnLink" href="#Sapporo"><span class="navigation__btnTxt">札幌市</span></a></li>
            <li class="navigation__btnBox"><a class="navigation__btnLink" href="#Hiroshima"><span class="navigation__btnTxt">広島市</span></a></li>
          </ul>
        </nav>
        <section class="tokyo" id="Tokyo">
          <div class="title__wrapper">
            <h3 class="title__box"><img class="title__img" src="img/tokyo_logo.svg" alt="東京プロジェクト"><span class="title__txt">東京都のサロン対象<br><span class="title__txt--small">キャンペーン・特集一覧</span></span></h3>
          </div>
          <div class="notes__wrapper">
            <div class="notes__inner">
              <ul class="notes__list">
                <li class="notes__detail">ラ・クーポンとは楽天のクーポンの総称です。</li>
                <li class="notes__detail">電話予約はポイントの対象になりませんのでご注意ください。</li>
              </ul>
            </div>
          </div>
          <div class="cpn_lists" id="CampaignTokyo">
                        <script>var dirStr = '';</script>
                        <div class="campaignListTokyo" id="CampaignListTokyo">
                          <h3 class="area__title3">東京都対象キャンペーン</h3>
                          <div class="campaignListWrap">
                            <template v-for="res in results.campaign"><a class="campaignListBox" v-bind:href="res.url" v-if="res.directory !== dirStr">
                                <div class="campaignListBanner"><img class="campaignListBannerImg" v-bind:src="res.banner" v-bind:alt="res.alt"></div>
                                <div class="campaignListTxts">
                                  <ul class="campaignListMain">
                                    <li class="campaignListTagBox">
                                      <template v-for="tag in res.tag">
                                        <p class="campaignListTag -pink" v-if="tag.name == 'エントリー必要' || tag.name == 'ラ・クーポン'">{{ tag.name }}</p>
                                        <p class="campaignListTag -disable" v-else-if="tag.name == 'エントリー不要'">{{ tag.name }}</p>
                                        <p class="campaignListTag" v-else>{{ tag.name }}</p>
                                      </template>
                                    </li>
                                    <li class="campaignListTxtBox">
                                      <template v-for="terms in res.terms">
                                        <p class="campaignListTxt">{{ terms.txt }}</p>
                                      </template>
                                    </li>
                                  </ul>
                                  <ul class="campaignListDetail">
                                    <p class="campaignListTxt -small">詳細はこちら<i class="icon-chevronRight"></i></p>
                                  </ul>
                                </div></a></template>
                          </div>
                          <div class="tokushuTokyo" id="TokushuTokyo" v-if="results.tokushu &amp;&amp; results.tokushu.length &gt; 0">
                            <h3 class="tokushu__title">東京都のサロン特集</h3>
                            <div class="tokushuBox"><a class="tokushuBannerBox" v-for="tok in results.tokushu" v-bind:href="tok.url">
                                <div class="tokushuBanner"><img class="tokushuBanner__img" v-bind:src="tok.banner" v-bind:alt="tok.alt"></div>
                                <div class="tokushuBox__title">{{ tok.title }}</div>
                                <div class="tokushuBox__txt">{{ tok.txt }}</div></a></div>
                          </div>
                        </div>
          </div>
        </section>
        <section class="sendai" id="Sendai">
          <div class="title__wrapper">
            <h3 class="title__box"><img class="title__img" src="img/sendai_logo.svg" alt="仙台プロジェクト"><span class="title__txt">仙台市のサロン対象<br><span class="title__txt--small">キャンペーン・特集一覧</span></span></h3>
          </div>
          <div class="notes__wrapper">
            <div class="notes__inner">
              <ul class="notes__list">
                <li class="notes__detail">ラ・クーポンとは楽天のクーポンの総称です。</li>
                <li class="notes__detail">電話予約はポイントの対象になりませんのでご注意ください。</li>
              </ul>
            </div>
          </div>
          <div class="cpn_lists" id="CampaignSendai">
                        <script>var dirStr = '';</script>
                        <div class="campaignListSendai" id="CampaignListSendai">
                          <h3 class="area__title3">仙台市対象キャンペーン</h3>
                          <div class="campaignListWrap">
                            <template v-for="res in results.campaign"><a class="campaignListBox" v-bind:href="res.url" v-if="res.directory !== dirStr">
                                <div class="campaignListBanner"><img class="campaignListBannerImg" v-bind:src="res.banner" v-bind:alt="res.alt"></div>
                                <div class="campaignListTxts">
                                  <ul class="campaignListMain">
                                    <li class="campaignListTagBox">
                                      <template v-for="tag in res.tag">
                                        <p class="campaignListTag -pink" v-if="tag.name == 'エントリー必要' || tag.name == 'ラ・クーポン'">{{ tag.name }}</p>
                                        <p class="campaignListTag -disable" v-else-if="tag.name == 'エントリー不要'">{{ tag.name }}</p>
                                        <p class="campaignListTag" v-else>{{ tag.name }}</p>
                                      </template>
                                    </li>
                                    <li class="campaignListTxtBox">
                                      <template v-for="terms in res.terms">
                                        <p class="campaignListTxt">{{ terms.txt }}</p>
                                      </template>
                                    </li>
                                  </ul>
                                  <ul class="campaignListDetail">
                                    <p class="campaignListTxt -small">詳細はこちら<i class="icon-chevronRight"></i></p>
                                  </ul>
                                </div></a></template>
                          </div>
                          <div class="tokushuSendai" id="TokushuSendai" v-if="results.tokushu &amp;&amp; results.tokushu.length &gt; 0">
                            <h3 class="tokushu__title">仙台市のサロン特集</h3>
                            <div class="tokushuBox"><a class="tokushuBannerBox" v-for="tok in results.tokushu" v-bind:href="tok.url">
                                <div class="tokushuBanner"><img class="tokushuBanner__img" v-bind:src="tok.banner" v-bind:alt="tok.alt"></div>
                                <div class="tokushuBox__title">{{ tok.title }}</div>
                                <div class="tokushuBox__txt">{{ tok.txt }}</div></a></div>
                          </div>
                        </div>
          </div>
        </section>
        <section class="kobe" id="Kobe">
          <div class="title__wrapper">
            <h3 class="title__box"><img class="title__img" src="img/kobe_logo.svg" alt="神戸プロジェクト"><span class="title__txt">神戸市のサロン対象<br><span class="title__txt--small">キャンペーン・特集一覧</span></span></h3>
          </div>
          <div class="notes__wrapper">
            <div class="notes__inner">
              <ul class="notes__list">
                <li class="notes__detail">ラ・クーポンとは楽天のクーポンの総称です。</li>
                <li class="notes__detail">電話予約はポイントの対象になりませんのでご注意ください。</li>
              </ul>
            </div>
          </div>
          <div class="cpn_lists" id="CampaignKobe">
                        <script>var dirStr = '';</script>
                        <div class="campaignListKobe" id="CampaignListKobe">
                          <h3 class="area__title3">神戸市対象キャンペーン</h3>
                          <div class="campaignListWrap">
                            <template v-for="res in results.campaign"><a class="campaignListBox" v-bind:href="res.url" v-if="res.directory !== dirStr">
                                <div class="campaignListBanner"><img class="campaignListBannerImg" v-bind:src="res.banner" v-bind:alt="res.alt"></div>
                                <div class="campaignListTxts">
                                  <ul class="campaignListMain">
                                    <li class="campaignListTagBox">
                                      <template v-for="tag in res.tag">
                                        <p class="campaignListTag -pink" v-if="tag.name == 'エントリー必要' || tag.name == 'ラ・クーポン'">{{ tag.name }}</p>
                                        <p class="campaignListTag -disable" v-else-if="tag.name == 'エントリー不要'">{{ tag.name }}</p>
                                        <p class="campaignListTag" v-else>{{ tag.name }}</p>
                                      </template>
                                    </li>
                                    <li class="campaignListTxtBox">
                                      <template v-for="terms in res.terms">
                                        <p class="campaignListTxt">{{ terms.txt }}</p>
                                      </template>
                                    </li>
                                  </ul>
                                  <ul class="campaignListDetail">
                                    <p class="campaignListTxt -small">詳細はこちら<i class="icon-chevronRight"></i></p>
                                  </ul>
                                </div></a></template>
                          </div>
                          <div class="tokushuKobe" id="TokushuKobe" v-if="results.tokushu &amp;&amp; results.tokushu.length &gt; 0">
                            <h3 class="tokushu__title">神戸市のサロン特集</h3>
                            <div class="tokushuBox"><a class="tokushuBannerBox" v-for="tok in results.tokushu" v-bind:href="tok.url">
                                <div class="tokushuBanner"><img class="tokushuBanner__img" v-bind:src="tok.banner" v-bind:alt="tok.alt"></div>
                                <div class="tokushuBox__title">{{ tok.title }}</div>
                                <div class="tokushuBox__txt">{{ tok.txt }}</div></a></div>
                          </div>
                        </div>
          </div>
        </section>
        <section class="fukuoka" id="Fukuoka">
          <div class="title__wrapper">
            <h3 class="title__box"><img class="title__img" src="img/fukuoka_logo.svg" alt="福岡プロジェクト"><span class="title__txt">福岡市のサロン対象<br><span class="title__txt--small">キャンペーン・特集一覧</span></span></h3>
          </div>
          <div class="notes__wrapper">
            <div class="notes__inner">
              <ul class="notes__list">
                <li class="notes__detail">ラ・クーポンとは楽天のクーポンの総称です。</li>
                <li class="notes__detail">電話予約はポイントの対象になりませんのでご注意ください。</li>
              </ul>
            </div>
          </div>
          <div class="cpn_lists" id="CampaignFukuoka">
                        <script>var dirStr = '';</script>
                        <div class="campaignListFukuoka" id="CampaignListFukuoka">
                          <h3 class="area__title3">福岡市対象キャンペーン</h3>
                          <div class="campaignListWrap">
                            <template v-for="res in results.campaign"><a class="campaignListBox" v-bind:href="res.url" v-if="res.directory !== dirStr">
                                <div class="campaignListBanner"><img class="campaignListBannerImg" v-bind:src="res.banner" v-bind:alt="res.alt"></div>
                                <div class="campaignListTxts">
                                  <ul class="campaignListMain">
                                    <li class="campaignListTagBox">
                                      <template v-for="tag in res.tag">
                                        <p class="campaignListTag -pink" v-if="tag.name == 'エントリー必要' || tag.name == 'ラ・クーポン'">{{ tag.name }}</p>
                                        <p class="campaignListTag -disable" v-else-if="tag.name == 'エントリー不要'">{{ tag.name }}</p>
                                        <p class="campaignListTag" v-else>{{ tag.name }}</p>
                                      </template>
                                    </li>
                                    <li class="campaignListTxtBox">
                                      <template v-for="terms in res.terms">
                                        <p class="campaignListTxt">{{ terms.txt }}</p>
                                      </template>
                                    </li>
                                  </ul>
                                  <ul class="campaignListDetail">
                                    <p class="campaignListTxt -small">詳細はこちら<i class="icon-chevronRight"></i></p>
                                  </ul>
                                </div></a></template>
                          </div>
                          <div class="tokushuFukuoka" id="TokushuFukuoka" v-if="results.tokushu &amp;&amp; results.tokushu.length &gt; 0">
                            <h3 class="tokushu__title">福岡市のサロン特集</h3>
                            <div class="tokushuBox"><a class="tokushuBannerBox" v-for="tok in results.tokushu" v-bind:href="tok.url">
                                <div class="tokushuBanner"><img class="tokushuBanner__img" v-bind:src="tok.banner" v-bind:alt="tok.alt"></div>
                                <div class="tokushuBox__title">{{ tok.title }}</div>
                                <div class="tokushuBox__txt">{{ tok.txt }}</div></a></div>
                          </div>
                        </div>
          </div>
        </section>
        <section class="saitama" id="Saitama">
          <div class="title__wrapper">
            <h3 class="title__box"><img class="title__img" src="img/saitama_logo.svg" alt="さいたまプロジェクト"><span class="title__txt">さいたま市のサロン対象<br><span class="title__txt--small">キャンペーン・特集一覧</span></span></h3>
          </div>
          <div class="notes__wrapper">
            <div class="notes__inner">
              <ul class="notes__list">
                <li class="notes__detail">ラ・クーポンとは楽天のクーポンの総称です。</li>
                <li class="notes__detail">電話予約はポイントの対象になりませんのでご注意ください。</li>
              </ul>
            </div>
          </div>
          <div class="cpn_lists" id="CampaignSaitama">
                        <script>var dirStr = '';</script>
                        <div class="campaignListSaitama" id="CampaignListSaitama">
                          <h3 class="area__title3">さいたま市対象キャンペーン</h3>
                          <div class="campaignListWrap">
                            <template v-for="res in results.campaign"><a class="campaignListBox" v-bind:href="res.url" v-if="res.directory !== dirStr">
                                <div class="campaignListBanner"><img class="campaignListBannerImg" v-bind:src="res.banner" v-bind:alt="res.alt"></div>
                                <div class="campaignListTxts">
                                  <ul class="campaignListMain">
                                    <li class="campaignListTagBox">
                                      <template v-for="tag in res.tag">
                                        <p class="campaignListTag -pink" v-if="tag.name == 'エントリー必要' || tag.name == 'ラ・クーポン'">{{ tag.name }}</p>
                                        <p class="campaignListTag -disable" v-else-if="tag.name == 'エントリー不要'">{{ tag.name }}</p>
                                        <p class="campaignListTag" v-else>{{ tag.name }}</p>
                                      </template>
                                    </li>
                                    <li class="campaignListTxtBox">
                                      <template v-for="terms in res.terms">
                                        <p class="campaignListTxt">{{ terms.txt }}</p>
                                      </template>
                                    </li>
                                  </ul>
                                  <ul class="campaignListDetail">
                                    <p class="campaignListTxt -small">詳細はこちら<i class="icon-chevronRight"></i></p>
                                  </ul>
                                </div></a></template>
                          </div>
                          <div class="tokushuSaitama" id="TokushuSaitama" v-if="results.tokushu &amp;&amp; results.tokushu.length &gt; 0">
                            <h3 class="tokushu__title">さいたま市のサロン特集</h3>
                            <div class="tokushuBox"><a class="tokushuBannerBox" v-for="tok in results.tokushu" v-bind:href="tok.url">
                                <div class="tokushuBanner"><img class="tokushuBanner__img" v-bind:src="tok.banner" v-bind:alt="tok.alt"></div>
                                <div class="tokushuBox__title">{{ tok.title }}</div>
                                <div class="tokushuBox__txt">{{ tok.txt }}</div></a></div>
                          </div>
                        </div>
          </div>
        </section>
        <section class="sapporo" id="Sapporo">
          <div class="title__wrapper">
            <h3 class="title__box"><img class="title__img" src="img/sapporo_logo.svg" alt="札幌プロジェクト"><span class="title__txt">札幌市のサロン対象<br><span class="title__txt--small">キャンペーン・特集一覧</span></span></h3>
          </div>
          <div class="notes__wrapper">
            <div class="notes__inner">
              <ul class="notes__list">
                <li class="notes__detail">ラ・クーポンとは楽天のクーポンの総称です。</li>
                <li class="notes__detail">電話予約はポイントの対象になりませんのでご注意ください。</li>
              </ul>
            </div>
          </div>
          <div class="cpn_lists" id="CampaignSapporo">
                        <script>var dirStr = '';</script>
                        <div class="campaignListSapporo" id="CampaignListSapporo">
                          <h3 class="area__title3">札幌市対象キャンペーン</h3>
                          <div class="campaignListWrap">
                            <template v-for="res in results.campaign"><a class="campaignListBox" v-bind:href="res.url" v-if="res.directory !== dirStr">
                                <div class="campaignListBanner"><img class="campaignListBannerImg" v-bind:src="res.banner" v-bind:alt="res.alt"></div>
                                <div class="campaignListTxts">
                                  <ul class="campaignListMain">
                                    <li class="campaignListTagBox">
                                      <template v-for="tag in res.tag">
                                        <p class="campaignListTag -pink" v-if="tag.name == 'エントリー必要' || tag.name == 'ラ・クーポン'">{{ tag.name }}</p>
                                        <p class="campaignListTag -disable" v-else-if="tag.name == 'エントリー不要'">{{ tag.name }}</p>
                                        <p class="campaignListTag" v-else>{{ tag.name }}</p>
                                      </template>
                                    </li>
                                    <li class="campaignListTxtBox">
                                      <template v-for="terms in res.terms">
                                        <p class="campaignListTxt">{{ terms.txt }}</p>
                                      </template>
                                    </li>
                                  </ul>
                                  <ul class="campaignListDetail">
                                    <p class="campaignListTxt -small">詳細はこちら<i class="icon-chevronRight"></i></p>
                                  </ul>
                                </div></a></template>
                          </div>
                          <div class="tokushuSapporo" id="TokushuSapporo" v-if="results.tokushu &amp;&amp; results.tokushu.length &gt; 0">
                            <h3 class="tokushu__title">札幌市のサロン特集</h3>
                            <div class="tokushuBox"><a class="tokushuBannerBox" v-for="tok in results.tokushu" v-bind:href="tok.url">
                                <div class="tokushuBanner"><img class="tokushuBanner__img" v-bind:src="tok.banner" v-bind:alt="tok.alt"></div>
                                <div class="tokushuBox__title">{{ tok.title }}</div>
                                <div class="tokushuBox__txt">{{ tok.txt }}</div></a></div>
                          </div>
                        </div>
          </div>
        </section>
        <section class="hiroshima" id="Hiroshima">
          <div class="title__wrapper">
            <h3 class="title__box"><img class="title__img" src="img/hiroshima_logo.svg" alt="広島プロジェクト"><span class="title__txt">広島市のサロン対象<br><span class="title__txt--small">キャンペーン・特集一覧</span></span></h3>
          </div>
          <div class="notes__wrapper">
            <div class="notes__inner">
              <ul class="notes__list">
                <li class="notes__detail">ラ・クーポンとは楽天のクーポンの総称です。</li>
                <li class="notes__detail">電話予約はポイントの対象になりませんのでご注意ください。</li>
              </ul>
            </div>
          </div>
          <div class="cpn_lists" id="CampaignHiroshima">
                        <script>var dirStr = '';</script>
                        <div class="campaignListHiroshima" id="CampaignListHiroshima">
                          <h3 class="area__title3">広島市対象キャンペーン</h3>
                          <div class="campaignListWrap">
                            <template v-for="res in results.campaign"><a class="campaignListBox" v-bind:href="res.url" v-if="res.directory !== dirStr">
                                <div class="campaignListBanner"><img class="campaignListBannerImg" v-bind:src="res.banner" v-bind:alt="res.alt"></div>
                                <div class="campaignListTxts">
                                  <ul class="campaignListMain">
                                    <li class="campaignListTagBox">
                                      <template v-for="tag in res.tag">
                                        <p class="campaignListTag -pink" v-if="tag.name == 'エントリー必要' || tag.name == 'ラ・クーポン'">{{ tag.name }}</p>
                                        <p class="campaignListTag -disable" v-else-if="tag.name == 'エントリー不要'">{{ tag.name }}</p>
                                        <p class="campaignListTag" v-else>{{ tag.name }}</p>
                                      </template>
                                    </li>
                                    <li class="campaignListTxtBox">
                                      <template v-for="terms in res.terms">
                                        <p class="campaignListTxt">{{ terms.txt }}</p>
                                      </template>
                                    </li>
                                  </ul>
                                  <ul class="campaignListDetail">
                                    <p class="campaignListTxt -small">詳細はこちら<i class="icon-chevronRight"></i></p>
                                  </ul>
                                </div></a></template>
                          </div>
                          <div class="tokushuHiroshima" id="TokushuHiroshima" v-if="results.tokushu &amp;&amp; results.tokushu.length &gt; 0">
                            <h3 class="tokushu__title">広島市のサロン特集</h3>
                            <div class="tokushuBox"><a class="tokushuBannerBox" v-for="tok in results.tokushu" v-bind:href="tok.url">
                                <div class="tokushuBanner"><img class="tokushuBanner__img" v-bind:src="tok.banner" v-bind:alt="tok.alt"></div>
                                <div class="tokushuBox__title">{{ tok.title }}</div>
                                <div class="tokushuBox__txt">{{ tok.txt }}</div></a></div>
                          </div>
                        </div>
          </div>
        </section>
        <section class="empower" id="Empower">
          <ul class="empower__wrap">
            <li class="empower__box"><a class="empower__link" href="https://corp.rakuten.co.jp/event/empowerjapan/?scid=wi_corp_empowerjapan_beauty"><img class="empower__img" src="img/bn_empowerJP_640x160.png?v20250109" alt="未来につなごう。にっぽんのいいもの 日本応援 楽天グループのお得な応援特集！"></a></li>
            <li class="empower__box">
              <h2 class="c-heading__title"><span class="-pc">＼</span>日々のお出かけで地域のお店を応援！<span class="-pc">／</span></h2>
              <p class="empower__txt">日本に溢れる沢山の“いいもの”を 守りたい。今と未来の作り手を応援してゆくため、日本各地の名産品をお得に購入できるキャンペーンをはじめ、地域・店舗・生産者の方々を応援できるお得な特集を各種紹介しています。この機会に、ぜひご参加ください！</p>
            </li>
          </ul>
        </section>
        <section class="campaign" id="Campaign">
          <div class="c-heading--huge">
            <h3 class="c-heading__title">その他のキャンペーン</h3>
            <p class="c-heading__subTitle">キャンペーンや特典、ラ・クーポンを利用して、サロン予約をもっとお得に！</p>
          </div>
          <div class="cpn_lists">
                        <script>var dirStr = '';</script>
                        <div class="campaignList" id="CampaignList">
                          <div class="campaignListWrap">
                            <template v-for="res in results"><a class="campaignListBox" v-bind:href="res.url" v-if="res.directory !== dirStr">
                                <div class="campaignListBanner"><img class="campaignListBannerImg" v-bind:src="res.banner" v-bind:alt="res.alt"></div>
                                <div class="campaignListTxts">
                                  <ul class="campaignListMain">
                                    <li class="campaignListTagBox">
                                      <template v-for="tag in res.tag">
                                        <p class="campaignListTag -pink" v-if="tag.name == 'エントリー必要' || tag.name == 'ラ・クーポン'">{{ tag.name }}</p>
                                        <p class="campaignListTag -disable" v-else-if="tag.name == 'エントリー不要'">{{ tag.name }}</p>
                                        <p class="campaignListTag" v-else>{{ tag.name }}</p>
                                      </template>
                                    </li>
                                    <li class="campaignListTxtBox">
                                      <template v-for="terms in res.terms">
                                        <p class="campaignListTxt">{{ terms.txt }}</p>
                                      </template>
                                    </li>
                                  </ul>
                                  <ul class="campaignListDetail">
                                    <p class="campaignListTxt -small">詳細はこちら<i class="icon-chevronRight"></i></p>
                                  </ul>
                                </div></a></template>
                          </div>
                        </div>
          </div>
        </section>
      </div>
    </main>
    <footer id="PC_footer">
      <ul class="global-footer__utility">
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="/cnt/topics/bp/">掲載ご希望のサロン様</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="/cnt/terms/">利用規約</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="/sitemap/">サイトマップ</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="//beauty.faq.rakuten.net/user/s/ask">お問い合わせ</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="//beauty.faq.rakuten.net/user/s/">ヘルプ</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="/cnt/topics/release/">リリース情報</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="//www.facebook.com/RakutenBeauty" target="_blank">Facebook</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="//x.com/Rakuten__BEAUTY" target="_blank">X</a></li>
      </ul>
      <div class="rc-f-standard rc-f-liquid rc-f-custom00">
        <div class="rc-f-section-content00">
          <div class="rc-f-section-bar rc-f-first">
            <div class="rc-f-inner">
              <dl class="rc-f-dl-inline-box">
                <dt class="rc-f-dl-title01 rc-f-text-em">楽天グループ</dt>
                <dd>
                  <ul class="rc-f-list-inline">
                    <li><a class="rc-f-btn" href="//www.rakuten.co.jp/sitemap/"><span>サービス一覧</span></a></li>
                    <li><a class="rc-f-btn" href="//www.rakuten.co.jp/sitemap/inquiry.html"><span>お問い合わせ一覧</span></a></li>
                  </ul>
                </dd>
              </dl>
            </div>
          </div>
          <div class="rc-f-section-bar">
            <div class="rc-f-inner">
              <dl class="rc-f-dl-inline rc-f-block">
                <dt class="rc-f-dl-title01">おすすめ</dt>
                <dd class="rc-f-text-strong" id="grpRakutenRecommend"><a href="//www.rakuten-card.co.jp/">【楽天カード】楽天ポイントが貯まるクレジットカード。年会費無料。</a></dd>
              </dl>
              <ul class="rc-f-row rc-f-row-dot rc-f-row4">
                <li class="rc-f-col rc-f-first">
                  <div class="rc-f-media rc-f-nav-item rc-f-nav-item">
                    <div class="rc-f-media-head"><a href="/rakulab/">「キレイの主役」を応援するビューティメディア</a></div>
                    <div class="rc-f-media-body">Raku Lab(ラクラボ)</div>
                  </div>
                </li>
                <li class="rc-f-col">
                  <div class="rc-f-media rc-f-nav-item rc-f-nav-item-delimit">
                    <div class="rc-f-media-head"><a href="https://brandavenue.rakuten.co.jp/">人気ブランド新作やヘア小物をGET</a></div>
                    <div class="rc-f-media-body">Rakuten Fashion</div>
                  </div>
                </li>
                <li class="rc-f-col">
                  <div class="rc-f-media rc-f-nav-item rc-f-nav-item-delimit">
                    <div class="rc-f-media-head"><a href="https://www.infoseek.co.jp/">楽天が運営するポータルサイト</a></div>
                    <div class="rc-f-media-body">Infoseekトップ</div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div id="mkdiv_footer_pitari"></div>
        <div class="rc-f-section01">
          <div class="-excludeApp" id="footerRakutenBnr"><a href="//corp.rakuten.co.jp/event/climateaction/?scid=wi_bty_gogreen_footer" target="_blank"><img class="footerRakutenBnr__img" src="//cloudinary-a.akamaihd.net/vivivi/image/upload/t_beauty,f_auto/w_150,h_40/v1/front/image/common/bnr_gogreen_pc.svg" alt="本サービスは再生可能エネルギー100%" width="150" height="40"></a></div>
          <div class="rc-f-inner">
            <ul class="rcf-list-inline rcf-list-block">
              <li><a href="//corp.rakuten.co.jp/" rel="nofollow">企業情報</a></li>
              <li><a href="//privacy.rakuten.co.jp/" rel="nofollow">個人情報保護方針</a></li>
              <li><a href="//corp.rakuten.co.jp/csr/">社会的責任[CSR]</a></li>
              <li><a href="//corp.rakuten.co.jp/careers/">採用情報</a></li>
            </ul>
            <p class="copyright">© Rakuten Group, Inc.</p>
          </div>
        </div>
      </div>
      <script type="text/javascript" src="//jp.rakuten-static.com/1/js/lib/prm_selector.js"></script>
      <script type="text/javascript" src="//jp.rakuten-static.com/1/js/grp/hdr/prm_sender.js"></script>
      <script type="text/javascript" src="//jp.rakuten-static.com/1/js/grp/ftr/js/parm_selector_footer.js"></script>
    </footer>
    <div id="SP_footer">
      <div class="c-section c-text--alignCenter">
        <ul class="c-list--inlineSmall c-section__inside">
          <li class="c-list__item"><a href="/cnt/topics/guide/">はじめての方へ</a></li>
          <li class="c-list__item"><a href="//beauty.faq.rakuten.net/user/s/ask">お問い合わせ</a></li>
          <li class="c-list__item"><a href="//beauty.faq.rakuten.net/user/s/">ヘルプ</a></li>
          <li class="c-list__item"><a href="/cnt/topics/release/">リリース情報</a></li>
          <li class="c-list__item"><a href="/cnt/terms/">利用規約</a></li>
          <li class="c-list__item"><a href="/cnt/topics/bp/">掲載ご希望のサロン様</a></li>
        </ul>
      </div>
      <div id="footer">
        <ul>
          <li><a rel="nofollow" href="//corp.rakuten.co.jp/">企業情報</a></li>
          <li><a rel="nofollow" href="//privacy.rakuten.co.jp/sp/">個人情報保護方針</a></li>
          <li><a rel="nofollow" href="//www.rakuten.co.jp/sitemap/sp/">楽天のサービス一覧</a></li>
          <li><a rel="nofollow" href="//www.rakuten.co.jp/sitemap/sp/app.html">アプリ一覧</a></li>
        </ul>
        <div id="copyright">&copy; Rakuten Group, Inc.</div>
        <div class="-excludeApp" id="footerRakutenBnr"><a href="//corp.rakuten.co.jp/event/climateaction/?scid=wi_bty_gogreen_footer" target="_blank"><img class="footerRakutenBnr__img" src="https://cloudinary-a.akamaihd.net/vivivi/image/upload/t_beauty,f_auto/w_150,h_40/v1/front/image/common/bnr_gogreen_sp.svg" alt="本サービスは再生可能エネルギー100%" width="150" height="40"></a></div>
      </div>
    </div>
    <script src="/cnt/common/js/ua-parser/ua-parser.min.js"></script>
    <script src="/cnt/common/js/ua-parser/main.js"></script>
    <script src="/cnt/common/js/smooth-scroll.min.js"></script>
    <script>
      var scroll = new SmoothScroll('a[href*="#"]');
      
    </script>
    <script src="/cnt/common/js/jquery/3.7.1/jquery.min.js" defer></script>
    <script src="/cnt/common/js/vue/vue.min.js" defer></script>
    <script src="/cnt/common/js/vue/axios.min.js" defer></script>
    <script src="/cnt/common/js/readjson.js?v20250109" defer></script>
    <script>
      const campaignlist = true;
      const campaignlistsendai = true;
      const campaignlistkobe = true;
      const campaignlistfukuoka = true;
      const campaignlistsaitama = true;
      const campaignlistsapporo = true;
      const campaignlisthiroshima = true;
      const campaignlisttokyo = true;
      
    </script>
    <script>
      window.onload = function (e) {
        var anc = location.hash
        var target = $(anc == "#" || anc == "" ? 'html' : anc);
        var position = target.offset().top;
      
        $.when(
          $("html, body").animate({
            scrollTop: position
          }, 10, "swing"),
          e.preventDefault(),
        ).done(function() {
          var diff = target.offset().top;
          if (diff === position) {
          } else {
            $("html, body").animate({
              scrollTop: diff
            }, 10, "swing");
          }
        });
      }
    </script>
    <!-- RAT tag start-->
    <!-- Generic Parameter-->
    <input id="ratAccountId" type="hidden" name="rat" value="426">
    <input id="ratServiceId" type="hidden" name="rat" value="1">
    <input id="ratPageLayout" type="hidden" name="rat" value="resp">
    <input id="ratSiteSection" type="hidden" name="rat" value="cnt">
    <input id="ratPageName" type="hidden" name="rat" value="cnt">
    <input id="ratPageType" type="hidden" name="rat" value="cnt_item">
    <script type="text/javascript" src="//r.r10s.jp/com/rat/js/rat-main.js"></script>
    <!-- /RAT tag end-->
  </body>
</html>