//- LP用ベーステンプレート。新規作成 or 改修時は最新のものをフォルダごと複製して使用してください
//- テンプレートの種類について：https://confluence.rakuten-it.com/confluence/pages/viewpage.action?pageId=2443993509
//- template / ver 3.1.1 / 更新日時：2024.9.19 / テンプレートコンフル追記

extends ../../../../_common/pug/Base/_layout.pug

block init
  -
    var parameter = '?v20250508'
    var meta = {
      title: 'Rakuten Beauty 抽選で最大10,000円分の楽天ポイントが当たる！',
      description: 'エントリー＆美容室のネット予約＆施術完了で最大10,000円分の楽天ポイントを抽選で合計15名様に当たる！',
      url: 'https://beauty.rakuten.co.jp/cnt/topics/campaign/present/',
      directory: 'present', //- ディレクトリ名 for Click or Appear Tag（例：/xxxx/→'xxxx'）
      og_image: 'https://beauty.rakuten.co.jp/cnt/topics/campaign/present/img/share.png' + parameter,//- default (シェア画像があれば変更)
    }
    var css = 'css/main.css' + parameter

block addHead
  //- nofollowが必要なときはコメントを外す
  //- meta(name='robots', content='noindex,nofollow')

block nav
  //- grobalNav / ''に入れた部分がcurrent表示になる
  +grobalNav('/cnt/topics/')

  //- breadcrumb
  -
    var lists = [
      {
        name: 'キャンペーン一覧・特集',
        link: 'https://beauty.rakuten.co.jp/cnt/topics/',
      },
      {
        name: meta.title, //- タイトル以外を設定したいときは変更
        link: 'current', //- 'current' is no link
      },
    ]
  +breadcrumb(lists)

block content
  //- #Pagename はページ固有の名前に置換してください
  #Pagename

    //- 終了対応
    //- #End
      - var endflag
      - var endTxt = 'このキャンペーンは終了しました' //- ページ上部の文言
      - var btnTxt = 'エントリー期間が終了しました' //- ボタンの文言
      +endSet(endTxt)

    //- Campaign Tag
    //- Rule: https://confluence.rakuten-it.com/confluence/pages/viewpage.action?pageId=2688949406
    #CpnTags
      -
        var taglist = {
          tag: [
            'エントリー必要', //- エントリー不要は自動的に青色になります
            '美容室限定',
            'ネット予約・施術完了',
            '毎月開催',
          ],
        }
      +campaignTag(taglist)

    //- ID、class名は自由
    section#Main.main(data-ratid='cpn_' + meta.directory + '_Main' data-ratevent='appear' data-ratparam='all')
      //- Use h1
      h1.main__title
        picture.-pc
          img.main__titleImg(src='img/main_txt.png' + parameter, alt=meta.title)
        picture.-sp
          img.main__titleImg(src='img/main_txt_sp.png' + parameter, alt=meta.title)
      .main__terms
        .main__termsBox
          p.main__termsTxt
            | エントリー・予約期間：2025年5月1日10:00～2025年6月2日9:59
            br
            | 施術期間：2025年5月1日10:00～2025年6月30日23:59
      .main__step
        img(src='img/step.png' + parameter, alt='STEP')
        .main__termsBox
          p.main__termsTxt.-small
            | ※1）3,000円(税込)以上の施術料金が対象。
          p.main__termsTxt.-small
            | ※本企画は予告無く変更・中止されることがございます。
          p.main__termsTxt.-small
            | ※ポイント数や当選者数は、開催月によって増減することがあります。
          p.main__termsTxt.-small
            | ※進呈するポイントには条件があります。キャンペーン詳細は
            a.main__termsLink(href='#Detail')
              | こちら

    .howto__obi
      | ＼ キャンペーンの参加方法 ／

    //- Entry Btn
    section#EntryBox.entryBox(data-ratid='cpn_' + meta.directory + '_EntryBox' data-ratevent='appear' data-ratparam='all')
      h2.step__title
        span.step__title__marker
         | STEP1
      p.step__txt
         | エントリーは予約後でも！
         br
         | 期間中ならいつでもOK♪

      //- 終了対応
      if endflag == true
        //- ボタンセット(url,txt,endflag)
        +btnSet('',btnTxt,true)
      else

        //- 非遷移ボタンジェネレータで作成（使い回しはできません）
        //- https://confluence.rakuten-it.com/confluence/pages/viewpage.action?pageId=4315826663
        // ReX Campaign Entry Button: Mounting points
        // mounting point for button 1
        #rex-ceb-01
        // ReX Campaign Entry Button: Configuration
        script
          | var rexButtons = {language: 'ja', buttons: [{"code":"/rbeauty/pointpresent202505","theme":"red","wide":true,"showCelebration":false,"alreadyAppliedText":"エントリー済みです","below":{"isCheckboxMandatory":true,"isChecked":true,"checkboxText":"エントリーしてメルマガを購読する","html":""},"ids":["rex-ceb-01"]}]}
        // ReX Campaign Entry Button: Script
        script(src='https://cdn.rex.contents.rakuten.co.jp/rex-ceb/5.1.0/static/js/main.js' defer='')

        //- メルマガパーミッション
        include ../../../../_common/pug/Module/Common/_mailPermissionTxt
        +mailPermissionTxt()

    //- Area Search
    section#SearchArea.searchArea(data-ratid='cpn_' + meta.directory + '_SearchArea' data-ratevent='appear' data-ratparam='all')
      h2.step__title
        span.step__title__marker
         | STEP2
      p.step__txt
         | 予約期間中に楽天ビューティで
         br
         | 美容室にネット予約

      h3#SearchSalon.titleWrap--subtitle 美容室を探す
      //- プロパティをつけると検索内容をカスタマイズできます
      //- https://git.rakuten-it.com/projects/RBEAUT/repos/rbeautyuicomponent/browse/src/components/ShopSearch/readme.md
      #shopSearch(default-genre-id="1", default-prefectures-id="13", search-style="hide_genre", search-type="")
        include ../../../../_common/pug/Module/Common/_shopSearchList

      //- 人気メニューから探す
      h3.section--sub-title 人気メニューから探す
      ul#Menu_search.catalog__search
        li.catalog__search__list
          a.catalog__search__list__item(href='https://beauty.rakuten.co.jp/tk101/?l-id=rb_present_menu1')
            img(src='img/menu01.png' + parameter, alt='カット' width='60' height='')
            p.catalog__search__list__item--type カット
        li.catalog__search__list
          a.catalog__search__list__item(href='https://beauty.rakuten.co.jp/men/tk135/?l-id=rb_present_menu2')
            img(src='img/menu02.png' + parameter, alt='メンズカット' width='60' height='')
            p.catalog__search__list__item--type メンズカット
        li.catalog__search__list
          a.catalog__search__list__item(href='https://beauty.rakuten.co.jp/tk108/?l-id=rb_present_menu3')
            img(src='img/menu03.png' + parameter, alt='トリートメント' width='60' height='')
            p.catalog__search__list__item--type トリートメント
        li.catalog__search__list
          a.catalog__search__list__item(href='https://beauty.rakuten.co.jp/tk103/?l-id=rb_present_menu4')
            img(src='img/menu04.png' + parameter, alt='カラー' width='60' height='')
            p.catalog__search__list__item--type カラー

    //- STEP3
    section#StepSalon.stepSalon(data-ratid='cpn_' + meta.directory + '_stepSalon' data-ratevent='appear' data-ratparam='all')
      h2.step__title
        span.step__title__marker
         | STEP3
      p.step__txt
        span.-b
          | 施術期間中
        | に
        a.step__txt__link(href='#SearchSalon')
          | 美容室
        | で施術完了
      .stepSalon__img
        img(src="/cnt/common/images/cpn-parts/img_step_salon.png", alt="美容室で施術完了")

    //- STEP4
    section#StepPoint.stepPoint(data-ratid='cpn_' + meta.directory + '_stepPoint' data-ratevent='appear' data-ratparam='all')
      h2.step__title
        span.step__title__marker
         | STEP4
      p.step__txt
        | 当選された方
        br
        span.-big
          | 5名様
        | に楽天ポイント
        span.-big
          | 10,000円分
        br
        span.-big
          | 10名様
        | に楽天ポイント
        span.-big
          | 5,000円分
        | を
        br
        | 翌々月末頃に進呈！
      .stepSalon__img
        img(src="img/step4_img.png", alt="ポイント進呈")

    .flow__attention
     ul
        li.flow__txt.-small
          | キャンペーン期間内であれば、エントリーとネット予約・施術の順番は問いません。
        li.flow__txt.-small
          | ポイント進呈をもって、当選の発表に代えさせていただきます。
        li.flow__txt.-small
          | 本キャンペーンは予告なく変更・中止される可能性がございます。
        li.flow__txt.-small
          | キャンペーン詳細は
          a.flow__link(href='#Detail')
            | こちら
          | 。

    //- app DL
    section#App.app.-excludeApp(data-ratid='cpn_' + meta.directory + '_App' data-ratevent='appear' data-ratparam='all')

      //- app DL parts(app2x, adjustUrl, QRCodeURL)
      //- 
        1.狭域追加設定：app2xを表示
        2.DL用のAdjust URLとQRコードは基本変えずに運用でマーケと合意済み。変更したい場合は第2引数にadjustUrl、第3引数にQRCodeの画像URLを入れると変更可能
        3.例：+appDL('app2x','https://app.adjust.com/1ifdl1tv','/cnt/common/images/cpn-parts/btn_dl_qr.svg')

      //- appInfoFlag 注意文の表示/非表示 trueで表示、falseで非表示
      - var appInfoFlag = true
      +appDL('app2x')


    //- Campaign Detail
    section#Detail.detail(data-ratid='cpn_' + meta.directory + '_Detail' data-ratevent='appear' data-ratparam='all')
      .detailBox
        .titleWrap
          h2.titleWrap--title キャンペーン詳細
        //- h3.titleWrap--subtitle 【MAQUIA】限定ラ・クーポン
        p.detail__caption ※本キャンペーンは予告なく変更・中止される可能性がございます。
        table.detail__table
          tbody
            tr.detail__tableBlock
              th.detail__tableBlockHead エントリー・予約期間
              td.detail__tableBlockBody 2025年5月1日10:00～2025年6月2日9:59
            tr.detail__tableBlock
              th.detail__tableBlockHead 施術期間
              td.detail__tableBlockBody 2025年5月1日10:00～2025年6月30日23:59
            tr.detail__tableBlock
              th.detail__tableBlockHead 対象者
              td.detail__tableBlockBody
                p.detail__tableBlockTxt 下記の対象条件を全て満たした方が、特典の対象となります。
                p.detail__tableBlockTxt--space
                p.detail__tableBlockTxt ＜対象条件＞
                ul.detail__tableBlockList--disc
                  li.detail__tableBlockList--li エントリーをされた方
                  li.detail__tableBlockList--li 予約期間中に楽天ビューティで 3,000 円以上(税込)ネット予約された方
                  li.detail__tableBlockList--li 施術期間中に施術を完了された方
                p.detail__tableBlockTxt--space
                ul.detail__tableBlockList
                  li.detail__tableBlockList--li エントリーには楽天会員登録が必要です。楽天会員でない方は、エントリーと同時に楽天会員登録(無料)ができます。
                  li.detail__tableBlockList--li エントリー履歴は
                    a.detail__tableBlockTxt--link(href='https://oubo.rakuten.co.jp/list?spk=f1636b')
                      | こちら
                    | から確認できます。
                  li.detail__tableBlockList--li ネット予約後キャンセルされた場合、ご来店いただけなかった場合は対象外となります。
                  li.detail__tableBlockList--li 楽天発行の割引クーポン利用の場合は、
                    span.detail__tableBlockTxt--red
                      | クーポン割引後
                    | の価格が3,000円(税込)以上の場合に対象となります。 
                  li.detail__tableBlockList--li 電話予約や直接来店は対象外となります。
                  li.detail__tableBlockList--li ネット予約後、お客様都合や店舗都合でキャンセルになり、その後電話予約や直接来店で施術完了された場合は、ポイント進呈の対象外となります。
                  li.detail__tableBlockList--li ネット予約後、来店日時が変更になった場合でも、対象の施術期間内で施術完了された場合は、ポイント進呈の対象となります。
                  li.detail__tableBlockList--li 期間内の予約であればエントリーと予約どちらが先でも対象となります。
                  li.detail__tableBlockList--li 楽天グループの役職員及び関係者は応募できません。 
                  li.detail__tableBlockList--li 対象条件は開催月毎に変更となる可能性がございます。
            tr.detail__tableBlock
              th.detail__tableBlockHead 特典内容
              td.detail__tableBlockBody
                p.detail__tableBlockTxt 抽選で合計 15 名様に下記の通りの楽天ポイントをそれぞれ進呈いたします。
                ul.detail__tableBlockList--none
                  li.detail__tableBlockList--li 10,000 ポイント：5 名様
                  li.detail__tableBlockList--li 5,000 ポイント ：10 名様
                p.detail__tableBlockTxt--space
                ul.detail__tableBlockList
                  li.detail__tableBlockList--li 現在実施中のキャンペーンとの併用が可能です（一部併用が出来ないキャンペーンもございます）。
                    a.detail__tableBlockTxt--link(href='https://beauty.rakuten.co.jp/cnt/topics/')
                     | キャンペーン一覧はこちら
                  li.detail__tableBlockList--li 進呈対象のポイント数及び当選人数は、開催月毎に変更となる可能性がございます。
            tr.detail__tableBlock
              th.detail__tableBlockHead ポイント進呈予定日 
              td.detail__tableBlockBody
                p.detail__tableBlockTxt キャンペーン開始月の翌々月末頃
                ul.detail__tableBlockList
                  li.detail__tableBlockList--li ポイント進呈をもって、当選の発表に代えさせていただきます。
                  li.detail__tableBlockList--li 獲得した特典ポイントは、
                    a.detail__tableBlockTxt--link(href='https://point.rakuten.co.jp/history/')
                      | 楽天PointClubのポイント実績
                    | でご確認いただけます。 当選に関わる個別のお問い合わせについては、対応しておりません。 
            tr.detail__tableBlock
              th.detail__tableBlockHead ポイント有効期限 
              td.detail__tableBlockBody
                p.detail__tableBlockTxt ポイント進呈日から 6 ヶ月間有効な期間限定ポイントとして進呈されます。
                ul.detail__tableBlockList
                  li.detail__tableBlockList--li
                    span.detail__tableBlockTxt 期間限定ポイントの詳細は
                      a.detail__tableBlockTxt--link(href='https://ichiba.faq.rakuten.net/detail/000006532?scid=su_2312')
                        | こちら
                      | をご確認ください。
            tr.detail__tableBlock
              th.detail__tableBlockHead 注意事項
              td.detail__tableBlockBody
                ul.detail__tableBlockList
                  li.detail__tableBlockList--li 一部ネット予約が行えないサロンがございます。また、サロンの予約状況によっては、ご希望に添えない場合やお断りする場合もございます。
                  li.detail__tableBlockList--li 本サービスへのアクセス集中や通信回線の状態による遅延、不具合などにより本サービスへのアクセスや登録・表示などができないことにより発生した障害、または起因して発生したすべての事象に関しましては、当社の責めに帰すべき場合を除き、責任を負いかねます。 
                  li.detail__tableBlockList--li 取得したユーザ情報は
                    a.detail__tableBlockTxt--link(href='https://privacy.rakuten.co.jp/')
                      | 個人情報保護方針
                    | に基づいてお取り扱いいたします。 
                  li.detail__tableBlockList--li 掲載店舗、あるいは弊社が不正と合理的に判断した場合は、特典対象から除外する場合がございます。
                  li.detail__tableBlockList--li キャンペーンのエントリー及び条件達成状況に関わるお問い合わせは一切お受けいたしかねますので、ご了承ください。  
                  li.detail__tableBlockList--li 「QR コード」は、株式会社デンソーウェーブの登録商標です。
                  li.detail__tableBlockList--li 本キャンペーンは楽天グループ株式会社「楽天ビューティ」が主催しているものであり、Apple Inc., Apple Japan 合同会社によるものではありません。
                  li.detail__tableBlockList--li その他ご不明な点は
                    a.detail__tableBlockTxt--link(href='https://beauty.faq.rakuten.net/user/s/')
                      | こちら
                    | よりお問い合わせください。

    //- PITARI_area_cpnlist
    //- PITARI実装ページ一覧コンフル：https://confluence.rakuten-it.com/confluence/pages/viewpage.action?pageId=1646474551
    #AreaTarget-Pitari.areatarget-pitari(data-phoenix-areatarget_present_responsive, data-ratid='cpn_AreaCampaign', data-ratevent='appear', data-ratparam='all')
      //- PITARI読み込み確認用。下のコメントを外すとPITARIを読み込んだ状態の確認ができます。
      //- html書き出しはpreprosで各PITARI用pugを書き出してTeamsiteにアップしてください。
      //- 確認したい地域のpugを入れてください / 読み込み順でエラーは出るが確認可能 / 実際にPITARIで読み込むとエラーは出ない
      //- include pitari/pitari_area_cpnlist_tokyo.pug
      //- script.
        const campaignlisttokyo = true;

    //- Other Campaign
    section#Campaign.campaign(data-ratid='cpn_' + meta.directory + '_Campaign' data-ratevent='appear' data-ratparam='all')
      .titleWrap
        h2.titleWrap--title その他のキャンペーン

      include ../../../../_common/pug/Module/Common/_campaignList
      +campaignList()

    //- Reservation Btn
    section#Btn-Reservation.btn-reservation
      a.btn-link(href='#SearchSalon' data-ratid='cpn_' + meta.directory + '_Fixed-Btn-Reservation' data-ratevent='click' data-ratparam='all')
        | 美容室の
        br
        | 検索はこちら  
      
    //- ReX UX Survey: Mounting point for embedded components
    section#Popask.popask(data-ratid='cpn_' + meta.directory + '_Popask' data-ratevent='appear' data-ratparam='all')
      #rexSurveyEmbedded.rexSurveyNamespace
      //- ReX UX Survey: Config
      script.
          window.rexSurveyConfig = {"language":"ja","surveyId":"41521","cId":{"name":"answers[41521_281387]","value":""},"embedded":true,"url":{"name":"answers[41521_281388]"},"triggerIdName":"trigger","reappearancePeriodWithRespond":30,"reappearancePeriodWithoutRespond":30,"enableDisplaySuppressionPerPage":true,"enableFormAction":true,"displayStartDate":"","displayEndDate":"","permission":{"inquiryTxt":"キャンペーンをより分かりやすくするためにアンケートにご協力ください (選択式1問)","yesBtnTxt":"協力する","noBtnTxt":"今は協力しない","available":false},"thanks":{"txt0":"ご協力ありがとうございました","txt1":"いただいた情報は、サービス改善のために使用させていただきます。","thanksDisplaySeconds":3},"nps":{"available":true,"question":{"label":"このキャンペーンページの分かりやすさはいかがでしたか？"},"options":[{"name":"answers[41521_281389]","value":"781879"},{"name":"answers[41521_281389]","value":"781880"},{"name":"answers[41521_281389]","value":"781881"},{"name":"answers[41521_281389]","value":"781882"},{"name":"answers[41521_281389]","value":"781883"}],"txt0":"分かりにくい","txt1":"分かりやすい","checked":4},"inquiry":{"available":true,"checkList":{"questionType":"multipleAnswer","available":true,"question":"分かりにくい部分があれば具体的に以下からお選びください（複数選択可）","shuffleChoices":false,"options":[{"name":"answers[41521_281390][]","value":"781884","label":"特典・ポイントをもらうための条件"},{"name":"answers[41521_281390][]","value":"781885","label":"参加条件"},{"name":"answers[41521_281390][]","value":"781886","label":"特典・ポイント付与日"},{"name":"answers[41521_281390][]","value":"781887","label":"条件達成状況"},{"name":"answers[41521_281390][]","value":"781888","label":"もらえる特典・ポイント"},{"name":"answers[41521_281390][]","value":"781889","label":"知りたい情報がどこにあるか"},{"name":"answers[41521_281390][]","value":"781890","label":"当てはまるものは無い"}]},"freeInput":{"available":true,"name":"answers[41521_281391]","title":"上記で選択いただいた項目の詳細、もしくはそれ以外のご意見が御座いましたらお書きください【1000文字】"},"sendBtnTxt":"送信する","footerNote":{"available":true,"text":"お客様よりご提供いただく情報はサービス向上のため使用させていただきます。","link":"https://privacy.rakuten.co.jp/","htmlText":""}},"inquiryNegative":{"checkList":{"available":false,"options":[{"name":"answers[41521_281390][]","value":"781884","label":""},{"name":"answers[41521_281390][]","value":"781885","label":""},{"name":"answers[41521_281390][]","value":"781886","label":""},{"name":"answers[41521_281390][]","value":"781887","label":""},{"name":"answers[41521_281390][]","value":"781888","label":""},{"name":"answers[41521_281390][]","value":"781889","label":""},{"name":"answers[41521_281390][]","value":"781890","label":""}]}},"ua":{"name":"answers[41521_281392]"},"href":{"name":"answers[41521_281393]"},"cookie":{"available":false},"assetPaths":{"closeButton":"","checkIcon":""}}
      //- ReX UX Survey: Script
      script(type="text/javascript", src="https://cdn.rex.contents.rakuten.co.jp/rex-ips/2.1.0/js/main.js", defer)




block js
  //- jsはここに書く

  //------------------------------- ライブラリ読み込み -------------------------------//

  //- jQuery（使用しない時はコメントアウト）
  script(src="/cnt/common/js/jquery/3.7.1/jquery.min.js", defer)

  //- vue（使用しない時はコメントアウト）
  script(src='/cnt/common/js/vue/vue.min.js', defer)
  script(src='/cnt/common/js/vue/axios.min.js', defer)

  //------------------------------- CPNパーツ用js読み込み -------------------------------//

   //- PITARI動作用（PITARI関連jsは読み込み順調整のためdeferをつけない）
  script(src='//r.r10s.jp/com/ap/target/phoenix-2.7.2.min.js')

   //- エリア検索
  script(src="/cnt/common/js/area-search/shopSearch.js", defer)

  //- キャンペーン一覧 (vue)（cpnlist/barter枠のjson読み込み）
  script(src='/cnt/common/js/readjson.js' + parameter, defer)
  //- 読み込みたいjson名をtrueにする（ハイフン抜き）
  script.
    campaignlist = true;

  //- よくあるご質問（jQuery）
  //- script(src="/cnt/common/js/cpn-parts/qa_accordion.js", defer)

  //- ボタン+checkbox（vue）
  //- script(src="/cnt/common/js/cpn-parts/btn_checkbox.js", defer)

  //------------------------------- このページ用のjs -------------------------------//

  //- 追従ボタンの表示
  script.
    function scrollFunction() {
    const this_y = window.pageYOffset;
    if (this_y > 200) {
    document.getElementById("Btn-Reservation").classList.add("js-active");
    } else {
    document.getElementById("Btn-Reservation").classList.remove("js-active");
    }
    }
    /* スクロールした時にfunctionを実行する */
    window.onscroll = function () {
    scrollFunction();
    }
