//- 新クーポンLP専用テンプレート。毎回最新のものをフォルダごと複製して使用してください
//- テンプレートの種類について：https://confluence.rakuten-it.com/confluence/pages/viewpage.action?pageId=2443993509
//- CSV Coupon Template / ver 1.4.1 / 更新日時：2025.4.7 / クーポン注意事項追記・クーポン使い方画像切り替え追加

-
  //- 更新用のpugです。Kintoneの内容をjsonに変換して転記してください。
  //- 作成マニュアル：https://confluence.rakuten-it.com/confluence/display/BUXDGP/Kintone+to+Coupon+LP

  //- 更新日（キャッシュクリア用のパラメータとして使用）
  var parameter = '?v20250508'
  //- ディレクトリ名（l-idなどに使用。入力例：cnt/topics/campaign/xxxx/ -> 'xxxx'）
  var directory = 'dm_202505_R7gnXVWz'
  //- 対象ジャンル（デフォルト：'',美容室限定：'hair'）美容室以外のジャンルは未対応。
  var genre = ''

  //- Kintoneのcsvをjsonに変換して、[]の中身をまるごと置き換えてください。インデント（段落）が崩れないよう注意
  //- 「クーポン名」のみ手動で良い感じに書き換えてください
  var coupon = [
    {
      "利用開始日時": "2025/05/01 00:00",
      "本発行": "（対応中）",
      "クーポンコード": "PQNT-HIIQ-Z3SR-378L",
      "クーポン名": "東京都",
      "種別": "獲得",
      "事前付与リスト": "※リスト提出予定日までにURL記載",
      "店舗指定リスト": "※リスト提出予定日までにURL記載",
      "露出先管理Kintone URL": "https://rak.cybozu.com/k/#/space/163/thread/174xxxxxxxxxxxxxxxxxxxxx",
      "担当部署": "狭域_東京",
      "レコード番号": 2402,
      "更新者": "yukoerin.kanayama",
      "作成者": "rpa-1114f28.bp",
      "更新日時": "2025/03/27 14:10",
      "作成日時": "2025/01/31 06:06",
      "入稿シート": "LP掲載",
      "ページURL": "https://beauty.rakuten.co.jp/cnt/topics/campaign/tokyo/",
      "事前付与空き枠申請": "不要",
      "対象条件": "セグメントなし",
      "対象デバイス": "セグメントなし",
      "表示フラグ": "不可",
      "割引適用対象": "全アイテム",
      "割引適用ショップ・アイテム": "指定ショップ",
      "店舗件数": 0,
      "クーポン説明": "2025年4月15日現在、楽天ビューティに掲載されている東京都のヘアサロンのネット予約にお使いいただけます。※他のラ・クーポンとの併用不可※獲得済みであっても利用上限に達した場合はご利用いただけません※ネット予約確定の前に、他のネット予約が成立し利用上限枚数に達した場合にはエラーとなり、ラ・クーポンをご利用になれません※予約状況によってご希望に添えなかったり、お断りする場合もございます※ラ・クーポンを利用した予約をキャンセルした場合、利用条件を満たしていれば、マイクーポンに返還されます",
      "獲得用URL": "https://coupon.rakuten.co.jp/getCoupon?getkey=SElJUS1QUU5ULVozU1ItMzc4TA--",
      "利用終了日時": "2025/07/31 23:59",
      "来店終了日時": "2025/08/30 23:59",
      "リダイレクトURL": "https://beauty.rakuten.co.jp/pre13/?scid=dm_bty_202505_tokyorbdm_pj_11_get_b",
      "事前付与対象枚数": 0,
      "セグメント": "202505_獲得(RBDM) 東京女性B(新規+既存)",
      "制作依頼JIRA URL": "https://jira.rakuten-it.com/jira/browse/RESQUE-9930",
      "注意事項": "＜獲得型_共通＞\n・獲得したラ・クーポンの利用回数には上限があります。\n・他のラ・クーポンとの併用はできません。\n・ラ・クーポンには利用上限回数（予約成立順）が設定されています。ラ・クーポン獲得済みであっても利用上限に達した場合はご利用いただけません。\n・獲得したラ・クーポンは、マイページのマイクーポンからご確認いただけます。\n・ラ・クーポンの利用条件に合致したクーポンのみが、ネット予約STEP中に表示されます。獲得していても、ラ・クーポンが表示されない場合、ラ・クーポンの利用条件等をご確認ください。（予約条件が一致しない、有効期限を過ぎている、利用回数を超えた場合等）\n・ネット予約確定の前に、他のネット予約が成立し利用上限回数に達した場合には、ネット予約がエラーとなり、ラ・クーポンをご利用になれません。\n・ラ・クーポンは、楽天ビューティ（サイト/アプリ）での予約時にのみご利用いただけます。予約成立後など後から利用することはできません。\n・ラ・クーポンを印刷して来店時にお持ちいただいても割引することはできません。\n・ラ・クーポンは、電話予約でご利用できません。\n・一部、ラ・クーポンを利用できない店舗がございます。\n・発行されているラ・クーポンによって来店期日は異なりますので、ご注意ください。\n・サロンの予約状況によっては、ご希望に添えなかったり、お断りする場合もございます。\n・ラ・クーポンを利用した予約をキャンセルした場合、利用条件を満たしていれば、マイクーポンに返還されます。詳しくはこちら\n・本企画は予告無く変更・中止されることがございます。\n・本サービスへのアクセス集中や通信回線の状態による遅延、不具合などにより本サービスへのアクセスや登録・表示などができないことにより発生した障害、または起因して発生したすべての事象に関しましては、当社の責めに帰すべき場合を除き、責任を負いかねます。\n・ご来店いただける期間はサロンの営業時間によって異なります。\n・ラ・クーポンの使用方法についてご不明点があった場合は、楽天ビューティにお問い合わせください。\n\n---------------------------------------------------------------------\n＜獲得型_APPのみ＞\t\n・獲得したラ・クーポンの利用回数には上限があります。\n・他のラ・クーポンとの併用はできません。\n・ラ・クーポンには利用上限回数（予約成立順）が設定されています。ラ・クーポン獲得済みであっても利用上限に達した場合はご利用いただけません。\n・獲得したラ・クーポンは、マイページのマイクーポンからご確認いただけます。\n・ラ・クーポンの利用条件に合致したクーポンのみが、ネット予約STEP中に表示されます。獲得していても、ラ・クーポンが表示されない場合、ラ・クーポンの利用条件等をご確認ください。（予約条件が一致しない、有効期限を過ぎている、利用回数を超えた場合等）\n・ネット予約確定の前に、他のネット予約が成立し利用上限回数に達した場合には、ネット予約がエラーとなり、ラ・クーポンをご利用になれません。\n・ラ・クーポンは、楽天ビューティのアプリでの予約時にのみご利用いただけます。予約成立後など後から利用することはできません。\n・ラ・クーポンを印刷して来店時にお持ちいただいても割引することはできません。\n・ラ・クーポンは、電話予約でご利用できません。\n・一部、ラ・クーポンを利用できない店舗がございます。\n・発行されているラ・クーポンによって来店期日は異なりますので、ご注意ください。\n・サロンの予約状況によっては、ご希望に添えなかったり、お断りする場合もございます。\n・ラ・クーポンを利用した予約をキャンセルした場合、利用条件を満たしていれば、マイクーポンに返還されます。詳しくはこちら\n・本企画は予告無く変更・中止されることがございます。\n・本サービスへのアクセス集中や通信回線の状態による遅延、不具合などにより本サービスへのアクセスや登録・表示などができないことにより発生した障害、または起因して発生したすべての事象に関しましては、当社の責めに帰すべき場合を除き、責任を負いかねます。\n・ご来店いただける期間はサロンの営業時間によって異なります。\n・ラ・クーポンの使用方法についてご不明点があった場合は、楽天ビューティにお問い合わせください。\n\n\n-----------------------------------------------------------------------------------\n＜事前付与型＞\n・ラ・クーポンの利用回数には上限があります。\n・他のラ・クーポンとの併用はできません。\n・ラ・クーポンには利用上限回数（予約成立順）が設定されています。ラ・クーポン獲得済みであっても利用上限に達した場合はご利用いただけません。\n・ラ・クーポンは、マイページのマイクーポンからご確認いただけます。\n・ラ・クーポンの利用条件に合致したクーポンのみが、ネット予約STEP中に表示されます。獲得していても、ラ・クーポンが表示されない場合、ラ・クーポンの利用条件等をご確認ください。（予約条件が一致しない、有効期限を過ぎている、利用回数を超えた場合等）\n・ネット予約確定の前に、他のネット予約が成立し利用上限回数に達した場合には、ネット予約がエラーとなり、ラ・クーポンをご利用になれません。\n・ラ・クーポンは、楽天ビューティ（サイト/アプリ）での予約時にのみご利用いただけます。予約成立後など後から利用することはできません。\n・ラ・クーポンを印刷して来店時にお持ちいただいても割引することはできません。\n・ラ・クーポンは、電話予約でご利用できません。\n・一部、ラ・クーポンを利用できない店舗がございます。\n・発行されているラ・クーポンによって来店期日は異なりますので、ご注意ください。\n・サロンの予約状況によっては、ご希望に添えなかったり、お断りする場合もございます。\n・ラ・クーポンを利用した予約をキャンセルした場合、利用条件を満たしていれば、マイクーポンに返還されます。詳しくはこちら\n・本企画は予告無く変更・中止されることがございます。\n・本サービスへのアクセス集中や通信回線の状態による遅延、不具合などにより本サービスへのアクセスや登録・表示などができないことにより発生した障害、または起因して発生したすべての事象に関しましては、当社の責めに帰すべき場合を除き、責任を負いかねます。\n・ご来店いただける期間はサロンの営業時間によって異なります。\n・ラ・クーポンの使用方法についてご不明点があった場合は、楽天ビューティにお問い合わせください。\n\n\n\n---------　コメントアウト　---------\n※編成へ 各リンク先はこちらでお願いします！\n\nマイクーポン\nhttps://beauty.rakuten.co.jp/user/coupon.php\n\n詳しくはこちら\nhttps://beauty.faq.rakuten.net/user/s/detail/000005759",
      "エリアカテゴリー": "東京_獲得",
      "リスト提出予定日": "2025/01/31",
      "補足": "店舗リスト、メニューリストについてコメントがあればこちらにお願いいたします。",
      "毎月開催": "単月",
      "割引額": 1100,
      "利用上限枚数": 10000,
      "利用最低金額": 4000,
      "メニュークーポン": "なし",
      "メニュー指定リスト": "※リスト提出予定日までにURL記載",
      "サムネイルURL": "https://cloudinary-a.akamaihd.net/vivivi/image/upload/t_beauty,f_auto,q_auto:good/v1/banner/coupon_image_dm.png",
      "対象店舗予約有無": "なし",
      "会員利用上限枚数(一人あたりの利用回数)": 3
    },
    {
      "利用開始日時": "2025/05/01 00:00",
      "本発行": "（対応中）",
      "クーポンコード": "VBAE-NBXR-NE4F-8ZJR",
      "クーポン名": "仙台市",
      "種別": "獲得",
      "事前付与リスト": "※リスト提出予定日までにURL記載",
      "店舗指定リスト": "※リスト提出予定日までにURL記載",
      "露出先管理Kintone URL": "https://rak.cybozu.com/k/#/space/163/thread/174xxxxxxxxxxxxxxxxxxxxx",
      "担当部署": "狭域_仙台",
      "レコード番号": 2372,
      "更新者": "yukoerin.kanayama",
      "作成者": "rpa-1114f28.bp",
      "更新日時": "2025/03/27 14:08",
      "作成日時": "2025/01/28 06:05",
      "入稿シート": "LP掲載",
      "ページURL": "https://beauty.rakuten.co.jp/cnt/topics/campaign/sendai/",
      "事前付与空き枠申請": "不要",
      "対象条件": "セグメントなし",
      "対象デバイス": "セグメントなし",
      "表示フラグ": "不可",
      "割引適用対象": "全アイテム",
      "割引適用ショップ・アイテム": "指定ショップ",
      "店舗件数": 0,
      "クーポン説明": "2025年4月15日現在、楽天ビューティに掲載されている仙台市のヘアサロンのネット予約にお使いいただけます。※他のラ・クーポンとの併用不可※獲得済みであっても利用上限に達した場合はご利用いただけません※ネット予約確定の前に、他のネット予約が成立し利用上限枚数に達した場合にはエラーとなり、ラ・クーポンをご利用になれません※予約状況によってご希望に添えなかったり、お断りする場合もございます※ラ・クーポンを利用した予約をキャンセルした場合、利用条件を満たしていれば、マイクーポンに返還されます",
      "獲得用URL": "https://coupon.rakuten.co.jp/getCoupon?getkey=TkJYUi1WQkFFLU5FNEYtOFpKUg--",
      "利用終了日時": "2025/07/31 23:59",
      "来店終了日時": "2025/08/30 23:59",
      "リダイレクトURL": "https://beauty.rakuten.co.jp/addr04101/?scid=dm_bty_202505_sendairbdm_pj_11_get",
      "事前付与対象枚数": 0,
      "セグメント": "202505_獲得(RBDM) 仙台(新規+既存)",
      "制作依頼JIRA URL": "https://jira.rakuten-it.com/jira/browse/RESQUE-9980",
      "注意事項": "＜獲得型_共通＞\n・獲得したラ・クーポンの利用回数には上限があります。\n・他のラ・クーポンとの併用はできません。\n・ラ・クーポンには利用上限回数（予約成立順）が設定されています。ラ・クーポン獲得済みであっても利用上限に達した場合はご利用いただけません。\n・獲得したラ・クーポンは、マイページのマイクーポンからご確認いただけます。\n・ラ・クーポンの利用条件に合致したクーポンのみが、ネット予約STEP中に表示されます。獲得していても、ラ・クーポンが表示されない場合、ラ・クーポンの利用条件等をご確認ください。（予約条件が一致しない、有効期限を過ぎている、利用回数を超えた場合等）\n・ネット予約確定の前に、他のネット予約が成立し利用上限回数に達した場合には、ネット予約がエラーとなり、ラ・クーポンをご利用になれません。\n・ラ・クーポンは、楽天ビューティ（サイト/アプリ）での予約時にのみご利用いただけます。予約成立後など後から利用することはできません。\n・ラ・クーポンを印刷して来店時にお持ちいただいても割引することはできません。\n・ラ・クーポンは、電話予約でご利用できません。\n・一部、ラ・クーポンを利用できない店舗がございます。\n・発行されているラ・クーポンによって来店期日は異なりますので、ご注意ください。\n・サロンの予約状況によっては、ご希望に添えなかったり、お断りする場合もございます。\n・ラ・クーポンを利用した予約をキャンセルした場合、利用条件を満たしていれば、マイクーポンに返還されます。詳しくはこちら\n・本企画は予告無く変更・中止されることがございます。\n・本サービスへのアクセス集中や通信回線の状態による遅延、不具合などにより本サービスへのアクセスや登録・表示などができないことにより発生した障害、または起因して発生したすべての事象に関しましては、当社の責めに帰すべき場合を除き、責任を負いかねます。\n・ご来店いただける期間はサロンの営業時間によって異なります。\n・ラ・クーポンの使用方法についてご不明点があった場合は、楽天ビューティにお問い合わせください。\n\n---------------------------------------------------------------------\n＜獲得型_APPのみ＞\t\n・獲得したラ・クーポンの利用回数には上限があります。\n・他のラ・クーポンとの併用はできません。\n・ラ・クーポンには利用上限回数（予約成立順）が設定されています。ラ・クーポン獲得済みであっても利用上限に達した場合はご利用いただけません。\n・獲得したラ・クーポンは、マイページのマイクーポンからご確認いただけます。\n・ラ・クーポンの利用条件に合致したクーポンのみが、ネット予約STEP中に表示されます。獲得していても、ラ・クーポンが表示されない場合、ラ・クーポンの利用条件等をご確認ください。（予約条件が一致しない、有効期限を過ぎている、利用回数を超えた場合等）\n・ネット予約確定の前に、他のネット予約が成立し利用上限回数に達した場合には、ネット予約がエラーとなり、ラ・クーポンをご利用になれません。\n・ラ・クーポンは、楽天ビューティのアプリでの予約時にのみご利用いただけます。予約成立後など後から利用することはできません。\n・ラ・クーポンを印刷して来店時にお持ちいただいても割引することはできません。\n・ラ・クーポンは、電話予約でご利用できません。\n・一部、ラ・クーポンを利用できない店舗がございます。\n・発行されているラ・クーポンによって来店期日は異なりますので、ご注意ください。\n・サロンの予約状況によっては、ご希望に添えなかったり、お断りする場合もございます。\n・ラ・クーポンを利用した予約をキャンセルした場合、利用条件を満たしていれば、マイクーポンに返還されます。詳しくはこちら\n・本企画は予告無く変更・中止されることがございます。\n・本サービスへのアクセス集中や通信回線の状態による遅延、不具合などにより本サービスへのアクセスや登録・表示などができないことにより発生した障害、または起因して発生したすべての事象に関しましては、当社の責めに帰すべき場合を除き、責任を負いかねます。\n・ご来店いただける期間はサロンの営業時間によって異なります。\n・ラ・クーポンの使用方法についてご不明点があった場合は、楽天ビューティにお問い合わせください。\n\n\n-----------------------------------------------------------------------------------\n＜事前付与型＞\n・ラ・クーポンの利用回数には上限があります。\n・他のラ・クーポンとの併用はできません。\n・ラ・クーポンには利用上限回数（予約成立順）が設定されています。ラ・クーポン獲得済みであっても利用上限に達した場合はご利用いただけません。\n・ラ・クーポンは、マイページのマイクーポンからご確認いただけます。\n・ラ・クーポンの利用条件に合致したクーポンのみが、ネット予約STEP中に表示されます。獲得していても、ラ・クーポンが表示されない場合、ラ・クーポンの利用条件等をご確認ください。（予約条件が一致しない、有効期限を過ぎている、利用回数を超えた場合等）\n・ネット予約確定の前に、他のネット予約が成立し利用上限回数に達した場合には、ネット予約がエラーとなり、ラ・クーポンをご利用になれません。\n・ラ・クーポンは、楽天ビューティ（サイト/アプリ）での予約時にのみご利用いただけます。予約成立後など後から利用することはできません。\n・ラ・クーポンを印刷して来店時にお持ちいただいても割引することはできません。\n・ラ・クーポンは、電話予約でご利用できません。\n・一部、ラ・クーポンを利用できない店舗がございます。\n・発行されているラ・クーポンによって来店期日は異なりますので、ご注意ください。\n・サロンの予約状況によっては、ご希望に添えなかったり、お断りする場合もございます。\n・ラ・クーポンを利用した予約をキャンセルした場合、利用条件を満たしていれば、マイクーポンに返還されます。詳しくはこちら\n・本企画は予告無く変更・中止されることがございます。\n・本サービスへのアクセス集中や通信回線の状態による遅延、不具合などにより本サービスへのアクセスや登録・表示などができないことにより発生した障害、または起因して発生したすべての事象に関しましては、当社の責めに帰すべき場合を除き、責任を負いかねます。\n・ご来店いただける期間はサロンの営業時間によって異なります。\n・ラ・クーポンの使用方法についてご不明点があった場合は、楽天ビューティにお問い合わせください。\n\n\n\n---------　コメントアウト　---------\n※編成へ 各リンク先はこちらでお願いします！\n\nマイクーポン\nhttps://beauty.rakuten.co.jp/user/coupon.php\n\n詳しくはこちら\nhttps://beauty.faq.rakuten.net/user/s/detail/000005759",
      "エリアカテゴリー": "仙台_獲得",
      "リスト提出予定日": "2025/01/28",
      "補足": "店舗リスト、メニューリストについてコメントがあればこちらにお願いいたします。",
      "毎月開催": "単月",
      "割引額": 1100,
      "利用上限枚数": 2500,
      "利用最低金額": 4000,
      "メニュークーポン": "なし",
      "メニュー指定リスト": "※リスト提出予定日までにURL記載",
      "サムネイルURL": "https://cloudinary-a.akamaihd.net/vivivi/image/upload/t_beauty,f_auto,q_auto:good/v1/banner/coupon_image_dm.png",
      "対象店舗予約有無": "なし",
      "会員利用上限枚数(一人あたりの利用回数)": 3
    },
    {
      "利用開始日時": "2025/05/01 00:00",
      "本発行": "（対応中）",
      "クーポンコード": "GYNW-GEDW-RYNO-8YS6",
      "クーポン名": "神戸市",
      "種別": "獲得",
      "事前付与リスト": "※リスト提出予定日までにURL記載",
      "店舗指定リスト": "※リスト提出予定日までにURL記載",
      "露出先管理Kintone URL": "https://rak.cybozu.com/k/#/space/163/thread/174xxxxxxxxxxxxxxxxxxxxx",
      "担当部署": "狭域_神戸",
      "レコード番号": 2373,
      "更新者": "yukoerin.kanayama",
      "作成者": "rpa-1114f28.bp",
      "更新日時": "2025/03/27 14:08",
      "作成日時": "2025/01/28 06:09",
      "入稿シート": "LP掲載",
      "ページURL": "https://beauty.rakuten.co.jp/cnt/topics/campaign/kobe/",
      "事前付与空き枠申請": "不要",
      "対象条件": "セグメントなし",
      "対象デバイス": "セグメントなし",
      "表示フラグ": "不可",
      "割引適用対象": "全アイテム",
      "割引適用ショップ・アイテム": "指定ショップ",
      "店舗件数": 0,
      "クーポン説明": "2025年4月15日現在、楽天ビューティに掲載されている神戸市のヘアサロンのネット予約にお使いいただけます。※他のラ・クーポンとの併用不可※獲得済みであっても利用上限に達した場合はご利用いただけません※ネット予約確定の前に、他のネット予約が成立し利用上限枚数に達した場合にはエラーとなり、ラ・クーポンをご利用になれません※予約状況によってご希望に添えなかったり、お断りする場合もございます※ラ・クーポンを利用した予約をキャンセルした場合、利用条件を満たしていれば、マイクーポンに返還されます",
      "獲得用URL": "https://coupon.rakuten.co.jp/getCoupon?getkey=R0VEVy1HWU5XLVJZTk8tOFlTNg--",
      "利用終了日時": "2025/07/31 23:59",
      "来店終了日時": "2025/08/30 23:59",
      "リダイレクトURL": "https://beauty.rakuten.co.jp/addr28101/?scid=dm_bty_202505_koberbdm_pj_11_get",
      "事前付与対象枚数": 0,
      "セグメント": "202505_獲得(RBDM) 神戸(新規+既存)",
      "制作依頼JIRA URL": "https://jira.rakuten-it.com/jira/browse/RESQUE-9980",
      "注意事項": "＜獲得型_共通＞\n・獲得したラ・クーポンの利用回数には上限があります。\n・他のラ・クーポンとの併用はできません。\n・ラ・クーポンには利用上限回数（予約成立順）が設定されています。ラ・クーポン獲得済みであっても利用上限に達した場合はご利用いただけません。\n・獲得したラ・クーポンは、マイページのマイクーポンからご確認いただけます。\n・ラ・クーポンの利用条件に合致したクーポンのみが、ネット予約STEP中に表示されます。獲得していても、ラ・クーポンが表示されない場合、ラ・クーポンの利用条件等をご確認ください。（予約条件が一致しない、有効期限を過ぎている、利用回数を超えた場合等）\n・ネット予約確定の前に、他のネット予約が成立し利用上限回数に達した場合には、ネット予約がエラーとなり、ラ・クーポンをご利用になれません。\n・ラ・クーポンは、楽天ビューティ（サイト/アプリ）での予約時にのみご利用いただけます。予約成立後など後から利用することはできません。\n・ラ・クーポンを印刷して来店時にお持ちいただいても割引することはできません。\n・ラ・クーポンは、電話予約でご利用できません。\n・一部、ラ・クーポンを利用できない店舗がございます。\n・発行されているラ・クーポンによって来店期日は異なりますので、ご注意ください。\n・サロンの予約状況によっては、ご希望に添えなかったり、お断りする場合もございます。\n・ラ・クーポンを利用した予約をキャンセルした場合、利用条件を満たしていれば、マイクーポンに返還されます。詳しくはこちら\n・本企画は予告無く変更・中止されることがございます。\n・本サービスへのアクセス集中や通信回線の状態による遅延、不具合などにより本サービスへのアクセスや登録・表示などができないことにより発生した障害、または起因して発生したすべての事象に関しましては、当社の責めに帰すべき場合を除き、責任を負いかねます。\n・ご来店いただける期間はサロンの営業時間によって異なります。\n・ラ・クーポンの使用方法についてご不明点があった場合は、楽天ビューティにお問い合わせください。\n\n---------------------------------------------------------------------\n＜獲得型_APPのみ＞\t\n・獲得したラ・クーポンの利用回数には上限があります。\n・他のラ・クーポンとの併用はできません。\n・ラ・クーポンには利用上限回数（予約成立順）が設定されています。ラ・クーポン獲得済みであっても利用上限に達した場合はご利用いただけません。\n・獲得したラ・クーポンは、マイページのマイクーポンからご確認いただけます。\n・ラ・クーポンの利用条件に合致したクーポンのみが、ネット予約STEP中に表示されます。獲得していても、ラ・クーポンが表示されない場合、ラ・クーポンの利用条件等をご確認ください。（予約条件が一致しない、有効期限を過ぎている、利用回数を超えた場合等）\n・ネット予約確定の前に、他のネット予約が成立し利用上限回数に達した場合には、ネット予約がエラーとなり、ラ・クーポンをご利用になれません。\n・ラ・クーポンは、楽天ビューティのアプリでの予約時にのみご利用いただけます。予約成立後など後から利用することはできません。\n・ラ・クーポンを印刷して来店時にお持ちいただいても割引することはできません。\n・ラ・クーポンは、電話予約でご利用できません。\n・一部、ラ・クーポンを利用できない店舗がございます。\n・発行されているラ・クーポンによって来店期日は異なりますので、ご注意ください。\n・サロンの予約状況によっては、ご希望に添えなかったり、お断りする場合もございます。\n・ラ・クーポンを利用した予約をキャンセルした場合、利用条件を満たしていれば、マイクーポンに返還されます。詳しくはこちら\n・本企画は予告無く変更・中止されることがございます。\n・本サービスへのアクセス集中や通信回線の状態による遅延、不具合などにより本サービスへのアクセスや登録・表示などができないことにより発生した障害、または起因して発生したすべての事象に関しましては、当社の責めに帰すべき場合を除き、責任を負いかねます。\n・ご来店いただける期間はサロンの営業時間によって異なります。\n・ラ・クーポンの使用方法についてご不明点があった場合は、楽天ビューティにお問い合わせください。\n\n\n-----------------------------------------------------------------------------------\n＜事前付与型＞\n・ラ・クーポンの利用回数には上限があります。\n・他のラ・クーポンとの併用はできません。\n・ラ・クーポンには利用上限回数（予約成立順）が設定されています。ラ・クーポン獲得済みであっても利用上限に達した場合はご利用いただけません。\n・ラ・クーポンは、マイページのマイクーポンからご確認いただけます。\n・ラ・クーポンの利用条件に合致したクーポンのみが、ネット予約STEP中に表示されます。獲得していても、ラ・クーポンが表示されない場合、ラ・クーポンの利用条件等をご確認ください。（予約条件が一致しない、有効期限を過ぎている、利用回数を超えた場合等）\n・ネット予約確定の前に、他のネット予約が成立し利用上限回数に達した場合には、ネット予約がエラーとなり、ラ・クーポンをご利用になれません。\n・ラ・クーポンは、楽天ビューティ（サイト/アプリ）での予約時にのみご利用いただけます。予約成立後など後から利用することはできません。\n・ラ・クーポンを印刷して来店時にお持ちいただいても割引することはできません。\n・ラ・クーポンは、電話予約でご利用できません。\n・一部、ラ・クーポンを利用できない店舗がございます。\n・発行されているラ・クーポンによって来店期日は異なりますので、ご注意ください。\n・サロンの予約状況によっては、ご希望に添えなかったり、お断りする場合もございます。\n・ラ・クーポンを利用した予約をキャンセルした場合、利用条件を満たしていれば、マイクーポンに返還されます。詳しくはこちら\n・本企画は予告無く変更・中止されることがございます。\n・本サービスへのアクセス集中や通信回線の状態による遅延、不具合などにより本サービスへのアクセスや登録・表示などができないことにより発生した障害、または起因して発生したすべての事象に関しましては、当社の責めに帰すべき場合を除き、責任を負いかねます。\n・ご来店いただける期間はサロンの営業時間によって異なります。\n・ラ・クーポンの使用方法についてご不明点があった場合は、楽天ビューティにお問い合わせください。\n\n\n\n---------　コメントアウト　---------\n※編成へ 各リンク先はこちらでお願いします！\n\nマイクーポン\nhttps://beauty.rakuten.co.jp/user/coupon.php\n\n詳しくはこちら\nhttps://beauty.faq.rakuten.net/user/s/detail/000005759",
      "エリアカテゴリー": "神戸_獲得",
      "リスト提出予定日": "2025/01/28",
      "補足": "店舗リスト、メニューリストについてコメントがあればこちらにお願いいたします。",
      "毎月開催": "単月",
      "割引額": 1100,
      "利用上限枚数": 2500,
      "利用最低金額": 4000,
      "メニュークーポン": "なし",
      "メニュー指定リスト": "※リスト提出予定日までにURL記載",
      "サムネイルURL": "https://cloudinary-a.akamaihd.net/vivivi/image/upload/t_beauty,f_auto,q_auto:good/v1/banner/coupon_image_dm.png",
      "対象店舗予約有無": "なし",
      "会員利用上限枚数(一人あたりの利用回数)": 3
    },
    {
      "利用開始日時": "2025/05/01 00:00",
      "本発行": "（対応中）",
      "クーポンコード": "AIGS-KIGK-J32D-UAEQ",
      "クーポン名": "福岡市",
      "種別": "獲得",
      "事前付与リスト": "※リスト提出予定日までにURL記載",
      "店舗指定リスト": "※リスト提出予定日までにURL記載",
      "露出先管理Kintone URL": "https://rak.cybozu.com/k/#/space/163/thread/174xxxxxxxxxxxxxxxxxxxxx",
      "担当部署": "狭域_福岡",
      "レコード番号": 2374,
      "更新者": "yukoerin.kanayama",
      "作成者": "rpa-1114f28.bp",
      "更新日時": "2025/03/27 14:09",
      "作成日時": "2025/01/28 06:13",
      "入稿シート": "LP掲載",
      "ページURL": "https://beauty.rakuten.co.jp/cnt/topics/campaign/fukuoka/",
      "事前付与空き枠申請": "不要",
      "対象条件": "セグメントなし",
      "対象デバイス": "セグメントなし",
      "表示フラグ": "不可",
      "割引適用対象": "全アイテム",
      "割引適用ショップ・アイテム": "指定ショップ",
      "店舗件数": 0,
      "クーポン説明": "2025年4月15日現在、楽天ビューティに掲載されている福岡市のヘアサロンのネット予約にお使いいただけます。※他のラ・クーポンとの併用不可※獲得済みであっても利用上限に達した場合はご利用いただけません※ネット予約確定の前に、他のネット予約が成立し利用上限枚数に達した場合にはエラーとなり、ラ・クーポンをご利用になれません※予約状況によってご希望に添えなかったり、お断りする場合もございます※ラ・クーポンを利用した予約をキャンセルした場合、利用条件を満たしていれば、マイクーポンに返還されます",
      "獲得用URL": "https://coupon.rakuten.co.jp/getCoupon?getkey=S0lHSy1BSUdTLUozMkQtVUFFUQ--",
      "利用終了日時": "2025/07/31 23:59",
      "来店終了日時": "2025/08/30 23:59",
      "リダイレクトURL": "https://beauty.rakuten.co.jp/addr40131/?scid=dm_bty_202505_fukuokarbdm_pj_11_get",
      "事前付与対象枚数": 0,
      "セグメント": "202505_獲得(RBDM) 福岡(新規+既存)",
      "制作依頼JIRA URL": "https://jira.rakuten-it.com/jira/browse/RESQUE-9980",
      "注意事項": "＜獲得型_共通＞\n・獲得したラ・クーポンの利用回数には上限があります。\n・他のラ・クーポンとの併用はできません。\n・ラ・クーポンには利用上限回数（予約成立順）が設定されています。ラ・クーポン獲得済みであっても利用上限に達した場合はご利用いただけません。\n・獲得したラ・クーポンは、マイページのマイクーポンからご確認いただけます。\n・ラ・クーポンの利用条件に合致したクーポンのみが、ネット予約STEP中に表示されます。獲得していても、ラ・クーポンが表示されない場合、ラ・クーポンの利用条件等をご確認ください。（予約条件が一致しない、有効期限を過ぎている、利用回数を超えた場合等）\n・ネット予約確定の前に、他のネット予約が成立し利用上限回数に達した場合には、ネット予約がエラーとなり、ラ・クーポンをご利用になれません。\n・ラ・クーポンは、楽天ビューティ（サイト/アプリ）での予約時にのみご利用いただけます。予約成立後など後から利用することはできません。\n・ラ・クーポンを印刷して来店時にお持ちいただいても割引することはできません。\n・ラ・クーポンは、電話予約でご利用できません。\n・一部、ラ・クーポンを利用できない店舗がございます。\n・発行されているラ・クーポンによって来店期日は異なりますので、ご注意ください。\n・サロンの予約状況によっては、ご希望に添えなかったり、お断りする場合もございます。\n・ラ・クーポンを利用した予約をキャンセルした場合、利用条件を満たしていれば、マイクーポンに返還されます。詳しくはこちら\n・本企画は予告無く変更・中止されることがございます。\n・本サービスへのアクセス集中や通信回線の状態による遅延、不具合などにより本サービスへのアクセスや登録・表示などができないことにより発生した障害、または起因して発生したすべての事象に関しましては、当社の責めに帰すべき場合を除き、責任を負いかねます。\n・ご来店いただける期間はサロンの営業時間によって異なります。\n・ラ・クーポンの使用方法についてご不明点があった場合は、楽天ビューティにお問い合わせください。\n\n---------------------------------------------------------------------\n＜獲得型_APPのみ＞\t\n・獲得したラ・クーポンの利用回数には上限があります。\n・他のラ・クーポンとの併用はできません。\n・ラ・クーポンには利用上限回数（予約成立順）が設定されています。ラ・クーポン獲得済みであっても利用上限に達した場合はご利用いただけません。\n・獲得したラ・クーポンは、マイページのマイクーポンからご確認いただけます。\n・ラ・クーポンの利用条件に合致したクーポンのみが、ネット予約STEP中に表示されます。獲得していても、ラ・クーポンが表示されない場合、ラ・クーポンの利用条件等をご確認ください。（予約条件が一致しない、有効期限を過ぎている、利用回数を超えた場合等）\n・ネット予約確定の前に、他のネット予約が成立し利用上限回数に達した場合には、ネット予約がエラーとなり、ラ・クーポンをご利用になれません。\n・ラ・クーポンは、楽天ビューティのアプリでの予約時にのみご利用いただけます。予約成立後など後から利用することはできません。\n・ラ・クーポンを印刷して来店時にお持ちいただいても割引することはできません。\n・ラ・クーポンは、電話予約でご利用できません。\n・一部、ラ・クーポンを利用できない店舗がございます。\n・発行されているラ・クーポンによって来店期日は異なりますので、ご注意ください。\n・サロンの予約状況によっては、ご希望に添えなかったり、お断りする場合もございます。\n・ラ・クーポンを利用した予約をキャンセルした場合、利用条件を満たしていれば、マイクーポンに返還されます。詳しくはこちら\n・本企画は予告無く変更・中止されることがございます。\n・本サービスへのアクセス集中や通信回線の状態による遅延、不具合などにより本サービスへのアクセスや登録・表示などができないことにより発生した障害、または起因して発生したすべての事象に関しましては、当社の責めに帰すべき場合を除き、責任を負いかねます。\n・ご来店いただける期間はサロンの営業時間によって異なります。\n・ラ・クーポンの使用方法についてご不明点があった場合は、楽天ビューティにお問い合わせください。\n\n\n-----------------------------------------------------------------------------------\n＜事前付与型＞\n・ラ・クーポンの利用回数には上限があります。\n・他のラ・クーポンとの併用はできません。\n・ラ・クーポンには利用上限回数（予約成立順）が設定されています。ラ・クーポン獲得済みであっても利用上限に達した場合はご利用いただけません。\n・ラ・クーポンは、マイページのマイクーポンからご確認いただけます。\n・ラ・クーポンの利用条件に合致したクーポンのみが、ネット予約STEP中に表示されます。獲得していても、ラ・クーポンが表示されない場合、ラ・クーポンの利用条件等をご確認ください。（予約条件が一致しない、有効期限を過ぎている、利用回数を超えた場合等）\n・ネット予約確定の前に、他のネット予約が成立し利用上限回数に達した場合には、ネット予約がエラーとなり、ラ・クーポンをご利用になれません。\n・ラ・クーポンは、楽天ビューティ（サイト/アプリ）での予約時にのみご利用いただけます。予約成立後など後から利用することはできません。\n・ラ・クーポンを印刷して来店時にお持ちいただいても割引することはできません。\n・ラ・クーポンは、電話予約でご利用できません。\n・一部、ラ・クーポンを利用できない店舗がございます。\n・発行されているラ・クーポンによって来店期日は異なりますので、ご注意ください。\n・サロンの予約状況によっては、ご希望に添えなかったり、お断りする場合もございます。\n・ラ・クーポンを利用した予約をキャンセルした場合、利用条件を満たしていれば、マイクーポンに返還されます。詳しくはこちら\n・本企画は予告無く変更・中止されることがございます。\n・本サービスへのアクセス集中や通信回線の状態による遅延、不具合などにより本サービスへのアクセスや登録・表示などができないことにより発生した障害、または起因して発生したすべての事象に関しましては、当社の責めに帰すべき場合を除き、責任を負いかねます。\n・ご来店いただける期間はサロンの営業時間によって異なります。\n・ラ・クーポンの使用方法についてご不明点があった場合は、楽天ビューティにお問い合わせください。\n\n\n\n---------　コメントアウト　---------\n※編成へ 各リンク先はこちらでお願いします！\n\nマイクーポン\nhttps://beauty.rakuten.co.jp/user/coupon.php\n\n詳しくはこちら\nhttps://beauty.faq.rakuten.net/user/s/detail/000005759",
      "エリアカテゴリー": "福岡_獲得",
      "リスト提出予定日": "2025/01/28",
      "補足": "店舗リスト、メニューリストについてコメントがあればこちらにお願いいたします。",
      "毎月開催": "単月",
      "割引額": 1100,
      "利用上限枚数": 2500,
      "利用最低金額": 4000,
      "メニュークーポン": "なし",
      "メニュー指定リスト": "※リスト提出予定日までにURL記載",
      "サムネイルURL": "https://cloudinary-a.akamaihd.net/vivivi/image/upload/t_beauty,f_auto,q_auto:good/v1/banner/coupon_image_dm.png",
      "対象店舗予約有無": "なし",
      "会員利用上限枚数(一人あたりの利用回数)": 3
    },
    {
      "利用開始日時": "2025/05/01 00:00",
      "本発行": "（対応中）",
      "クーポンコード": "3HX8-AF3H-OG6Q-QEN9",
      "クーポン名": "さいたま市",
      "種別": "獲得",
      "事前付与リスト": "※リスト提出予定日までにURL記載",
      "店舗指定リスト": "※リスト提出予定日までにURL記載",
      "露出先管理Kintone URL": "https://rak.cybozu.com/k/#/space/163/thread/174xxxxxxxxxxxxxxxxxxxxx",
      "担当部署": "狭域_さいたま",
      "レコード番号": 2375,
      "更新者": "yukoerin.kanayama",
      "作成者": "rpa-1114f28.bp",
      "更新日時": "2025/03/27 14:09",
      "作成日時": "2025/01/28 06:18",
      "入稿シート": "LP掲載",
      "ページURL": "https://beauty.rakuten.co.jp/cnt/topics/campaign/saitama/",
      "事前付与空き枠申請": "不要",
      "対象条件": "セグメントなし",
      "対象デバイス": "セグメントなし",
      "表示フラグ": "不可",
      "割引適用対象": "全アイテム",
      "割引適用ショップ・アイテム": "指定ショップ",
      "店舗件数": 0,
      "クーポン説明": "2025年4月15日現在、楽天ビューティに掲載されているさいたま市のヘアサロンのネット予約にお使いいただけます ※他のラ・クーポンとの併用不可 ※獲得済みであっても利用上限に達した場合はご利用いただけません ※ネット予約確定の前に、他のネット予約が成立し利用上限枚数に達した場合にはエラーとなり、ラ・クーポンをご利用になれません ※予約状況によってご希望に添えなかったり、お断りする場合もございます ※ラ・クーポンを利用した予約をキャンセルした場合、利用条件を満たしていれば、マイクーポンに返還されます",
      "獲得用URL": "https://coupon.rakuten.co.jp/getCoupon?getkey=QUYzSC0zSFg4LU9HNlEtUUVOOQ--",
      "利用終了日時": "2025/07/31 23:59",
      "来店終了日時": "2025/08/30 23:59",
      "リダイレクトURL": "https://beauty.rakuten.co.jp/addr11101/?scid=dm_bty_202505_saitamarbdm_pj_11_get",
      "事前付与対象枚数": 0,
      "セグメント": "202505_獲得(RBDM) さいたま(新規+既存)",
      "制作依頼JIRA URL": "https://jira.rakuten-it.com/jira/browse/RESQUE-9980",
      "注意事項": "＜獲得型_共通＞\n・獲得したラ・クーポンの利用回数には上限があります。\n・他のラ・クーポンとの併用はできません。\n・ラ・クーポンには利用上限回数（予約成立順）が設定されています。ラ・クーポン獲得済みであっても利用上限に達した場合はご利用いただけません。\n・獲得したラ・クーポンは、マイページのマイクーポンからご確認いただけます。\n・ラ・クーポンの利用条件に合致したクーポンのみが、ネット予約STEP中に表示されます。獲得していても、ラ・クーポンが表示されない場合、ラ・クーポンの利用条件等をご確認ください。（予約条件が一致しない、有効期限を過ぎている、利用回数を超えた場合等）\n・ネット予約確定の前に、他のネット予約が成立し利用上限回数に達した場合には、ネット予約がエラーとなり、ラ・クーポンをご利用になれません。\n・ラ・クーポンは、楽天ビューティ（サイト/アプリ）での予約時にのみご利用いただけます。予約成立後など後から利用することはできません。\n・ラ・クーポンを印刷して来店時にお持ちいただいても割引することはできません。\n・ラ・クーポンは、電話予約でご利用できません。\n・一部、ラ・クーポンを利用できない店舗がございます。\n・発行されているラ・クーポンによって来店期日は異なりますので、ご注意ください。\n・サロンの予約状況によっては、ご希望に添えなかったり、お断りする場合もございます。\n・ラ・クーポンを利用した予約をキャンセルした場合、利用条件を満たしていれば、マイクーポンに返還されます。詳しくはこちら\n・本企画は予告無く変更・中止されることがございます。\n・本サービスへのアクセス集中や通信回線の状態による遅延、不具合などにより本サービスへのアクセスや登録・表示などができないことにより発生した障害、または起因して発生したすべての事象に関しましては、当社の責めに帰すべき場合を除き、責任を負いかねます。\n・ご来店いただける期間はサロンの営業時間によって異なります。\n・ラ・クーポンの使用方法についてご不明点があった場合は、楽天ビューティにお問い合わせください。\n\n---------------------------------------------------------------------\n＜獲得型_APPのみ＞\t\n・獲得したラ・クーポンの利用回数には上限があります。\n・他のラ・クーポンとの併用はできません。\n・ラ・クーポンには利用上限回数（予約成立順）が設定されています。ラ・クーポン獲得済みであっても利用上限に達した場合はご利用いただけません。\n・獲得したラ・クーポンは、マイページのマイクーポンからご確認いただけます。\n・ラ・クーポンの利用条件に合致したクーポンのみが、ネット予約STEP中に表示されます。獲得していても、ラ・クーポンが表示されない場合、ラ・クーポンの利用条件等をご確認ください。（予約条件が一致しない、有効期限を過ぎている、利用回数を超えた場合等）\n・ネット予約確定の前に、他のネット予約が成立し利用上限回数に達した場合には、ネット予約がエラーとなり、ラ・クーポンをご利用になれません。\n・ラ・クーポンは、楽天ビューティのアプリでの予約時にのみご利用いただけます。予約成立後など後から利用することはできません。\n・ラ・クーポンを印刷して来店時にお持ちいただいても割引することはできません。\n・ラ・クーポンは、電話予約でご利用できません。\n・一部、ラ・クーポンを利用できない店舗がございます。\n・発行されているラ・クーポンによって来店期日は異なりますので、ご注意ください。\n・サロンの予約状況によっては、ご希望に添えなかったり、お断りする場合もございます。\n・ラ・クーポンを利用した予約をキャンセルした場合、利用条件を満たしていれば、マイクーポンに返還されます。詳しくはこちら\n・本企画は予告無く変更・中止されることがございます。\n・本サービスへのアクセス集中や通信回線の状態による遅延、不具合などにより本サービスへのアクセスや登録・表示などができないことにより発生した障害、または起因して発生したすべての事象に関しましては、当社の責めに帰すべき場合を除き、責任を負いかねます。\n・ご来店いただける期間はサロンの営業時間によって異なります。\n・ラ・クーポンの使用方法についてご不明点があった場合は、楽天ビューティにお問い合わせください。\n\n\n-----------------------------------------------------------------------------------\n＜事前付与型＞\n・ラ・クーポンの利用回数には上限があります。\n・他のラ・クーポンとの併用はできません。\n・ラ・クーポンには利用上限回数（予約成立順）が設定されています。ラ・クーポン獲得済みであっても利用上限に達した場合はご利用いただけません。\n・ラ・クーポンは、マイページのマイクーポンからご確認いただけます。\n・ラ・クーポンの利用条件に合致したクーポンのみが、ネット予約STEP中に表示されます。獲得していても、ラ・クーポンが表示されない場合、ラ・クーポンの利用条件等をご確認ください。（予約条件が一致しない、有効期限を過ぎている、利用回数を超えた場合等）\n・ネット予約確定の前に、他のネット予約が成立し利用上限回数に達した場合には、ネット予約がエラーとなり、ラ・クーポンをご利用になれません。\n・ラ・クーポンは、楽天ビューティ（サイト/アプリ）での予約時にのみご利用いただけます。予約成立後など後から利用することはできません。\n・ラ・クーポンを印刷して来店時にお持ちいただいても割引することはできません。\n・ラ・クーポンは、電話予約でご利用できません。\n・一部、ラ・クーポンを利用できない店舗がございます。\n・発行されているラ・クーポンによって来店期日は異なりますので、ご注意ください。\n・サロンの予約状況によっては、ご希望に添えなかったり、お断りする場合もございます。\n・ラ・クーポンを利用した予約をキャンセルした場合、利用条件を満たしていれば、マイクーポンに返還されます。詳しくはこちら\n・本企画は予告無く変更・中止されることがございます。\n・本サービスへのアクセス集中や通信回線の状態による遅延、不具合などにより本サービスへのアクセスや登録・表示などができないことにより発生した障害、または起因して発生したすべての事象に関しましては、当社の責めに帰すべき場合を除き、責任を負いかねます。\n・ご来店いただける期間はサロンの営業時間によって異なります。\n・ラ・クーポンの使用方法についてご不明点があった場合は、楽天ビューティにお問い合わせください。\n\n\n\n---------　コメントアウト　---------\n※編成へ 各リンク先はこちらでお願いします！\n\nマイクーポン\nhttps://beauty.rakuten.co.jp/user/coupon.php\n\n詳しくはこちら\nhttps://beauty.faq.rakuten.net/user/s/detail/000005759",
      "エリアカテゴリー": "さいたま_獲得",
      "リスト提出予定日": "2025/01/28",
      "補足": "店舗リスト、メニューリストについてコメントがあればこちらにお願いいたします。",
      "毎月開催": "単月",
      "割引額": 1100,
      "利用上限枚数": 2500,
      "利用最低金額": 4000,
      "メニュークーポン": "なし",
      "メニュー指定リスト": "※リスト提出予定日までにURL記載",
      "サムネイルURL": "https://cloudinary-a.akamaihd.net/vivivi/image/upload/t_beauty,f_auto,q_auto:good/v1/banner/coupon_image_dm.png",
      "対象店舗予約有無": "なし",
      "会員利用上限枚数(一人あたりの利用回数)": 3
    },
    {
      "利用開始日時": "2025/05/01 00:00",
      "本発行": "（対応中）",
      "クーポンコード": "AULU-94OR-RTXL-84WV",
      "クーポン名": "札幌市",
      "種別": "獲得",
      "事前付与リスト": "※リスト提出予定日までにURL記載",
      "店舗指定リスト": "※リスト提出予定日までにURL記載",
      "露出先管理Kintone URL": "https://rak.cybozu.com/k/#/space/163/thread/174xxxxxxxxxxxxxxxxxxxxx",
      "担当部署": "狭域_札幌",
      "レコード番号": 2376,
      "更新者": "yukoerin.kanayama",
      "作成者": "rpa-1114f28.bp",
      "更新日時": "2025/03/27 14:09",
      "作成日時": "2025/01/28 06:23",
      "入稿シート": "LP掲載",
      "ページURL": "https://beauty.rakuten.co.jp/cnt/topics/campaign/sapporo/",
      "事前付与空き枠申請": "不要",
      "対象条件": "セグメントなし",
      "対象デバイス": "セグメントなし",
      "表示フラグ": "不可",
      "割引適用対象": "全アイテム",
      "割引適用ショップ・アイテム": "指定ショップ",
      "店舗件数": 0,
      "クーポン説明": "2025年4月15日現在、楽天ビューティに掲載されている札幌市のヘアサロンのネット予約にお使いいただけます。※他のラ・クーポンとの併用不可※獲得済みであっても利用上限に達した場合はご利用いただけません※ネット予約確定の前に、他のネット予約が成立し利用上限枚数に達した場合にはエラーとなり、ラ・クーポンをご利用になれません※予約状況によってご希望に添えなかったり、お断りする場合もございます※ラ・クーポンを利用した予約をキャンセルした場合、利用条件を満たしていれば、マイクーポンに返還されます",
      "獲得用URL": "https://coupon.rakuten.co.jp/getCoupon?getkey=OTRPUi1BVUxVLVJUWEwtODRXVg--",
      "利用終了日時": "2025/07/31 23:59",
      "来店終了日時": "2025/08/30 23:59",
      "リダイレクトURL": "https://beauty.rakuten.co.jp/addr01101/?scid=dm_bty_202505_sappororbdm_pj_11_get",
      "事前付与対象枚数": 0,
      "セグメント": "202505_獲得(RBDM) 札幌(新規+既存)",
      "制作依頼JIRA URL": "https://jira.rakuten-it.com/jira/browse/RESQUE-9980",
      "注意事項": "＜獲得型_共通＞\n・獲得したラ・クーポンの利用回数には上限があります。\n・他のラ・クーポンとの併用はできません。\n・ラ・クーポンには利用上限回数（予約成立順）が設定されています。ラ・クーポン獲得済みであっても利用上限に達した場合はご利用いただけません。\n・獲得したラ・クーポンは、マイページのマイクーポンからご確認いただけます。\n・ラ・クーポンの利用条件に合致したクーポンのみが、ネット予約STEP中に表示されます。獲得していても、ラ・クーポンが表示されない場合、ラ・クーポンの利用条件等をご確認ください。（予約条件が一致しない、有効期限を過ぎている、利用回数を超えた場合等）\n・ネット予約確定の前に、他のネット予約が成立し利用上限回数に達した場合には、ネット予約がエラーとなり、ラ・クーポンをご利用になれません。\n・ラ・クーポンは、楽天ビューティ（サイト/アプリ）での予約時にのみご利用いただけます。予約成立後など後から利用することはできません。\n・ラ・クーポンを印刷して来店時にお持ちいただいても割引することはできません。\n・ラ・クーポンは、電話予約でご利用できません。\n・一部、ラ・クーポンを利用できない店舗がございます。\n・発行されているラ・クーポンによって来店期日は異なりますので、ご注意ください。\n・サロンの予約状況によっては、ご希望に添えなかったり、お断りする場合もございます。\n・ラ・クーポンを利用した予約をキャンセルした場合、利用条件を満たしていれば、マイクーポンに返還されます。詳しくはこちら\n・本企画は予告無く変更・中止されることがございます。\n・本サービスへのアクセス集中や通信回線の状態による遅延、不具合などにより本サービスへのアクセスや登録・表示などができないことにより発生した障害、または起因して発生したすべての事象に関しましては、当社の責めに帰すべき場合を除き、責任を負いかねます。\n・ご来店いただける期間はサロンの営業時間によって異なります。\n・ラ・クーポンの使用方法についてご不明点があった場合は、楽天ビューティにお問い合わせください。\n\n---------------------------------------------------------------------\n＜獲得型_APPのみ＞\t\n・獲得したラ・クーポンの利用回数には上限があります。\n・他のラ・クーポンとの併用はできません。\n・ラ・クーポンには利用上限回数（予約成立順）が設定されています。ラ・クーポン獲得済みであっても利用上限に達した場合はご利用いただけません。\n・獲得したラ・クーポンは、マイページのマイクーポンからご確認いただけます。\n・ラ・クーポンの利用条件に合致したクーポンのみが、ネット予約STEP中に表示されます。獲得していても、ラ・クーポンが表示されない場合、ラ・クーポンの利用条件等をご確認ください。（予約条件が一致しない、有効期限を過ぎている、利用回数を超えた場合等）\n・ネット予約確定の前に、他のネット予約が成立し利用上限回数に達した場合には、ネット予約がエラーとなり、ラ・クーポンをご利用になれません。\n・ラ・クーポンは、楽天ビューティのアプリでの予約時にのみご利用いただけます。予約成立後など後から利用することはできません。\n・ラ・クーポンを印刷して来店時にお持ちいただいても割引することはできません。\n・ラ・クーポンは、電話予約でご利用できません。\n・一部、ラ・クーポンを利用できない店舗がございます。\n・発行されているラ・クーポンによって来店期日は異なりますので、ご注意ください。\n・サロンの予約状況によっては、ご希望に添えなかったり、お断りする場合もございます。\n・ラ・クーポンを利用した予約をキャンセルした場合、利用条件を満たしていれば、マイクーポンに返還されます。詳しくはこちら\n・本企画は予告無く変更・中止されることがございます。\n・本サービスへのアクセス集中や通信回線の状態による遅延、不具合などにより本サービスへのアクセスや登録・表示などができないことにより発生した障害、または起因して発生したすべての事象に関しましては、当社の責めに帰すべき場合を除き、責任を負いかねます。\n・ご来店いただける期間はサロンの営業時間によって異なります。\n・ラ・クーポンの使用方法についてご不明点があった場合は、楽天ビューティにお問い合わせください。\n\n\n-----------------------------------------------------------------------------------\n＜事前付与型＞\n・ラ・クーポンの利用回数には上限があります。\n・他のラ・クーポンとの併用はできません。\n・ラ・クーポンには利用上限回数（予約成立順）が設定されています。ラ・クーポン獲得済みであっても利用上限に達した場合はご利用いただけません。\n・ラ・クーポンは、マイページのマイクーポンからご確認いただけます。\n・ラ・クーポンの利用条件に合致したクーポンのみが、ネット予約STEP中に表示されます。獲得していても、ラ・クーポンが表示されない場合、ラ・クーポンの利用条件等をご確認ください。（予約条件が一致しない、有効期限を過ぎている、利用回数を超えた場合等）\n・ネット予約確定の前に、他のネット予約が成立し利用上限回数に達した場合には、ネット予約がエラーとなり、ラ・クーポンをご利用になれません。\n・ラ・クーポンは、楽天ビューティ（サイト/アプリ）での予約時にのみご利用いただけます。予約成立後など後から利用することはできません。\n・ラ・クーポンを印刷して来店時にお持ちいただいても割引することはできません。\n・ラ・クーポンは、電話予約でご利用できません。\n・一部、ラ・クーポンを利用できない店舗がございます。\n・発行されているラ・クーポンによって来店期日は異なりますので、ご注意ください。\n・サロンの予約状況によっては、ご希望に添えなかったり、お断りする場合もございます。\n・ラ・クーポンを利用した予約をキャンセルした場合、利用条件を満たしていれば、マイクーポンに返還されます。詳しくはこちら\n・本企画は予告無く変更・中止されることがございます。\n・本サービスへのアクセス集中や通信回線の状態による遅延、不具合などにより本サービスへのアクセスや登録・表示などができないことにより発生した障害、または起因して発生したすべての事象に関しましては、当社の責めに帰すべき場合を除き、責任を負いかねます。\n・ご来店いただける期間はサロンの営業時間によって異なります。\n・ラ・クーポンの使用方法についてご不明点があった場合は、楽天ビューティにお問い合わせください。\n\n\n\n---------　コメントアウト　---------\n※編成へ 各リンク先はこちらでお願いします！\n\nマイクーポン\nhttps://beauty.rakuten.co.jp/user/coupon.php\n\n詳しくはこちら\nhttps://beauty.faq.rakuten.net/user/s/detail/000005759",
      "エリアカテゴリー": "札幌_獲得",
      "リスト提出予定日": "2025/01/28",
      "補足": "店舗リスト、メニューリストについてコメントがあればこちらにお願いいたします。",
      "毎月開催": "単月",
      "割引額": 1100,
      "利用上限枚数": 2500,
      "利用最低金額": 4000,
      "メニュークーポン": "なし",
      "メニュー指定リスト": "※リスト提出予定日までにURL記載",
      "サムネイルURL": "https://cloudinary-a.akamaihd.net/vivivi/image/upload/t_beauty,f_auto,q_auto:good/v1/banner/coupon_image_dm.png",
      "対象店舗予約有無": "なし",
      "会員利用上限枚数(一人あたりの利用回数)": 3
    },
    {
      "利用開始日時": "2025/05/01 00:00",
      "本発行": "（対応中）",
      "クーポンコード": "GJFC-TDT1-EE2T-YWHN",
      "クーポン名": "広島市",
      "種別": "獲得",
      "事前付与リスト": "※リスト提出予定日までにURL記載",
      "店舗指定リスト": "※リスト提出予定日までにURL記載",
      "露出先管理Kintone URL": "https://rak.cybozu.com/k/#/space/163/thread/174xxxxxxxxxxxxxxxxxxxxx",
      "担当部署": "狭域_広島",
      "レコード番号": 2377,
      "更新者": "yukoerin.kanayama",
      "作成者": "rpa-1114f28.bp",
      "更新日時": "2025/03/27 14:09",
      "作成日時": "2025/01/28 06:29",
      "入稿シート": "LP掲載",
      "ページURL": "https://beauty.rakuten.co.jp/cnt/topics/campaign/hiroshima/",
      "事前付与空き枠申請": "不要",
      "対象条件": "セグメントなし",
      "対象デバイス": "セグメントなし",
      "表示フラグ": "不可",
      "割引適用対象": "全アイテム",
      "割引適用ショップ・アイテム": "指定ショップ",
      "店舗件数": 0,
      "クーポン説明": "2025年4月15日現在、楽天ビューティに掲載されている広島市と安芸郡府中町のヘアサロンのネット予約にお使いいただけます。 ※他のラ・クーポンとの併用不可 ※獲得済みであっても利用上限に達した場合や、ネット予約確定の前に他のネット予約が成立し、利用上限枚数に達した場合はエラーとなり、ご利用いただけません ※予約状況によってご希望に添えなかったり、お断りする場合もございます ※ラ・クーポンを利用した予約をキャンセルした場合、利用条件を満たしていれば、マイクーポンに返還されます",
      "獲得用URL": "https://coupon.rakuten.co.jp/getCoupon?getkey=VERUMS1HSkZDLUVFMlQtWVdITg--",
      "利用終了日時": "2025/07/31 23:59",
      "来店終了日時": "2025/08/30 23:59",
      "リダイレクトURL": "https://beauty.rakuten.co.jp/addr34101/?scid=dm_bty_202505_hiroshimarbdm_pj_11_get",
      "事前付与対象枚数": 0,
      "セグメント": "202505_獲得(RBDM) 広島(新規+既存)",
      "制作依頼JIRA URL": "https://jira.rakuten-it.com/jira/browse/RESQUE-9980",
      "注意事項": "＜獲得型_共通＞\n・獲得したラ・クーポンの利用回数には上限があります。\n・他のラ・クーポンとの併用はできません。\n・ラ・クーポンには利用上限回数（予約成立順）が設定されています。ラ・クーポン獲得済みであっても利用上限に達した場合はご利用いただけません。\n・獲得したラ・クーポンは、マイページのマイクーポンからご確認いただけます。\n・ラ・クーポンの利用条件に合致したクーポンのみが、ネット予約STEP中に表示されます。獲得していても、ラ・クーポンが表示されない場合、ラ・クーポンの利用条件等をご確認ください。（予約条件が一致しない、有効期限を過ぎている、利用回数を超えた場合等）\n・ネット予約確定の前に、他のネット予約が成立し利用上限回数に達した場合には、ネット予約がエラーとなり、ラ・クーポンをご利用になれません。\n・ラ・クーポンは、楽天ビューティ（サイト/アプリ）での予約時にのみご利用いただけます。予約成立後など後から利用することはできません。\n・ラ・クーポンを印刷して来店時にお持ちいただいても割引することはできません。\n・ラ・クーポンは、電話予約でご利用できません。\n・一部、ラ・クーポンを利用できない店舗がございます。\n・発行されているラ・クーポンによって来店期日は異なりますので、ご注意ください。\n・サロンの予約状況によっては、ご希望に添えなかったり、お断りする場合もございます。\n・ラ・クーポンを利用した予約をキャンセルした場合、利用条件を満たしていれば、マイクーポンに返還されます。詳しくはこちら\n・本企画は予告無く変更・中止されることがございます。\n・本サービスへのアクセス集中や通信回線の状態による遅延、不具合などにより本サービスへのアクセスや登録・表示などができないことにより発生した障害、または起因して発生したすべての事象に関しましては、当社の責めに帰すべき場合を除き、責任を負いかねます。\n・ご来店いただける期間はサロンの営業時間によって異なります。\n・ラ・クーポンの使用方法についてご不明点があった場合は、楽天ビューティにお問い合わせください。\n\n---------------------------------------------------------------------\n＜獲得型_APPのみ＞\t\n・獲得したラ・クーポンの利用回数には上限があります。\n・他のラ・クーポンとの併用はできません。\n・ラ・クーポンには利用上限回数（予約成立順）が設定されています。ラ・クーポン獲得済みであっても利用上限に達した場合はご利用いただけません。\n・獲得したラ・クーポンは、マイページのマイクーポンからご確認いただけます。\n・ラ・クーポンの利用条件に合致したクーポンのみが、ネット予約STEP中に表示されます。獲得していても、ラ・クーポンが表示されない場合、ラ・クーポンの利用条件等をご確認ください。（予約条件が一致しない、有効期限を過ぎている、利用回数を超えた場合等）\n・ネット予約確定の前に、他のネット予約が成立し利用上限回数に達した場合には、ネット予約がエラーとなり、ラ・クーポンをご利用になれません。\n・ラ・クーポンは、楽天ビューティのアプリでの予約時にのみご利用いただけます。予約成立後など後から利用することはできません。\n・ラ・クーポンを印刷して来店時にお持ちいただいても割引することはできません。\n・ラ・クーポンは、電話予約でご利用できません。\n・一部、ラ・クーポンを利用できない店舗がございます。\n・発行されているラ・クーポンによって来店期日は異なりますので、ご注意ください。\n・サロンの予約状況によっては、ご希望に添えなかったり、お断りする場合もございます。\n・ラ・クーポンを利用した予約をキャンセルした場合、利用条件を満たしていれば、マイクーポンに返還されます。詳しくはこちら\n・本企画は予告無く変更・中止されることがございます。\n・本サービスへのアクセス集中や通信回線の状態による遅延、不具合などにより本サービスへのアクセスや登録・表示などができないことにより発生した障害、または起因して発生したすべての事象に関しましては、当社の責めに帰すべき場合を除き、責任を負いかねます。\n・ご来店いただける期間はサロンの営業時間によって異なります。\n・ラ・クーポンの使用方法についてご不明点があった場合は、楽天ビューティにお問い合わせください。\n\n\n-----------------------------------------------------------------------------------\n＜事前付与型＞\n・ラ・クーポンの利用回数には上限があります。\n・他のラ・クーポンとの併用はできません。\n・ラ・クーポンには利用上限回数（予約成立順）が設定されています。ラ・クーポン獲得済みであっても利用上限に達した場合はご利用いただけません。\n・ラ・クーポンは、マイページのマイクーポンからご確認いただけます。\n・ラ・クーポンの利用条件に合致したクーポンのみが、ネット予約STEP中に表示されます。獲得していても、ラ・クーポンが表示されない場合、ラ・クーポンの利用条件等をご確認ください。（予約条件が一致しない、有効期限を過ぎている、利用回数を超えた場合等）\n・ネット予約確定の前に、他のネット予約が成立し利用上限回数に達した場合には、ネット予約がエラーとなり、ラ・クーポンをご利用になれません。\n・ラ・クーポンは、楽天ビューティ（サイト/アプリ）での予約時にのみご利用いただけます。予約成立後など後から利用することはできません。\n・ラ・クーポンを印刷して来店時にお持ちいただいても割引することはできません。\n・ラ・クーポンは、電話予約でご利用できません。\n・一部、ラ・クーポンを利用できない店舗がございます。\n・発行されているラ・クーポンによって来店期日は異なりますので、ご注意ください。\n・サロンの予約状況によっては、ご希望に添えなかったり、お断りする場合もございます。\n・ラ・クーポンを利用した予約をキャンセルした場合、利用条件を満たしていれば、マイクーポンに返還されます。詳しくはこちら\n・本企画は予告無く変更・中止されることがございます。\n・本サービスへのアクセス集中や通信回線の状態による遅延、不具合などにより本サービスへのアクセスや登録・表示などができないことにより発生した障害、または起因して発生したすべての事象に関しましては、当社の責めに帰すべき場合を除き、責任を負いかねます。\n・ご来店いただける期間はサロンの営業時間によって異なります。\n・ラ・クーポンの使用方法についてご不明点があった場合は、楽天ビューティにお問い合わせください。\n\n\n\n---------　コメントアウト　---------\n※編成へ 各リンク先はこちらでお願いします！\n\nマイクーポン\nhttps://beauty.rakuten.co.jp/user/coupon.php\n\n詳しくはこちら\nhttps://beauty.faq.rakuten.net/user/s/detail/000005759",
      "エリアカテゴリー": "広島_獲得",
      "リスト提出予定日": "2025/01/28",
      "補足": "店舗リスト、メニューリストについてコメントがあればこちらにお願いいたします。",
      "毎月開催": "単月",
      "割引額": 1100,
      "利用上限枚数": 2500,
      "利用最低金額": 4000,
      "メニュークーポン": "なし",
      "メニュー指定リスト": "※リスト提出予定日までにURL記載",
      "サムネイルURL": "https://cloudinary-a.akamaihd.net/vivivi/image/upload/t_beauty,f_auto,q_auto:good/v1/banner/coupon_image_dm.png",
      "対象店舗予約有無": "なし",
      "会員利用上限枚数(一人あたりの利用回数)": 3
    }
  ]