passStr = '../../../../../'
@import passStr + '_common/stylus/Base/_init'

//---------------------------------//common
$red1 = #bf0000
$pink1 = #ff60c8
$gray1 = #eee
$gray_txt = #444444
$max-width = 1216px
$m-width = 1100px
$blue = #45a9bc
//---------------------------------//

#rakutenian_salon_referral

  +pc()

    .sp
      display: none

    a
      color:$blue
      text-decoration: underline
      &:hover
        text-decoration: none

    #mainArea
      width: $m-width
      margin: 30px auto 0
      h1.main_ttl
        border-left:5px solid $red1
        padding-left:20px
        margin:0 auto 20px 0
        font-weight: bold
        font-size: 2.3rem
        line-height:1.5
        color:$gray_txt
      .discriptions
        color:$gray_txt
        .discriptions__wrap
          margin-bottom:8px
          p
            font-size: 1.3rem
            line-height:1.5
            &.attention
              color:#bf0000
          ul
            margin:10px 0 0 20px
            li
              list-style-type: disc
              font-size: 1.3rem
              line-height:1.8
              &.nolistsyle
                list-style:none
          span
            color:$red1
            font-size:1.3rem
      .request_area
        background: $gray1
        padding: 10px 0 40px 0
        p.caption
          padding:20px 50px
          font-weight:bold
          line-height:1.5
          font-size:1.4rem
          span
            color:$red1
            padding-left:10px
            font-size:1.3rem
            .red
              padding:0 5px 0 0
          b
            &.captionSmall
              display:block
              font-size:1.3rem
              font-weight:bold
              color:$red1
        table
          border:none
          width: 90%
          margin: 0 auto
          background: #fff
          font-size: 1.4rem
          line-height: 1.6
          td.question
            font-weight: bold
            font-size: 1.6rem
            background-color: white
            color: $pink1
          td
            padding: 20px
            vertical-align: middle
            line-height: 2.0
            border-bottom:8px solid #eee
            p
              &.example
                color:#bbb
                font-size:1.2rem
                margin-top:3px
            span.mandatory
              color:$pink1
            span.annotation
              color:#666
              font-weight: normal
              font-size:1.2rem
            span.bold
              font-weight: bold
            input
              &[type="text"]
                width:80%
                padding:8px
                font-size: 16px
              &[type="radio"]
                margin:5px
              &[type="textarea"]
                width:80%
                padding:8px
                font-size: 16px
            &:first-child
              width:50%
            select
              height 30px
            label
              display:block
              padding:4px 0
              height:auto
              box-sizing: border-box
        .readme
          padding:30px 50px
          h2,p.subttl
            font-size:1.8rem
            font-weight:bold
            text-align:center
            color:$gray_txt
            margin-bottom:16px
          p
            font-size:1.8rem
            line-height:1.5
            margin-bottom:25px
            &.subttl
              font-size:1.4rem
              margin-bottom:25px
              span
                &.attention
                  color:#bf0000
              border-bottom:1px dashed #ccc
              padding-bottom:30px
          h3
            font-size:1.8rem
            font-weight:bold
            margin:20px 0 10px
            color:$gray_txt
          ol
            list-style-type: none
            list-style-position:inside
            color:$gray_txt
            li
              font-size:1.6rem
              line-height: 1.8
              word-break: break-all
              text-align: center
  +sp()

    .pc
      display: none

    a
      color:$blue
      text-decoration: underline

    #mainArea
      width: 100%
      h1.main_ttl
        text-align:left
        border-left:5px solid $red1
        margin:16px
        padding-left:20px
        font-weight: bold
        font-size: 1.8rem
        line-height:1.4
        color:$gray_txt
      .discriptions
        padding:0 16px 10px
        color:$gray_txt
        line-height:1.6
        .discriptions__wrap
          &:not(:last-of-type)
            margin-bottom:8px
          p
            font-size:1.1rem
            &.attention
              color:#bf0000
          ul
            border-top:1px dashed #ccc
            border-bottom:1px dashed #ccc
            padding:10px 0 10px 16px
            margin:10px 0
            li
              list-style-type: disc
              font-size:1.1rem
              line-height:1.6
      .request_area
        background: $gray1
        padding: 2% 5% 5% 5%
        color:$gray_txt
        margin-bottom: 24px
        .form_ttl
          font-weight: bold
          font-size: 1.4rem
          line-height:1.5
          text-align: center
          padding-bottom: 20px
        p
          &.caption
            margin:5% 0
            font-size:1.4rem
            font-weight:bold
            span
              font-size:1rem
              font-weight:normal
              color:red
              line-height:1.3
              &.red
                font-size:1.2rem
                font-weight:bold
                vertical-align:middle
            b
              &.captionSmall
                display:block
                color:$gray_txt
                font-size:1.4rem
                color:red
                font-weight:bold
                line-height:1.5
                //margin-bottom:-10px
          &.example
            color:#888
            font-size:1.0rem
            margin:8px 0 0
            line-height:1.5
        table
          width:100%
          border-collapse: collapse
          margin: 0 auto
          background: #fff
          font-size: 1.2rem
          &.freetxt
            margin-top:20px
            textarea
              width:100%
          tr
            padding:0
            td
              display: block
              width:auto
              border:none
              padding: 10px
              font-size:1.2rem
              &:first-of-type
                line-height: 1.5
              &:nth-child(odd)
                background:$gray1
                font-weight:bold
              &:nth-child(2)
                padding: 0px 10px 10px 10px
              input,select,textarea
                width:100%
                height:40px
                box-sizing: border-box
                font-size:1.4rem
                border:1px solid #ddd
                background:#fff
                &.form_w_s
                  width:50%
                &[type="checkbox"]
                  width:auto
                  height:auto
                  vertical-align: middle
                &[type="radio"]
                  width:auto
                  height:auto
                  text-align:left
                  vertical-align:text-bottom
                  margin:0 1%
              label
                display:block
                padding:10px 0
                height:auto
                box-sizing: border-box
              span
                color: #ff0103
                &.attention
                  font-size: 1rem
                  margin: 8px 0 0
                  line-height: 1.5
                  color:red
            td.question
              font-weight: bold
              font-size: 1.4rem
              background-color: white
              color: $pink1
              border-top:4px solid #eee
            span.mandatory
              color:$pink1
            span.annotation
              color: #666
              font-weight: normal
              font-size:1.2rem
        .readme
          margin: 5% 0
          // padding-bottom: 5%
          h2
            font-size:1.8rem
            line-height: 1.5
            font-weight:bold
            text-align:center
            color:$gray_txt
            margin:3% auto
          p
            font-size:1.1rem
            line-height:1.5
            &.subttl
              font-size:1.3rem
              font-weight:bold
              margin:5% 0
              padding-bottom:5%
              span
                &.attention
                  color:red
                  font-size:1.2rem
              border-bottom:1px dashed #ccc
          h3
            font-size:1.4rem
            font-weight:bold
            margin:16px 0
            color:$gray_txt
          ol
            color:$gray_txt
            li
              font-size:1.4rem
              line-height: 1.6
              list-style-type: none
              list-style-position:inside
              word-break: normal

  //----- responsive
  .rakutenian_salon_referral__formBox
    font-size:2.0rem
    font-weight:bold
    line-height: 1
    margin-bottom:40px
    padding:16px
    text-align:center
    +sp()
      margin-bottom:24px
    .rakutenian_salon_referral__formBtn
      .rakutenian_salon_referral__label
        vertical-align: middle
        .rakutenian_salon_referral__checkbox
          width:16px
          height:16px
          margin: auto 8px auto auto
          vertical-align: middle

  .rakutenian_salon_referral__submitBox
    margin-top:40px
    +sp()
      margin: 24px 0
    .rakutenian_salon_referral__submitBtn
      //- reset
      background-color: transparent
      border: none
      cursor: pointer
      outline: none
      padding: 0
      appearance: none
      //- style
      display:block
      width:220px
      margin:0 auto
      padding 12px
      color:#fff
      font-size:2.0rem
      background: $pink1
      border-radius:4px
      pointer-events:inherit
      &:disabled
        pointer-events: none
        opacity:0.5
