//- 新クーポンLP専用テンプレート。毎回最新のものをフォルダごと複製して使用してください
//- テンプレートの種類について：https://confluence.rakuten-it.com/confluence/pages/viewpage.action?pageId=2443993509
//- CSV Coupon Template / ver 1.2.0 / 更新日時：2024.10.9 / クーポンレイアウト、看板タグ、クーポン内条件表記、クーポン下注意文言アップデート

-
  //- こちらは基本更新の必要はありません。 店舗リストの設定変更が必要な場合のみ更新

  //- 全員対象のクーポンがあればそちらのタイトルとディスクリプションを表示。なければ最初のクーポン
  //- 手動で入れたい場合は''で括って手動で入れてください（例：title: 'sample'）
  var meta = {
    directory: 'supersale', //- ディレクトリ名 for Click or Appear Tag（例：/xxxx/→'xxxx'）
    title: 'スーパーSALE期間中の予約がおトクな2イベント クーポン配布祭り＆ポイント2倍開催中',
    description: 'スーパーSALE期間の予約がおトクな2イベント！サロンのネット予約に使えるクーポン配布祭り＆初めてご利用の方はポイント2倍！', //- Kintoneの「クーポン説明」（複数ある場合は全員対象優先）
    url: 'https://beauty.rakuten.co.jp/cnt/topics/campaign/supersale/',
    og_image: 'https://beauty.rakuten.co.jp/cnt/topics/campaign/supersale/img/share.png' + parameter,//- default (シェア画像があれば変更)
  }

  //- タグを手動で入れたい場合は下記のコメントを外して入力
  var taglist = {
    tag: [
      'ラ・クーポン', //- エントリー不要は自動的に青色になります
      //- 'エントリー必要', //- 初回限定と全員、両方のクーポンがある場合はタグはなし
      //- 'ネット予約・施術完了', //- セグメントがない場合はなし
    ],
  }

  //- shop list
  var shoplist = {
    //- 検索UI 1カラム(1column) or 2カラム(2column) or 1カラムボタン(btn)
    select: '2column',
    //- メニュークーポン表示ON(true) or OFF(false)
    menu: false,
    //- 2カラム時 & 最初から絞り込みが必要な場合下記も変更
    //- 1カラム目のデフォルト文言
    //- 例：すべての都道府県
    firstTxt1: 'すべての都道府県',
    //- 初期絞り込み設定（デフォルトは空欄）
    //- 例：東京都（jsonのselect1から1つ選ぶ）
    firstSelect1: '',
    //- 2カラム目のデフォルト文言
    //- 例：すべてのエリア
    firstTxt2: 'すべてのエリア',
    //- 初期絞り込み設定（デフォルトは空欄）
    //- 例：新宿（jsonのselect2から1つ選ぶ）
    firstSelect2: '',

    title: [
      '【Special Coupon】',
      '対象サロンはこちら！',
    ],
  }

  //- もっと探すボタン
  var morebtn = {
    //- 出し分け(true/false)
    visible: true,
    url: '/',
    title: '全国のサロンを探す',
    subtxt: '※本企画のラ・クーポン対象外',
  }