<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  <head>
    <meta charset="UTF-8">
    <title>【オススメ店舗限定】特別クーポン◎ | 楽天ビューティ</title>
    <meta name="viewport" content="width=1300">
    <meta name="description" content="楽天ビューティに掲載されている、一部のヘアサロンのネット予約で利用可能な割引クーポンです。過去に楽天ビューティから対象サロンにネット予約をしたことがない方のみご利用可能です。">
    <link rel="canonical" href="https://beauty.rakuten.co.jp/cnt/topics/campaign/area-otocoupon02/">
    <meta property="og:type" content="article">
    <meta property="og:site_name" content="楽天ビューティ">
    <meta property="og:url" content="https://beauty.rakuten.co.jp/cnt/topics/campaign/area-otocoupon02/">
    <meta property="fb:app_id" content="461054960620939">
    <meta property="og:title" content="【オススメ店舗限定】特別クーポン◎ | 楽天ビューティ">
    <meta property="og:description" content="楽天ビューティに掲載されている、一部のヘアサロンのネット予約で利用可能な割引クーポンです。過去に楽天ビューティから対象サロンにネット予約をしたことがない方のみご利用可能です。">
    <meta property="og:image" content="https://beauty.rakuten.co.jp/cnt/topics/campaign/area-otocoupon02/img/share.png?v20250508">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="apple-touch-icon-precomposed" href="//beauty.rakuten.co.jp/cnt/common/images/beauty_192px.png?v20180702">
    <link rel="shortcut icon" href="//jp.rakuten-static.com/1/im/ci/rakuten/favicon/pi.ico?20181001">
    <link rel="mask-icon" href="//jp.rakuten-static.com/1/im/ci/rakuten/favicon/Rakuten_SafariPin.svg?20181001" color="#ff41be">
    <link href="css/main.css?v20250508" rel="stylesheet" type="text/css">
    <link rel="dns-prefetch" href="https://cdn.rex.contents.rakuten.co.jp">
    <script>
      const ua = navigator.userAgent;
      //- viewport for Tablet
      if( ua.indexOf('iPhone') > 0 || ua.indexOf('iPod') > 0 || (ua.indexOf('Android') > 0 && ua.indexOf('Mobile') > 0) || ( ua.indexOf('windows') > 0 && ua.indexOf('phone') > 0) || ( ua.indexOf('firefox') > 0 && ua.indexOf('mobile') > 0) ) {
        document.querySelector("meta[name='viewport']").setAttribute("content", "width=device-width,initial-scale=1,user-scalable=no");
      } else if( ua.indexOf('iPad') > 0 || ua.indexOf('Android') > 0 || (ua.indexOf('windows') > 0 && ua.indexOf('touch') > 0) || ( ua.indexOf('firefox') > 0 && ua.indexOf('tablet') > 0) ) {
        document.querySelector("meta[name='viewport']").setAttribute("content", "width=1300");
      }
    </script>
  </head>
  <body>
    <noscript>
      <iframe class="txt_h vis_h" src="//www.googletagmanager.com/ns.html?id=GTM-RKLN" height="0" width="0"></iframe>
    </noscript>
    <script>
      (function(w,d,s,l,i){
      w[l]=w[l]||[];
      w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});
      var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';
      j.async=true;
      j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;
      f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-RKLN');
    </script>
    <script src="//jp.rakuten-static.com/1/grp/banner/js/create.js"></script>
    <div id="mkdiv_header_pitari"></div>
    <header class="-excludeApp" id="SP_header">
      <p id="serviceID"><a class="logo" href="/"><img src="https://beauty.rakuten.co.jp/sp/images/global/rb_logo_v201807.svg" width="74" height="40"></a></p>
    </header>
        <header id="PC_header">
          <div class="rc-h-standard">
            <noscript>
              <div class="rc-h-noscript-bar">
                <div class="rc-h-inner">
                  <p>JavaScriptが無効の為、一部のコンテンツをご利用いただけません。JavaScriptの設定を有効にしてからご利用いただきますようお願いいたします。（<a href="//ichiba.faq.rakuten.co.jp/app/answers/detail/a_id/154">設定方法</a>）</p>
                </div>
              </div>
            </noscript>
            <div class="rc-h-utility-bar">
              <div class="rc-h-inner">
                <div class="rb_wrapper">
                  <ul class="rc-h-group-nav">
                    <li id="grpNote">
                      <noscript><a href="//card.rakuten.co.jp/entry/">今すぐ2,000ポイント！</a></noscript>
                    </li>
                    <li class="rc-h-dropdown rc-h-group-dropdown"><a href="//www.rakuten.co.jp/sitemap/">楽天グループ</a>
                      <ul class="rc-h-dropdown-panel">
                        <li><a href="//books.rakuten.co.jp/?scid=wi_grp_gmx_bea_hepullbu_boo" rel="nofollow">楽天ブックス</a></li>
                        <li><a href="//hoken.rakuten.co.jp/?scid=wi_grp_gmx_bea_hepullbu_hkn" rel="nofollow">楽天の保険</a></li>
                        <li><a href="//www.infoseek.co.jp/?scid=wi_grp_gmx_bea_hepullbu_ifs" rel="nofollow">インフォシーク</a></li>
                        <li><a href="//sm.rakuten.co.jp/?scid=wi_grp_gmx_bea_hepullbu_sup&amp;xadid=wi_grp_gmx_bea_hepullbu_sup" rel="nofollow">楽天西友ネットスーパー</a></li>
                        <li><a href="//www.rakuten.co.jp/sitemap/">サービス一覧</a></li>
                      </ul>
                    </li>
                    <li><a href="//www.rakuten-life.co.jp/?scid=wi_grp_gmx_bea_hetopbu_sei" rel="nofollow">楽天生命</a></li>
                    <li><a href="//www.rakuten.co.jp/" rel="nofollow">楽天市場</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="rb_wrapper">
              <div class="rc-h-service-bar">
                <div class="rc-h-inner">
                  <div class="rc-h-site-id">
                    <p class="rc-h-logo"><a href="/"><img src="//beauty.rakuten.co.jp/images/global/rb_logo_v201807.svg" width="206" height="32" alt="Rakuten BEAUTY"></a></p>
                  </div>
                  <div class="rc-h-site-menu">
                    <div class="rc-h-menu-btns">
                      <ul class="rc-h-help-nav">
                        <li><a href="/cnt/topics/guide/">はじめての方へ</a></li>
                        <li><a href="//beauty.faq.rakuten.net/user/s/">ヘルプ</a></li>
                        <li><a href="//emagazine.rakuten.co.jp/ne?n=294" onclick="_gaq.push(['_trackEvent', 'permission', 'click', 'rbpc_header']);">お得な情報を受け取る</a></li>
                        <li><a href="/cnt/topics/bp/?l-id=rb_pc_header_bp">掲載ご希望のサロン様</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <nav id="globalNav">
            <ul class="globalNav__list c-container">
              <li class="globalNav__item"><a class="globalNav__link" href="/">美容院・ヘアサロン</a></li>
              <li class="globalNav__item"><a class="globalNav__link" href="/nail/">ネイル・まつげサロン</a></li>
              <li class="globalNav__item"><a class="globalNav__link" href="/esthe/">エステサロン</a></li>
              <li class="globalNav__item"><a class="globalNav__link" href="/relax/">リラク・マッサージサロン</a></li>
              <li class="globalNav__item"><a class="globalNav__link" href="/style/">ヘアカタログ</a></li>
              <li class="globalNav__item"><a class="globalNav__link" href="/naildesign/">ネイルカタログ</a></li>
              <li class="globalNav__item"><a class="globalNav__current" href="/cnt/topics/">キャンペーン一覧・特集</a></li>
              <li class="globalNav__item"><a class="globalNav__link" href="/rakulab/">Raku Lab</a></li>
            </ul>
          </nav>
        </header>
        <div class="c-container" id="breadcrumb">
          <ul class="c-breadcrumbs">
            <li class="c-breadcrumbs__item"><a class="c-breadcrumbs__link" href="/">楽天ビューティ</a></li>
            <li class="c-breadcrumbs__item"><a class="c-breadcrumbs__link" href="https://beauty.rakuten.co.jp/cnt/topics/">キャンペーン一覧・特集</a></li>
            <li class="c-breadcrumbs__item"><strong class="c-breadcrumbs__current">【オススメ店舗限定】特別クーポン◎</strong></li>
          </ul>
        </div>
        <script type="application/ld+json">
           {
            "@context": "https://schema.org",
            "@type": "BreadcrumbList",
            "itemListElement": [
              {
                "@type": "ListItem",
                "position": 1,
                "name": "楽天ビューティ",
                "item": "https://beauty.rakuten.co.jp/"
              },
              {
                "@type": "ListItem",
                "position": 2,
                "name": "キャンペーン一覧・特集",
                "item": "https://beauty.rakuten.co.jp/cnt/topics/"
              },
              {
                "@type": "ListItem",
                "position": 3,
                "name": "【オススメ店舗限定】特別クーポン◎"
              }
            ]
           }
        </script>
    <main id="content">
      <div id="CouponTemplate">
        <section id="CpnTags">
                <div class="campaignTagSet">
                  <div class="campaignTagSet__wrap">
                    <div class="campaignTagSet__box">
                      <p class="campaignTag -red">ラ・クーポン</p>
                      <p class="campaignTag">対象サロン限定</p>
                      <p class="campaignTag">対象者限定</p>
                      <p class="campaignTag">毎月開催</p>
                    </div>
                  </div>
                </div>
        </section>
        <section class="main" id="Main" data-ratid="cpn_area-otocoupon02_Main" data-ratevent="appear" data-ratparam="all">
          <h1 class="main__title"><img class="main__titleImg -pc" src="img/main.png?v20250508" alt="【オススメ店舗限定】特別クーポン◎"><img class="main__titleImg -sp" src="img/main_sp.png?v20250508" alt="【オススメ店舗限定】特別クーポン◎"></h1>
          <div class="main__terms">
            <div class="main__termsBox"><span class="main__termsTxt -small">※一部ラ・クーポンがご利用できない店舗がございます。ご利用できる店舗では、獲得済みのラ・クーポンが表示されます。<br class="-pc">※本企画は予告無く変更・中止されることがございます。<span class="main__termsTxt -small">※クーポンには利用上限があります。</span><span class="main__termsTxt -small"></span>※ラ・クーポン注意事項は<a class="main__termsLink" href="#Detail">こちら</a></span></div>
          </div>
        </section>
        <section class="coupon" id="Coupon" data-ratid="cpn_area-otocoupon02_Coupon" data-ratevent="appear" data-ratparam="all">
          <div class="couponGet">
                        <div class="couponOneClickSetWrap">
                          <div class="couponOneClickSetSummary">
                            <p class="couponOneClickSetTitle">【オススメ店舗限定】特別クーポン◎</p>
                            <div class="couponOneClickSetTime">
                              <p class="couponOneClickSetTimeEnd">予約期限：2025年6月2日 09:59</p>
                              <p class="couponOneClickSetTimeEnd">施術期限：2025年6月10日 23:59</p>
                            </div>
                          </div>
                          <div class="couponOneClickSet">
                            <div class="couponBox">
                              <div class="couponBoxUpper">
                                <div class="couponOneClick" data-coupon-authkey="0srG3FtweAmC22f1hagus6h2wAQQNynY"><a class="couponOneClick-default" href="https://coupon.rakuten.co.jp/getCoupon?getkey=UlROTi1DT0pGLUhUVUotRFpDRw--" data-ratid="1clickAcquisition_area-otocoupon02_0" data-ratEvent="click" data-ratParam="all">
                                                <div class="couponComponent">
                                                  <div class="couponDetail"><span class="overlay-content"><img class="overlay-contentImg" src="/cnt/common/images/area/icon-checked.svg" alt="クーポン獲得済み"></span>
                                                    <div class="couponDetailBottom">
                                                      <div class="couponDetailBottomR">
                                                        <p class="couponDetailBottomRTitle">対象サロン初回来店の方限定
                                                        </p>
                                                        <p class="couponDetailBottomRPrice"><span class="couponDetailBottomRPrice -num">1,200</span>円OFF
                                                        </p>
                                                      </div>
                                                    </div>
                                                  </div>
                                                  <div class="couponStatus">
                                                    <p class="couponStatusTxt">ラ・クーポンを獲得する</p>
                                                  </div>
                                                </div></a><a class="couponOneClick-acquired" href="https://beauty.rakuten.co.jp/cnt/topics/campaign/area-otocoupon02/#Shoplist" data-ratid="1clickAcquisition_area-otocoupon02_0_acquired" data-ratEvent="click" data-ratParam="all">
                                                <div class="couponComponent">
                                                  <div class="couponDetail"><span class="overlay-content"><img class="overlay-contentImg" src="/cnt/common/images/area/icon-checked.svg" alt="クーポン獲得済み"></span>
                                                    <div class="couponDetailBottom">
                                                      <div class="couponDetailBottomR">
                                                        <p class="couponDetailBottomRTitle">対象サロン初回来店の方限定
                                                        </p>
                                                        <p class="couponDetailBottomRPrice"><span class="couponDetailBottomRPrice -num">1,200</span>円OFF
                                                        </p>
                                                      </div>
                                                    </div>
                                                  </div>
                                                  <div class="couponStatus">
                                                    <p class="couponStatusTxt">ラ・クーポン獲得済み</p>
                                                  </div>
                                                </div></a><a class="couponOneClick-having" href="https://beauty.rakuten.co.jp/cnt/topics/campaign/area-otocoupon02/#Shoplist" data-ratid="1clickAcquisition_area-otocoupon02_0_having" data-ratEvent="click" data-ratParam="all">
                                                <div class="couponComponent">
                                                  <div class="couponDetail"><span class="overlay-content"><img class="overlay-contentImg" src="/cnt/common/images/area/icon-checked.svg" alt="クーポン獲得済み"></span>
                                                    <div class="couponDetailBottom">
                                                      <div class="couponDetailBottomR">
                                                        <p class="couponDetailBottomRTitle">対象サロン初回来店の方限定
                                                        </p>
                                                        <p class="couponDetailBottomRPrice"><span class="couponDetailBottomRPrice -num">1,200</span>円OFF
                                                        </p>
                                                      </div>
                                                    </div>
                                                  </div>
                                                  <div class="couponStatus">
                                                    <p class="couponStatusTxt">ラ・クーポンを使う</p>
                                                  </div>
                                                </div></a>
                                  <div class="couponOneClick-expired">
                                                <div class="couponComponent"><span class="overlay-content">利用期間が終了しました</span>
                                                  <div class="couponDetail">
                                                    <div class="couponDetailBottom">
                                                      <div class="couponDetailBottomR">
                                                        <p class="couponDetailBottomRTitle">対象サロン初回来店の方限定
                                                        </p>
                                                        <p class="couponDetailBottomRPrice"><span class="couponDetailBottomRPrice -num">1,200</span>円OFF
                                                        </p>
                                                      </div>
                                                    </div>
                                                  </div>
                                                  <div class="couponStatus">
                                                    <p class="couponStatusTxt">終了しました</p>
                                                  </div>
                                                </div>
                                  </div>
                                  <div class="couponOneClick-finished">
                                                <div class="couponComponent"><span class="overlay-content">ご好評につき終了しました</span>
                                                  <div class="couponDetail">
                                                    <div class="couponDetailBottom">
                                                      <div class="couponDetailBottomR">
                                                        <p class="couponDetailBottomRTitle">対象サロン初回来店の方限定
                                                        </p>
                                                        <p class="couponDetailBottomRPrice"><span class="couponDetailBottomRPrice -num">1,200</span>円OFF
                                                        </p>
                                                      </div>
                                                    </div>
                                                  </div>
                                                  <div class="couponStatus">
                                                    <p class="couponStatusTxt">終了しました</p>
                                                  </div>
                                                </div>
                                  </div>
                                </div>
                              </div>
                              <div class="couponBoxBottom">
                                <div class="couponOneClickTerms">
                                  <p class="couponOneClickTermsTxts"><span class="couponOneClickTermsTxt">先着利用<span class="couponOneClickTermsTxtBold">576回</span>／1人<span class="couponOneClickTermsTxtBold">1回</span>まで</span><span class="couponOneClickTermsTxt"><span class="couponOneClickTermsTxtBold">4,000円(税込)以上</span>の施術が対象</span></p>
                                  <div class="couponOneClickTermsAttention">
                                    <p class="couponOneClickTermsAttentionTxt">※楽天ビューティからネット予約・施術したことのない対象サロンでの利用が可能</p><a class="couponOneClickTermsAttentionLink" href="https://coupon.rakuten.co.jp/getCoupon?getkey=UlROTi1DT0pGLUhUVUotRFpDRw--" data-ratid="1clickAcquisition_area-otocoupon02_0_detail" data-ratEvent="click" data-ratParam="all">残り利用回数＆ラ・クーポン詳細を確認</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="couponOneClickBtns -single"><a class="couponOneClickBtn" href="#Shoplist"><span class="couponOneClickBtnTxt">対象サロンはこちら</span></a></div>
                        </div>
          </div>
        </section>
        <div id="Shoplist" data-ratid="cpn_area-otocoupon02_Shoplist" data-ratevent="appear" data-ratparam="all"></div>
        <section id="salonFilterContainer">
          <div class="is-loading" id="salonFilterSection" ref="wrapper">
            <div class="loader"></div>
            <div id="salonFilter">
              <h2 class="filter-heading">【Special Coupon】<span class="-sp"><br></span>対象サロンはこちら！
              </h2>
              <div class="filter-select">
                <select class="filter-select__item" v-model="select1" ref="select1">
                  <option value="" selected>すべての都道府県</option>
                  <option v-for="(item, index) in select1List" :value="item">{{ item }}</option>
                </select>
              </div>
              <div class="filter-select">
                <select class="filter-select__item" v-model="select2" ref="select2" disabled>
                  <option value="" selected>すべてのエリア</option>
                  <option v-for="(item, index) in select2List" :value="item">{{ item }}</option>
                </select>
              </div>
              <button class="filter-button" disabled v-on:click="search" ref="button"><span>検索</span><span v-if="count !== 0 &amp;&amp; !firstFlag">（{{count}}件）</span></button>
            </div>
                        <div id="salonList" ref="list">
                          <div class="salonList">
                            <section class="salonList__item position-relative" v-for="item, index in filteredSalonList" :key="index">
                              <div class="salonList__content">
                                <div class="salonList__cover"><img class="salonList__image" :src="&quot;//cloudinary-a.akamaihd.net/vivivi/image/upload/t_beauty,f_auto,dpr_2.0,q_auto:good/c_fill,g_auto,w_370,h_229/&quot; + item.shop_id + &quot;_01.jpg&quot; + param" rel="preload" :alt="item.shop_name"></div>
                                <div class="salonList__outline">
                                  <h3 class="salonList__salonName"><a class="salonList__link stretched-link" :href="&quot;/&quot; + item.shop_id + &quot;/?&quot; + lid">{{ item.shop_name }}</a></h3><span class="salonList__area"><i class="icon icon-location"></i>{{ item.area }}</span><span class="salonList__station"><i class="icon icon-train"></i>{{ item.station }}</span>
                                </div>
                              </div>
                            </section>
                          </div>
                        </div>
          </div>
        </section>
        <section class="couponMore" id="couponMore" data-ratid="cpn_area-otocoupon02_couponMore" data-ratevent="appear" data-ratparam="all">
          <div class="couponSalon__moreBtn"><a class="couponSalon__link" href="/">全国のサロンを探す<span class="couponMore__txtSmall">※本企画のラ・クーポン対象外</span></a></div>
        </section>
        <section class="howto" id="Howto" data-ratid="cpn_area-otocoupon02_Howto" data-ratevent="appear" data-ratparam="all">
          <div class="titleWrap">
            <h2 class="titleWrap--title">ラ・クーポンの使い方</h2>
          </div>
                <div class="howto__wrapper">
                  <ul class="howto__boxWrap">
                    <li class="howto__box">
                      <div class="howto__box0 -pc">
                        <p class="howto__boxTitle">Step 1</p>
                      </div>
                      <div class="howto__box1"><img class="howto__boxImg" src="/cnt/common/images/cpn-parts/img_step_coupon.png?v20230704" alt="Step1" width="200" height="200">
                      </div>
                      <div class="howto__box2">
                        <p class="howto__boxTitle -sp">Step 1</p>
                        <p class="howto__boxTxt">ラ・クーポンを獲得</p>
                        <p class="howto__boxTxt -small">※画像はイメージです</p>
                      </div>
                    </li>
                    <li class="howto__box">
                      <div class="howto__box0 -pc">
                        <p class="howto__boxTitle">Step 2</p>
                      </div>
                      <div class="howto__box1"><img class="howto__boxImg" src="/cnt/common/images/cpn-parts/img_step_select.png?v20230704" alt="Step2" width="200" height="200">
                      </div>
                      <div class="howto__box2">
                        <p class="howto__boxTitle -sp">Step 2</p>
                        <p class="howto__boxTxt">予約画面で<br>ラ・クーポンを選択</p>
                      </div>
                    </li>
                    <li class="howto__box">
                      <div class="howto__box0 -pc">
                        <p class="howto__boxTitle">Step 3</p>
                      </div>
                      <div class="howto__box1"><img class="howto__boxImg" src="/cnt/common/images/cpn-parts/img_step_salon.png?v20230704" alt="Step3" width="200" height="200">
                      </div>
                      <div class="howto__box2">
                        <p class="howto__boxTitle -sp">Step 3</p>
                        <p class="howto__boxTxt">施術時のお会計が<br>おトクに！</p>
                      </div>
                    </li>
                  </ul>
                </div>
        </section>
        <section class="app -excludeApp" id="App" data-ratid="cpn_area-otocoupon02_App" data-ratevent="appear" data-ratparam="all">
                <article class="app__set">
                  <h2 class="app__title">
                     楽天ビューティで予約するなら<br class="-sp">アプリがオススメ！</h2>
                  <div class="app__contents">
                    <ul class="app__cpn">
                      <li class="app__cpnTitle">
                        <h3 class="app__subtitle">アプリから予約でポイントアップ</h3>
                      </li>
                      <li class="app__cpnCaptionBox">
                        <p class="app__cpnCaption">ネット予約・施術完了で通常は100円につき1ポイント、アプリなら最大3ポイント進呈！
                        </p>
                      </li>
                      <li class="app__cpnBanner"><a class="app__link" href="https://app.adjust.com/1ifdl1tv?redirect=https://beauty.rakuten.co.jp/cnt/topics/campaign/app2x/?l-id=wi_bty_appappeal_App2x"><img class="app__img" src="/cnt/common/banner/campaign/bnr_app2x_1280x464.png?v20241209" alt="アプリで予約＆条件達成で最大ポイント3倍" width="480" height="174"></a>
                      </li>
                    </ul>
                    <ul class="app__dl">
                      <li class="app__dlTitle -desktop">
                        <h3 class="app__subtitle">ダウンロードはこちら</h3>
                      </li>
                      <li class="app__dlbtns">
                        <figure class="app__dlbtnsPic"><img class="app__img" src="/cnt/common/images/cpn-parts/img_appdl.png?v20241209" alt="アプリ画面" width="248" height="248"></figure><a class="app__link" href="https://app.adjust.com/1ifdl1tv" target="_blank"><img class="app__img -desktop" src="/cnt/common/images/cpn-parts/btn_dl_qr.svg?v20241209" alt="アプリのダウンロードはこちら" width="188" height="188"><img class="app__img -iphone" src="/cnt/common/images/cpn-parts/btn_dl_appstore.svg?v20241209" alt="App Storeからダウンロード" width="136" height="50"><img class="app__img -android" src="/cnt/common/images/cpn-parts/btn_dl_googleplay.svg?v20241209" alt="Goole Playで手に入れよう" width="169" height="50"></a>
                      </li>
                    </ul>
                  </div>
                </article>
        </section>
        <section class="detail" id="Detail" data-ratid="cpn_area-otocoupon02_Detail" data-ratevent="appear" data-ratparam="all">
          <div class="detailBox">
            <div class="titleWrap">
              <h2 class="titleWrap--title">ラ・クーポン注意事項</h2>
            </div>
            <p class="detail__caption">※本キャンペーンは予告なく変更・中止される可能性がございます。</p>
            <table class="detail__table">
              <tbody>
                <tr class="detail__tableBlock"></tr>
                <tr class="detail__tableBlock">
                  <th class="detail__tableBlockHead">注意事項</th>
                  <td class="detail__tableBlockBody">
                    <ul class="detail__tableBlockList">
                      <li class="detail__tableBlockList--li">獲得したラ・クーポンの利用回数には上限があります。</li>
                      <li class="detail__tableBlockList--li">他のラ・クーポンとの併用はできません。</li>
                      <li class="detail__tableBlockList--li">ラ・クーポンには利用上限回数（予約成立順）が設定されています。ラ・クーポン獲得済みであっても利用上限に達した場合はご利用いただけません。</li>
                      <li class="detail__tableBlockList--li">獲得したラ・クーポンは、マイページの<a class="detail__tableBlockTxt--link" href="/user/coupon.php">マイクーポン</a>からご確認いただけます。</li>
                      <li class="detail__tableBlockList--li">ラ・クーポンの利用条件に合致したクーポンのみが、ネット予約STEP中に表示されます。獲得していても、ラ・クーポンが表示されない場合、ラ・クーポンの利用条件等をご確認ください。（予約条件が一致しない、有効期限を過ぎている、利用回数を超えた場合等）</li>
                      <li class="detail__tableBlockList--li">ネット予約確定の前に、他のネット予約が成立し利用上限回数に達した場合には、ネット予約がエラーとなり、ラ・クーポンをご利用になれません。</li>
                      <li class="detail__tableBlockList--li">ラ・クーポンは、楽天ビューティ（サイト/アプリ）での予約時にのみご利用いただけます。予約成立後など後から利用することはできません。</li>
                      <li class="detail__tableBlockList--li">ラ・クーポンを印刷して来店時にお持ちいただいても割引することはできません。</li>
                      <li class="detail__tableBlockList--li">ラ・クーポンは、電話予約でご利用できません。</li>
                      <li class="detail__tableBlockList--li">一部、ラ・クーポンを利用できない店舗がございます。</li>
                      <li class="detail__tableBlockList--li">発行されているラ・クーポンによって来店期日は異なりますので、ご注意ください。</li>
                      <li class="detail__tableBlockList--li">サロンの予約状況によっては、ご希望に添えなかったり、お断りする場合もございます。</li>
                      <li class="detail__tableBlockList--li">ラ・クーポンを利用した予約をキャンセルした場合、利用条件を満たしていれば、マイクーポンに返還されます。<a class="detail__tableBlockTxt--link" href="https://beauty.faq.rakuten.net/user/s/detail/000005759">詳しくはこちら</a></li>
                      <li class="detail__tableBlockList--li">本企画は予告無く変更・中止されることがございます。</li>
                      <li class="detail__tableBlockList--li">本サービスへのアクセス集中や通信回線の状態による遅延、不具合などにより本サービスへのアクセスや登録・表示などができないことにより発生した障害、または起因して発生したすべての事象に関しましては、当社の責めに帰すべき場合を除き、責任を負いかねます。</li>
                      <li class="detail__tableBlockList--li">ご来店いただける期間はサロンの営業時間によって異なります。</li>
                      <li class="detail__tableBlockList--li">ラ・クーポンの使用方法についてご不明点があった場合は、楽天ビューティにお問い合わせください。</li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>
      </div>
    </main>
    <footer id="PC_footer">
      <ul class="global-footer__utility">
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="/cnt/topics/bp/">掲載ご希望のサロン様</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="/cnt/terms/">利用規約</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="/sitemap/">サイトマップ</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="//beauty.faq.rakuten.net/user/s/ask">お問い合わせ</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="//beauty.faq.rakuten.net/user/s/">ヘルプ</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="/cnt/topics/release/">リリース情報</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="//www.facebook.com/RakutenBeauty" target="_blank">Facebook</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="//x.com/Rakuten__BEAUTY" target="_blank">X</a></li>
      </ul>
      <div class="rc-f-standard rc-f-liquid rc-f-custom00">
        <div class="rc-f-section-content00">
          <div class="rc-f-section-bar rc-f-first">
            <div class="rc-f-inner">
              <dl class="rc-f-dl-inline-box">
                <dt class="rc-f-dl-title01 rc-f-text-em">楽天グループ</dt>
                <dd>
                  <ul class="rc-f-list-inline">
                    <li><a class="rc-f-btn" href="//www.rakuten.co.jp/sitemap/"><span>サービス一覧</span></a></li>
                    <li><a class="rc-f-btn" href="//www.rakuten.co.jp/sitemap/inquiry.html"><span>お問い合わせ一覧</span></a></li>
                  </ul>
                </dd>
              </dl>
            </div>
          </div>
          <div class="rc-f-section-bar">
            <div class="rc-f-inner">
              <dl class="rc-f-dl-inline rc-f-block">
                <dt class="rc-f-dl-title01">おすすめ</dt>
                <dd class="rc-f-text-strong" id="grpRakutenRecommend"><a href="//www.rakuten-card.co.jp/">【楽天カード】楽天ポイントが貯まるクレジットカード。年会費無料。</a></dd>
              </dl>
              <ul class="rc-f-row rc-f-row-dot rc-f-row4">
                <li class="rc-f-col rc-f-first">
                  <div class="rc-f-media rc-f-nav-item rc-f-nav-item">
                    <div class="rc-f-media-head"><a href="/rakulab/">「キレイの主役」を応援するビューティメディア</a></div>
                    <div class="rc-f-media-body">Raku Lab(ラクラボ)</div>
                  </div>
                </li>
                <li class="rc-f-col">
                  <div class="rc-f-media rc-f-nav-item rc-f-nav-item-delimit">
                    <div class="rc-f-media-head"><a href="https://brandavenue.rakuten.co.jp/">人気ブランド新作やヘア小物をGET</a></div>
                    <div class="rc-f-media-body">Rakuten Fashion</div>
                  </div>
                </li>
                <li class="rc-f-col">
                  <div class="rc-f-media rc-f-nav-item rc-f-nav-item-delimit">
                    <div class="rc-f-media-head"><a href="https://www.infoseek.co.jp/">楽天が運営するポータルサイト</a></div>
                    <div class="rc-f-media-body">Infoseekトップ</div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div id="mkdiv_footer_pitari"></div>
        <div class="rc-f-section01">
          <div class="-excludeApp" id="footerRakutenBnr"><a href="//corp.rakuten.co.jp/event/climateaction/?scid=wi_bty_gogreen_footer" target="_blank"><img class="footerRakutenBnr__img" src="//cloudinary-a.akamaihd.net/vivivi/image/upload/t_beauty,f_auto/w_150,h_40/v1/front/image/common/bnr_gogreen_pc.svg" alt="本サービスは再生可能エネルギー100%" width="150" height="40"></a></div>
          <div class="rc-f-inner">
            <ul class="rcf-list-inline rcf-list-block">
              <li><a href="//corp.rakuten.co.jp/" rel="nofollow">企業情報</a></li>
              <li><a href="//privacy.rakuten.co.jp/" rel="nofollow">個人情報保護方針</a></li>
              <li><a href="//corp.rakuten.co.jp/csr/">社会的責任[CSR]</a></li>
              <li><a href="//corp.rakuten.co.jp/careers/">採用情報</a></li>
            </ul>
            <p class="copyright">© Rakuten Group, Inc.</p>
          </div>
        </div>
      </div>
      <script type="text/javascript" src="//jp.rakuten-static.com/1/js/lib/prm_selector.js"></script>
      <script type="text/javascript" src="//jp.rakuten-static.com/1/js/grp/hdr/prm_sender.js"></script>
      <script type="text/javascript" src="//jp.rakuten-static.com/1/js/grp/ftr/js/parm_selector_footer.js"></script>
    </footer>
    <div id="SP_footer">
      <div class="c-section c-text--alignCenter">
        <ul class="c-list--inlineSmall c-section__inside">
          <li class="c-list__item"><a href="/cnt/topics/guide/">はじめての方へ</a></li>
          <li class="c-list__item"><a href="//beauty.faq.rakuten.net/user/s/ask">お問い合わせ</a></li>
          <li class="c-list__item"><a href="//beauty.faq.rakuten.net/user/s/">ヘルプ</a></li>
          <li class="c-list__item"><a href="/cnt/topics/release/">リリース情報</a></li>
          <li class="c-list__item"><a href="/cnt/terms/">利用規約</a></li>
          <li class="c-list__item"><a href="/cnt/topics/bp/">掲載ご希望のサロン様</a></li>
        </ul>
      </div>
      <div id="footer">
        <ul>
          <li><a rel="nofollow" href="//corp.rakuten.co.jp/">企業情報</a></li>
          <li><a rel="nofollow" href="//privacy.rakuten.co.jp/sp/">個人情報保護方針</a></li>
          <li><a rel="nofollow" href="//www.rakuten.co.jp/sitemap/sp/">楽天のサービス一覧</a></li>
          <li><a rel="nofollow" href="//www.rakuten.co.jp/sitemap/sp/app.html">アプリ一覧</a></li>
        </ul>
        <div id="copyright">&copy; Rakuten Group, Inc.</div>
        <div class="-excludeApp" id="footerRakutenBnr"><a href="//corp.rakuten.co.jp/event/climateaction/?scid=wi_bty_gogreen_footer" target="_blank"><img class="footerRakutenBnr__img" src="https://cloudinary-a.akamaihd.net/vivivi/image/upload/t_beauty,f_auto/w_150,h_40/v1/front/image/common/bnr_gogreen_sp.svg" alt="本サービスは再生可能エネルギー100%" width="150" height="40"></a></div>
      </div>
    </div>
    <script src="/cnt/common/js/ua-parser/ua-parser.min.js"></script>
    <script src="/cnt/common/js/ua-parser/main.js"></script>
    <script src="/cnt/common/js/smooth-scroll.min.js"></script>
    <script>
      var scroll = new SmoothScroll('a[href*="#"]');
      
    </script>
    <script src="/cnt/common/js/vue/vue.min.js" defer></script>
    <script src="/cnt/common/js/vue/axios.min.js" defer></script>
    <script src="//r.r10s.jp/com/js/d/Rmodules/Rmodules.min.js?v=1.4.0" defer></script>
    <script src="//r.r10s.jp/com/js/d/coupon/one_click_acquisition/1.2/one_click_acquisition-1.2.0.min.js" defer></script>
    <script>const param = '?v20250508';
      const firstSelect1 = '';
      const firstSelect2 = '';
      const dir = 'area-otocoupon02';
      const lid = 'l-id=rb_' + dir + '_shopdetail';
      
    </script>
    <script src="js/filter-by-2column.js?v20250508" defer></script>
    <!-- RAT tag start-->
    <!-- Generic Parameter-->
    <input id="ratAccountId" type="hidden" name="rat" value="426">
    <input id="ratServiceId" type="hidden" name="rat" value="1">
    <input id="ratPageLayout" type="hidden" name="rat" value="resp">
    <input id="ratSiteSection" type="hidden" name="rat" value="cnt">
    <input id="ratPageName" type="hidden" name="rat" value="cnt">
    <input id="ratPageType" type="hidden" name="rat" value="cnt_item">
    <script type="text/javascript" src="//r.r10s.jp/com/rat/js/rat-main.js"></script>
    <!-- /RAT tag end-->
  </body>
</html>