//- LP用ベーステンプレート。新規作成 or 改修時は最新のものをフォルダごと複製して使用してください
//- テンプレートの種類について：https://confluence.rakuten-it.com/confluence/pages/viewpage.action?pageId=2443993509
//- template / ver 3.2.2 / 更新日時：2025.4.7 / 楽天ビューティとはコンテンツ追加

extends ../../../../../_common/pug/Base/_layout.pug

block init
  -
    var parameter = '?v20250508'
    var meta = {
      title: '【楽天ビューティ×楽天ぐるなび】春のコラボキャンペーン',
      description: 'エントリー＆楽天ビューティで予約・来店の条件達成で楽天ぐるなびで使えるクーポンもらえる！さらに抽選で楽天ポイントが当たる！',
      url: 'https://beauty.rakuten.co.jp/cnt/topics/campaign/other/gurunavi/',
      directory: 'gurunavi', //- ディレクトリ名 for Click or Appear Tag（例：/xxxx/→'xxxx'）
      og_image: 'https://beauty.rakuten.co.jp/cnt/topics/campaign/other/gurunavi/img/share.png' + parameter,//- default (シェア画像があれば変更)
    }
    var css = 'css/main.css' + parameter

block addHead
  //- nofollowが必要なときはコメントを外す
  //- meta(name='robots', content='noindex,nofollow')
  link(rel='stylesheet', href="css/splide.min.css")

block nav
  //- grobalNav / ''に入れた部分がcurrent表示になる
  +grobalNav('/cnt/topics/')

  //- breadcrumb
  -
    var lists = [
      {
        name: 'キャンペーン一覧・特集',
        link: 'https://beauty.rakuten.co.jp/cnt/topics/',
      },
      {
        name: meta.title, //- タイトル以外を設定したいときは変更
        link: 'current', //- 'current' is no link
      },
    ]
  +breadcrumb(lists)

block content
  //- #Pagename はページ固有の名前に置換してください
  #gurunavi

    //- 終了対応
    //- #End
      - var endflag
      - var endTxt = 'このキャンペーンは終了しました' //- ページ上部の文言
      - var btnTxt = 'エントリー期間が終了しました' //- ボタンの文言
      +endSet(endTxt)

    //- Campaign Tag
    //- Rule: https://confluence.rakuten-it.com/confluence/pages/viewpage.action?pageId=2688949406
    #CpnTags
      -
        var taglist = {
          tag: [
            'エントリー必要', //- エントリー不要は自動的に青色になります
            //- '初回利用限定', //- 初回限定と全員、両方のクーポンがある場合はタグはなし
            //- '美容室限定', 
            'ネット予約・施術完了',
          ],
        }
      +campaignTag(taglist)

    //- ID、class名は自由
    section#Main.main(data-ratid='cpn_' + meta.directory + '_Main' data-ratevent='appear' data-ratparam='all')
      //- Use h1
      h1.main__title
        picture.-pc
          img.main__titleImg(src='img/main_pc.png' + parameter, alt=meta.title width='984px')
        picture.-sp
          img.main__titleImg(src='img/main_sp.png' + parameter, alt=meta.title)
      .main__terms
        .main__termsBox
          p.main__termsTxt
            | エントリー・予約期間：
            br.-sp
            | 2025年5月1日 10:00 〜 2025年6月2日 9:59
            span.-pc
              | ／
            br.-sp
            | 施術期間：
            br.-sp
            | 2025年5月1日 10:00 〜 2025年6月30日 23:59
          //- ポイントxx倍キャンペーンの場合
          p.main__termsTxt.-small
            | ※クーポンは7月下旬頃に配布され、8月1日よりご利用いただけます。ご利用は先着500名様となります。
      .main__serviceWrap
        h2.main__serviceTitle
          span.-red.-large 
            | 楽天経済圏
          | 活用で
          span.-large
            | おトク感アップ
        .main__serviceFlex
          .main__serviceFlex_wrap.-beauty
            .main__serviceFlex_img
              img.-pc(src='img/service_logo_beauty.svg' + parameter, alt='楽天ビューティ')
              img.-sp(src='img/service_logo_beauty_sp.svg' + parameter, alt='楽天ビューティ')
            .main__serviceFlex_txt 貯めたポイントで
              br.-sp
              span.-large
                | おトクにサロン予約！
            .main__serviceFlex_arrow.-beauty
          .main__serviceFlex_wrap
            .main__serviceFlex_img.-cross
              img(src='img/cross_icon.png' + parameter, alt='×' width='100%' height='')
          .main__serviceFlex_wrap
            .main__serviceFlex_img
              img.-pc(src='img/service_logo_gurunavi.svg' + parameter, alt='楽天ぐるなび')
              img.-sp(src='img/service_logo_gurunavi_sp.svg' + parameter, alt='楽天ぐるなび')
            .main__serviceFlex_txt 飲食店のネット予約・来店で
              br.-sp
              span.-large
                | 楽天ポイントが貯まる！
              | ※1
            .main__serviceFlex_arrow.-gurunavi

      .main__stepWrap
        .main__step__primary-container
          .main__step__container_icon.-primary
            | 1
          .main__step__time 6/2 9:59まで
          .main__step__lead
            p.main__step__lead__text
              | エントリー＆
              br.-sp
              | 楽天ビューティで
              br
              | サロン予約
              span.-small ※2
            img.main__step__lead__icon(src='img/img_main_icon_step1.png' + parameter, alt='icon1' width='' height='')
        .main__step__primary-container
          .main__step__container_icon.-primary
            | 2
          .main__step__time 6/30 23:59まで
          .main__step__lead
            p.main__step__lead__text
              | サロンで
              br.-sp
              | 施術完了
              br.-sp
              | &nbsp;
            img.main__step__lead__icon(src='img/img_main_icon_step2.png' + parameter, alt='icon2' width='' height='')
        .main__step__secondary-container
          .main__step__container_icon.-secondary
            | 1 ＆ 2 達成で
          .main__step__time.-gurunavi 7月下旬頃
          .main__step__secondary-lead
            p.main__step__secondary-lead__text
              | 楽天ぐるなびで
              br.-sp
              | 使える
              br
              span.main__step__secondary-lead__point 500円OFF
              br.-sp
              | クーポンGET！※3
            img.main__step__secondary-lead__icon(src='img/img_main_icon_step3.png' + parameter, alt='icon3' width='' height='')
      .conditionsBox__section
        .conditionsBox__section__wrap
          p.-coin
            img.main__step__lead(src='img/img_main_icon_coin.png' + parameter, alt='コイン画像' width='32px' height='32px')
          p.conditionsBox__section__lead さらに！抽選で45名様に
            br
            span.conditionsBox__section__lead.-red 最大
              span.conditionsBox__section__lead.-large 5,000
              | ポイント当たる！
            span.conditionsBox__section__lead.-small ※4

      .main__step__info
        p.main__step__info__text ※1）ぐるなび会員登録のうえ楽天ぐるなびと楽天のID連携が必要です。
        p.main__step__info__text ※2）2,500円(税込)以上のネット予約が対象。条件の達成順序は順不同です。
        br.-pc
        p.main__step__info__text ※3）クーポンは7月下旬頃に配布され、8月1日よりご利用いただけます。ご利用は先着500名様となります。クーポンは「ぐるなびネット予約クーポン対応」のラベルがついた店舗での合計2,500円(税込)以上のお会計となるコースのご予約にてご利用いただけます。
        p.main__step__info__text ※4）進呈するポイント(期間限定ポイント)には上限や条件があります。
        br.-pc
        p.main__step__info__text
          | ※クーポンの利用条件やキャンペーン詳細は
          a.main__termsLink(href='#Detail')
            | こちら
        p.main__step__info__text ※本キャンペーンは予告なく変更・中止される可能性があります。


    section#Navigation.navigation(data-ratid='cpn_' + meta.directory + '_Navigation' data-ratevent='appear' data-ratparam='all')
      ul.global-nav
        li.global-nav__list
          a.global-nav__link(href='#EntryBox', data-ratid='cpn_gurunavi_Entry' data-ratevent='click' data-ratparam='all')
            | エントリー
        li.global-nav__list
          a.global-nav__link(href='#ConditionsBox', data-ratid='cpn_gurunavi_ConditionsBox' data-ratevent='click' data-ratparam='all')
            | サロンを検索
        li.global-nav__list
          a.global-nav__link.-nav__position(href='#AboutBeauty', data-ratid='cpn_gurunavi_AboutBeauty' data-ratevent='click' data-ratparam='all')
            | 楽天ビューティ
            br.-sp
            | とは？
        li.global-nav__list
          a.global-nav__link.-nav__position(href='#AboutGurunavi', data-ratid='cpn_gurunavi_AboutGurunavi' data-ratevent='click' data-ratparam='all')
            | 楽天ぐるなび
            br.-sp
            | とは？


    //- Entry Btn
    #EntryBox
    section.entryBox(data-ratid='cpn_' + meta.directory + '_EntryBox' data-ratevent='appear' data-ratparam='all')
      h2.contentStep--title--logo
        img(src='img/step_logo_beauty.png' + parameter, alt='楽天ビューティ' width='100%' height='')
      h2.contentStep--title
        img(src='img/img_title_step1.png' + parameter, alt='Step1' width='100%' height='')
      .conditionsBox__section
        .conditionsBox__section__wrap
          p.conditionsBox__section__lead まずはエントリー！

      //- 終了対応
      if endflag == true
        //- ボタンセット(url,txt,endflag)
        +btnSet('',btnTxt,true)
      else

        //- 非遷移ボタンジェネレータで作成（使い回しはできません）
        //- https://confluence.rakuten-it.com/confluence/pages/viewpage.action?pageId=4315826663
        // ReX Campaign Entry Button: Mounting points
        // mounting point for button 1
        #rex-ceb-01
        // ReX Campaign Entry Button: Configuration
        script
          | var rexButtons = {language: 'ja', buttons: [{"code":"gurunavi2505","theme":"red","wide":true,"showCelebration":false,"alreadyAppliedText":"エントリー済みです","below":{"isCheckboxMandatory":true,"isChecked":true,"checkboxText":"エントリーしてメルマガを購読する","html":""},"ids":["rex-ceb-01"]}]}
        // ReX Campaign Entry Button: Script
        script(src='https://cdn.rex.contents.rakuten.co.jp/rex-ceb/5.1.0/static/js/main.js' defer='')

        p.entryBoxTxt
          a.entryBoxTxtLink(href="https://my.rakuten.co.jp/" target="_self") 楽天会員情報
          | にご登録されている
          span.entryBoxTxt--bold
            | メールアドレス
          | 宛てに、
          span.entryBoxTxt--bold
            | 楽天ビューティ及び楽天ぐるなび
          | より会員限定のキャンペーン情報や楽天グループまたはその他の企業のお得な情報などが満載の「楽天ビューティ・コスメニュース」「ビューマガニュース」及び「楽天ぐるなびニュース」をお送りいたします。
          span.entryBoxTxt--bold
            | メルマガ購読がキャンペーンの応募条件となりますので、あらかじめご了承ください。
        

    //- ConditionsBox
    #ConditionsBox
    section.conditionsBox(data-ratid='cpn_' + meta.directory + '_ConditionsBox' data-ratevent='appear' data-ratparam='all')
      h2.contentStep--title
        img(src='img/img_title_step2.png' + parameter, alt='Step2' width='100%' height='')
      //- Step2 楽天ビューティー
      article.conditionsBox__section
        .conditionsBox__section__wrap.-beauty
          p.conditionsBox__section__lead 楽天ビューティで
            br
            | サロン予約＆来店施術
          //-  pc用 リスト
          ul.conditionsBeauty__menu.-pc.-beauty
            li.conditionsBeauty__menu--list
              .conditionsBeauty__menu--list--icon
                | 1
              p.conditionsBeauty__menu--list--lead
                | ご希望の条件に合う
                br
                | サロンを検索
              img.conditionsBeauty__menu--list__img.-beauty(src='img/img_step2_beauty_list1.png' + parameter, alt='ご希望の条件に合うサロンを検索' width='' height='100%')
            li.conditionsBeauty__menu--list
              .conditionsBeauty__menu--list--icon
                | 2
              p.conditionsBeauty__menu--list--lead
                | 日時やメニューを
                br
                | 選択して予約
              img.conditionsBeauty__menu--list__img.-beauty(src='img/img_step2_beauty_list2.png' + parameter, alt='日時やメニューを選択して予約' width='' height='100%')
            li.conditionsBeauty__menu--list
              .conditionsBeauty__menu--list--icon
                | 3
              p.conditionsBeauty__menu--list--lead
                | 施術完了！
              img.conditionsBeauty__menu--list__img.-beauty(src='img/img_step2_beauty_list3.png' + parameter, alt='施術完了' width='' height='100%')

          //-  sp用 リスト スライダー
          .splide.-sp
            .splide__track
              ul.splide__list.conditionsBeauty__menu.-sp
                li.splide__slide.conditionsBeauty__menu--list
                  .conditionsBeauty__menu--list--icon
                    | 1
                  p.conditionsBeauty__menu--list--lead
                    | ご希望の条件に合う
                    br
                    | サロンを検索
                  img.conditionsBeauty__menu--list__img.-beauty(src='img/img_step2_beauty_list1.png' + parameter, alt='ご希望の条件に合うサロンを検索' width='' height='100%')
                li.splide__slide.conditionsBeauty__menu--list
                  .conditionsBeauty__menu--list--icon
                    | 2
                  p.conditionsBeauty__menu--list--lead
                    | 日時やメニューを
                    br
                    | 選択して予約
                  img.conditionsBeauty__menu--list__img.-beauty(src='img/img_step2_beauty_list2.png' + parameter, alt='日時やメニューを選択して予約' width='' height='100%')
                li.splide__slide.conditionsBeauty__menu--list
                  .conditionsBeauty__menu--list--icon
                    | 3
                  p.conditionsBeauty__menu--list--lead
                    | 施術完了！
                  img.conditionsBeauty__menu--list__img.-beauty(src='img/img_step2_beauty_list3.png' + parameter, alt='施術完了' width='' height='100%')
          .conditionsBox__search
            a.conditionsBox__search--button.-beauty(href='https://beauty.rakuten.co.jp/?l-id=rb_gurunavi_search')
              | 対象サロンの検索はこちら
            p.conditionsBox__search--button--info
              | ※ネット予約できるサロンが対象です。

    //- incentiveBox
    #IncentiveBox
    section.incentiveBox(data-ratid='cpn_' + meta.directory + '_IncentiveBox' data-ratevent='appear' data-ratparam='all')
      .incentiveBox_first
        h2.contentStep--title--logo
          img(src='img/step_logo_gurunavi.png' + parameter, alt='楽天ぐるなび' width='100%' height='')
        .incentiveBox__section
          .incentiveBox__section__wrap
            p.incentiveBox__section__lead 楽天ぐるなびのネット予約で使える
            p.incentiveBox__section__img__wrap
              img.incentiveBox__section__img.-coupon(src='img/gnavi_coupon_txt.png' + parameter, alt='500円オフクーポンゲット！')
            .incentiveBox__section__coupon
              .incentiveBox__section__coupon__inner
                p.incentiveBox__section__lead.-innerFlex
                  img(src="img/gnavi_coupon_icon.png" + parameter, alt="楽天ぐるなびネット予約クーポン" width='140px' height='140px')
                p.incentiveBox__section__lead.-innerFlex
                  | 楽天の
                  br
                  a.-link(href="https://coupon.rakuten.co.jp/myCoupon")
                    | Myクーポン
                  br
                  | へお届け！
        .main__step__info
          p.main__step__info__text ※クーポンは7月下旬頃に配布され、8月1日よりご利用いただけます。
            br.-pc
            | ご利用は先着500名様となります。
            br.-sp
            | 利用条件など詳細は
            a.main__termsLink(href='#Detail')
              | こちら
      .incentiveBox_second
        .incentiveBox__section
          .incentiveBox__section__wrap
            img.incentiveBox__section__img.-lineLeft(src='img/dots_line_left.png' + parameter, alt='装飾線' width='43px' height='41px')
            p.incentiveBox__section__add さらに！
            img.incentiveBox__section__img.-lineRight(src='img/dots_line_right.png' + parameter, alt='装飾線' width='43px' height='41px')
            p.incentiveBox__section__lead 当選者合計45名様に
          .incentiveBox__section__wrap
            p.incentiveBox__section__img__wrap
              img.incentiveBox__section__img.-pointTxt(src='img/gnavi_point_txt.png' + parameter, alt='最大5,000ポイント当たる！')
            p.incentiveBox__section__img__wrap
              img.incentiveBox__section__img.-point(src='img/point_detail.png' + parameter, alt='抽選で5名様に5,000ポイント、10名様に1,000ポイント、30名様に500ポイント当たる！')
              img.incentiveBox__section__img.-coinTower(src='img/coin_tower.png' + parameter, alt='コイン画像')
            .main__step__info
              p.main__step__info__text
                | ※ 進呈するポイント(期間限定ポイント)には上限や条件があります。キャンペーン詳細は
                a.main__termsLink(href='#Detail')
                  | こちら

    
    //- aboutService
    #AboutBeauty
    section#aboutService.aboutService.aboutBeauty(data-ratid='cpn_' + meta.directory + '_AboutBeauty' data-ratevent='appear' data-ratparam='all')
      article.aboutService__set
        .about--title.beauty
          img.about__title__icon(src='img/img_beauty_icon_left.png' + parameter, alt='楽天ビューティアイコン' width='100%' height='')
          h4.about__title__text 楽天ビューティとは？
          img.about__title__icon(src='img/img_beauty_icon_right.png' + parameter, alt='楽天ビューティアイコン' width='100%' height='')
        ul.aboutService__wrap
          li.aboutService__box
            dl.aboutService__contents.aboutService__point
              dt.aboutService__subtitles
                .aboutService__subtitleIcon
                  img.aboutService__img(src='/cnt/common/images/cpn-parts/rb_merit_coin.png' + parameter, alt='コイン画像' width='70' height='70')
                .aboutService__subtitleTxts
                  h4.aboutService__subtitle ポイントが貯まる！使える！楽天のサロン予約
              p.aboutService__caption おトクに、キレイに。楽天ビューティ。
              dd.aboutService__picts
                figure.aboutService__pictBox
                  img.aboutService__img(src='/cnt/common/images/cpn-parts/rb_merit_hair.png' + parameter, alt='ヘア' width='110' height='110')
                  img.aboutService__img(src='/cnt/common/images/cpn-parts/rb_merit_nail.png' + parameter, alt='ネイル' width='110' height='110')
                  img.aboutService__img(src='/cnt/common/images/cpn-parts/rb_merit_eyelash.png' + parameter, alt='まつげ' width='110' height='110')
                  img.aboutService__img(src='/cnt/common/images/cpn-parts/rb_merit_esthe.png' + parameter, alt='エステ' width='110' height='110')
                  img.aboutService__img(src='/cnt/common/images/cpn-parts/rb_merit_relax.png' + parameter, alt='リラク' width='110' height='110')
              dd.aboutService__bottom
                p.aboutService__txt
                  | ヘア・ネイル・まつげ・エステ・リラク・マッサージサロンの検索・予約が可能
                p.aboutService__txt
                  | ネット予約・施術完了するたびに
                  span.aboutService__txt.-bold
                   | 100円につき
                  | 1ポイントが貯まる！
          li.aboutService__box
            dl.aboutService__contents.aboutService__group
              dt.aboutService__subtitles
                .aboutService__subtitleTxts
                  h4.aboutService__subtitle 楽天のサービスを横断でキャンペーン実施中！
              dd.aboutService__picts
                figure.aboutService__dealBox
                  img.aboutService__img.-pc(src='/cnt/common/images/cpn-parts/rb_merit_group.png' + parameter, alt='楽天のサービスを横断でキャンペーン実施中！' width='600')
                  img.aboutService__img.-sp(src='/cnt/common/images/cpn-parts/rb_merit_group_sp.png' + parameter, alt='楽天のサービスを横断でキャンペーン実施中！' width='100%')
              dd.aboutService__bottom
                p.aboutService__txt.-bold 併用するといつものサロン予約がよりおトクに！
                p.aboutService__attention ※各キャンペーンにはエントリーなどの条件がございます。
                  br
                  | ※各キャンペーンは予告なく変更・中止される可能性がございます。
          li.aboutService__box
            dl.aboutService__contents.aboutService__app
              dt.aboutService__subtitles
                .aboutService__subtitleIcon
                  img.aboutService__img(src='/cnt/common/images/rb_icon_app.svg' + parameter, alt='楽天ビューティアプリアイコン' width='70' height='70')
                .aboutService__subtitleTxts
                  h4.aboutService__subtitle.-excludeApp アプリから予約で
                    br.-sp
                    | さらにポイントアップ！
                  h4.aboutService__subtitle.-app キャンペーンにエントリーで
                    br
                    | さらにポイントアップ！
              p.aboutService__attention ※本キャンペーンは予告なく変更・中止される可能性がございます。
              dd.aboutService__banner
                a.aboutService__link(href='https://beauty.rakuten.co.jp/cnt/topics/campaign/app2x/?l-id=wi_bty_app2x_' + meta.directory)
                  img.aboutService__img(src='/cnt/common/banner/campaign/bnr_common_640x160.png' + parameter, alt='アプリで予約&条件達成でポイント最大3倍' width='600' height='150')
              dd.aboutService__bottom
                ul.aboutService__dl
                  li.aboutService__dlPicbox.-desktop
                    figure.aboutService__dlPic
                      img.aboutService__img(src='/cnt/common/images/cpn-parts/img_appdl.png' + parameter, alt='アプリ画面' width='248' height='248')
                  li.aboutService__dlbtnbox
                    h3.aboutService__dlTitle.-desktop ダウンロードはこちら
                    //- !!!!Adjust URL（キャンペーンごとに差し替え）
                    a.aboutService__link(href='https://app.adjust.com/1lxip9ie?engagement_type=fallback_click')
                      //- !!! Adjust QR（キャンペーンごとに差し替え）
                      img.aboutService__img.-desktop(src='img/btn_dl_qr.svg' + parameter, alt='アプリのダウンロードはこちら' width='188' height='188')
                      img.aboutService__img.-iphone(src='/cnt/common/images/cpn-parts/btn_dl_appstore.svg' + parameter, alt='App Storeからダウンロード')
                      img.aboutService__img.-android(src='/cnt/common/images/cpn-parts/btn_dl_googleplay.svg' + parameter, alt='Goole Playで手に入れよう')

    //- aboutGurunavi
    #AboutGurunavi
    section#aboutService.aboutService.aboutGurunavi(data-ratid='cpn_' + meta.directory + '_AboutGurunavi' data-ratevent='appear' data-ratparam='all')
      article.aboutService__set
        .about--title.gurunavi
          img.about__title__icon(src='img/img_gurunavi_icon_left.png' + parameter, alt='楽天ぐるなびアイコン' width='100%' height='')
          h4.about__title__text  楽天ぐるなびとは？
          img.about__title__icon(src='img/img_gurunavi_icon_right.png' + parameter, alt='楽天ぐるなびアイコン' width='100%' height='')
        ul.aboutService__wrap
          li.aboutService__box
            dl.aboutService__contents.aboutService__point
              dt.aboutService__subtitles
                .aboutService__subtitleIcon
                  img.aboutService__img(src='/cnt/common/images/cpn-parts/rb_merit_coin.png' + parameter, alt='コイン画像' width='70' height='70')
                .aboutService__subtitleTxts
                  h4.aboutService__subtitle 飲食店のネット予約・来店で
                    br.-sp 
                    | 楽天ポイントが貯まる！
              dd
                figure
                  img.aboutService__img.-pc(src='img/second_service_merit_1.png' + parameter, alt='楽天ぐるなびのネット予約･来店で楽天ポイント貯まる！' width='428')
                  img.aboutService__img.-sp(src='img/second_service_merit_1.png' + parameter, alt='楽天ぐるなびのネット予約･来店で楽天ポイント貯まる！' width='100%')
          li.aboutService__box
            dl.aboutService__contents.aboutService__group.-splide
              dt.aboutService__subtitles
                .aboutService__subtitleTxts
                  h4.aboutService__subtitle
                    span.aboutService__subtitle.-large
                      | 3
                    | ステップでポイントが貯まる!
              article.conditionsBox__section
                .conditionsBox__section__wrap.-gurunavi
                  //-  pc用 リスト
                  ul.conditionsBeauty__menu.-pc.-gurunavi
                    li.conditionsBeauty__menu--list.-gurunavi
                      .conditionsBeauty__menu--list--icon.-gurunavi
                        | 1
                      p.conditionsBeauty__menu--list--lead
                        | 楽天ぐるなびと楽天のIDを連携＆
                        br
                        | 貯まるポイントを楽天ポイントに設定
                      .conditionsBox__search.-gurunaviId
                        a.conditionsBox__search--button.-gurunaviId(href='https://my.gnavi.co.jp/connects/?page=raf', data-ratid='cpn_gurunavi_gurunaviId-pc' data-ratevent='click' data-ratparam='all')
                          | ID連携する
                    li.conditionsBeauty__menu--list.-gurunavi
                      .conditionsBeauty__menu--list--icon.-gurunavi
                        | 2
                      p.conditionsBeauty__menu--list--lead
                        | ポイントが貯まるお店で
                        br
                        | ネット予約
                      img.conditionsBeauty__menu--list__img(src='img/second_service_merit_6.png' + parameter, alt='ポイントが貯まるお店でネット予約' width='100%' height='auto')
                    li.conditionsBeauty__menu--list.-gurunavi
                      .conditionsBeauty__menu--list--icon.-gurunavi
                        | 3
                      p.conditionsBeauty__menu--list--lead
                        | 来店して
                        br
                        | ポイントゲット！
                      img.conditionsBeauty__menu--list__img(src='img/second_service_merit_7.png' + parameter, alt='来店して楽天ポイントゲット！'  width='100%' height='auto')

                  //-  sp用 リスト スライダー
                  .splide.-sp
                    .splide__track
                      ul.splide__list.conditionsBeauty__menu.-sp.-gurunavi
                        li.splide__slide.conditionsBeauty__menu--list.-gurunavi
                          .conditionsBeauty__menu--list--icon.-gurunavi
                            | 1
                          p.conditionsBeauty__menu--list--lead
                            | 楽天ぐるなびと楽天のIDを連携＆
                            br
                            | 貯まるポイントを楽天ポイントに設定
                          .conditionsBox__search.-gurunavi.-gurunaviId
                            a.conditionsBox__search--button.-gurunaviId(href='https://my.gnavi.co.jp/connects/?page=raf', data-ratid='cpn_gurunavi_gurunaviId-sp' data-ratevent='click' data-ratparam='all')
                              | ID連携する
                        li.splide__slide.conditionsBeauty__menu--list.-gurunavi
                          .conditionsBeauty__menu--list--icon.-gurunavi
                            | 2
                          p.conditionsBeauty__menu--list--lead
                            | ポイントが貯まるお店で
                            br
                            | ネット予約
                          img.conditionsBeauty__menu--list__img(src='img/second_service_merit_6.png' + parameter, alt='日時やメニューを選択して予約' width='100%' height='auto')
                        li.splide__slide.conditionsBeauty__menu--list.-gurunavi
                          .conditionsBeauty__menu--list--icon.-gurunavi
                            | 3
                          p.conditionsBeauty__menu--list--lead
                            | 来店して
                            br
                            | ポイントゲット！
                          img.conditionsBeauty__menu--list__img(src='img/second_service_merit_7.png' + parameter, alt='施術完了'  width='100%' height='auto')
                p.aboutService__attention.-gurunavi ※楽天ぐるなびのページに遷移します。楽天ポイントを貯めるにはID連携後、「楽天ぐるなびでポイントが貯まるお店」をネット予約、来店した場合に対象となります。詳しくは
                  a.aboutService__link(href="https://my.gnavi.co.jp/point_platform/rakuten/") こちら
                  | をご確認ください。
                  br
                  | ※貯まるポイント数は、お店・サービスによって異なります。
          li.aboutService__box
            dl.aboutService__contents.aboutService__point
              dt.aboutService__subtitles
                .aboutService__subtitleTxts
                  h4.aboutService__subtitle 様々な利用シーンで使える！
              dt.aboutService__flex
                .aboutService__flex__wrap
                  img.aboutService__flex__img(src='img/second_service_merit_8.png' + parameter, alt='ビールのアイコン' width='100%')
                  p.aboutService__flex__text 職場の宴会利用も！
                .aboutService__flex__wrap
                  img.aboutService__flex__img(src='img/second_service_merit_9.png' + parameter, alt='食事のアイコン' width='100%')
                  p.aboutService__flex__text プライベート利用も！
              dt.conditionsBox__section
                .conditionsBox__search.-gurunavi
                  a.conditionsBox__search--button.-gurunavi(href='https://r.gnavi.co.jp/area/jp/rs/?point=SAVE&sc_cid=rkt_btycpn2505_lp_search&scid=wi_bty_search_btycpn2505_lp', data-ratid='cpn_gurunavi_gurunaviTop' data-ratevent='click' data-ratparam='all')
                    | 楽天ポイントが貯まるお店を探す
              dt
                figure
                  a(href='https://dining.rakuten.co.jp/campaign/kanjirank_yamawake/?sc_cid=rkt_btycpn2505_lp_kanjrank_yamawake&scid=wi_bty_kanjirank_yamawake_btycpn2505_lp', data-ratid='cpn_gurunavi_gurunaviBanner' data-ratevent='click' data-ratparam='all')
                    img.aboutService__banner.-pc.-gurunavi(src='img/second_service_banner_pc.png' + parameter, alt='クイズに答えて＆エントリーで88,888ポイント山分け！キャンペーンバナー' width='100%')
                    img.aboutService__banner.-sp.-gurunavi(src='img/second_service_banner_sp.png' + parameter, alt='クイズに答えて＆エントリーで88,888ポイント山分け！キャンペーンバナー' width='100%')

    //- Campaign Detail
    section#Detail.detail(data-ratid='cpn_' + meta.directory + '_Detail' data-ratevent='appear' data-ratparam='all')
      .detailBox
        .titleWrap
          h2.titleWrap--title キャンペーン詳細
        p.detail__caption ※本キャンペーンは予告なく変更・中止される可能性がございます。
        table.detail__table
          tbody
            tr.detail__tableBlock
              th.detail__tableBlockHead エントリー・予約期間
              td.detail__tableBlockBody 2025年5月1日(木) 10:00～2025年6月2日(月) 9:59まで
            tr.detail__tableBlock
              th.detail__tableBlockHead 施術期間
              td.detail__tableBlockBody 2025年5月1日(木) 10:00～2025年6月30日(月) 23:59まで
            tr.detail__tableBlock
              th.detail__tableBlockHead 対象者
              td.detail__tableBlockBody
                p.detail__tableBlockTxt 下記の対象条件を全て満たした方が、特典の対象となります。
                p.detail__tableBlockTxt 条件の達成は順不同です。
                p.detail__tableBlockTxt--space
                p.detail__tableBlockTxt ＜対象条件＞
                ul.detail__tableBlockList--disc
                  li.detail__tableBlockList--li エントリーをされた方
                  li.detail__tableBlockList--li 予約期間中に楽天ビューティで2,500円(税込)以上のネット予約をされた方
                  li.detail__tableBlockList--li 施術期間中に施術を完了された方
                p.detail__tableBlockTxt--space
                ul.detail__tableBlockList
                  li.detail__tableBlockList--li エントリーには楽天会員登録が必要です。楽天会員でない方は、エントリーと同時に楽天会員登録(無料)ができます。
                  li.detail__tableBlockList--li エントリー履歴は
                    a.detail__tableBlockTxt--link(href="https://oubo.rakuten.co.jp/list?spk=f1636b")
                      | こちら
                    | から確認できます。
                  li.detail__tableBlockList--li ネット予約後キャンセルされた場合、ご来店いただけなかった場合は対象外となります。
                  li.detail__tableBlockList--li 楽天発行の割引クーポン利用の場合は、
                    span.detail__tableBlockTxt--red クーポン割引後
                    | の価格が2,500円(税込)以上の場合に対象となります。
                  li.detail__tableBlockList--li 電話予約や直接来店での施術は対象外となります。
                  li.detail__tableBlockList--li ネット予約後、お客様都合や店舗都合でキャンセルになり、その後電話予約や直接来店で施術完了された場合は、ポイント及びクーポン進呈の対象外となります。
                  li.detail__tableBlockList--li ネット予約後、来店日時が変更になった場合でも、対象の来店期間内で施術完了された場合は、ポイント及びクーポン進呈の対象となります。
                  li.detail__tableBlockList--li 期間内の予約・施術完了であればエントリーと予約・施術完了どちらが先でも対象となります。
                  li.detail__tableBlockList--li 楽天グループの役職員及び関係者は応募できません。
            tr.detail__tableBlock
              th.detail__tableBlockHead 特典内容①
              td.detail__tableBlockBody
                p.detail__tableBlockTxt 条件達成された方全員に楽天ぐるなびのネット予約で使える500円OFFクーポンを配布いたします。
                ul.detail__tableBlockList
                  li.detail__tableBlockList--li クーポンの配布は7月下旬頃を予定しております。
                  li.detail__tableBlockList--li 
                    span.detail__tableBlockTxt--red クーポンのご利用は先着順500名様となります。
            tr.detail__tableBlock
              th.detail__tableBlockHead クーポン利用条件
              td.detail__tableBlockBody
                p.detail__tableBlockTxt 下記条件を全て満たしたご予約にてクーポンをご利用いただけます。
                ul.detail__tableBlockList--disc
                  li.detail__tableBlockList--li 2025年8月1日(金) 10:00～8月15日(金)23:59の期間中のネット予約
                  li.detail__tableBlockList--li 2025年8月1日(金) 10:00～8月31日(日)23:59の期間中のご来店
                  li.detail__tableBlockList--li 「ぐるなびネット予約クーポン対応」のラベルがついた店舗のご予約
                  li.detail__tableBlockList--li 合計2,500円(税込)以上のお会計となるコースのご予約
            tr.detail__tableBlock
              th.detail__tableBlockHead 特典内容②
              td.detail__tableBlockBody
                p.detail__tableBlockTxt 条件達成された方の中から抽選で合計45名様に下記の通りの楽天ポイントをそれぞれ進呈いたします。
                p.detail__tableBlockTxt 5,000ポイント：5名様
                p.detail__tableBlockTxt 1,000ポイント：10名様
                p.detail__tableBlockTxt 500ポイント：30名様
                ul.detail__tableBlockList
                  li.detail__tableBlockList--li 現在実施中のキャンペーンとの併用が可能です(一部併用が出来ないキャンペーンもございます)。
                ul.detail__tableBlockList--none
                  li.detail__tableBlockList--li
                    a.detail__tableBlockTxt--link(href='https://beauty.rakuten.co.jp/cnt/topics/')
                      |  楽天ビューティのキャンペーン一覧はこちら
                  li.detail__tableBlockList--li
                    a.detail__tableBlockTxt--link(href='https://present.gnavi.co.jp/')
                      |  楽天ぐるなびのキャンペーン一覧はこちら
            tr.detail__tableBlock
              th.detail__tableBlockHead ポイント進呈予定日
              td.detail__tableBlockBody
                p.detail__tableBlockTxt 2025年7月末頃
                ul.detail__tableBlockList
                  li.detail__tableBlockList--li ポイント進呈をもって、当選の発表に変えさせていただきます。
                  li.detail__tableBlockList--li 獲得した特典ポイントは、
                    a.detail__tableBlockTxt--link(href='https://point.rakuten.co.jp/history/')
                      | 楽天PointClubのポイント実績
                    | でご確認いただけます。
                p.detail__tableBlockTxt 当選に関わる個別のお問い合わせについては、対応しておりません。
            tr.detail__tableBlock
              th.detail__tableBlockHead ポイント有効期限
              td.detail__tableBlockBody
                ul.detail__tableBlockList--none
                  li.detail__tableBlockList--li ポイント進呈日から6ヶ月間有効な期間限定ポイントとして進呈されます。
                  li.detail__tableBlockList--li 期間限定ポイントの詳細は
                    a.detail__tableBlockTxt--link(href='https://ichiba.faq.rakuten.net/detail/000006532?scid=su_231')
                      | こちら
                    | をご確認ください。　
            tr.detail__tableBlock
              th.detail__tableBlockHead 注意事項
              td.detail__tableBlockBody
                ul.detail__tableBlockList--none
                  li.detail__tableBlockList--li ■楽天ビューティ予約について
                ul.detail__tableBlockList
                  li.detail__tableBlockList--li 一部ネット予約が行えないサロンがございます。また、サロンの予約状況によっては、ご希望に添えない場合やお断りする場合もございます。
                  li.detail__tableBlockList--li 本サービスへのアクセス集中や通信回線の状態による遅延、不具合などにより本サービスへのアクセスや登録・表示などができないことにより発生した障害、または起因して発生したすべての事象に関しましては、弊社の責めに帰すべき場合を除き、責任を負いかねます。
                ul.detail__tableBlockList--none
                  li.detail__tableBlockList--li ■クーポンについて
                ul.detail__tableBlockList
                  li.detail__tableBlockList--li ぐるなび会員及び楽天会員を退会し、または資格を喪失した場合、ぐるなびネット予約クーポンはご利用いただけません
                  li.detail__tableBlockList--li ぐるなびネット予約クーポンの利用にはぐるなび会員とID連携を行った楽天IDでのログインが必要となります。
                  li.detail__tableBlockList--li ぐるなびネット予約クーポンには利用上限枚数(予約登録順)が設定されています。ぐるなびネット予約クーポン獲得済みであっても利用上限に達した場合はご利用いただけません。
                  li.detail__tableBlockList--li 獲得したぐるなびネット予約クーポンは、myぐるなびのマイクーポンからご確認いただけます。
                  li.detail__tableBlockList--li その他のクーポンの使い方や詳細はクーポン付与日以降、
                    a.detail__tableBlockTxt--link(href='https://member.gnavi.co.jp/mycoupon/')
                      | Rakutenぐるなびのmyクーポンページ
                    | でご確認ください。
                  li.detail__tableBlockList--li ぐるなびネット予約クーポンに関するお問い合わせは
                    a.detail__tableBlockTxt--link(href='https://chat.ichiba.faq.rakuten.co.jp/')
                      | こちら
                ul.detail__tableBlockList--none
                  li.detail__tableBlockList--li ■その他
                ul.detail__tableBlockList
                  li.detail__tableBlockList--li 取得したユーザ情報は
                    a.detail__tableBlockTxt--link(href='https://privacy.rakuten.co.jp/')
                      | 個人情報保護方針
                    | に基づいてお取り扱いいたします。
                  li.detail__tableBlockList--li 株式会社ぐるなびの個人情報の取り扱いについては
                    a.detail__tableBlockTxt--link(href='https://corporate.gnavi.co.jp/policy/')
                      | プライバシーポリシー
                    | をご覧ください。
                  li.detail__tableBlockList--li 楽天グループ株式会社から株式会社ぐるなびにお客さまの情報は提供いたしません。
                  li.detail__tableBlockList--li 掲載店舗、あるいは弊社が不正と合理的に判断した場合は、特典対象から除外する場合がございます。
                  li.detail__tableBlockList--li キャンペーンのエントリー及び条件達成状況、抽選に関わるお問い合わせは一切お受けいたしかねますので、ご了承ください。
                  li.detail__tableBlockList--li 「QRコード」は、株式会社デンソーウェーブの登録商標です。　
                  li.detail__tableBlockList--li 本キャンペーンは楽天グループ株式会社「楽天ビューティ」が主催しているものであり、Apple Inc., Apple Japan合同会社によるものではありません。
                  li.detail__tableBlockList--li その他ご不明な点は下記よりお問い合わせください。
                ul.detail__tableBlockList--none
                  li.detail__tableBlockList--li
                    a.detail__tableBlockTxt--link(href='https://beauty.faq.rakuten.net/user/s/')
                      | 本キャンペーン及び楽天ビューティについて
                  li.detail__tableBlockList--li
                    a.detail__tableBlockTxt--link(href='https://chat.ichiba.faq.rakuten.co.jp/')
                      | 楽天ぐるなびについて

    //- Other Campaign
    section#Campaign.campaign(data-ratid='cpn_' + meta.directory + '_Campaign' data-ratevent='appear' data-ratparam='all')
      .titleWrap
        h2.titleWrap--title その他のキャンペーン

      include ../../../../../_common/pug/Module/Common/_campaignList
      +campaignList()


block js
  //- jsはここに書く

  //------------------------------- ライブラリ読み込み -------------------------------//

  //- jQuery（使用しない時はコメントアウト）
  script(src="/cnt/common/js/jquery/3.7.1/jquery.min.js", defer)

  //- vue（使用しない時はコメントアウト）
  script(src='/cnt/common/js/vue/vue.min.js', defer)
  script(src='/cnt/common/js/vue/axios.min.js', defer)

  //------------------------------- CPNパーツ用js読み込み -------------------------------//

  //- キャンペーン一覧 (vue)（cpnlist/barter枠のjson読み込み）
  script(src='/cnt/common/js/readjson.js' + parameter, defer)
  //- 読み込みたいjson名をtrueにする（ハイフン抜き）
  script.
    campaignlist = true;

  //- よくあるご質問（jQuery）
  script(src="/cnt/common/js/cpn-parts/qa_accordion.js", defer)

  //- ボタン+checkbox（vue）
  script(src="/cnt/common/js/cpn-parts/btn_checkbox.js", defer)

  //------------------------------- このページ用のjs -------------------------------//

  //- あればここに書く
  //- splide
  script(src="js/splide.min.js", defer)
  script.
    document.addEventListener( 'DOMContentLoaded', function() {
      var elms = document.getElementsByClassName( 'splide' );
      for ( var i = 0; i < elms.length; i++ ) {
        new Splide( elms[ i ] ).mount();
      }
    } );
