//- 新クーポンLP専用テンプレート。毎回最新のものをフォルダごと複製して使用してください
//- テンプレートの種類について：https://confluence.rakuten-it.com/confluence/pages/viewpage.action?pageId=2443993509
//- CSV Coupon Template / ver 1.4.0 / 更新日時：2025.3.4 / CPNタグ表記ルール変更

-
  //- 更新用のpugです。Kintoneの内容をjsonに変換して転記してください。
  //- 作成マニュアル：https://confluence.rakuten-it.com/confluence/display/BUXDGP/Kintone+to+Coupon+LP

  //- 更新日（キャッシュクリア用のパラメータとして使用）
  var parameter = '?v20250428'
  //- ディレクトリ名（l-idなどに使用。入力例：cnt/topics/campaign/xxxx/ -> 'xxxx'）
  var directory = 'kerastase'
  //- 対象ジャンル（デフォルト：'',美容室限定：'hair'）美容室以外のジャンルは未対応。
  var genre = ''

  //- Kintoneのcsvをjsonに変換して、[]の中身をまるごと置き換えてください。インデント（段落）が崩れないよう注意
  //- 「クーポン名」のみ手動で良い感じに書き換えてください
  var coupon = [
    {
      "利用開始日時": "2025/3/24 10:00",
      "本発行": "（対応中）",
      "クーポンコード": "5XUH-WM8W-MQXK-7PTX",
      "クーポン名": "ケラスターゼメニュー1,000円OFF限定割引クーポン★",
      "種別": "獲得",
      "事前付与リスト": "https://beauty.rakuten.co.jp/xxxxxxx",
      "店舗指定リスト": "https://rak.app.box.com/s/hx54nnytrnzusz31guk2ni0lxhroq33p",
      "露出先管理Kintone URL": "https://beauty.rakuten.co.jp/xxxxxxx",
      "担当部署": "戦略",
      "レコード番号": 2369,
      "更新者": "ts-yuka.d.kaneko",
      "作成者": "uiko.a.kumamaru",
      "更新日時": "2025/3/7 17:08",
      "作成日時": "2025/1/20 12:25",
      "入稿シート": "--",
      "ページURL": "https://beauty.rakuten.co.jp/cnt/topics/campaign/kerastase/",
      "事前付与空き枠申請": "不要",
      "対象条件": "セグメントなし",
      "対象デバイス": "セグメントなし",
      "表示フラグ": "不可",
      "割引適用対象": "全アイテム",
      "割引適用ショップ・アイテム": "指定ショップ",
      "店舗件数": 354,
      "クーポン説明": "楽天ビューティに掲載されている対象ヘアサロンにて、ケラスターゼメニューのネット予約で利用可能な割引クーポンです。さらにWチャンス！本クーポン予約者の中から13名様に、ケラスターゼクロノロジストオリジナルセットを抽選でプレゼントいたします☆賞品の発送をもって当選発表とさせて頂きますので、ご登録の情報に誤りや変更がないかご確認ください。",
      "獲得用URL": "https://coupon.rakuten.co.jp/getCoupon?getkey=V004Vy01WFVILU1RWEstN1BUWA--",
      "利用終了日時": "2025/4/30 9:59",
      "来店終了日時": "2025/5/30 23:59",
      "リダイレクトURL": "https://beauty.rakuten.co.jp/cnt/topics/campaign/kerastase/#Shoplist",
      "事前付与対象枚数": 0,
      "セグメント": "獲得・事前2つクーポンあり\n※メニュークーポンです※\n\nmenu : 2186\n*900番台のmenu id\nmin 900\nmax 929",
      "制作依頼JIRA URL": "https://jira.rakuten-it.com/jira/browse/RESQUE-9995",
      "注意事項": "＜獲得型_共通＞\n・獲得したラ・クーポンは、お1人様1回までご利用いただけます。\n・他のラ・クーポンとの併用はできません。\n・ラ・クーポンには利用上限枚数（予約成立順）が設定されています。ラ・クーポン獲得済みであっても利用上限に達した場合はご利用いただけません。\n・獲得したラ・クーポンは、マイページのマイクーポンからご確認いただけます。\n・ラ・クーポンの利用条件に合致したクーポンのみが、ネット予約STEP中に表示されます。獲得していても、ラ・クーポンが表示されない場合、ラ・クーポンの利用条件等をご確認ください。（予約条件が一致しない、有効期限を過ぎている、利用枚数を超えた場合等）\n・ネット予約確定の前に、他のネット予約が成立し利用上限枚数に達した場合には、ネット予約がエラーとなり、ラ・クーポンをご利用になれません。\n・ラ・クーポンは、楽天ビューティ（サイト/アプリ）での予約時にのみご利用いただけます。予約成立後など後から利用することはできません。\n・ラ・クーポンを印刷して来店時にお持ちいただいても割引することはできません。\n・ラ・クーポンは、電話予約でご利用できません。\n・一部、ラ・クーポンを利用できない店舗がございます。\n・予約画面で選択できる来店日時は、ネット予約される日から30日後までとなりますが、発行されているラ・クーポンによって来店期日は異なりますので、ご注意ください。\n・サロンの予約状況によっては、ご希望に添えなかったり、お断りする場合もございます。\n・ラ・クーポンを利用した予約をキャンセルした場合、利用条件を満たしていれば、マイクーポンに返還されます。詳しくはこちら\n・本企画は予告無く変更・中止されることがございます。\n・本サービスへのアクセス集中や通信回線の状態による遅延、不具合などにより本サービスへのアクセスや登録・表示などができないことにより発生した障害、または起因して発生したすべての事象に関しましては、当社の責めに帰すべき場合を除き、責任を負いかねます。\n・ご来店いただける期間はサロンの営業時間によって異なります。\n\n---------------------------------------------------------------------\n＜獲得型_APPのみ＞\t\n・獲得したラ・クーポンは、お1人様1回までご利用いただけます。\n・他のラ・クーポンとの併用はできません。\n・ラ・クーポンには利用上限枚数（予約成立順）が設定されています。ラ・クーポン獲得済みであっても利用上限に達した場合はご利用いただけません。\n・獲得したラ・クーポンは、マイページのマイクーポンからご確認いただけます。\n・ラ・クーポンの利用条件に合致したクーポンのみが、ネット予約STEP中に表示されます。獲得していても、ラ・クーポンが表示されない場合、ラ・クーポンの利用条件等をご確認ください。（予約条件が一致しない、有効期限を過ぎている、利用枚数を超えた場合等）\n・ネット予約確定の前に、他のネット予約が成立し利用上限枚数に達した場合には、ネット予約がエラーとなり、ラ・クーポンをご利用になれません。\n・ラ・クーポンは、楽天ビューティのアプリでの予約時にのみご利用いただけます。予約成立後など後から利用することはできません。\n・ラ・クーポンを印刷して来店時にお持ちいただいても割引することはできません。\n・ラ・クーポンは、電話予約でご利用できません。\n・一部、ラ・クーポンを利用できない店舗がございます。\n・予約画面で選択できる来店日時は、ネット予約される日から30日後までとなりますが、発行されているラ・クーポンによって来店期日は異なりますので、ご注意ください。\n・サロンの予約状況によっては、ご希望に添えなかったり、お断りする場合もございます。\n・ラ・クーポンを利用した予約をキャンセルした場合、利用条件を満たしていれば、マイクーポンに返還されます。詳しくはこちら\n・本企画は予告無く変更・中止されることがございます。\n・本サービスへのアクセス集中や通信回線の状態による遅延、不具合などにより本サービスへのアクセスや登録・表示などができないことにより発生した障害、または起因して発生したすべての事象に関しましては、当社の責めに帰すべき場合を除き、責任を負いかねます。\n・ご来店いただける期間はサロンの営業時間によって異なります。\n\n\n-----------------------------------------------------------------------------------\n＜事前付与型＞\n・ラ・クーポンは、お1人様1回までご利用いただけます。\n・他のラ・クーポンとの併用はできません。\n・ラ・クーポンには利用上限枚数（予約成立順）が設定されています。ラ・クーポン獲得済みであっても利用上限に達した場合はご利用いただけません。\n・ラ・クーポンは、マイページのマイクーポンからご確認いただけます。\n・ラ・クーポンの利用条件に合致したクーポンのみが、ネット予約STEP中に表示されます。獲得していても、ラ・クーポンが表示されない場合、ラ・クーポンの利用条件等をご確認ください。（予約条件が一致しない、有効期限を過ぎている、利用枚数を超えた場合等）\n・ネット予約確定の前に、他のネット予約が成立し利用上限枚数に達した場合には、ネット予約がエラーとなり、ラ・クーポンをご利用になれません。\n・ラ・クーポンは、楽天ビューティ（サイト/アプリ）での予約時にのみご利用いただけます。予約成立後など後から利用することはできません。\n・ラ・クーポンを印刷して来店時にお持ちいただいても割引することはできません。\n・ラ・クーポンは、電話予約でご利用できません。\n・一部、ラ・クーポンを利用できない店舗がございます。\n・予約画面で選択できる来店日時は、ネット予約される日から30日後までとなりますが、発行されているラ・クーポンによって来店期日は異なりますので、ご注意ください。\n・サロンの予約状況によっては、ご希望に添えなかったり、お断りする場合もございます。\n・ラ・クーポンを利用した予約をキャンセルした場合、利用条件を満たしていれば、マイクーポンに返還されます。詳しくはこちら\n・本企画は予告無く変更・中止されることがございます。\n・本サービスへのアクセス集中や通信回線の状態による遅延、不具合などにより本サービスへのアクセスや登録・表示などができないことにより発生した障害、または起因して発生したすべての事象に関しましては、当社の責めに帰すべき場合を除き、責任を負いかねます。\n・ご来店いただける期間はサロンの営業時間によって異なります。\n\n\n\n---------　コメントアウト　---------\n※編成へ 各リンク先はこちらでお願いします！\n\nマイクーポン\nhttps://beauty.rakuten.co.jp/user/coupon.php\n\n詳しくはこちら\nhttps://beauty.faq.rakuten.net/user/s/detail/000005759",
      "エリアカテゴリー": "全国_獲得",
      "リスト提出予定日": "2024/2/10",
      "補足": "text",
      "毎月開催": "単月",
      "割引額": 1000,
      "利用上限枚数": 500,
      "利用最低金額": 3000,
      "メニュークーポン": "あり",
      "メニュー指定リスト": "https://beauty.rakuten.co.jp/xxxxxxx",
      "サムネイルURL": "https://cloudinary-a.akamaihd.net/vivivi/image/upload/t_beauty,f_auto,q_auto:good/v1/tokushu/kerastase/coupon_image_2410.png",
      "対象店舗予約有無": "なし",
      "会員利用上限枚数(一人あたりの利用回数)": 1
    }
  ]