extends ../../../../../_common/pug/Base/_layout.pug

block init
  -
    var meta = {
      title: "【地域限定】ヘアサロン出店リクエストフォーム",
      description: "東京都・札幌市・仙台市・さいたま市・神戸市・福岡市を対象とした、楽天ビューティへのヘアサロン出店リクエストフォームです。",
      url: "https://beauty.rakuten.co.jp/cnt/topics/campaign/info/area-form/",
      og_image: "https://beauty.rakuten.co.jp/asset/img/Beauty/ogp.png?202101",//- default (シェア画像があれば変更)
    }
  - var css = "css/main.css?v20240906"

block addHead
  //- nofollowが必要なときはコメントを外す
  //- meta(name='robots', content='noindex,nofollow')

  //- enen js
  script(type="text/javascript").
    function doTrim(el) {
      el.value = el.value.replace(/^\s+|\s+$/g, '');
    }

    function isInput(el) {
      return el.value.length != 0;
    }

    function isChecked(el) {
      if (el.length) {
        for (var i = 0; i < el.length; i++) {
          if (el[i].checked) {
            return true;
          }
        }
      } else {
        if (el.checked) {
          return true;
        }
      }
      return false;
    }

    function isLength(el, len) {
      if ("え".length == 2) {
        len *= 2;
      }
      return el.value.length <= len;
    }

    function zen2han(el) {
      el.value = el.value.replace(/[０]/g, "0");
      el.value = el.value.replace(/[１]/g, "1");
      el.value = el.value.replace(/[２]/g, "2");
      el.value = el.value.replace(/[３]/g, "3");
      el.value = el.value.replace(/[４]/g, "4");
      el.value = el.value.replace(/[５]/g, "5");
      el.value = el.value.replace(/[６]/g, "6");
      el.value = el.value.replace(/[７]/g, "7");
      el.value = el.value.replace(/[８]/g, "8");
      el.value = el.value.replace(/[９]/g, "9");
    }

    function checkForm() {
      var el;
      var obj = document.enenForm;

      el = obj.elements['answers[41240_279679]'];
      if (!isChecked(el)) {
        alert("「エリア」を選択してください。");
        return false;
      }

      el = obj.elements['answers[41240_279680]'];
      doTrim(el);
      zen2han(el);
      if (!isInput(el)) {
        alert("「サロン名・企業名」を入力してください。");
        return false;
      }

      if (!isLength(el, 256)) {
        alert("「サロン名・企業名」は256文字以内で入力してください。");
        return false;
      }

      el = obj.elements['answers[41240_279681]'];
      doTrim(el);
      zen2han(el);
      if (!isInput(el)) {
        alert("「サロンの最寄駅」を入力してください。");
        return false;
      }

      if (!isLength(el, 256)) {
        alert("「サロンの最寄駅」は256文字以内で入力してください。");
        return false;
      }

      el = obj.elements['answers[41240_279682]'];
      doTrim(el);
      zen2han(el);
      if (!isLength(el, 1000)) {
        alert("「サロンのURL 」は1000文字以内で入力してください。");
        return false;
      }

      el = obj.elements['answers[41240_279683]'];
      doTrim(el);
      zen2han(el);
      if (!isInput(el)) {
        alert("「オススメ・応援メッセージ」を入力してください。");
        return false;
      }

      if (!isLength(el, 1000)) {
        alert("「オススメ・応援メッセージ」は1000文字以内で入力してください。");
        return false;
      }
    }
    // -->

block nav
  //- grobalNav / ''に入れた部分がcurrent表示になる
  +grobalNav('/cnt/topics/')

  //- breadcrumb
  -
    var lists = [
      {
        name: meta.title, //- タイトル以外を設定したいときは変更
        link: 'current', //- 'current' is no link
      },
    ]
  +breadcrumb(lists)

block content

  #area_form

    #mainArea
      h1.main__image
        img.main__titleImg.-pc(src='img/main.png' alt='あなたのお気に入りを応援！楽天ビューティに出店してほしいヘアサロンを教えてください')
        img.main__titleImg.-sp(src='img/main_sp.png' alt='あなたのお気に入りを応援！楽天ビューティに出店してほしいヘアサロンを教えてください')
      dl.main__targetArea
        dt.main__targetArea__title 現在の募集対象エリア
        dd.main__targetArea__area
          | 東京都・札幌市・仙台市・
          br.spbr
          | さいたま市・神戸市・広島市・福岡市
      h2.main_ttl
        | リクエストすると
        br.spbr
        | こんな良いことが！
      .request_merit
        dl.request_merit__box
          dt.request_merit__pict
            img(src='img/merit_point.png', alt='ポイントが貯まるサロンに')
          dd.request_merit__txt
            h3.request_merit__title ポイントが貯まるサロンに
            p 掲載されると、楽天ポイントが貯まる・使えるヘアサロンの仲間入り！
        dl.request_merit__box
          dt.request_merit__pict
            img(src='img/merit_campaign.png', alt='ラ・クーポンでおトクに')
          dd.request_merit__txt
            h3.request_merit__title おトクに予約できるサロンに
            p 対象の1都6都市にあるヘアサロンを利用して応援するお得なキャンペーンが続々
        dl.request_merit__box
          dt.request_merit__pict
            img(src='img/merit_cheerup.png', alt='サロンも元気に')
          dd.request_merit__txt
            h3.request_merit__title サロンも元気に
            p あなたの応援でお気に入りのサロンに活気が生まれるかも
      .request_area
        h2.main_ttl
          | あなたの声を楽天ビューティが
          br.spbr
          | ご希望のヘアサロンにお届け！
        h3.request_message
          | 「いつも利用している」「行ってみたい」など、
          br.spbr
          | 出店してほしいヘアサロンを教えてください
        form(action="https://form.rakuten.co.jp/ans/apply/41240" name="enenForm" method="POST" onsubmit="return checkForm()")
          table(border="1")
            tbody
              tr
                td
                  | エリア
                  span  ※必須
                td
                  label(for='a776961')
                    input#a776961(type='radio' name='answers[41240_279679]' value='776961')
                    | 東京都
                  label(for='a776962')
                    input#a776962(type='radio' name='answers[41240_279679]' value='776962')
                    | 札幌市
                  label(for='a776963')
                    input#a776963(type='radio' name='answers[41240_279679]' value='776963')
                    | 仙台市
                  label(for='a776964')
                    input#a776964(type='radio' name='answers[41240_279679]' value='776964')
                    | さいたま市
                  label(for='a776965')
                    input#a776965(type='radio' name='answers[41240_279679]' value='776965')
                    | 神戸市
                  label(for='a776966')
                    input#a776966(type='radio' name='answers[41240_279679]' value='776966')
                    | 広島市
                  label(for='a776967')
                    input#a776967(type='radio' name='answers[41240_279679]' value='776967')
                    | 福岡市
              tr
                td
                  | ヘアサロン名・企業名
                  span  ※必須
                td
                  input(type='text' name='answers[41240_279680]' placeholder='例）ヘアサロンビューティ')
              tr
                td
                  | ヘアサロンの最寄駅
                  span  ※必須
                td
                  input(type='text' name='answers[41240_279681]' placeholder='例）二子玉川駅')
              tr
                td ヘアサロンのURL
                td
                  input(type='text' name='answers[41240_279682]' placeholder='https://')
              tr
                td
                  | オススメ・応援メッセージ
                  span  ※必須
                td
                  textarea(name='answers[41240_279683]' rows='5' cols='40' placeholder='ご紹介いただいた理由や、ヘアサロンへの応援メッセージをご自由にお書きください。')
          input(type='hidden', name='c', value='楽天')
          input(type='hidden', name='l', value='ja')
          //- label.btn_check
            //- input#check(type='checkbox')
          p.btn_area
            input#button(type='submit',value='リクエストする')
            //- input#button(type='submit', disabled='disabled', value='送信する')
          ul.readme
            li ※リクエストには、楽天IDでのログインが必要です。
            li ※リクエスト内容は、ご希望のサロンをスカウトする際や楽天ビューティ内コンテンツ等でお客様からの声として掲載する可能性があります（会員情報を含む個人情報は一切開示・掲載いたしません）。
            li ※おひとりにつき複数店舗のリクエストが可能です。

block js

  //- チェックでボタン有効化
  //- script(src="/cnt/common/js/jquery/3.7.1/jquery.min.js")
  //- script.
  //-   $('#check').change(function () {
  //-     // チェックが入っていたら有効化
  //-     if ($(this).is(':checked')) {
  //-       // ボタンを有効化
  //-       $('#button').prop('disabled', false);
  //-     } else {
  //-       // ボタンを無効化
  //-       $('#button').prop('disabled', true);
  //-     }
  //-   });
