<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  <head>
    <meta charset="UTF-8">
    <title>Rakuten Beauty×Vissel神戸合同企画！ | 楽天ビューティ</title>
    <meta name="viewport" content="width=1300">
    <meta name="description" content="Rakuten Beauty×Vissel神戸合同企画！ エントリー＆ヘアサロンの予約・施術で合計30名様に試合観戦ペアチケット or 公式グッズが当たる！">
    <link rel="canonical" href="https://beauty.rakuten.co.jp/cnt/topics/campaign/kobe_vissel/">
    <meta property="og:type" content="article">
    <meta property="og:site_name" content="楽天ビューティ">
    <meta property="og:url" content="https://beauty.rakuten.co.jp/cnt/topics/campaign/kobe_vissel/">
    <meta property="fb:app_id" content="461054960620939">
    <meta property="og:title" content="Rakuten Beauty×Vissel神戸合同企画！ | 楽天ビューティ">
    <meta property="og:description" content="Rakuten Beauty×Vissel神戸合同企画！ エントリー＆ヘアサロンの予約・施術で合計30名様に試合観戦ペアチケット or 公式グッズが当たる！">
    <meta property="og:image" content="https://beauty.rakuten.co.jp/cnt/topics/campaign/kobe_vissel/img/share.png?v20250325">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="apple-touch-icon-precomposed" href="//beauty.rakuten.co.jp/cnt/common/images/beauty_192px.png?v20180702">
    <link rel="shortcut icon" href="//jp.rakuten-static.com/1/im/ci/rakuten/favicon/pi.ico?20181001">
    <link rel="mask-icon" href="//jp.rakuten-static.com/1/im/ci/rakuten/favicon/Rakuten_SafariPin.svg?20181001" color="#ff41be">
    <link href="css/main.css?v20250325" rel="stylesheet" type="text/css">
    <link rel="dns-prefetch" href="https://cdn.rex.contents.rakuten.co.jp">
    <script>
      const ua = navigator.userAgent;
      //- viewport for Tablet
      if( ua.indexOf('iPhone') > 0 || ua.indexOf('iPod') > 0 || (ua.indexOf('Android') > 0 && ua.indexOf('Mobile') > 0) || ( ua.indexOf('windows') > 0 && ua.indexOf('phone') > 0) || ( ua.indexOf('firefox') > 0 && ua.indexOf('mobile') > 0) ) {
        document.querySelector("meta[name='viewport']").setAttribute("content", "width=device-width,initial-scale=1,user-scalable=no");
      } else if( ua.indexOf('iPad') > 0 || ua.indexOf('Android') > 0 || (ua.indexOf('windows') > 0 && ua.indexOf('touch') > 0) || ( ua.indexOf('firefox') > 0 && ua.indexOf('tablet') > 0) ) {
        document.querySelector("meta[name='viewport']").setAttribute("content", "width=1300");
      }
    </script>
  </head>
  <body>
    <noscript>
      <iframe class="txt_h vis_h" src="//www.googletagmanager.com/ns.html?id=GTM-RKLN" height="0" width="0"></iframe>
    </noscript>
    <script>
      (function(w,d,s,l,i){
      w[l]=w[l]||[];
      w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});
      var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';
      j.async=true;
      j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;
      f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-RKLN');
    </script>
    <script src="//jp.rakuten-static.com/1/grp/banner/js/create.js"></script>
    <div id="mkdiv_header_pitari"></div>
    <header class="-excludeApp" id="SP_header">
      <p id="serviceID"><a class="logo" href="/"><img src="https://beauty.rakuten.co.jp/sp/images/global/rb_logo_v201807.svg" width="74" height="40"></a></p>
    </header>
        <header id="PC_header">
          <div class="rc-h-standard">
            <noscript>
              <div class="rc-h-noscript-bar">
                <div class="rc-h-inner">
                  <p>JavaScriptが無効の為、一部のコンテンツをご利用いただけません。JavaScriptの設定を有効にしてからご利用いただきますようお願いいたします。（<a href="//ichiba.faq.rakuten.co.jp/app/answers/detail/a_id/154">設定方法</a>）</p>
                </div>
              </div>
            </noscript>
            <div class="rc-h-utility-bar">
              <div class="rc-h-inner">
                <div class="rb_wrapper">
                  <ul class="rc-h-group-nav">
                    <li id="grpNote">
                      <noscript><a href="//card.rakuten.co.jp/entry/">今すぐ2,000ポイント！</a></noscript>
                    </li>
                    <li class="rc-h-dropdown rc-h-group-dropdown"><a href="//www.rakuten.co.jp/sitemap/">楽天グループ</a>
                      <ul class="rc-h-dropdown-panel">
                        <li><a href="//books.rakuten.co.jp/?scid=wi_grp_gmx_bea_hepullbu_boo" rel="nofollow">楽天ブックス</a></li>
                        <li><a href="//hoken.rakuten.co.jp/?scid=wi_grp_gmx_bea_hepullbu_hkn" rel="nofollow">楽天の保険</a></li>
                        <li><a href="//www.infoseek.co.jp/?scid=wi_grp_gmx_bea_hepullbu_ifs" rel="nofollow">インフォシーク</a></li>
                        <li><a href="//sm.rakuten.co.jp/?scid=wi_grp_gmx_bea_hepullbu_sup&amp;xadid=wi_grp_gmx_bea_hepullbu_sup" rel="nofollow">楽天西友ネットスーパー</a></li>
                        <li><a href="//www.rakuten.co.jp/sitemap/">サービス一覧</a></li>
                      </ul>
                    </li>
                    <li><a href="//www.rakuten-life.co.jp/?scid=wi_grp_gmx_bea_hetopbu_sei" rel="nofollow">楽天生命</a></li>
                    <li><a href="//www.rakuten.co.jp/" rel="nofollow">楽天市場</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="rb_wrapper">
              <div class="rc-h-service-bar">
                <div class="rc-h-inner">
                  <div class="rc-h-site-id">
                    <p class="rc-h-logo"><a href="/"><img src="//beauty.rakuten.co.jp/images/global/rb_logo_v201807.svg" width="206" height="32" alt="Rakuten BEAUTY"></a></p>
                  </div>
                  <div class="rc-h-site-menu">
                    <div class="rc-h-menu-btns">
                      <ul class="rc-h-help-nav">
                        <li><a href="/cnt/topics/guide/">はじめての方へ</a></li>
                        <li><a href="//beauty.faq.rakuten.net/user/s/">ヘルプ</a></li>
                        <li><a href="//emagazine.rakuten.co.jp/ne?n=294" onclick="_gaq.push(['_trackEvent', 'permission', 'click', 'rbpc_header']);">お得な情報を受け取る</a></li>
                        <li><a href="/cnt/topics/bp/?l-id=rb_pc_header_bp">掲載ご希望のサロン様</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <nav id="globalNav">
            <ul class="globalNav__list c-container">
              <li class="globalNav__item"><a class="globalNav__link" href="/">美容院・ヘアサロン</a></li>
              <li class="globalNav__item"><a class="globalNav__link" href="/nail/">ネイル・まつげサロン</a></li>
              <li class="globalNav__item"><a class="globalNav__link" href="/esthe/">エステサロン</a></li>
              <li class="globalNav__item"><a class="globalNav__link" href="/relax/">リラク・マッサージサロン</a></li>
              <li class="globalNav__item"><a class="globalNav__link" href="/style/">ヘアカタログ</a></li>
              <li class="globalNav__item"><a class="globalNav__link" href="/naildesign/">ネイルカタログ</a></li>
              <li class="globalNav__item"><a class="globalNav__current" href="/cnt/topics/">キャンペーン一覧・特集</a></li>
              <li class="globalNav__item"><a class="globalNav__link" href="/rakulab/">Raku Lab</a></li>
            </ul>
          </nav>
        </header>
        <div class="c-container" id="breadcrumb">
          <ul class="c-breadcrumbs">
            <li class="c-breadcrumbs__item"><a class="c-breadcrumbs__link" href="/">楽天ビューティ</a></li>
            <li class="c-breadcrumbs__item"><a class="c-breadcrumbs__link" href="https://beauty.rakuten.co.jp/cnt/topics/">キャンペーン一覧・特集</a></li>
            <li class="c-breadcrumbs__item"><strong class="c-breadcrumbs__current">Rakuten Beauty×Vissel神戸合同企画！</strong></li>
          </ul>
        </div>
        <script type="application/ld+json">
           {
            "@context": "https://schema.org",
            "@type": "BreadcrumbList",
            "itemListElement": [
              {
                "@type": "ListItem",
                "position": 1,
                "name": "楽天ビューティ",
                "item": "https://beauty.rakuten.co.jp/"
              },
              {
                "@type": "ListItem",
                "position": 2,
                "name": "キャンペーン一覧・特集",
                "item": "https://beauty.rakuten.co.jp/cnt/topics/"
              },
              {
                "@type": "ListItem",
                "position": 3,
                "name": "Rakuten Beauty×Vissel神戸合同企画！"
              }
            ]
           }
        </script>
    <main id="content">
      <div id="Pagename">
        <div id="End">
                <div class="end">
                  <div class="end__icon">
                    <icon class="icon-info"></icon>
                  </div>
                  <div class="end__txt">
                    <p>このキャンペーンは終了しました</p>
                  </div>
                </div>
        </div>
        <div id="CpnTags">
                <div class="campaignTagSet">
                  <div class="campaignTagSet__wrap">
                    <div class="campaignTagSet__box">
                      <p class="campaignTag -red">エントリー必要</p>
                      <p class="campaignTag">美容室限定</p>
                      <p class="campaignTag">ネット予約・施術完了</p>
                    </div>
                  </div>
                </div>
        </div>
        <section class="main" id="Main" data-ratid="cpn_kobe_vissel_Main" data-ratevent="appear" data-ratparam="all">
          <h1 class="main__title"><img class="main__titleImg -pc" src="img/main.png?v20250325" alt="Rakuten Beauty×Vissel神戸合同企画！"><img class="main__titleImg -sp" src="img/main_sp.png?v20250325" alt="Rakuten Beauty×Vissel神戸合同企画！"></h1>
          <div class="main__terms">
            <div class="main__termsBox">
              <p class="main__termsTxt">対象条件：期間中のエントリーが必要／ヘアサロンのネット予約／期間中の施術完了／1回の施術料金が3,000円(税込)以上</p>
              <p class="main__termsTxt">エントリー・予約期間：2025年3月3日 10:00 ～ 2025年4月1日 9:59</p>
              <p class="main__termsTxt">施術期間：2025年3月3日 10:00 ～ 2025年4月6日 23:59</p>
              <p class="main__termsTxt -small">※本キャンペーンは予告なく変更・中止される可能性があります。</p>
              <p class="main__termsTxt -small">※キャンペーン詳細は<a class="main__termsLink" href="#Detail">こちら</a>。</p>
            </div>
          </div>
        </section>
        <section class="entryBox" id="EntryBox" data-ratid="cpn_kobe_vissel_EntryBox" data-ratevent="appear" data-ratparam="all">
                <div class="btnSet__link -end"><span class="btnSet__txt">エントリー期間が終了しました</span></div>
        </section>
        <section class="flow" id="Flow" data-ratid="cpn_kobe_vissel_Flow" data-ratevent="appear" data-ratparam="all">
          <div class="titleWrap">
            <h2 class="titleWrap--title">キャンペーンの流れ</h2>
          </div>
          <div class="flow__wrapper">
            <p class="flow__caption">
               キャンペーン期間中に<a class="flow__link" href="#EntryBox">エントリー</a>＋<a class="flow__link" href="#SearchArea">ヘアサロンのネット予約</a>・施術完了された方に<br>抽選で合計30名様に<a class="flow__link" href="#Prize">試合観戦ペアチケット or 公式グッズ</a>をプレゼント！</p>
            <ul class="flow__boxWrap">
              <li class="flow__box">
                <div class="flow__box0 -pc">
                  <p class="flow__boxTitle">Step 1</p>
                </div>
                <div class="flow__box1"><img class="flow__boxImg" src="img/img_step1.png?v20250325" alt="Step1" width="200" height="200"></div>
                <div class="flow__box2">
                  <p class="flow__boxTitle -sp">Step 1</p>
                  <p class="flow__txt"><a class="flow__link" href="#EntryBox">エントリー</a>する<br>（予約後でもOK！）</p>
                </div>
              </li>
              <li class="flow__box">
                <div class="flow__box0 -pc">
                  <p class="flow__boxTitle">Step 2</p>
                </div>
                <div class="flow__box1"><img class="flow__boxImg" src="img/img_step2.png?v20250325" alt="Step2" width="200" height="200"></div>
                <div class="flow__box2">
                  <p class="flow__boxTitle -sp">Step 2</p>
                  <p class="flow__txt">4月1日(火)9:59までに<br><a class="flow__link" href="#SearchArea">ヘアサロン</a>のネット予約</p>
                </div>
              </li>
              <li class="flow__box">
                <div class="flow__box0 -pc">
                  <p class="flow__boxTitle">Step 3</p>
                </div>
                <div class="flow__box1"><img class="flow__boxImg" src="img/img_step3.png?v20250325" alt="Step3" width="200" height="200"></div>
                <div class="flow__box2">
                  <p class="flow__boxTitle -sp">Step 3</p>
                  <p class="flow__txt">4月6日(日)23:59までに<br>施術完了</p>
                </div>
              </li>
              <li class="flow__box">
                <div class="flow__box0 -pc">
                  <p class="flow__boxTitle">Step 4</p>
                </div>
                <div class="flow__box1"><img class="flow__boxImg" src="img/img_step4.png?v20250325" alt="Step4" width="200" height="200"></div>
                <div class="flow__box2">
                  <p class="flow__boxTitle -sp">Step 4</p>
                  <p class="flow__txt">発送をもって当選者発表</p>
                  <p class="flow__txt -small">※賞品や発送に関する詳細は<br><a class="flow__link_cpn" href="#Detail">こちら</a></p>
                </div>
              </li>
            </ul>
          </div>
          <ul class="flow__attention">
            <li class="flow__txt -small">キャンペーン期間内であれば、ネット予約・施術と応募の順番は問いません。</li>
            <li class="flow__txt -small">当選者の発表は賞品の発送またはポイント進呈をもって代えさせていただきます。(チケット当選者のみ別途当選メール有。)詳細は<a class="flow__infolink" href="#Detail">こちら</a>。</li>
            <li class="flow__txt -small">住所不備等による賞品の再送は行いませんので、登録の情報に誤りや変更がないか必ずご確認ください。楽天会員情報の確認・変更は<a class="flow__infolink" href="https://my.rakuten.co.jp/">こちら</a>。</li>
          </ul>
        </section>
        <section class="prize" id="Prize" data-ratid="cpn_kobe_vissel_Prize" data-ratevent="appear" data-ratparam="all">
          <h3 class="prize--title">試合観戦ペアチケット or 公式グッズが<br class="-sp">抽選で当たる！</h3>
          <div class="prize--container">
            <div class="prize--desc--wrap">
              <p class="prize--desc--text">新シーズンスタート！<br class="-sp">お家観戦も楽しめるグッズをご用意！</p>
              <div class="prize--desc--icon"><img src="img/icon_movi1.png?v20250325" alt="©2005 VISSEL KOBE" width="" height=""></div>
            </div>
            <div class="prize--item--wrap-main">
              <div class="prize--item--container">     
                <div class="prize--item--box">
                  <div class="prize--item--img"><img class="img--prize1 -pc" src="img/img_prize1.jpg?v20250325" alt="A賞 試合観戦ペアチケット@ノエビアスタジアム神戸" width="" height=""><img class="img--prize1 -sp" src="img/img_prize1-sp.jpg?v20250325" alt="A賞 試合観戦ペアチケット@ノエビアスタジアム神戸" width="" height=""></div>
                  <div class="prize--item--detail">
                    <div class="prize--item--title">
                      <p class="prize--item--title--award">A賞</p>
                      <p class="prize--item--title--text">3組6名様</p>
                    </div>
                  </div>
                </div>
                <div class="prize--text--box">
                  <p class="prize--text--title">【VIP席で観戦！試合観戦ペアチケット<br class="-sp">@ノエビアスタジアム神戸】</p>
                  <p class="prize--text--subtitle">下記いずれか １組2名ずつ当選</p><span class="detail-date">
                     5月3日(土祝) 15:00 vsファジアーノ岡山<br>5月17日(土) 14:00 vsガンバ大阪<br>6月15日(日) 18:00 vs名古屋グランパス</span>
                </div>
              </div>
            </div>
            <ul class="prize--item--wrap">
              <li class="prize--item--container">
                <div class="prize--item--box">
                  <div class="prize--item--img"><img class="img--prize2" src="img/img_prize2.png?v20250325" alt="B賞 2025 【レプリカ】ユニフォーム（1st）" width="" height=""></div>
                  <div class="prize--item--detail">
                    <div class="prize--item--title">
                      <p class="prize--item--title--award">B賞</p>
                      <p class="prize--item--title--text">2名様</p>
                    </div>
                  </div>
                </div>
                <div class="prize--text--box">2025【レプリカ】ユニフォーム（1st）<br><span class="detail">#12VISSEL KOBE いずれもMサイズ</span></div>
              </li>
              <li class="prize--item--container">
                <div class="prize--item--box">
                  <div class="prize--item--img"><img class="img--prize3" src="img/img_prize3.png?v20250325" alt="C賞 ジェラートピケコラボ ロゴハーフパンツ" width="" height=""></div>
                  <div class="prize--item--detail">
                    <div class="prize--item--title">
                      <p class="prize--item--title--award">C賞</p>
                      <p class="prize--item--title--text">6名様</p>
                    </div>
                  </div>
                </div>
                <div class="prize--text--box">ジェラートピケコラボ ロゴハーフパンツ<br><span class="detail">クリムゾンレッド M-Lサイズ</span></div>
              </li>
            </ul>
            <ul class="prize--item--wrap-three">
              <li class="prize--item--container">
                <div class="prize--item--box">
                  <div class="prize--item--img"><img class="img--prize4" src="img/img_prize4.png?v20250325" alt="D賞 サーモビアタンブラー" width="" height=""></div>
                  <div class="prize--item--detail">
                    <div class="prize--item--title">
                      <p class="prize--item--title--award">D賞</p>
                      <p class="prize--item--title--text">6名様</p>
                    </div>
                  </div>
                </div>
                <div class="prize--text--box">サーモビアタンブラー<br><span class="detail">※色は変更になる場合があります。</span></div>
              </li>
              <li class="prize--item--container">
                <div class="prize--item--box">
                  <div class="prize--item--img"><img class="img--prize5" src="img/img_prize5.png?v20250325" alt="E賞 【お買いものパンダ｜VISSEL KOBE】タオルマフラー" width="" height=""></div>
                  <div class="prize--item--detail">
                    <div class="prize--item--title">
                      <p class="prize--item--title--award">E賞</p>
                      <p class="prize--item--title--text">6名様</p>
                    </div>
                  </div>
                </div>
                <div class="prize--text--box">【お買いものパンダ｜VISSEL KOBE】<br class="-sp">タオルマフラー</div>
              </li>
              <li class="prize--item--container">
                <div class="prize--item--box">
                  <div class="prize--item--img"><img class="img--prize6" src="img/img_prize6.png?v20250325" alt="F賞 500ポイント" width="" height=""></div>
                  <div class="prize--item--detail">
                    <div class="prize--item--title">
                      <p class="prize--item--title--award">F賞</p>
                      <p class="prize--item--title--text">10名様</p>
                    </div>
                  </div>
                </div>
                <div class="prize--text--box">500ポイント</div>
              </li>
            </ul>
            <ul class="prize--info">
              <li>※賞の選択はできません。</li>
              <li>※最新の試合日程はJリーグ公式サイト又はヴィッセル神戸オフィシャルサイトをご確認ください。</li>
              <li>※チケットは二次元バーコード（QR）を用いたeチケットです。ご自宅へ送付するチケット取得ガイドをもとに来場者登録をお願いいたします。</li>
              <li>※やむを得ない事情により試合日程に変更がある場合はメールまたは郵送にてご連絡を致します。</li>
            </ul>
          </div>
        </section>
        <section class="prize-vip" id="Prize-vip" data-ratid="cpn_kobe_vissel_Prizevip" data-ratevent="appear" data-ratparam="all">
          <div class="prize-vip-wrapper">
            <div class="prize-vip-title">
              <div class="prize-vip-title-warp"><img class="ashirai1" src="img/ashirai-1.png?v20250325">
                <div class="title-addtext">A賞当選で体験できる!</div><img class="ashirai2" src="img/ashirai-2.png?v20250325">
              </div>
              <p class="title-text-wrapper"><span class="span">プレミアム</span><span class="span">・</span><span class="span">ソシオ</span><span class="span">・</span><span class="span">クラブ</span><span class="text-wrapper">を</span><span class="span">ご紹介</span></p>
            </div>
            <div class="prize-vip-container">
              <div class="prize-vip-socioclub">
                <div class="vip-title-wrap">
                  <div class="vip-title"><span class="span">プレミアム</span><span class="span">・</span><span class="span">ソシオ</span><span class="span">・</span><span class="span">クラブ</span></div><img class="tour" src="img/ribon.png?v20250325">
                </div>
                <div class="vip-content"><img class="socioclub-mainpic" src="img/club-main.png?v20250325" alt="プレミアム・ソシオ・クラブ">
                  <div class="vip-content-text-wrap">
                    <div class="frame">
                      <div class="h">
                        <p class="socio-text"><span class="text-wrapper">国内TOPクラスの</span><span class="span">VIP席</span><span class="text-wrapper"></span></p><img class="fukidashi" src="img/fukidashi.png?v20250325">
                      </div>
                      <div class="div">VIP専用入口より入場可能</div>
                    </div>
                    <ul class="vip-content-text-sociolist">
                      <li>
                        <div class="frame">
                          <div class="group">
                            <div class="div"><img class="element" src="img/01.png?v20250325">
                              <div class="line"></div>
                              <div class="text-wrapper">座席はスタジアム全体を見渡せる<br>メインスタンド中央に！</div>
                            </div>
                          </div><img class="club" src="img/club-01.jpg?v20250325" alt="座席エリア">
                        </div>
                      </li>
                      <li>
                        <div class="frame">
                          <div class="group">
                            <div class="div"><img class="element" src="img/02.png?v20250325">
                              <div class="line"></div>
                              <div class="text-wrapper">ゆったりお座りいただける<br>革張りシート</div>
                            </div>
                          </div><img class="club" src="img/club-02.jpg?v20250325" alt="VIPシート">
                        </div>
                      </li>
                      <li>
                        <div class="frame">
                          <div class="group">
                            <div class="div"><img class="element" src="img/03.png?v20250325">
                              <div class="line"></div>
                              <div class="text-wrapper">季節に応じたお食事やアルコール<br>・ソフトドリンク付き</div>
                            </div>
                          </div><img class="club" src="img/club-03.jpg?v20250325" alt="フード・ドリンク">
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="searchArea" id="SearchArea" data-ratid="cpn_kobe_vissel_SearchArea" data-ratevent="appear" data-ratparam="all">
          <div class="titleWrap">
            <h2 class="titleWrap--title">対象のヘアサロン</h2>
          </div>
          <div class="searchArea--container">
            <div class="searchArea--desc--icon"><img src="img/icon_movi2.png?v20250325" alt="©2005 VISSEL KOBE" width="" height=""></div><a class="searchArea--button" href="https://beauty.rakuten.co.jp/?l-id=rb_kobe_visssel_lp_search">対象ヘアサロンはこちら</a>
            <p class="searchArea--info">※ネット予約できるヘアサロンが対象です。</p>
          </div>
        </section>
        <section class="app -excludeApp" id="App" data-ratid="cpn_kobe_vissel_App" data-ratevent="appear" data-ratparam="all">
                <article class="app__set">
                  <h2 class="app__title">
                     楽天ビューティで予約するなら<br class="-sp">アプリがオススメ！</h2>
                  <div class="app__contents">
                    <ul class="app__cpn">
                      <li class="app__cpnTitle">
                        <h3 class="app__subtitle">アプリから予約でポイントアップ</h3>
                      </li>
                      <li class="app__cpnCaptionBox">
                        <p class="app__cpnCaption">ネット予約・施術完了で通常は100円につき1ポイント、アプリなら最大3ポイント進呈！
                        </p>
                      </li>
                      <li class="app__cpnAttention">
                        <p class="app__attention">※本キャンペーンとの併用については<a class="app__link" href="#Detail">キャンペーン詳細</a>をご確認ください。</p>
                      </li>
                      <li class="app__cpnBanner"><a class="app__link" href="https://app.adjust.com/1ifdl1tv?redirect=https://beauty.rakuten.co.jp/cnt/topics/campaign/app2x/?l-id=wi_bty_appappeal_App2x"><img class="app__img" src="/cnt/common/banner/campaign/bnr_app2x_1280x464.png?v20241209" alt="アプリで予約＆条件達成で最大ポイント3倍" width="480" height="174"></a>
                      </li>
                    </ul>
                    <ul class="app__dl">
                      <li class="app__dlTitle -desktop">
                        <h3 class="app__subtitle">ダウンロードはこちら</h3>
                      </li>
                      <li class="app__dlbtns">
                        <figure class="app__dlbtnsPic"><img class="app__img" src="/cnt/common/images/cpn-parts/img_appdl.png?v20241209" alt="アプリ画面" width="248" height="248"></figure><a class="app__link" href="https://app.adjust.com/1ifdl1tv" target="_blank"><img class="app__img -desktop" src="/cnt/common/images/cpn-parts/btn_dl_qr.svg?v20241209" alt="アプリのダウンロードはこちら" width="188" height="188"><img class="app__img -iphone" src="/cnt/common/images/cpn-parts/btn_dl_appstore.svg?v20241209" alt="App Storeからダウンロード" width="136" height="50"><img class="app__img -android" src="/cnt/common/images/cpn-parts/btn_dl_googleplay.svg?v20241209" alt="Goole Playで手に入れよう" width="169" height="50"></a>
                      </li>
                    </ul>
                  </div>
                </article>
        </section>
        <section class="banner" id="Banner" data-ratid="cpn_kobe_vissel_Banner" data-ratevent="appear" data-ratparam="all">
          <div class="banner__box">
            <p class="banner__txt">ここでしか読めないヴィッセル神戸の記事をおとどけ！<br class="-pc">楽天のスポーツメディア</p>
            <div class="banner__boxInner"><a class="banner__link" href="https://syncsports.corp.rakuten.net?scid=wi_bty_2503cplp_bnrm"><img class="banner__img" src="img/syncsports-beauty_640x160.jpg?v20250325" alt="楽天のスポーツメディア" width="640" height="160"></a></div>
          </div>
        </section>
        <section class="detail" id="Detail" data-ratid="cpn_kobe_vissel_Detail" data-ratevent="appear" data-ratparam="all">
          <div class="detailBox">
            <div class="titleWrap">
              <h2 class="titleWrap--title">キャンペーン詳細</h2>
            </div>
            <p class="detail__caption">※本キャンペーンは予告なく変更・中止される可能性がございます。</p>
            <table class="detail__table">
              <tbody>
                <tr class="detail__tableBlock">
                  <th class="detail__tableBlockHead">エントリー・予約期間</th>
                  <td class="detail__tableBlockBody">2025年3月3日(月) 10:00～2025年4月1日(火) 9:59まで</td>
                </tr>
                <tr class="detail__tableBlock">
                  <th class="detail__tableBlockHead">施術期間</th>
                  <td class="detail__tableBlockBody">2025年3月3日(月) 10:00～2025年4月6日(日) 23:59まで</td>
                </tr>
                <tr class="detail__tableBlock">
                  <th class="detail__tableBlockHead">対象者</th>
                  <td class="detail__tableBlockBody">
                    <p class="detail__tableBlockTxt">下記の対象条件を全て満たした方が、特典の対象となります。</p>
                    <p class="detail__tableBlockTxt--space"></p>
                    <p class="detail__tableBlockTxt">＜対象条件＞</p>
                    <ul class="detail__tableBlockList--disc">
                      <li class="detail__tableBlockList--li">エントリーをされた方</li>
                      <li class="detail__tableBlockList--li">予約期間中に楽天ビューティ掲載のヘアサロンで3,000円以上(税込)のネット予約をされた方</li>
                      <li class="detail__tableBlockList--li">施術期間中に施術を完了された方</li>
                    </ul>
                    <p class="detail__tableBlockTxt--space"></p>
                    <ul class="detail__tableBlockList">
                      <li class="detail__tableBlockList--li">エントリーには楽天会員登録が必要です。楽天会員でない方は、エントリーと同時に楽天会員登録(無料)ができます。</li>
                      <li class="detail__tableBlockList--li">エントリー履歴は<a class="detail__tableBlockTxt--link" href="https://oubo.rakuten.co.jp/list?spk=f1636b">こちら</a>から確認できます。</li>
                      <li class="detail__tableBlockList--li">ネット予約後キャンセルされた場合、ご来店いただけなかった場合は対象外となります。</li>
                      <li class="detail__tableBlockList--li">楽天発行の割引クーポン利用の場合は、<span class="detail__tableBlockTxt--red">クーポン割引後</span>の価格が 3,000 円(税込)以上の場合に対象となります。</li>
                      <li class="detail__tableBlockList--li">ネット予約後、お客様都合や店舗都合でキャンセルになり、その後電話予約や直接来店で施術完了された場合は、当キャンペーンの対象外となります。</li>
                      <li class="detail__tableBlockList--li">ネット予約後、来店日時が変更になった場合でも、対象の来店期間内で施術完了された場合は、当キャンペーンの対象となります。</li>
                      <li class="detail__tableBlockList--li">期間内の予約・施術完了であればエントリーと予約・施術完了どちらが先でも対象となります。</li>
                      <li class="detail__tableBlockList--li">楽天グループの役職員及び関係者は応募できません。</li>
                    </ul>
                  </td>
                </tr>
                <tr class="detail__tableBlock"></tr>
                <th class="detail__tableBlockHead">特典内容</th>
                <td class="detail__tableBlockBody">
                  <p class="detail__tableBlockTxt">抽選で合計30名様にヴィッセル神戸試合観戦ペアチケットまたは公式グッズを進呈</p>
                  <p class="detail__tableBlockTxt--space"></p>
                  <p class="detail__tableBlockTxt">A賞 試合観戦ペアチケット@ノエビアスタジアム神戸（3組6名様）</p>
                  <ul class="detail__tableBlockList">
                    <li class="detail__tableBlockList--li-brank">下記いずれか、1組2名ずつ当選。</li>
                    <li class="detail__tableBlockList--li-brank">5月3日(土祝) 15:00 vsファジアーノ岡山</li>
                    <li class="detail__tableBlockList--li-brank">5月17日(土) 14:00 vsガンバ大阪</li>
                    <li class="detail__tableBlockList--li-brank">6月15日(日) 18:00 vs名古屋グランパス</li>
                  </ul>
                  <p class="detail__tableBlockTxt">B賞 2025【レプリカ】ユニフォーム（1st）(#12 VISSEL KOBE Mサイズ)（2名様）</p>
                  <p class="detail__tableBlockTxt">C賞 ジェラートピケコラボ ロゴハーフパンツ(クリムゾンレッド Mサイズ) （3名様）</p>
                  <p class="detail__tableBlockTxt">D賞 サーモビアタンブラー(ブラウン) (6名様)</p>
                  <p class="detail__tableBlockTxt">E賞 【お買いものパンダ｜VISSEL KOBE】タオルマフラー (6名様)</p>
                  <p class="detail__tableBlockTxt">F賞 500ポイント（10名様）</p>
                  <p class="detail__tableBlockTxt--space"></p>
                  <ul class="detail__tableBlockList">
                    <li class="detail__tableBlockList--li">賞の選択はできません。</li>
                    <li class="detail__tableBlockList--li">最新の試合日程はJリーグ公式サイト又はヴィッセル神戸オフィシャルサイトをご確認ください。</li>
                    <li class="detail__tableBlockList--li">チケットは二次元バーコード（QR）を用いたeチケットです。ご自宅へ送付するチケット取得ガイドをもとに来場者登録をお願いいたします。</li>
                    <li class="detail__tableBlockList--li">特典は楽天会員情報にご登録の住所宛てに発送いたします(国内のみ)。ご登録の情報に誤りや変更がないか、必ずご確認ください。楽天会員情報の確認・変更は<a class="detail__tableBlockTxt--link" href="https://my.rakuten.co.jp/">こちら</a>。</li>
                    <li class="detail__tableBlockList--li">楽天会員情報の登録不備や宛先不明などで連絡がとれない場合、当選は無効とさせていただき、特典の再送及び繰り上げ当選は行いませんのでご注意ください。</li>
                    <li class="detail__tableBlockList--li">特典の転売、特典獲得権の譲渡は禁止です。</li>
                    <li class="detail__tableBlockList--li">その他のキャンペーンとの併用はできません。一番特典の大きいキャンペーンが適用されます。<a class="detail__tableBlockTxt--link" href="https://beauty.rakuten.co.jp/cnt/topics/">キャンペーン一覧はこちら</a></li>
                  </ul>
                </td>
                <tr class="detail__tableBlock">
                  <th class="detail__tableBlockHead">特典発送・進呈予定日 チケット</th>
                  <td class="detail__tableBlockBody">
                    <p class="detail__tableBlockTxt">当選メール：2025年4月25日(金)頃</p>
                    <p class="detail__tableBlockTxt">チケット取得ガイド：試合の二週間前頃</p>
                    <p class="detail__tableBlockTxt">公式グッズ：2025年5月16日(金)頃</p>
                    <p class="detail__tableBlockTxt">楽天ポイント：2025年4月30日(水)</p>
                    <p class="detail__tableBlockTxt--space"></p>
                    <ul class="detail__tableBlockList">
                      <li class="detail__tableBlockList--li">公式グッズは特典の発送をもって、楽天ポイントはポイント進呈をもって当選の発表にかえさせていただきます。</li>
                      <li class="detail__tableBlockList--li">※	獲得した特典ポイントは、</li><a class="detail__tableBlockTxt--link" href="https://point.rakuten.co.jp/history/">楽天PointClubのポイント実績</a>でご確認いただけます。
                      <li class="detail__tableBlockList--li">当選に関わる個別のお問い合わせについては、対応しておりません。</li>
                      <li class="detail__tableBlockList--li">都合により特典の発送が遅れる場合もございます。予めご了承ください。</li>
                    </ul>
                  </td>
                </tr>
                <tr class="detail__tableBlock">
                  <th class="detail__tableBlockHead">注意事項</th>
                  <td class="detail__tableBlockBody">
                    <ul class="detail__tableBlockList">
                      <li class="detail__tableBlockList--li">一部ネット経由の予約が行えないサロンがございます。また、サロンの予約状況によっては、ご希望に添えない場合やお断りする場合もございます。</li>
                      <li class="detail__tableBlockList--li">本サービスへのアクセス集中や通信回線の状態による遅延、不具合などにより本サービスへのアクセスや登録・表示などができないことにより発生した障害、または起因して発生したすべての事象に関しましては、当社の責めに帰すべき場合を除き、責任を負いかねます。</li>
                      <li class="detail__tableBlockList--li">取得したユーザ情報は<a class="detail__tableBlockTxt--link" href="https://privacy.rakuten.co.jp/">個人情報保護方針</a>に基づいてお取り扱いいたします。</li>
                      <li class="detail__tableBlockList--li">掲載店舗、あるいは弊社が不正と合理的に判断した場合は、特典対象から除外する場合がございます。</li>
                      <li class="detail__tableBlockList--li">キャンペーンのエントリー及び条件達成状況に関わるお問い合わせは一切お受けいたしかねますので、ご了承ください。</li>
                      <li class="detail__tableBlockList--li">「QRコード」は、株式会社デンソーウェーブの登録商標です。　</li>
                      <li class="detail__tableBlockList--li">その他ご不明な点は<a class="detail__tableBlockTxt--link" href="https://beauty.faq.rakuten.net/user/s/">こちら</a>よりお問い合わせください。</li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>
        <section class="campaign" id="Campaign" data-ratid="cpn_kobe_vissel_Campaign" data-ratevent="appear" data-ratparam="all">
          <div class="titleWrap">
            <h2 class="titleWrap--title">その他のキャンペーン</h2>
          </div>
                    <script>var dirStr = 'kobe_vissel';</script>
                    <div class="campaignList" id="CampaignList">
                      <div class="campaignListWrap">
                        <template v-for="res in results"><a class="campaignListBox" v-bind:href="res.url" v-if="res.directory !== dirStr">
                            <div class="campaignListBanner"><img class="campaignListBannerImg" v-bind:src="res.banner" v-bind:alt="res.alt"></div>
                            <div class="campaignListTxts">
                              <ul class="campaignListMain">
                                <li class="campaignListTagBox">
                                  <template v-for="tag in res.tag">
                                    <p class="campaignListTag -pink" v-if="tag.name == 'エントリー必要' || tag.name == 'ラ・クーポン'">{{ tag.name }}</p>
                                    <p class="campaignListTag -disable" v-else-if="tag.name == 'エントリー不要'">{{ tag.name }}</p>
                                    <p class="campaignListTag" v-else>{{ tag.name }}</p>
                                  </template>
                                </li>
                                <li class="campaignListTxtBox">
                                  <template v-for="terms in res.terms">
                                    <p class="campaignListTxt">{{ terms.txt }}</p>
                                  </template>
                                </li>
                              </ul>
                              <ul class="campaignListDetail">
                                <p class="campaignListTxt -small">詳細はこちら<i class="icon-chevronRight"></i></p>
                              </ul>
                            </div></a></template>
                      </div>
                    </div>
        </section>
      </div>
    </main>
    <footer id="PC_footer">
      <ul class="global-footer__utility">
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="/cnt/topics/bp/">掲載ご希望のサロン様</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="/cnt/terms/">利用規約</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="/sitemap/">サイトマップ</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="//beauty.faq.rakuten.net/user/s/ask">お問い合わせ</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="//beauty.faq.rakuten.net/user/s/">ヘルプ</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="/cnt/topics/release/">リリース情報</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="//www.facebook.com/RakutenBeauty" target="_blank">Facebook</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="//x.com/Rakuten__BEAUTY" target="_blank">X</a></li>
      </ul>
      <div class="rc-f-standard rc-f-liquid rc-f-custom00">
        <div class="rc-f-section-content00">
          <div class="rc-f-section-bar rc-f-first">
            <div class="rc-f-inner">
              <dl class="rc-f-dl-inline-box">
                <dt class="rc-f-dl-title01 rc-f-text-em">楽天グループ</dt>
                <dd>
                  <ul class="rc-f-list-inline">
                    <li><a class="rc-f-btn" href="//www.rakuten.co.jp/sitemap/"><span>サービス一覧</span></a></li>
                    <li><a class="rc-f-btn" href="//www.rakuten.co.jp/sitemap/inquiry.html"><span>お問い合わせ一覧</span></a></li>
                  </ul>
                </dd>
              </dl>
            </div>
          </div>
          <div class="rc-f-section-bar">
            <div class="rc-f-inner">
              <dl class="rc-f-dl-inline rc-f-block">
                <dt class="rc-f-dl-title01">おすすめ</dt>
                <dd class="rc-f-text-strong" id="grpRakutenRecommend"><a href="//www.rakuten-card.co.jp/">【楽天カード】楽天ポイントが貯まるクレジットカード。年会費無料。</a></dd>
              </dl>
              <ul class="rc-f-row rc-f-row-dot rc-f-row4">
                <li class="rc-f-col rc-f-first">
                  <div class="rc-f-media rc-f-nav-item rc-f-nav-item">
                    <div class="rc-f-media-head"><a href="/rakulab/">「キレイの主役」を応援するビューティメディア</a></div>
                    <div class="rc-f-media-body">Raku Lab(ラクラボ)</div>
                  </div>
                </li>
                <li class="rc-f-col">
                  <div class="rc-f-media rc-f-nav-item rc-f-nav-item-delimit">
                    <div class="rc-f-media-head"><a href="https://brandavenue.rakuten.co.jp/">人気ブランド新作やヘア小物をGET</a></div>
                    <div class="rc-f-media-body">Rakuten Fashion</div>
                  </div>
                </li>
                <li class="rc-f-col">
                  <div class="rc-f-media rc-f-nav-item rc-f-nav-item-delimit">
                    <div class="rc-f-media-head"><a href="https://www.infoseek.co.jp/">楽天が運営するポータルサイト</a></div>
                    <div class="rc-f-media-body">Infoseekトップ</div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div id="mkdiv_footer_pitari"></div>
        <div class="rc-f-section01">
          <div class="-excludeApp" id="footerRakutenBnr"><a href="//corp.rakuten.co.jp/event/climateaction/?scid=wi_bty_gogreen_footer" target="_blank"><img class="footerRakutenBnr__img" src="//cloudinary-a.akamaihd.net/vivivi/image/upload/t_beauty,f_auto/w_150,h_40/v1/front/image/common/bnr_gogreen_pc.svg" alt="本サービスは再生可能エネルギー100%" width="150" height="40"></a></div>
          <div class="rc-f-inner">
            <ul class="rcf-list-inline rcf-list-block">
              <li><a href="//corp.rakuten.co.jp/" rel="nofollow">企業情報</a></li>
              <li><a href="//privacy.rakuten.co.jp/" rel="nofollow">個人情報保護方針</a></li>
              <li><a href="//corp.rakuten.co.jp/csr/">社会的責任[CSR]</a></li>
              <li><a href="//corp.rakuten.co.jp/careers/">採用情報</a></li>
            </ul>
            <p class="copyright">© Rakuten Group, Inc.</p>
          </div>
        </div>
      </div>
      <script type="text/javascript" src="//jp.rakuten-static.com/1/js/lib/prm_selector.js"></script>
      <script type="text/javascript" src="//jp.rakuten-static.com/1/js/grp/hdr/prm_sender.js"></script>
      <script type="text/javascript" src="//jp.rakuten-static.com/1/js/grp/ftr/js/parm_selector_footer.js"></script>
    </footer>
    <div id="SP_footer">
      <div class="c-section c-text--alignCenter">
        <ul class="c-list--inlineSmall c-section__inside">
          <li class="c-list__item"><a href="/cnt/topics/guide/">はじめての方へ</a></li>
          <li class="c-list__item"><a href="//beauty.faq.rakuten.net/user/s/ask">お問い合わせ</a></li>
          <li class="c-list__item"><a href="//beauty.faq.rakuten.net/user/s/">ヘルプ</a></li>
          <li class="c-list__item"><a href="/cnt/topics/release/">リリース情報</a></li>
          <li class="c-list__item"><a href="/cnt/terms/">利用規約</a></li>
          <li class="c-list__item"><a href="/cnt/topics/bp/">掲載ご希望のサロン様</a></li>
        </ul>
      </div>
      <div id="footer">
        <ul>
          <li><a rel="nofollow" href="//corp.rakuten.co.jp/">企業情報</a></li>
          <li><a rel="nofollow" href="//privacy.rakuten.co.jp/sp/">個人情報保護方針</a></li>
          <li><a rel="nofollow" href="//www.rakuten.co.jp/sitemap/sp/">楽天のサービス一覧</a></li>
          <li><a rel="nofollow" href="//www.rakuten.co.jp/sitemap/sp/app.html">アプリ一覧</a></li>
        </ul>
        <div id="copyright">&copy; Rakuten Group, Inc.</div>
        <div class="-excludeApp" id="footerRakutenBnr"><a href="//corp.rakuten.co.jp/event/climateaction/?scid=wi_bty_gogreen_footer" target="_blank"><img class="footerRakutenBnr__img" src="https://cloudinary-a.akamaihd.net/vivivi/image/upload/t_beauty,f_auto/w_150,h_40/v1/front/image/common/bnr_gogreen_sp.svg" alt="本サービスは再生可能エネルギー100%" width="150" height="40"></a></div>
      </div>
    </div>
    <script src="/cnt/common/js/ua-parser/ua-parser.min.js"></script>
    <script src="/cnt/common/js/ua-parser/main.js"></script>
    <script src="/cnt/common/js/smooth-scroll.min.js"></script>
    <script>
      var scroll = new SmoothScroll('a[href*="#"]');
      
    </script>
    <script src="/cnt/common/js/jquery/3.7.1/jquery.min.js" defer></script>
    <script src="/cnt/common/js/vue/vue.min.js" defer></script>
    <script src="/cnt/common/js/vue/axios.min.js" defer></script>
    <script src="/cnt/common/js/area-search/shopSearch.js" defer></script>
    <script src="/cnt/common/js/readjson.js?v20250325" defer></script>
    <script>
      campaignlist = true;
      
    </script>
    <script src="/cnt/common/js/cpn-parts/qa_accordion.js" defer></script>
    <script src="/cnt/common/js/cpn-parts/btn_checkbox.js" defer></script>
    <!-- RAT tag start-->
    <!-- Generic Parameter-->
    <input id="ratAccountId" type="hidden" name="rat" value="426">
    <input id="ratServiceId" type="hidden" name="rat" value="1">
    <input id="ratPageLayout" type="hidden" name="rat" value="resp">
    <input id="ratSiteSection" type="hidden" name="rat" value="cnt">
    <input id="ratPageName" type="hidden" name="rat" value="cnt">
    <input id="ratPageType" type="hidden" name="rat" value="cnt_item">
    <script type="text/javascript" src="//r.r10s.jp/com/rat/js/rat-main.js"></script>
    <!-- /RAT tag end-->
  </body>
</html>