<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  <head>
    <meta charset="UTF-8">
    <title>ラクマ×楽天ビューティ ポイント最大11倍キャンペーン | 楽天ビューティ</title>
    <meta name="viewport" content="width=1300">
    <meta name="description" content="ラクマで出品＆楽天ビューティでサロン予約・施術完了で楽天ビューティ利用分のポイントが最大11倍！">
    <link rel="canonical" href="https://beauty.rakuten.co.jp/cnt/topics/campaign/other/rakuma/">
    <meta property="og:type" content="article">
    <meta property="og:site_name" content="楽天ビューティ">
    <meta property="og:url" content="https://beauty.rakuten.co.jp/cnt/topics/campaign/other/rakuma/">
    <meta property="fb:app_id" content="461054960620939">
    <meta property="og:title" content="ラクマ×楽天ビューティ ポイント最大11倍キャンペーン | 楽天ビューティ">
    <meta property="og:description" content="ラクマで出品＆楽天ビューティでサロン予約・施術完了で楽天ビューティ利用分のポイントが最大11倍！">
    <meta property="og:image" content="https://beauty.rakuten.co.jp/cnt/topics/campaign/other/rakuma/img/share.png?v20240930">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="apple-touch-icon-precomposed" href="//beauty.rakuten.co.jp/cnt/common/images/beauty_192px.png?v20180702">
    <link rel="shortcut icon" href="//jp.rakuten-static.com/1/im/ci/rakuten/favicon/pi.ico?20181001">
    <link rel="mask-icon" href="//jp.rakuten-static.com/1/im/ci/rakuten/favicon/Rakuten_SafariPin.svg?20181001" color="#ff41be">
    <link href="css/main.css?v20240930" rel="stylesheet" type="text/css">
    <link rel="dns-prefetch" href="https://cdn.rex.contents.rakuten.co.jp">
    <script>
      const ua = navigator.userAgent;
      //- viewport for Tablet
      if( ua.indexOf('iPhone') > 0 || ua.indexOf('iPod') > 0 || (ua.indexOf('Android') > 0 && ua.indexOf('Mobile') > 0) || ( ua.indexOf('windows') > 0 && ua.indexOf('phone') > 0) || ( ua.indexOf('firefox') > 0 && ua.indexOf('mobile') > 0) ) {
        document.querySelector("meta[name='viewport']").setAttribute("content", "width=device-width,initial-scale=1,user-scalable=no");
      } else if( ua.indexOf('iPad') > 0 || ua.indexOf('Android') > 0 || (ua.indexOf('windows') > 0 && ua.indexOf('touch') > 0) || ( ua.indexOf('firefox') > 0 && ua.indexOf('tablet') > 0) ) {
        document.querySelector("meta[name='viewport']").setAttribute("content", "width=1300");
      }
    </script>
    <link rel="stylesheet" href="css/splide.min.css">
  </head>
  <body>
    <noscript>
      <iframe class="txt_h vis_h" src="//www.googletagmanager.com/ns.html?id=GTM-RKLN" height="0" width="0"></iframe>
    </noscript>
    <script>
      (function(w,d,s,l,i){
      w[l]=w[l]||[];
      w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});
      var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';
      j.async=true;
      j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;
      f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-RKLN');
    </script>
    <script src="//jp.rakuten-static.com/1/grp/banner/js/create.js"></script>
    <div id="mkdiv_header_pitari"></div>
    <header class="-excludeApp" id="SP_header">
      <p id="serviceID"><a class="logo" href="/"><img src="https://beauty.rakuten.co.jp/sp/images/global/rb_logo_v201807.svg" width="74" height="40"></a></p>
    </header>
        <header id="PC_header">
          <div class="rc-h-standard">
            <noscript>
              <div class="rc-h-noscript-bar">
                <div class="rc-h-inner">
                  <p>JavaScriptが無効の為、一部のコンテンツをご利用いただけません。JavaScriptの設定を有効にしてからご利用いただきますようお願いいたします。（<a href="//ichiba.faq.rakuten.co.jp/app/answers/detail/a_id/154">設定方法</a>）</p>
                </div>
              </div>
            </noscript>
            <div class="rc-h-utility-bar">
              <div class="rc-h-inner">
                <div class="rb_wrapper">
                  <ul class="rc-h-group-nav">
                    <li id="grpNote">
                      <noscript><a href="//card.rakuten.co.jp/entry/">今すぐ2,000ポイント！</a></noscript>
                    </li>
                    <li class="rc-h-dropdown rc-h-group-dropdown"><a href="//www.rakuten.co.jp/sitemap/">楽天グループ</a>
                      <ul class="rc-h-dropdown-panel">
                        <li><a href="//books.rakuten.co.jp/?scid=wi_grp_gmx_bea_hepullbu_boo" rel="nofollow">楽天ブックス</a></li>
                        <li><a href="//hoken.rakuten.co.jp/?scid=wi_grp_gmx_bea_hepullbu_hkn" rel="nofollow">楽天の保険</a></li>
                        <li><a href="//www.infoseek.co.jp/?scid=wi_grp_gmx_bea_hepullbu_ifs" rel="nofollow">インフォシーク</a></li>
                        <li><a href="//sm.rakuten.co.jp/?scid=wi_grp_gmx_bea_hepullbu_sup&amp;xadid=wi_grp_gmx_bea_hepullbu_sup" rel="nofollow">楽天西友ネットスーパー</a></li>
                        <li><a href="//www.rakuten.co.jp/sitemap/">サービス一覧</a></li>
                      </ul>
                    </li>
                    <li><a href="//www.rakuten-life.co.jp/?scid=wi_grp_gmx_bea_hetopbu_sei" rel="nofollow">楽天生命</a></li>
                    <li><a href="//www.rakuten.co.jp/" rel="nofollow">楽天市場</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="rb_wrapper">
              <div class="rc-h-service-bar">
                <div class="rc-h-inner">
                  <div class="rc-h-site-id">
                    <p class="rc-h-logo"><a href="/"><img src="//beauty.rakuten.co.jp/images/global/rb_logo_v201807.svg" width="206" height="32" alt="Rakuten BEAUTY"></a></p>
                  </div>
                  <div class="rc-h-site-menu">
                    <div class="rc-h-menu-btns">
                      <ul class="rc-h-help-nav">
                        <li><a href="/cnt/topics/guide/">はじめての方へ</a></li>
                        <li><a href="//beauty.faq.rakuten.net/user/s/">ヘルプ</a></li>
                        <li><a href="//emagazine.rakuten.co.jp/ne?n=294" onclick="_gaq.push(['_trackEvent', 'permission', 'click', 'rbpc_header']);">お得な情報を受け取る</a></li>
                        <li><a href="/cnt/topics/bp/?l-id=rb_pc_header_bp">掲載ご希望のサロン様</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <nav id="globalNav">
            <ul class="globalNav__list c-container">
              <li class="globalNav__item"><a class="globalNav__link" href="/">美容院・ヘアサロン</a></li>
              <li class="globalNav__item"><a class="globalNav__link" href="/nail/">ネイル・まつげサロン</a></li>
              <li class="globalNav__item"><a class="globalNav__link" href="/esthe/">エステサロン</a></li>
              <li class="globalNav__item"><a class="globalNav__link" href="/relax/">リラク・マッサージサロン</a></li>
              <li class="globalNav__item"><a class="globalNav__link" href="/style/">ヘアカタログ</a></li>
              <li class="globalNav__item"><a class="globalNav__link" href="/naildesign/">ネイルカタログ</a></li>
              <li class="globalNav__item"><a class="globalNav__current" href="/cnt/topics/">キャンペーン一覧・特集</a></li>
              <li class="globalNav__item"><a class="globalNav__link" href="/rakulab/">Raku Lab</a></li>
            </ul>
          </nav>
        </header>
        <div class="c-container" id="breadcrumb">
          <ul class="c-breadcrumbs">
            <li class="c-breadcrumbs__item"><a class="c-breadcrumbs__link" href="/">楽天ビューティ</a></li>
            <li class="c-breadcrumbs__item"><a class="c-breadcrumbs__link" href="https://beauty.rakuten.co.jp/cnt/topics/">キャンペーン一覧・特集</a></li>
            <li class="c-breadcrumbs__item"><strong class="c-breadcrumbs__current">ラクマ×楽天ビューティ ポイント最大11倍キャンペーン</strong></li>
          </ul>
        </div>
        <script type="application/ld+json">
           {
            "@context": "https://schema.org",
            "@type": "BreadcrumbList",
            "itemListElement": [
              {
                "@type": "ListItem",
                "position": 1,
                "name": "楽天ビューティ",
                "item": "https://beauty.rakuten.co.jp/"
              },
              {
                "@type": "ListItem",
                "position": 2,
                "name": "キャンペーン一覧・特集",
                "item": "https://beauty.rakuten.co.jp/cnt/topics/"
              },
              {
                "@type": "ListItem",
                "position": 3,
                "name": "ラクマ×楽天ビューティ ポイント最大11倍キャンペーン"
              }
            ]
           }
        </script>
    <main id="content">
      <div id="Rakuma">
        <div id="End">
                <div class="end">
                  <div class="end__icon">
                    <icon class="icon-info"></icon>
                  </div>
                  <div class="end__txt">
                    <p>このキャンペーンは終了しました</p>
                  </div>
                </div>
        </div>
        <div id="CpnTags">
                <div class="campaignTagSet">
                  <div class="campaignTagSet__wrap">
                    <div class="campaignTagSet__box">
                      <p class="campaignTag -red">エントリー必要</p>
                      <p class="campaignTag">ネット予約・施術完了</p>
                      <p class="campaignTag">条件達成</p>
                    </div>
                  </div>
                </div>
        </div>
        <section class="main" id="Main" data-ratid="cpn_rakuma_Main" data-ratevent="appear" data-ratparam="all">
          <h1 class="main__title"><img class="main__titleImg -pc" src="img/main.png?v20240930" alt="ラクマ×楽天ビューティ ポイント最大11倍キャンペーン"><img class="main__titleImg -sp" src="img/main_sp.png?v20240930" alt="ラクマ×楽天ビューティ ポイント最大11倍キャンペーン"></h1>
          <div class="main__period">
            <p class="main__period__text">キャンペーン期間：10月15日 10:00 〜 11月15日 9:59  <span class="main__period__text__terms">条件達成期間：10月15日 10:00 〜 11月30日 23:59</span></p>
          </div>
          <div class="main__caption"><img class="main__caption__img -pc" src="img/mainn_caption_pc.png?v20240930" alt="1.エントリー 2.ラクマ出品 3.ネットサロン予約※1 10月15日10:00~11月15日9:59まで 4.施術終了 11月30日まで ラクマ初出品の方 ポイント11倍※2 ラクマ出品経験がある方 ポイント3倍※3" width="100%" height="auto"><img class="main__caption__img -sp" src="img/mainn_caption_sp.png?v20240930" alt="1.エントリー 2.ラクマ出品 3.ネットサロン予約※1 10月15日10:00~11月15日9:59まで 4.施術終了 11月30日まで ラクマ初出品の方 ポイント11倍※2 ラクマ出品経験がある方 ポイント3倍※3" width="100%" height="auto"></div>
          <ul class="main__terms">
            <li class="main__terms--text">※1 <span class="main__terms--text-bold">2,500円(税込)以上のネット予約</span>が対象。</li>
            <li class="main__terms--text">※2 楽天ビューティの通常利用分における進呈率との比較となります。</li>
            <li class="main__terms--text">※進呈するポイント（期間限定ポイント）には上限や条件があります。詳細は<a class="textLink" href="#Detail">こちら。</a></li>
            <li class="main__terms--text">※本キャンペーンは予告なく変更・中止される可能性がございます。</li>
            <li class="main__terms--text">※条件の達成順序は順不同です。</li>
          </ul>
        </section>
        <section class="nav" id="Navigation" data-ratid="cpn_rakuma_Navigation" data-ratevent="appear" data-ratparam="all">
          <ul class="nav__list__wrap">
            <li class="nav__list"><a class="nav__list--btn -entry" href="#EntryBox"><span class="nav__list--btn-text">エントリー</span></a></li>
            <li class="nav__list"><a class="nav__list--btn -flow" href="#StepRakuma"><span class="nav__list--btn-text">ポイント<br class="-sp">獲得方法</span></a></li>
            <li class="nav__list"><a class="nav__list--btn -rakuma" href="#IntroductionRakuma"><span class="nav__list--btn-text">ラクマは<br class="-sp">安心＆かんたん！</span></a></li>
          </ul>
        </section>
        <section class="entryBox" id="EntryBox" data-ratid="cpn_rakuma_EntryBox" data-ratevent="appear" data-ratparam="all">
          <div class="step--title__wrap -pink">
            <h2 class="step--title">Step1
              <p class="step--title--caption">※各Stepは順不同です</p>
            </h2>
          </div>
          <div class="entryBox__container">
            <h3 class="entryBox__container--title">まずはこちらからエントリー</h3>
                  <div class="btnSet__link -end"><span class="btnSet__txt">エントリー期間が終了しました</span></div>
          </div>
        </section>
        <section class="stepRakuma" id="StepRakuma" data-ratid="cpn_rakuma_StepRakuma" data-ratevent="appear" data-ratparam="all">
          <div class="step--title__wrap -pink">
            <h2 class="step--title">Step2</h2>
          </div>
          <div class="stepRakuma_wrapper">   
            <div class="step__title__img"><img src="img/img_logo_rakuma.png?v20240930" alt="Rakuten Rakuma" width="100%" height="auto"></div>
            <div class="stepRakuma__flow">
              <div class="step__flow">
                <div class="step__flow--lead"><span class="-blue">11月15日9:59</span>までに<br>楽天のフリマアプリ<br>「ラクマ」に商品を出品
                  <div class="step__flow__info -pc">※特典進呈までに、下書き化または削除されている商品や利用規約違反の商品は進呈の対象外となります。</div>
                </div>
                <div class="step__flow__img"><img src="img/imf_rakuma_flow.png?v20240930" alt="出品する" width="100%" height="auto"></div>
                <div class="step__flow__info -sp">※特典進呈までに、下書き化または削除されている商品や利用規約違反の商品は進呈の対象外となります。</div>
              </div>
              <div class="conditionsBox__search -excludeApp">
                <div class="conditionsBox__search--top">＼アプリをお持ちの方はこちら／</div><a class="conditionsBox__search--button -blue" href="fril://post" target="_blank">ラクマに出品する</a>
                <p class="conditionsBox__search--button--info">WEB版ラクマで出品する方は<a href="https://fril.jp/item/new" target="_blank">こちら</a></p>
              </div>
              <div class="conditionsBox__search -app"><a class="conditionsBox__search--button -blue" href="https://fril.jp/item/new" target="_blank">WEB版ラクマで出品する</a></div>
              <div class="step__rakuma_app">
                <div class="step__rakuma_app__txt -excludeApp">ラクマアプリの<br class="-sp">ダウンロード&amp;新規登録はコチラ</div>
                <div class="step__rakuma_app__txt -app">ラクマアプリで出品・ダウンロード<br class="-sp">&amp;新規登録はコチラ</div>
                <div class="step__rakuma_app__link">
                  <div class="step__rakuma_app__icon -excludeApp"><img src="img/img_rakuma_icon.png?v20240930" alt="Rakuma"></div>
                  <ul class="step__rakuma_app__dl -sp">
                    <li class="step__rakuma_app__dl__btn -android"><a href="https://app.adjust.com/1esqemi1"><img src="img/btn_android.png?v20240930" alt="Google Playで手に入れよう"></a></li>
                    <li class="step__rakuma_app__dl__btn -iphone"><a href="https://app.adjust.com/1esqemi1"><img src="img/btn_ios.png?v20240930" alt="App Storeからダウンロード"></a></li>
                  </ul>
                  <ul class="step__rakuma_app__dl -desktop">
                    <li class="step__rakuma_app__dl__btn"> <a href="https://app.adjust.com/1esqemi1"><img src="img/btn_android.png?v20240930" alt="Google Playで手に入れよう"></a></li>
                    <li class="step__rakuma_app__dl__btn"> <a href="https://app.adjust.com/1esqemi1"><img src="img/btn_ios.png?v20240930" alt="App Storeからダウンロード"></a></li>
                  </ul>
                  <ul class="step__rakuma_app__dl -sp -app">
                    <li class="step__rakuma_app__dl__btn"> <a href="https://app.adjust.com/1esqemi1"><img src="img/btn_android.png?v20240930" alt="Google Playで手に入れよう"></a></li>
                    <li class="step__rakuma_app__dl__btn"> <a href="https://app.adjust.com/1esqemi1"><img src="img/btn_ios.png?v20240930" alt="App Storeからダウンロード"></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="stepBeauty" id="StepBeauty" data-ratid="cpn_rakuma_StepBeauty" data-ratevent="appear" data-ratparam="all">
          <div class="step--title__wrap -pink">
            <h2 class="step--title">Step3 &amp; 4</h2>
          </div>
          <div class="stepBeauty_wrapper">
            <div class="step__title__img"><img src="img/img_logo_beauty.png?v20240930" alt="Rakuten Beauty" width="100%" height="auto"></div>
            <div class="step__flow"><span class="-pink">11月15日9:59</span>までに<br>2,500円(税込)以上のサロン予約＆<br><span class="-pink">11月30日23:59</span>までに施術完了</div>
            <ul class="conditionsBeauty__menu -pc">
              <li class="conditionsBeauty__menu--list">
                <div class="conditionsBeauty__menu--list--icon">1</div>
                <p class="conditionsBeauty__menu--list--lead">ご希望の条件に<br>合うサロンを検索</p><img class="conditionsBeauty__menu--list__img" src="img/img_step2_beauty_list1.png?v20240930" alt="ご希望の条件に合うサロンを検索" width="" height="100%">
              </li>
              <li class="conditionsBeauty__menu--list">
                <div class="conditionsBeauty__menu--list--icon">2</div>
                <p class="conditionsBeauty__menu--list--lead">日時やメニューを選択<br>して予約</p><img class="conditionsBeauty__menu--list__img" src="img/img_step2_beauty_list2.png?v20240930" alt="日時やメニューを選択して予約" width="" height="100%">
              </li>
              <li class="conditionsBeauty__menu--list">
                <div class="conditionsBeauty__menu--list--icon">3</div>
                <p class="conditionsBeauty__menu--list--lead">施術完了</p><img class="conditionsBeauty__menu--list__img" src="img/img_step2_beauty_list3.png?v20240930" alt="施術完了" width="" height="100%">
              </li>
            </ul>
            <div class="splide -sp">
              <div class="splide__track">
                <ul class="splide__list conditionsBeauty__menu -sp">
                  <li class="splide__slide conditionsBeauty__menu--list">
                    <div class="conditionsBeauty__menu--list--icon">1</div>
                    <p class="conditionsBeauty__menu--list--lead">ご希望の条件に<br>合うサロンを検索</p><img class="conditionsBeauty__menu--list__img" src="img/img_step2_beauty_list1.png?v20240930" alt="ご希望の条件に合うサロンを検索" width="" height="100%">
                  </li>
                  <li class="splide__slide conditionsBeauty__menu--list">
                    <div class="conditionsBeauty__menu--list--icon">2</div>
                    <p class="conditionsBeauty__menu--list--lead">日時やメニューを選択<br>して予約</p><img class="conditionsBeauty__menu--list__img" src="img/img_step2_beauty_list2.png?v20240930" alt="日時やメニューを選択して予約" width="" height="100%">
                  </li>
                  <li class="splide__slide conditionsBeauty__menu--list">
                    <div class="conditionsBeauty__menu--list--icon">3</div>
                    <p class="conditionsBeauty__menu--list--lead">施術完了</p><img class="conditionsBeauty__menu--list__img" src="img/img_step2_beauty_list3.png?v20240930" alt="施術完了" width="" height="100%">
                  </li>
                </ul>
              </div>
            </div>
            <div class="conditionsBox__search__wrapper">
              <div class="conditionsBox__search"><a class="conditionsBox__search--button -pink" href="https://beauty.rakuten.co.jp/?l-id=rb_rakuma_search">対象サロンの検索はこちら</a>
                <p class="conditionsBox__search--button--annotation">※ネット予約できるサロンが対象です。</p>
              </div>
            </div>
          </div>
        </section>
        <section class="stepLast" id="StepLast" data-ratid="cpn_rakuma_StepLast" data-ratevent="appear" data-ratparam="all">
          <div class="step__last__img"><img class="-sp" src="img/img_point_get_sp.png?v20240930" alt="ラクマ初出品ならポイント11倍、ラクマ出品経験がある方はポイント3倍" width="100%"><img class="-pc" src="img/img_point_get_pc.png?v20240930" alt="ラクマ初出品ならポイント11倍、ラクマ出品経験がある方はポイント3倍"></div>
          <div class="step__last__notice">※楽天ビューティの通常利用分における付与率との比較となります。※ポイント進呈予定日は2024年12月31日頃。<br>※進呈するポイント（期間限定ポイント）の上限は、ラクマ初出品の方が1,200ポイント、ラクマ出品経験がある方が300ポイントとなります。その他の条件など詳細は<a class="textLink" href="#Detail">こちら</a>。</div>
        </section>
        <section class="appDownload" id="AppDownload" data-ratid="cpn_rakuma_appDownload" data-ratevent="appear" data-ratparam="all"></section>
        <div class="beautyintro__container">
          <div class="beautyintro__lead__wrap">
            <div class="beautyintro__lead__icon__appicon"><img src="img/img_beauty_value3.png?v20240930" alt="楽天ビューティ" width="100%" height=""></div>
            <div class="beautyintro__lead--lead">アプリから予約で<br class="-sp">さらにポイントアップ</div>
          </div>
          <div class="beautyintro__lead--lead--info">※「ポイント最大11倍」とは別にエントリーが必要です。詳細は<a class="textLink" href="#Detail">こちら</a>。</div>
          <div class="beautyintro__menu__app__wrap"><a class="beautyintro__menu__app__banner" href="https://beauty.rakuten.co.jp/cnt/topics/campaign/app2x/?l-id=rb_rakuma_app2x"><img src="../../../../common/banner/campaign/bnr_common_640x160.png?v20240930" alt="アプリから予約でポイント最大3倍" width="100%" height=""></a></div>
          <div class="beautyintro__menu__app__link__wrap -excludeApp">
            <ul class="beautyintro__menu__app__article -pc">
              <li class="beautyintro__menu__app__img"><img src="img/img_app2x_info.png?v20240930" width="100%" height=""></li>
              <li class="beautyintro__menu__app__qr">
                <p class="beautyintro__menu__app__qr--text">ダウンロードはこちら</p><img class="beautyintro__menu__app__qr__img" src="img/app_dl_qr.png?v20240930" alt="qrコード" width="100%" height="">
              </li>
            </ul><a class="beautyintro__menu__app__button -excludeApp -sp -iphone" href="https://app.adjust.com/1gmg6agt" target="_blank" rel="noopener noreferrer"><img src="img/btn_ios.png?v20240930" alt="App Storeからダウンロード" width="100%" height=""></a><a class="beautyintro__menu__app__button -excludeApp -sp -android" href="https://app.adjust.com/1gmg6agt" target="_blank" rel="noopener noreferrer"><img src="img/btn_android.png?v20240930" alt="Google Playからダウンロード" width="100%" height=""></a>
          </div>
        </div>
        <section class="introductionRakuma" id="IntroductionRakuma" data-ratid="cpn_rakuma_introductionRakuma" data-ratevent="appear" data-ratparam="all">
          <div class="step--title__wrap -blue">
            <h2 class="step--title">フリマアプリ「ラクマ」とは</h2>
          </div>
          <div class="introductionRakuma__intro">
            <div class="introductionRakuma__intro__txt">個人間売買が手軽にできる<br class="-pc">楽天のフリマアプリ。<br>お金のやり取りはラクマが<br class="-pc">仲介するので安心です。</div>
            <div class="introductionRakuma__intro__img"><img src="img/img_rakuma_intro.png?v20240930" alt="ラクマ売買の関連図" width="100%"></div>
          </div>
          <div class="introductionRakuma__merit">
            <h3 class="introductionRakuma__merit__title">楽天サービスならではの<br class="-sp">メリットがたくさん</h3>
            <ul class="introductionRakuma__merit__list"> 
              <li>
                <div class="introductionRakuma__merit__list__img"><img src="img/img_rakuma_merit01.png?v20240930" alt="ポイント" height="100%"></div>
                <div class="introductionRakuma__merit__list__txt">キャンペーン参加で<br>楽天ポイント<br class="-sp">もらえる！<span class="introductionRakuma__merit__list__txt__cap">※1</span></div>
              </li>
              <li>
                <div class="introductionRakuma__merit__list__img"><img src="img/img_rakuma_merit02.png?v20240930" alt="お買い物" height="100%"></div>
                <div class="introductionRakuma__merit__list__txt">楽天ポイント<br class="-sp">で<br class="-pc">お買い物<br class="-sp">できる！</div>
              </li>
              <li>
                <div class="introductionRakuma__merit__list__img"><img src="img/img_rakuma_merit03.png?v20240930" alt="楽天市場" height="100%"></div>
                <div class="introductionRakuma__merit__list__txt">売上金が<br class="-sp">楽天市場や<br>お店で使える！<span class="introductionRakuma__merit__list__txt__cap">※2</span></div>
              </li>
            </ul>
            <div class="introductionRakuma__merit__annotation">
               ※1 対象外のキャンペーンもあります。<br class="-sp">※2 ラクマの売上金は、楽天キャッシュにチャージすることで楽天サービスでご利用できます。</div>
          </div>
        </section>
        <section class="barcodeRakuma" id="BarcodeRakuma" data-ratid="cpn_rakuma_barcodeRakuma" data-ratevent="appear" data-ratparam="all">
          <div class="step--title__wrap -blue">
            <h2 class="step--title"><span class="-yellow">バーコード出品</span>なら<br class="-sp">サクッと出品できます！</h2>
          </div>
          <div class="barcodeRakuma__box">
            <div class="barcodeRakuma__point">
              <div class="barcodeRakuma__point__barcode__img"> <img src="img/img_rakuma_barcode.png?v20240930" alt="かんたん・便利" width="100%"></div>
              <ul class="barcodeRakuma__point__list">
                <li class="barcodeRakuma__point__list__point">
                  <div class="barcodeRakuma__point__list__point__head">POINT  01</div><img class="barcodeRakuma__point__list__point__img" src="img/img_rakuma_point01.png?v20240930" alt="賞品情報が自動で入力" width="100%">
                  <div class="barcodeRakuma__point__list__point__txt">
                     バーコードをスキャンすると、商品名や著者名、出品カテゴリや商品に関連するタグ情報が自動で入力されます。</div>
                </li>
                <li class="barcodeRakuma__point__list__point">
                  <div class="barcodeRakuma__point__list__point__head">POINT  02</div><img class="barcodeRakuma__point__list__point__img" src="img/img_rakuma_point02.png?v20240930" alt="オススメ価格も自動で入力" width="100%">
                  <div class="barcodeRakuma__point__list__point__txt">
                     出品時のオススメ価格も自動で入力されます。</div>
                </li>
              </ul>
            </div>
            <div class="barcodeRakuma__category">
              <h3 class="barcodeRakuma__category__title">バーコード出品の対応カテゴリ</h3>
              <ul class="barcodeRakuma__category__list">
                <li class="barcodeRakuma__category__list_item">
                  <div class="barcodeRakuma__category__list_txt">本</div>
                  <div class="barcodeRakuma__category__list_img"><img src="img/img_rakuma_category01.png?v20240930" alt="本" width="100%"></div>
                </li>
                <li class="barcodeRakuma__category__list_item">
                  <div class="barcodeRakuma__category__list_txt">漫画</div>
                  <div class="barcodeRakuma__category__list_img"><img src="img/img_rakuma_category02.png?v20240930" alt="漫画" width="100%"></div>
                </li>
                <li class="barcodeRakuma__category__list_item">
                  <div class="barcodeRakuma__category__list_txt">雑誌</div>
                  <div class="barcodeRakuma__category__list_img"><img src="img/img_rakuma_category03.png?v20240930" alt="雑誌" width="100%"></div>
                </li>
                <li class="barcodeRakuma__category__list_item">
                  <div class="barcodeRakuma__category__list_txt">ゲームソフト</div>
                  <div class="barcodeRakuma__category__list_img"><img src="img/img_rakuma_category04.png?v20240930" alt="ゲームソフト" width="100%"></div>
                </li>
                <li class="barcodeRakuma__category__list_item">
                  <div class="barcodeRakuma__category__list_txt">DVD /  Blu-ray</div>
                  <div class="barcodeRakuma__category__list_img"><img src="img/img_rakuma_category05.png?v20240930" alt="DVD /  Blu-ray" width="100%"></div>
                </li>
                <li class="barcodeRakuma__category__list_item">
                  <div class="barcodeRakuma__category__list_txt">CD</div>
                  <div class="barcodeRakuma__category__list_img"><img src="img/img_rakuma_category06.png?v20240930" alt="CD" width="100%"></div>
                </li>
                <li class="barcodeRakuma__category__list_item">
                  <div class="barcodeRakuma__category__list_txt">コスメ美容</div>
                  <div class="barcodeRakuma__category__list_img"><img src="img/img_rakuma_category07.png?v20240930" alt="コスメ美容" width="100%"></div>
                </li>
                <li class="barcodeRakuma__category__list_item">
                  <div class="barcodeRakuma__category__list_txt">スマホ/カメラ/家電</div>
                  <div class="barcodeRakuma__category__list_img"><img src="img/img_rakuma_category08.png?v20240930" alt="スマホ/カメラ/家電" width="100%"></div>
                </li>
              </ul><a class="barcodeRakuma__category__link" href="https://faq.fril.jp/guide/first/sell/barcode/" target="_blank">バーコード出品について詳しくはこちら</a>
              <div class="conditionsBox__search -excludeApp">
                <div class="conditionsBox__search--top">＼アプリをお持ちの方はこちら／</div><a class="conditionsBox__search--button -blue" href="fril://post" target="_blank">ラクマに出品する</a>
                <p class="conditionsBox__search--button--info">WEB版ラクマで出品する方は<a href="https://fril.jp/item/new" target="_blank">こちら</a></p>
              </div>
              <div class="conditionsBox__search -app"><a class="conditionsBox__search--button -blue" href="https://fril.jp/item/new" target="_blank">WEB版ラクマで出品する</a></div>
            </div>
          </div>
          <div class="barcodeRakuma__shoot">
            <h3 class="barcodeRakuma__shoot__title">バーコードがない商品の<br class="-sp">出品方法</h3>
            <ul class="barcodeRakuma__shoot__step">
              <li class="barcodeRakuma__shoot__step_box">
                <div class="barcodeRakuma__shoot__step_box__top">
                  <div class="barcodeRakuma__shoot__step_box__no">1</div>
                  <div class="barcodeRakuma__shoot__step_box__txt">商品を撮影</div>
                </div>
                <div class="barcodeRakuma__shoot__step_box__img"> <img src="img/img_rakuma_shoot_step01.png?v20240930" alt="商品を撮影" width="100%"></div>
              </li>
              <li class="barcodeRakuma__shoot__step_box">
                <div class="barcodeRakuma__shoot__step_box__top">
                  <div class="barcodeRakuma__shoot__step_box__no">2</div>
                  <div class="barcodeRakuma__shoot__step_box__txt">商品詳細を入力</div>
                </div>
                <div class="barcodeRakuma__shoot__step_box__img"> <img src="img/img_rakuma_shoot_step02.png?v20240930" alt="商品詳細を入力" width="100%"></div>
              </li>
              <li class="barcodeRakuma__shoot__step_box">
                <div class="barcodeRakuma__shoot__step_box__top">
                  <div class="barcodeRakuma__shoot__step_box__no">3</div>
                  <div class="barcodeRakuma__shoot__step_box__txt">出品完了</div>
                </div>
                <div class="barcodeRakuma__shoot__step_box__img"> <img src="img/img_rakuma_shoot_step03.png?v20240930" alt="出品完了" width="100%"></div>
              </li>
            </ul>
            <div class="conditionsBox__search__wrapper">
              <div class="conditionsBox__search -excludeApp">
                <div class="conditionsBox__search--top">＼アプリをお持ちの方はこちら／</div><a class="conditionsBox__search--button -blue" href="fril://post" target="_blank">ラクマに出品する</a>
                <p class="conditionsBox__search--button--info">WEB版ラクマで出品する方は<a href="https://fril.jp/item/new" target="_blank">こちら</a></p>
              </div>
              <div class="conditionsBox__search -app"><a class="conditionsBox__search--button -blue" href="https://fril.jp/item/new" target="_blank">WEB版ラクマで出品する</a></div>
            </div>
          </div>
        </section>
        <section class="detail" id="Detail" data-ratid="cpn_rakuma_Detail" data-ratevent="appear" data-ratparam="all">
          <div class="detailBox">
            <div class="titleWrap">
              <h2 class="titleWrap--title">キャンペーン詳細</h2>
            </div>
            <p class="detail__caption">※本キャンペーンは予告なく変更・中止される可能性がございます。</p>
            <table class="detail__table">
              <tbody>
                <tr class="detail__tableBlock">
                  <th class="detail__tableBlockHead">エントリー・出品・サロン予約期間</th>
                  <td class="detail__tableBlockBody">2024年10月15日(火)10:00～2024年11月15日(金) 09:59まで</td>
                </tr>
                <tr class="detail__tableBlock">
                  <th class="detail__tableBlockHead">施術期間</th>
                  <td class="detail__tableBlockBody">2024年10月15日(火)10:00～2024年11月30日(土)23:59まで</td>
                </tr>
                <tr class="detail__tableBlock">
                  <th class="detail__tableBlockHead">対象者</th>
                  <td class="detail__tableBlockBody">
                    <p class="detail__tableBlockTxt">下記の対象条件を全て満たした方が、特典の対象となります。<br>条件達成順序は順不同です。</p>
                    <p class="detail__tableBlockTxt--space"></p>
                    <p class="detail__tableBlockTxt">＜対象条件＞</p>
                    <ul class="detail__tableBlockList--disc">
                      <li class="detail__tableBlockList--li">エントリーをされた方</li>
                    </ul>
                    <ul class="detail__tableBlockList">
                      <li class="detail__tableBlockList--li">エントリーには楽天会員登録が必要です。楽天会員でない方は、エントリーと同時に楽天会員登録(無料)ができます。</li>
                      <li class="detail__tableBlockList--li">エントリー履歴は<a class="detail__tableBlockTxt--link" href="https://oubo.rakuten.co.jp/list?spk=f1636b">こちら</a>から確認できます。</li>
                    </ul>
                    <p class="detail__tableBlockTxt--space"></p>
                    <ul class="detail__tableBlockList--disc">
                      <li class="detail__tableBlockList--li">下記の楽天ビューティと楽天ラクマの条件をどちらも達成された方</li>
                    </ul>
                    <p class="detail__tableBlockTxt--bold -pink">楽天ビューティ条件</p>
                    <ul class="detail__tableBlockList--disc">
                      <li class="detail__tableBlockList--li">予約期間中に楽天ビューティで 2,500 円以上(税込)のネット予約をされた方</li>
                      <li class="detail__tableBlockList--li">施術期間中に施術を完了された方</li>
                    </ul>
                    <ul class="detail__tableBlockList">
                      <li class="detail__tableBlockList--li">ネット予約後キャンセルされた場合、ご来店いただけなかった場合は対象外となります。</li>
                      <li class="detail__tableBlockList--li">楽天発行の割引クーポン利用の場合は、<span class="detail__tableBlockTxt--red">クーポン割引後</span>の価格が 2,500 円(税込)以上の場合に対象となります。</li>
                      <li class="detail__tableBlockList--li">電話予約や直接来店での施術は対象外となります。</li>
                      <li class="detail__tableBlockList--li">ネット予約後、お客様都合や店舗都合でキャンセルになり、その後電話予約や直接来店で施術完了された場合は、ポイント進呈の対象外となります。</li>
                      <li class="detail__tableBlockList--li">ネット予約後、来店日時が変更になった場合でも、対象の来店期間内で施術完了された場合は、ポイント進呈の対象となります。</li>
                      <li class="detail__tableBlockList--li">期間内の予約・施術完了であればエントリーと予約・施術完了どちらが先でも対象となります。</li>
                    </ul>
                    <p class="detail__tableBlockTxt--space"></p>
                    <p class="detail__tableBlockTxt--bold -blue">楽天ラクマ条件</p>
                    <ul class="detail__tableBlockList--disc">
                      <li class="detail__tableBlockList--li">出品期間中に楽天ラクマで商品を出品された方</li>
                    </ul>
                    <ul class="detail__tableBlockList">
                      <li class="detail__tableBlockList--li">特典進呈までに、下書き化または削除されている商品や利用規約違反の商品は進呈の対象外となります。ラクマのルールをご確認の上、出品をお願いします。</li>
                      <li class="detail__tableBlockList--li">アプリ・WEB のどちらも対象になります。</li>
                      <li class="detail__tableBlockList--li">バーコード出品機能のご利用有無にかかわらず、本キャンペーンの対象になります。</li>
                    </ul>
                  </td>
                </tr>
                <tr class="detail__tableBlock">
                  <th class="detail__tableBlockHead">特典内容</th>
                  <td class="detail__tableBlockBody">
                    <p class="detail__tableBlockTxt--bold">楽天ラクマ初出品の方</p>
                    <p class="detail__tableBlockTxt">楽天ビューティのネット予約に対し、通常の 11 倍(通常分含む)の特典ポイントが進呈されます。</p>
                    <p class="detail__tableBlockTxt--space"></p>
                    <p class="detail__tableBlockTxt--bold">既に楽天ラクマ出品経験のある方</p>
                    <p class="detail__tableBlockTxt">楽天ビューティのネット予約に対し、通常の 3 倍(通常分含む)の特典ポイントが進呈されます。</p>
                    <p class="detail__tableBlockTxt--space"></p>
                    <p class="detail__tableBlockTxt">＜例＞</p>
                    <p class="detail__tableBlockTxt">施術金額 5,500 円(税込)で楽天ビューティのネット予約後、2024年11月30日までに施術完了した場合に獲得できるポイント</p>
                    <p class="detail__tableBlockTxt--space"></p>
                    <p class="detail__tableBlockTxt">＜計算方法（楽天ラクマ初出品の場合）＞</p>
                    <ul class="detail__tableBlockList--none">
                      <li class="detail__tableBlockList--li">5,500 円(税込)の税抜価格：5,000 円(税抜)</li>
                      <li class="detail__tableBlockList--li">楽天ビューティの通常のネット予約分(1 倍)＝50 ポイント</li>
                      <li class="detail__tableBlockList--li">本特典分(10 倍)＝500 ポイント</li>
                      <li class="detail__tableBlockList--li">合計獲得ポイント：550 ポイント</li>
                    </ul>
                    <p class="detail__tableBlockTxt--space"></p>
                    <ul class="detail__tableBlockList">
                      <li class="detail__tableBlockList--li">1 倍(楽天ビューティの通常のネット予約分)は、施術完了月の翌月 12 日頃に進呈されます。残りの 10 倍または 2 倍(本特典分)は、後述の本特典ポイント進呈予定日に進呈されます。</li>
                      <li class="detail__tableBlockList--li">ネット予約時のメニュー、またはスペシャルメニューの金額を基準としてポイントが進呈されます。</li>
                      <li class="detail__tableBlockList--li">ネット予約後にメニューが変更になり金額が変わった場合は、変更後の金額に対してポイントが進呈されます。</li>
                      <li class="detail__tableBlockList--li">ポイントを利用してネット予約をされた場合は、<span class="detail__tableBlockTxt--red">ポイント差引前</span>の金額に対して、特典ポイントが計算されます。</li>
                      <li class="detail__tableBlockList--li">楽天発行の割引クーポン利用の場合は、<span class="detail__tableBlockTxt--red">クーポン割引後</span>の金額に対して、特典ポイントが計算されます。</li>
                      <li class="detail__tableBlockList--li">現在実施中のキャンペーンとの併用が可能です(一部併用が出来ないキャンペーンもございます)。<a class="detail__tableBlockTxt--link" href="https://beauty.rakuten.co.jp/cnt/topics/">キャンペーン一覧はこちら</a></li>
                    </ul>
                  </td>
                </tr>
                <tr class="detail__tableBlock">
                  <th class="detail__tableBlockHead">進呈上限</th>
                  <td class="detail__tableBlockBody">
                    <p class="detail__tableBlockTxt--bold">楽天ラクマ初出品の方</p>
                    <p class="detail__tableBlockTxt">1,200 ポイント</p>
                    <ul class="detail__tableBlockList">
                      <li class="detail__tableBlockList--li">ラクマでの初めての出品に該当する方限定の特典となります。</li>
                      <li class="detail__tableBlockList--li">キャンペーン開催期間以前にラクマで一度でも出品したことがある方は対象外となります。</li>
                    </ul>
                    <p class="detail__tableBlockTxt--space"></p>
                    <p class="detail__tableBlockTxt--bold">既に楽天ラクマ出品経験のある方</p>
                    <p class="detail__tableBlockTxt">300 ポイント</p>
                  </td>
                </tr>
                <tr class="detail__tableBlock">
                  <th class="detail__tableBlockHead">ポイント進呈予定日</th>
                  <td class="detail__tableBlockBody">
                    <p class="detail__tableBlockTxt">2024年12月31日(火)頃</p>
                    <p class="detail__tableBlockTxt">獲得した特典ポイントは、<a class="detail__tableBlockTxt--link" href="https://point.rakuten.co.jp/history/">楽天PointClubのポイント実績</a>でご確認いただけます。</p>
                  </td>
                </tr>
                <tr class="detail__tableBlock">
                  <th class="detail__tableBlockHead">ポイント有効期限</th>
                  <td class="detail__tableBlockBody">
                    <p class="detail__tableBlockTxt">ポイント進呈日から約 6 ヶ月間有効な期間限定ポイントとして進呈されます。<br>期間限定ポイントの詳細は<a class="detail__tableBlockTxt--link" href="https://ichiba.faq.rakuten.net/detail/000006532?scid=su_2312">こちら</a>をご確認ください。</p>
                  </td>
                </tr>
                <tr class="detail__tableBlock">
                  <th class="detail__tableBlockHead">注意事項</th>
                  <td class="detail__tableBlockBody">
                    <p class="detail__tableBlockTxt">■楽天ビューティ条件についての注意事項</p>
                    <ul class="detail__tableBlockList">
                      <li class="detail__tableBlockList--li">一部ネット予約が行えないサロンがございます。また、サロンの予約状況によっては、ご希望に添えない場合やお断りする場合もございます。</li>
                    </ul>
                    <p class="detail__tableBlockTxt--space"></p>
                    <p class="detail__tableBlockTxt">■楽天ラクマについての注意事項</p>
                    <ul class="detail__tableBlockList">
                      <li class="detail__tableBlockList--li">キャンペーンに参加いただくには、ラクマの会員登録(無料)が必要となります。</li>
                      <li class="detail__tableBlockList--li">本キャンペーンの開始日から特典進呈までの間に下記に該当した場合は、特典進呈の対象外、アカウントの停止などの対応をさせていただく場合があります。
                        <ul class="detail__tableBlockList--disc">
                          <li class="detail__tableBlockList--li">ラクマを退会された方</li>
                          <li class="detail__tableBlockList--li">楽天会員を退会された方</li>
                          <li class="detail__tableBlockList--li">不正行為をされた方</li>
                          <li class="detail__tableBlockList--li">ラクマでの利用制限がある方</li>
                          <li class="detail__tableBlockList--li">規約に違反していると当社が合理的に判断した方</li>
                        </ul>
                      </li>
                      <li class="detail__tableBlockList--li">ポイントをもらうには、キャンペーン終了までに<a class="detail__tableBlockTxt--link" href="https://fril.jp/guide/balance/rid_cooperation?srsltid=AfmBOopwL0rbpIvbXlDYj2kXaiBSynaF7s4X24-6nDJBj9i0rCmCvbVl" target="_blank">楽天 ID 連携</a>が必要です。</li>
                      <li class="detail__tableBlockList--li">キャンペーン期間終了日からポイント進呈日までに楽天 ID 連携を一度でも解除した場合、キャンペーンの対象外となる場合があります。</li>
                      <li class="detail__tableBlockList--li">キャンペーン期間前に一度出品した商品を「下書き」に保存し、キャンペーン期間中に再度出品されても対象にはなりませんのでご注意ください。</li>
                      <li class="detail__tableBlockList--li">キャンペーン期間前に既に出品されていた商品情報を編集した場合は出品とはみなされないためご注意ください。</li>
                      <li class="detail__tableBlockList--li">出品された商品が新たに禁止商品に追加されたなどの理由により、お客様ご自身で削除、または運営により商品を削除された場合、進呈の対象外となります。あらかじめご了承ください。</li>
                      <li class="detail__tableBlockList--li">取引キャンセルがあった場合、該当取引はその理由を問わず本キャンペーンの対象外となります。</li>
                      <li class="detail__tableBlockList--li">出品代行サービス<a class="detail__tableBlockTxt--link" href="https://fril.jp/rakumarutto" target="_blank">ラクまるっと</a>、<a class="detail__tableBlockTxt--link" href="https://tansma.com/" target="_blank">タンスマ</a>を利用した出品はキャンペーンの対象外となります。</li>
                      <li class="detail__tableBlockList--li">ラクマ公式事業者など、個人のラクマ利用者でないと当社が合理的に判断した方は、本キャンペーンには参加できません。条件を達成した場合でも、キャンペーン特典は得られませんので、あらかじめご了承ください。</li>
                      <li class="detail__tableBlockList--li">万が一特典を取得された場合には、返還要請その他ラクマ公式事業者出品利用規約等の契約関係に基づく対応をとらせていただく場合があります。</li>
                    </ul>
                    <p class="detail__tableBlockTxt--space"></p>
                    <p class="detail__tableBlockTxt">■その他</p>
                    <ul class="detail__tableBlockList">
                      <li class="detail__tableBlockList--li">本サービスへのアクセス集中や通信回線の状態による遅延、不具合などにより本サービスへのアクセスや登録・表示などができないことにより発生した障害、または起因して発生したすべての事象に関しましては、当社の責めに帰すべき場合を除き、責任を負いかねます。</li>
                      <li class="detail__tableBlockList--li">取得したユーザ情報は<a class="detail__tableBlockTxt--link" href="https://privacy.rakuten.co.jp/">個人情報保護方針</a>に基づいてお取り扱いいたします。</li>
                      <li class="detail__tableBlockList--li">楽天ビューティの掲載店舗、あるいは弊社が不正と合理的に判断した場合は、特典対象から除外する場合がございます。</li>
                      <li class="detail__tableBlockList--li">エントリーが完了した際、個別にキャンペーン参加完了のご連絡はいたしかねますので、ご了承ください。</li>
                      <li class="detail__tableBlockList--li">キャンペーンのエントリー及び条件達成状況に関わるお問い合わせは一切お受けいたしかねますので、ご了承ください。</li>
                      <li class="detail__tableBlockList--li">「QR コード」は、株式会社デンソーウェーブの登録商標です。</li>
                      <li class="detail__tableBlockList--li">その他ご不明な点は下記よりお問い合わせください。
                        <ul class="detail__tableBlockList--none">
                          <li class="detail__tableBlockList--li"> <a class="detail__tableBlockTxt--link" href="https://beauty.faq.rakuten.net/user/s/">楽天ビューティについて</a></li>
                          <li class="detail__tableBlockList--li"> <a class="detail__tableBlockTxt--link" href="https://faq.fril.jp/6311/" target="_blank">楽天ラクマについて</a></li>
                        </ul>
                      </li>
                      <li class="detail__tableBlockList--li">本キャンペーンは楽天グループ株式会社「楽天ビューティ」及び「楽天ラクマ」が主催しているものであり、Apple Inc., Apple Japan 合同会社によるものではありません。                </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>
        <section class="campaign" id="Campaign" data-ratid="cpn_rakuma_Campaign" data-ratevent="appear" data-ratparam="all">
          <div class="titleWrap">
            <h2 class="titleWrap--title">その他のキャンペーン</h2>
          </div>
                    <script>var dirStr = 'rakuma';</script>
                    <div class="campaignList" id="CampaignList">
                      <div class="campaignListWrap">
                        <template v-for="res in results"><a class="campaignListBox" v-bind:href="res.url" v-if="res.directory !== dirStr">
                            <div class="campaignListBanner"><img class="campaignListBannerImg" v-bind:src="res.banner" v-bind:alt="res.alt"></div>
                            <div class="campaignListTxts">
                              <ul class="campaignListMain">
                                <li class="campaignListTagBox">
                                  <template v-for="tag in res.tag">
                                    <p class="campaignListTag -pink" v-if="tag.name == 'エントリー必要' || tag.name == 'ラ・クーポン'">{{ tag.name }}</p>
                                    <p class="campaignListTag -disable" v-else-if="tag.name == 'エントリー不要'">{{ tag.name }}</p>
                                    <p class="campaignListTag" v-else>{{ tag.name }}</p>
                                  </template>
                                </li>
                                <li class="campaignListTxtBox">
                                  <template v-for="terms in res.terms">
                                    <p class="campaignListTxt">{{ terms.txt }}</p>
                                  </template>
                                </li>
                              </ul>
                              <ul class="campaignListDetail">
                                <p class="campaignListTxt -small">詳細はこちら<i class="icon-chevronRight"></i></p>
                              </ul>
                            </div></a></template>
                      </div>
                    </div>
        </section>
      </div>
    </main>
    <footer id="PC_footer">
      <ul class="global-footer__utility">
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="/cnt/topics/bp/">掲載ご希望のサロン様</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="/cnt/terms/">利用規約</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="/sitemap/">サイトマップ</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="//beauty.faq.rakuten.net/user/s/ask">お問い合わせ</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="//beauty.faq.rakuten.net/user/s/">ヘルプ</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="/cnt/topics/release/">リリース情報</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="//www.facebook.com/RakutenBeauty" target="_blank">Facebook</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="//x.com/Rakuten__BEAUTY" target="_blank">X</a></li>
      </ul>
      <div class="rc-f-standard rc-f-liquid rc-f-custom00">
        <div class="rc-f-section-content00">
          <div class="rc-f-section-bar rc-f-first">
            <div class="rc-f-inner">
              <dl class="rc-f-dl-inline-box">
                <dt class="rc-f-dl-title01 rc-f-text-em">楽天グループ</dt>
                <dd>
                  <ul class="rc-f-list-inline">
                    <li><a class="rc-f-btn" href="//www.rakuten.co.jp/sitemap/"><span>サービス一覧</span></a></li>
                    <li><a class="rc-f-btn" href="//www.rakuten.co.jp/sitemap/inquiry.html"><span>お問い合わせ一覧</span></a></li>
                  </ul>
                </dd>
              </dl>
            </div>
          </div>
          <div class="rc-f-section-bar">
            <div class="rc-f-inner">
              <dl class="rc-f-dl-inline rc-f-block">
                <dt class="rc-f-dl-title01">おすすめ</dt>
                <dd class="rc-f-text-strong" id="grpRakutenRecommend"><a href="//www.rakuten-card.co.jp/">【楽天カード】楽天ポイントが貯まるクレジットカード。年会費無料。</a></dd>
              </dl>
              <ul class="rc-f-row rc-f-row-dot rc-f-row4">
                <li class="rc-f-col rc-f-first">
                  <div class="rc-f-media rc-f-nav-item rc-f-nav-item">
                    <div class="rc-f-media-head"><a href="/rakulab/">「キレイの主役」を応援するビューティメディア</a></div>
                    <div class="rc-f-media-body">Raku Lab(ラクラボ)</div>
                  </div>
                </li>
                <li class="rc-f-col">
                  <div class="rc-f-media rc-f-nav-item rc-f-nav-item-delimit">
                    <div class="rc-f-media-head"><a href="https://brandavenue.rakuten.co.jp/">人気ブランド新作やヘア小物をGET</a></div>
                    <div class="rc-f-media-body">Rakuten Fashion</div>
                  </div>
                </li>
                <li class="rc-f-col">
                  <div class="rc-f-media rc-f-nav-item rc-f-nav-item-delimit">
                    <div class="rc-f-media-head"><a href="https://www.infoseek.co.jp/">楽天が運営するポータルサイト</a></div>
                    <div class="rc-f-media-body">Infoseekトップ</div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div id="mkdiv_footer_pitari"></div>
        <div class="rc-f-section01">
          <div class="-excludeApp" id="footerRakutenBnr"><a href="//corp.rakuten.co.jp/event/climateaction/?scid=wi_bty_gogreen_footer" target="_blank"><img class="footerRakutenBnr__img" src="//cloudinary-a.akamaihd.net/vivivi/image/upload/t_beauty,f_auto/w_150,h_40/v1/front/image/common/bnr_gogreen_pc.svg" alt="本サービスは再生可能エネルギー100%" width="150" height="40"></a></div>
          <div class="rc-f-inner">
            <ul class="rcf-list-inline rcf-list-block">
              <li><a href="//corp.rakuten.co.jp/" rel="nofollow">企業情報</a></li>
              <li><a href="//privacy.rakuten.co.jp/" rel="nofollow">個人情報保護方針</a></li>
              <li><a href="//corp.rakuten.co.jp/csr/">社会的責任[CSR]</a></li>
              <li><a href="//corp.rakuten.co.jp/careers/">採用情報</a></li>
            </ul>
            <p class="copyright">© Rakuten Group, Inc.</p>
          </div>
        </div>
      </div>
      <script type="text/javascript" src="//jp.rakuten-static.com/1/js/lib/prm_selector.js"></script>
      <script type="text/javascript" src="//jp.rakuten-static.com/1/js/grp/hdr/prm_sender.js"></script>
      <script type="text/javascript" src="//jp.rakuten-static.com/1/js/grp/ftr/js/parm_selector_footer.js"></script>
    </footer>
    <div id="SP_footer">
      <div class="c-section c-text--alignCenter">
        <ul class="c-list--inlineSmall c-section__inside">
          <li class="c-list__item"><a href="/cnt/topics/guide/">はじめての方へ</a></li>
          <li class="c-list__item"><a href="//beauty.faq.rakuten.net/user/s/ask">お問い合わせ</a></li>
          <li class="c-list__item"><a href="//beauty.faq.rakuten.net/user/s/">ヘルプ</a></li>
          <li class="c-list__item"><a href="/cnt/topics/release/">リリース情報</a></li>
          <li class="c-list__item"><a href="/cnt/terms/">利用規約</a></li>
          <li class="c-list__item"><a href="/cnt/topics/bp/">掲載ご希望のサロン様</a></li>
        </ul>
      </div>
      <div id="footer">
        <ul>
          <li><a rel="nofollow" href="//corp.rakuten.co.jp/">企業情報</a></li>
          <li><a rel="nofollow" href="//privacy.rakuten.co.jp/sp/">個人情報保護方針</a></li>
          <li><a rel="nofollow" href="//www.rakuten.co.jp/sitemap/sp/">楽天のサービス一覧</a></li>
          <li><a rel="nofollow" href="//www.rakuten.co.jp/sitemap/sp/app.html">アプリ一覧</a></li>
        </ul>
        <div id="copyright">&copy; Rakuten Group, Inc.</div>
        <div class="-excludeApp" id="footerRakutenBnr"><a href="//corp.rakuten.co.jp/event/climateaction/?scid=wi_bty_gogreen_footer" target="_blank"><img class="footerRakutenBnr__img" src="https://cloudinary-a.akamaihd.net/vivivi/image/upload/t_beauty,f_auto/w_150,h_40/v1/front/image/common/bnr_gogreen_sp.svg" alt="本サービスは再生可能エネルギー100%" width="150" height="40"></a></div>
      </div>
    </div>
    <script src="/cnt/common/js/ua-parser/ua-parser.min.js"></script>
    <script src="/cnt/common/js/ua-parser/main.js"></script>
    <script src="/cnt/common/js/smooth-scroll.min.js"></script>
    <script>
      var scroll = new SmoothScroll('a[href*="#"]');
      
    </script>
    <script src="/cnt/common/js/vue/vue.min.js" defer></script>
    <script src="/cnt/common/js/vue/axios.min.js" defer></script>
    <script src="/cnt/common/js/readjson.js?v20240930" defer></script>
    <script>
      campaignlist = true;
      
    </script>
    <script src="/cnt/common/js/cpn-parts/btn_checkbox.js" defer></script>
    <script src="js/splide.min.js" defer></script>
    <script>
      document.addEventListener( 'DOMContentLoaded', function() {
        var elms = document.getElementsByClassName( 'splide' );
        for ( var i = 0; i < elms.length; i++ ) {
          new Splide( elms[ i ] ).mount();
        }
      });
    </script>
    <!-- RAT tag start-->
    <!-- Generic Parameter-->
    <input id="ratAccountId" type="hidden" name="rat" value="426">
    <input id="ratServiceId" type="hidden" name="rat" value="1">
    <input id="ratPageLayout" type="hidden" name="rat" value="resp">
    <input id="ratSiteSection" type="hidden" name="rat" value="cnt">
    <input id="ratPageName" type="hidden" name="rat" value="cnt">
    <input id="ratPageType" type="hidden" name="rat" value="cnt_item">
    <script type="text/javascript" src="//r.r10s.jp/com/rat/js/rat-main.js"></script>
    <!-- /RAT tag end-->
  </body>
</html>