//- Cache Clear
- var parameter = '202500409'

//- Common Setting
-
  var common = {
    description: '楽天ビューティアワード 2025は、ユーザーに支持されたサロンとスタイリストを表彰する年間アワードです。第5回目となる今年度は、札幌市・仙台市・さいたま市・東京都・神戸市・広島市・福岡市の計7都市で高い評価を得たサロンとスタイリストを選出しています。',
  }

//- TOPバナー
-
  var bartterbanners = [
    {
      image: 'images/bnr_sendai_864x216.png',
      name: '仙台市限定！初めての美容室のネット予約で使えるラ・クーポン配布中',
      url: '//beauty.rakuten.co.jp/cnt/topics/campaign/sendai/?l-id=rb_beautyaward_sendaiLP',
      target: '_self'
    }
  ]
