<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  <head>
    <meta charset="UTF-8">
    <title>楽天Beauty × 楽天証券 サロン予約＆施術完了＋NISA口座での積立で100万ポイント山分け！ | 楽天ビューティ</title>
    <meta name="viewport" content="width=1300">
    <meta name="description" content="楽天Beauty × 楽天証券 サロン予約＆施術完了＋NISA口座での積立で100万ポイント山分け！">
    <link rel="canonical" href="https://beauty.rakuten.co.jp/cnt/topics/campaign/other/security/">
    <meta property="og:type" content="article">
    <meta property="og:site_name" content="楽天ビューティ">
    <meta property="og:url" content="https://beauty.rakuten.co.jp/cnt/topics/campaign/other/security/">
    <meta property="fb:app_id" content="461054960620939">
    <meta property="og:title" content="楽天Beauty × 楽天証券 サロン予約＆施術完了＋NISA口座での積立で100万ポイント山分け！ | 楽天ビューティ">
    <meta property="og:description" content="楽天Beauty × 楽天証券 サロン予約＆施術完了＋NISA口座での積立で100万ポイント山分け！">
    <meta property="og:image" content="https://beauty.rakuten.co.jp/cnt/topics/campaign/other/security/img/share.png?v20241224">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="apple-touch-icon-precomposed" href="//beauty.rakuten.co.jp/cnt/common/images/beauty_192px.png?v20180702">
    <link rel="shortcut icon" href="//jp.rakuten-static.com/1/im/ci/rakuten/favicon/pi.ico?20181001">
    <link rel="mask-icon" href="//jp.rakuten-static.com/1/im/ci/rakuten/favicon/Rakuten_SafariPin.svg?20181001" color="#ff41be">
    <link href="css/main.css?v20241224" rel="stylesheet" type="text/css">
    <link rel="dns-prefetch" href="https://cdn.rex.contents.rakuten.co.jp">
    <script>
      const ua = navigator.userAgent;
      //- viewport for Tablet
      if( ua.indexOf('iPhone') > 0 || ua.indexOf('iPod') > 0 || (ua.indexOf('Android') > 0 && ua.indexOf('Mobile') > 0) || ( ua.indexOf('windows') > 0 && ua.indexOf('phone') > 0) || ( ua.indexOf('firefox') > 0 && ua.indexOf('mobile') > 0) ) {
        document.querySelector("meta[name='viewport']").setAttribute("content", "width=device-width,initial-scale=1,user-scalable=no");
      } else if( ua.indexOf('iPad') > 0 || ua.indexOf('Android') > 0 || (ua.indexOf('windows') > 0 && ua.indexOf('touch') > 0) || ( ua.indexOf('firefox') > 0 && ua.indexOf('tablet') > 0) ) {
        document.querySelector("meta[name='viewport']").setAttribute("content", "width=1300");
      }
    </script>
    <link rel="stylesheet" href="css/splide.min.css">
  </head>
  <body>
    <noscript>
      <iframe class="txt_h vis_h" src="//www.googletagmanager.com/ns.html?id=GTM-RKLN" height="0" width="0"></iframe>
    </noscript>
    <script>
      (function(w,d,s,l,i){
      w[l]=w[l]||[];
      w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});
      var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';
      j.async=true;
      j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;
      f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-RKLN');
    </script>
    <script src="//jp.rakuten-static.com/1/grp/banner/js/create.js"></script>
    <div id="mkdiv_header_pitari"></div>
    <header class="-excludeApp" id="SP_header">
      <p id="serviceID"><a class="logo" href="/"><img src="https://beauty.rakuten.co.jp/sp/images/global/rb_logo_v201807.svg" width="74" height="40"></a></p>
    </header>
        <header id="PC_header">
          <div class="rc-h-standard">
            <noscript>
              <div class="rc-h-noscript-bar">
                <div class="rc-h-inner">
                  <p>JavaScriptが無効の為、一部のコンテンツをご利用いただけません。JavaScriptの設定を有効にしてからご利用いただきますようお願いいたします。（<a href="//ichiba.faq.rakuten.co.jp/app/answers/detail/a_id/154">設定方法</a>）</p>
                </div>
              </div>
            </noscript>
            <div class="rc-h-utility-bar">
              <div class="rc-h-inner">
                <div class="rb_wrapper">
                  <ul class="rc-h-group-nav">
                    <li id="grpNote">
                      <noscript><a href="//card.rakuten.co.jp/entry/">今すぐ2,000ポイント！</a></noscript>
                    </li>
                    <li class="rc-h-dropdown rc-h-group-dropdown"><a href="//www.rakuten.co.jp/sitemap/">楽天グループ</a>
                      <ul class="rc-h-dropdown-panel">
                        <li><a href="//books.rakuten.co.jp/?scid=wi_grp_gmx_bea_hepullbu_boo" rel="nofollow">楽天ブックス</a></li>
                        <li><a href="//hoken.rakuten.co.jp/?scid=wi_grp_gmx_bea_hepullbu_hkn" rel="nofollow">楽天の保険</a></li>
                        <li><a href="//www.infoseek.co.jp/?scid=wi_grp_gmx_bea_hepullbu_ifs" rel="nofollow">インフォシーク</a></li>
                        <li><a href="//sm.rakuten.co.jp/?scid=wi_grp_gmx_bea_hepullbu_sup&amp;xadid=wi_grp_gmx_bea_hepullbu_sup" rel="nofollow">楽天西友ネットスーパー</a></li>
                        <li><a href="//www.rakuten.co.jp/sitemap/">サービス一覧</a></li>
                      </ul>
                    </li>
                    <li><a href="//www.rakuten-life.co.jp/?scid=wi_grp_gmx_bea_hetopbu_sei" rel="nofollow">楽天生命</a></li>
                    <li><a href="//www.rakuten.co.jp/" rel="nofollow">楽天市場</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="rb_wrapper">
              <div class="rc-h-service-bar">
                <div class="rc-h-inner">
                  <div class="rc-h-site-id">
                    <p class="rc-h-logo"><a href="/"><img src="//beauty.rakuten.co.jp/images/global/rb_logo_v201807.svg" width="206" height="32" alt="Rakuten BEAUTY"></a></p>
                  </div>
                  <div class="rc-h-site-menu">
                    <div class="rc-h-menu-btns">
                      <ul class="rc-h-help-nav">
                        <li><a href="/cnt/topics/guide/">はじめての方へ</a></li>
                        <li><a href="//beauty.faq.rakuten.net/user/s/">ヘルプ</a></li>
                        <li><a href="//emagazine.rakuten.co.jp/ne?n=294" onclick="_gaq.push(['_trackEvent', 'permission', 'click', 'rbpc_header']);">お得な情報を受け取る</a></li>
                        <li><a href="/cnt/topics/bp/?l-id=rb_pc_header_bp">掲載ご希望のサロン様</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <nav id="globalNav">
            <ul class="globalNav__list c-container">
              <li class="globalNav__item"><a class="globalNav__link" href="/">美容院・ヘアサロン</a></li>
              <li class="globalNav__item"><a class="globalNav__link" href="/nail/">ネイル・まつげサロン</a></li>
              <li class="globalNav__item"><a class="globalNav__link" href="/esthe/">エステサロン</a></li>
              <li class="globalNav__item"><a class="globalNav__link" href="/relax/">リラク・マッサージサロン</a></li>
              <li class="globalNav__item"><a class="globalNav__link" href="/style/">ヘアカタログ</a></li>
              <li class="globalNav__item"><a class="globalNav__link" href="/naildesign/">ネイルカタログ</a></li>
              <li class="globalNav__item"><a class="globalNav__current" href="/cnt/topics/">キャンペーン一覧・特集</a></li>
              <li class="globalNav__item"><a class="globalNav__link" href="/rakulab/">Raku Lab</a></li>
            </ul>
          </nav>
        </header>
        <div class="c-container" id="breadcrumb">
          <ul class="c-breadcrumbs">
            <li class="c-breadcrumbs__item"><a class="c-breadcrumbs__link" href="/">楽天ビューティ</a></li>
            <li class="c-breadcrumbs__item"><a class="c-breadcrumbs__link" href="https://beauty.rakuten.co.jp/cnt/topics/">キャンペーン一覧・特集</a></li>
            <li class="c-breadcrumbs__item"><strong class="c-breadcrumbs__current">楽天Beauty × 楽天証券 サロン予約＆施術完了＋NISA口座での積立で100万ポイント山分け！</strong></li>
          </ul>
        </div>
        <script type="application/ld+json">
           {
            "@context": "https://schema.org",
            "@type": "BreadcrumbList",
            "itemListElement": [
              {
                "@type": "ListItem",
                "position": 1,
                "name": "楽天ビューティ",
                "item": "https://beauty.rakuten.co.jp/"
              },
              {
                "@type": "ListItem",
                "position": 2,
                "name": "キャンペーン一覧・特集",
                "item": "https://beauty.rakuten.co.jp/cnt/topics/"
              },
              {
                "@type": "ListItem",
                "position": 3,
                "name": "楽天Beauty × 楽天証券 サロン予約＆施術完了＋NISA口座での積立で100万ポイント山分け！"
              }
            ]
           }
        </script>
    <main id="content">
      <div id="Security">
        <div id="End">
                <div class="end">
                  <div class="end__icon">
                    <icon class="icon-info"></icon>
                  </div>
                  <div class="end__txt">
                    <p>このキャンペーンは終了しました</p>
                  </div>
                </div>
        </div>
        <div id="CpnTags">
                <div class="campaignTagSet">
                  <div class="campaignTagSet__wrap">
                    <div class="campaignTagSet__box">
                      <p class="campaignTag -red">エントリー必要</p>
                      <p class="campaignTag">ネット予約・施術完了</p>
                      <p class="campaignTag">条件達成</p>
                    </div>
                  </div>
                </div>
        </div>
        <section class="main" id="Main" data-ratid="cpn_security_Main" data-ratevent="appear" data-ratparam="all">
          <h1 class="main__title"><img class="main__titleImg -pc" src="img/main.png?v20241224" alt="楽天Beauty × 楽天証券 サロン予約＆施術完了＋NISA口座での積立で100万ポイント山分け！"><img class="main__titleImg -sp" src="img/main_sp.png?v20241224" alt="楽天Beauty × 楽天証券 サロン予約＆施術完了＋NISA口座での積立で100万ポイント山分け！"></h1>
          <div class="main__terms">
            <div class="main__termsBox">
              <p class="main__termsTxt">キャンペーン期間：5月20日 10:00 〜 6月21日 9:59<span class="main__termsTxt -secondary">条件達成期間：5月20日 10:00 〜 7月31日 23:59</span></p>
            </div>
          </div>
          <div class="main__stepWrap">
            <div class="main__step__primary-container"><img class="main__step__title" src="img/img_main_title_step1.png?v20241224" alt="Step1" width="" height="">
              <div class="main__step__time">6/21 9:59まで</div>
              <div class="main__step__lead">
                <p class="main__step__lead__text">エントリー＆<br class="-sp">楽天ビューティ<br class="-sp">からサロン予約<br class="-sp">※1</p><img class="main__step__lead__icon" src="img/img_main_icon_step1.png?v20241224" alt="icon1" width="" height="">
              </div>
            </div>
            <div class="main__step__primary-container -lightblue"><img class="main__step__title" src="img/img_main_title_step2.png?v20241224" alt="Step2" width="" height="">
              <div class="main__step__time">7/31 23:59まで</div>
              <div class="main__step__lead">
                <p class="main__step__lead__text">サロンにて施術完了＆<br class="-pc">NISA口座<br class="-sp">での投信積立※2</p><img class="main__step__lead__icon -lightblue" src="img/img_main_icon_step2.png?v20241224" alt="icon2" width="" height="">
              </div>
            </div>
            <div class="main__step__secondary-container"><img class="main__step__title" src="img/img_main_title_step3.png?v20241224" alt="Step3" width="" height="">
              <div class="main__step__secondary-lead">
                <p class="main__step__secondary-lead__text">条件達成<br class="-sp">された方で<br><span class="main__step__secondary-lead__point">100万ポイント</span><br>山分け！</p><img class="main__step__secondary-lead__icon" src="img/img_main_icon_step3.png?v20241224" alt="icon3" width="" height="">
              </div>
            </div>
          </div>
          <div class="main__step__info">
            <p class="main__step__info__text">※1. 3,000円(税込)以上のネット予約が対象</p>
            <p class="main__step__info__text">※2. 5,000円以上の積立が対象</p><br class="-pc">
            <p class="main__step__info__text">※本キャンペーンは予告なく変更・中止される可能性があります。</p>
            <p class="main__step__info__text">※条件の達成順序は順不同です。</p><br class="-pc">
            <p class="main__step__info__text">※進呈するポイント（期間限定ポイントを含む）には上限や条件があります。キャンペーン詳細は<a class="main__termsLink" href="#Detail">こちら</a></p>
          </div>
        </section>
        <section class="navigation" id="Navigation" data-ratid="cpn_security_Navigation" data-ratevent="appear" data-ratparam="all">
          <ul class="global-nav">
            <li class="global-nav__list"><a class="global-nav__link" href="#Step1">エントリー</a></li>
            <li class="global-nav__list"><a class="global-nav__link" href="#Step2">達成条件</a></li>
            <li class="global-nav__list"><a class="global-nav__link -nav__position" href="#Beauty">楽天ビューティ<br class="-sp">のメリット</a></li>
            <li class="global-nav__list"><a class="global-nav__link -nav__position" href="#Securities">楽天証券<br class="-sp">のメリット</a></li>
          </ul>
        </section>
        <div id="Step1"></div>
        <section class="entryBox" id="EntryBox" data-ratid="cpn_security_EntryBox" data-ratevent="appear" data-ratparam="all">
          <h2 class="contentStep--title"><img src="img/img_title_step1.png?v20241224" alt="Step1" width="100%" height=""></h2>
                <div class="btnSet__link -end"><span class="btnSet__txt">エントリー期間が終了しました</span></div>
        </section>
        <div id="Step2"></div>
        <section class="conditionsBox" id="ConditionsBox" data-ratid="cpn_security_ConditionsBox" data-ratevent="appear" data-ratparam="all">
          <h2 class="contentStep--title"><img src="img/img_title_step2.png?v20241224" alt="Step2" width="100%" height=""></h2>
          <h3 class="conditionsBox--title"><a class="title-beauty" href="#ConditionsBeauty">楽天ビューティ</a>と<a class="title-certificate" href="#ConditionsCertificate">楽天証券</a>の<br class="-sp">条件をどちらも達成</h3>
          <div id="ConditionsBeauty"></div>
          <article class="conditionsBox__section">
            <div class="conditionsBox--title"><img class="conditionsBox__title__icon" src="img/img_beauty_icon_left.png?v20241224" alt="" width="100%" height="">
              <h4 class="conditionsBox__title__text">楽天ビューティ</h4><img class="conditionsBox__title__icon" src="img/img_beauty_icon_right.png?v20241224" alt="" width="100%" height="">
            </div>
            <div class="conditionsBox__section__wrap">
              <p class="conditionsBox__section__lead">6月21日9:59までに<br class="-sp">3,000円(税込)以上のサロン予約<br class="-sp">＆7月31日23:59までに施術完了</p>
              <ul class="conditionsBeauty__menu -pc">
                <li class="conditionsBeauty__menu--list">
                  <div class="conditionsBeauty__menu--list--icon">1</div>
                  <p class="conditionsBeauty__menu--list--lead">ご希望の条件に<br>合うサロンを検索</p><img class="conditionsBeauty__menu--list__img" src="img/img_step2_beauty_list1.png?v20241224" alt="ご希望の条件に合うサロンを検索" width="" height="100%">
                </li>
                <li class="conditionsBeauty__menu--list">
                  <div class="conditionsBeauty__menu--list--icon">2</div>
                  <p class="conditionsBeauty__menu--list--lead">日時やメニューを選択<br>して予約</p><img class="conditionsBeauty__menu--list__img" src="img/img_step2_beauty_list2.png?v20241224" alt="日時やメニューを選択して予約" width="" height="100%">
                </li>
                <li class="conditionsBeauty__menu--list">
                  <div class="conditionsBeauty__menu--list--icon">3</div>
                  <p class="conditionsBeauty__menu--list--lead">施術完了</p><img class="conditionsBeauty__menu--list__img" src="img/img_step2_beauty_list3.png?v20241224" alt="施術完了" width="" height="100%">
                </li>
              </ul>
              <div class="splide -sp">
                <div class="splide__track">
                  <ul class="splide__list conditionsBeauty__menu -sp">
                    <li class="splide__slide conditionsBeauty__menu--list">
                      <div class="conditionsBeauty__menu--list--icon">1</div>
                      <p class="conditionsBeauty__menu--list--lead">ご希望の条件に<br>合うサロンを検索</p><img class="conditionsBeauty__menu--list__img" src="img/img_step2_beauty_list1.png?v20241224" alt="ご希望の条件に合うサロンを検索" width="" height="100%">
                    </li>
                    <li class="splide__slide conditionsBeauty__menu--list">
                      <div class="conditionsBeauty__menu--list--icon">2</div>
                      <p class="conditionsBeauty__menu--list--lead">日時やメニューを選択<br>して予約</p><img class="conditionsBeauty__menu--list__img" src="img/img_step2_beauty_list2.png?v20241224" alt="日時やメニューを選択して予約" width="" height="100%">
                    </li>
                    <li class="splide__slide conditionsBeauty__menu--list">
                      <div class="conditionsBeauty__menu--list--icon">3</div>
                      <p class="conditionsBeauty__menu--list--lead">施術完了</p><img class="conditionsBeauty__menu--list__img" src="img/img_step2_beauty_list3.png?v20241224" alt="施術完了" width="" height="100%">
                    </li>
                  </ul>
                </div>
              </div>
              <div class="conditionsBox__search"><a class="conditionsBox__search--button" href="https://beauty.rakuten.co.jp/?l-id=rb_security_search">対象サロンの検索はこちら</a>
                <p class="conditionsBox__search--button--info">※ネット予約できるサロンが対象です。</p>
              </div>
            </div>
          </article>
          <div id="ConditionsCertificate"></div>
          <article class="conditionsBox__section -certificate">
            <div class="conditionsBox--title"><img class="conditionsBox__title__icon" src="img/img_certificate_icon_left.png?v20241224" alt="" width="100%" height="">
              <h4 class="conditionsBox__title__text">楽天証券</h4><img class="conditionsBox__title__icon" src="img/img_certificate_icon_right.png?v20241224" alt="" width="100%" height="">
            </div>
            <div class="conditionsBox__section__wrap">
              <p class="conditionsBox__section__lead">7月31日23:59までに<br class="-sp">NISA口座で投信積立</p>
              <p class="conditionsBox__section__info">※ NISA 口座の「つみたて投資枠」「成長投資枠」の<br class="-sp">区分は問いません。<br>※楽天ポイントコースの設定方法は<a class="info__link" href="https://faq.rakuten-sec.co.jp/10002121" target="_blank" rel="noopener noreferrer">こちら</a></p>
              <ul class="conditionsCertificate__menu -pc">
                <li class="conditionsCertificate__menu--list">
                  <div class="conditionsCertificate__menu--list--icon">1</div>
                  <p class="conditionsCertificate__menu--list--lead">NISA口座で合計5,000円以上の<br>投信積立約定</p><img class="conditionsCertificate__menu--list__img" src="img/img_step2_certificate_list1.png?v20241224" alt="NISA口座で合計5,000円以上の投信積立約定" width="" height="100%">
                </li>
                <li class="conditionsCertificate__menu--list">
                  <div class="conditionsCertificate__menu--list--icon">2</div>
                  <p class="conditionsCertificate__menu--list--lead">楽天ポイントコースを<br>設定</p><img class="conditionsCertificate__menu--list__img" src="img/img_step2_certificate_list2.png?v20241224" alt="楽天ポイントコースを設定" width="" height="100%">
                </li>
              </ul>
              <div class="splide -sp">
                <div class="splide__track">
                  <ul class="splide__list conditionsCertificate__menu -sp">
                    <li class="splide__slide conditionsCertificate__menu--list">
                      <div class="conditionsCertificate__menu--list--icon">1</div>
                      <p class="conditionsCertificate__menu--list--lead">NISA口座で合計5,000円以上の<br>投信積立約定</p><img class="conditionsCertificate__menu--list__img" src="img/img_step2_certificate_list1.png?v20241224" alt="NISA口座で合計5,000円以上の投信積立約定" width="" height="100%">
                    </li>
                    <li class="splide__slide conditionsCertificate__menu--list">
                      <div class="conditionsCertificate__menu--list--icon">2</div>
                      <p class="conditionsCertificate__menu--list--lead">楽天ポイントコースを<br>設定</p><img class="conditionsCertificate__menu--list__img" src="img/img_step2_certificate_list2.png?v20241224" alt="楽天ポイントコースを設定" width="" height="100%">
                    </li>
                  </ul>
                </div>
              </div>
              <p class="conditionsCertificate__menu--info">※①②の達成順序は順不同です。</p>
              <div class="conditionsBox__search">
                <p class="conditionsBox__search--title">楽天証券がはじめてのお客様</p><a class="conditionsBox__search--button -first-button" href="https://account.rakuten-sec.co.jp/cgi-bin/btracking?bname=beauty&amp;accInputRoute=2&amp;URL=https://www.rakuten-sec.co.jp/web/account/?scid%3Dwi_beauty" target="_blank" rel="noopener noreferrer">総合口座とNISA口座をまとめて開設</a>
                <p class="conditionsBox__search--title">総合口座をお持ちのお客様</p><a class="conditionsBox__search--button -secondary-button" href="https://r10.to/hUI0km" target="_blank" rel="noopener noreferrer">NISA口座を追加で開設</a>
              </div>
            </div>
          </article>
        </section>
        <div id="Step3"></div>
        <section class="achievementBox" id="AchievementBox" data-ratid="cpn_security_AchievementBox" data-ratevent="appear" data-ratparam="all">
          <h2 class="contentStep--title"><img src="img/img_title_step3.png?v20241224" alt="Step3" width="100%" height=""></h2>
          <h3 class="conditionsBox--title -achievementBox">条件達成された方で<br class="-sp"><span class="title-achievement"><span class="title-achievement-point">100</span>万ポイント</span>山分け！</h3>
          <div class="achievementBox__point"><img src="img/img_step3_coin.png?v20241224" alt="条件達成された方で100万ポイント山分け！" width="100%" height=""></div>
          <div class="achievementBox--info">※進呈するポイント(期間限定ポイント含)には上限や条件があります。詳細は<a class="info__link" href="#Detail">こちら</a></div>
        </section>
        <div id="Beauty"></div>
        <section class="beautyintro" id="Beautyintro" data-ratid="cpn_security_Beautyintro" data-ratevent="appear" data-ratparam="all">
          <article class="conditionsBox__section">
            <div class="conditionsBox--title">
              <h4 class="conditionsBox__title__text">楽天ビューティのメリット</h4>
            </div>
            <div class="beautyintro__wrap">
              <div class="beautyintro__container">
                <div class="beautyintro__title">メリット1</div>
                <div class="beautyintro__lead__wrap">
                  <div class="beautyintro__lead__icon__point"><img src="img/img_beauty_value1.png?v20241224" alt="ポイント" width="100%" height=""></div>
                  <div class="beautyintro__lead--lead">お持ちの楽天ポイントで<br class="-sp">おトクにサロン体験
                    <div class="beautyintro__lead--lead--text -pc">
                       おトクに、キレイに。楽天ビューティ。</div>
                  </div>
                </div>
                <div class="beautyintro__lead--lead--text -sp">
                   おトクに、キレイに。楽天ビューティ。</div>
                <ul class="beautyintro__menu">
                  <li class="beautyintro__menu__list"><img src="img/img_beauty_hair.png?v20241224" alt="ヘア" width="100%" height=""></li>
                  <li class="beautyintro__menu__list"><img src="img/img_beauty_nail.png?v20241224" alt="ネイル" width="100%" height=""></li>
                  <li class="beautyintro__menu__list"><img src="img/img_beauty_esthe.png?v20241224" alt="エステ" width="100%" height=""></li>
                  <li class="beautyintro__menu__list"><img src="img/img_beauty_relax.png?v20241224" alt="リラックス" width="100%" height=""></li>
                  <li class="beautyintro__menu__list"><img src="img/img_beauty_eyelash.png?v20241224" alt="まつげ" width="100%" height=""></li>
                </ul>
                <div class="beautyintro__menu--info">ヘア・ネイル・まつげ・エステ・リラク・<br class="-sp">マッサージサロンの検索・予約が可能！</div>
              </div>
              <div class="beautyintro__container">
                <div class="beautyintro__title">メリット2</div>
                <div class="beautyintro__lead__wrap">
                  <div class="beautyintro__lead__icon__deal"><img src="img/img_beauty_value2.png?v20241224" alt="ポイント" width="100%" height=""></div>
                  <div class="beautyintro__lead--lead">ポイント高還元<br class="-sp">メニューも豊富！
                    <div class="beautyintro__lead--lead--text -pc">
                       スーパーDEALメニューでさらにおトクにサロンを予約！</div>
                  </div>
                </div>
                <div class="beautyintro__lead--lead--text -sp">
                   スーパーDEALメニューでさらに<br class="-sp">おトクにサロンを予約！</div>
                <div class="beautyintro__menu__img"><img class="-pc" src="img/img_beauty_deal_pc.png?v20241224" alt="スーパーDEAL メニュー" width="100%" height=""><img class="-sp" src="img/img_beauty_deal_sp.png?v20241224" alt="スーパーDEAL メニュー" width="100%" height=""></div>
                <div class="beautyintro__menu__button__wrap"><a class="beautyintro__menu__button" href="https://beauty.rakuten.co.jp/cnt/topics/campaign/superdeal/?l-id=rb_security_deal">スーパーDEALメニューをみる</a></div>
              </div>
              <div class="beautyintro__container">
                <div class="beautyintro__title">メリット3</div>
                <div class="beautyintro__lead__wrap">
                  <div class="beautyintro__lead__icon__appicon"><img src="img/img_beauty_value3.png?v20241224" alt="" width="100%" height=""></div>
                  <div class="beautyintro__lead--lead">アプリから予約で<br class="-sp">次回もポイントアップ</div>
                </div>
                <div class="beautyintro__lead--lead--info">※本キャンペーンとは併用不可となりますのでご注意ください。<br>※下記のキャンペーンはエントリーが必要です。<br>※詳細はキャンペーンページをご確認ください。</div>
                <div class="beautyintro__menu__app__wrap"><a class="beautyintro__menu__app__banner" href="https://beauty.rakuten.co.jp/cnt/topics/campaign/app2x/?l-id=rb_security_app2x"><img src="../../../../common/banner/campaign/bnr_common_640x160.png?v20241224" alt="アプリから予約でポイント最大3倍" width="100%" height=""></a></div>
                <div class="beautyintro__menu__app__link__wrap -excludeApp">
                  <ul class="beautyintro__menu__app__article -pc">
                    <li class="beautyintro__menu__app__img"><img src="img/img_app2x_info.png?v20241224" width="100%" height=""></li>
                    <li class="beautyintro__menu__app__qr">
                      <p class="beautyintro__menu__app__qr--text">ダウンロードはこちら</p><img class="beautyintro__menu__app__qr__img" src="img/img_app2x_qr.png?v20241224" alt="qrコード" width="100%" height="">
                    </li>
                  </ul><a class="beautyintro__menu__app__button -excludeApp -sp -iphone" href="https://app.adjust.com/1a5i18tu" target="_blank" rel="noopener noreferrer"><img src="img/img_appstore_button.png?v20241224" alt="App Storeからダウンロード" width="100%" height=""></a><a class="beautyintro__menu__app__button -excludeApp -sp -android" href="https://app.adjust.com/1a5i18tu" target="_blank" rel="noopener noreferrer"><img src="img/img_googleplay_button.png?v20241224" alt="Google Playからダウンロード" width="100%" height=""></a>
                </div>
              </div>
            </div>
          </article>
        </section>
        <div id="Securities"></div>
        <section class="securitiesintro" id="Securitiesintro" data-ratid="cpn_security_Securitiesintro" data-ratevent="appear" data-ratparam="all">
          <article class="conditionsBox__section -certificate">
            <div class="conditionsBox--title">
              <h4 class="conditionsBox__title__text">楽天証券のメリット</h4>
            </div>
            <div class="securitiesintro__wrap">
              <div class="securitiesintro__container">
                <div class="securitiesintro__container--title -sp"><img class="-sp" src="img/img_container_title.png?v20241224" alt="みんなが選ぶ！楽天証券" width="100%" height=""></div><img class="-pc" src="img/img_securities_info1_pc.png?v20241224" alt="みんなが選ぶ！楽天証券 楽天証券は第1位*1 新規口座開設数過去5年累計第1位*2 投資未経験者の方もゾクゾクと始めています！ 投資未経験の方の割合78%*3 充実したサポートで初心者の方にも安心してご利用いただいています" width="840px" height=""><img class="-sp" src="img/img_securities_info1_sp.png?v20241224" alt="楽天証券は第1位*1 新規口座開設数過去5年累計第1位*2 投資未経験者の方もゾクゾクと始めています！ 投資未経験の方の割合78%*3 充実したサポートで初心者の方にも安心してご利用いただいています" width="100%" height="">
                <p class="securitiesintro__container--info">※1. 日本証券業協会「NISA及びジュニアNISA口座開設・利用状況調査結果（全証券会社）」および各社公表資料より算出（2023年9月末時点）<br>※2. 口座数上位5社(auカブコム証券、SBI証券、松井証券、マネックス証券、楽天証券（かな順））で2018年から2022年の5年間で開設された新規口座の合計数で比較。2023年3月30日現在、楽天証券調べ<br>※3. 楽天証券での口座開設時（2023年1月～6月）のアンケートより</p>
              </div>
              <div class="securitiesintro__container"><img class="-pc" src="img/img_securities_info2_pc.png?v20241224" alt="例) 資産運用で２０万円の利益が出た場合" width="760px" height=""><img class="-sp" src="img/img_securities_info2_sp.png?v20241224" alt="例) 資産運用で２０万円の利益が出た場合" width="100%" height=""></div>
              <div class="conditionsBox__search">
                <p class="conditionsBox__search--title">楽天証券がはじめてのお客様</p><a class="conditionsBox__search--button -first-button" href="https://account.rakuten-sec.co.jp/cgi-bin/btracking?bname=beauty&amp;accInputRoute=2&amp;URL=https://www.rakuten-sec.co.jp/web/account/?scid%3Dwi_beauty" target="_blank" rel="noopener noreferrer">総合口座とNISA口座をまとめて開設</a>
                <p class="conditionsBox__search--title">総合口座をお持ちのお客様</p><a class="conditionsBox__search--button -secondary-button" href="https://r10.to/hUI0km" target="_blank" rel="noopener noreferrer">NISA口座を追加で開設</a>
              </div>
            </div>
          </article>
        </section>
        <section class="detail" id="Detail" data-ratid="cpn_security_Detail" data-ratevent="appear" data-ratparam="all">
          <div class="detailBox">
            <div class="titleWrap">
              <h2 class="titleWrap--title">キャンペーン詳細</h2>
            </div>
            <p class="detail__caption">※本キャンペーンは予告なく変更・中止される可能性がございます。</p>
            <table class="detail__table">
              <tbody>
                <tr class="detail__tableBlock">
                  <th class="detail__tableBlockHead">エントリー・キャンペーン期間</th>
                  <td class="detail__tableBlockBody">2024年5月20日(月) 10:00 ～ 2024年6月21日(金) 9:59まで</td>
                </tr>
                <tr class="detail__tableBlock">
                  <th class="detail__tableBlockHead">条件達成期間</th>
                  <td class="detail__tableBlockBody">2024年5月20日(月) 10:00 ～ 2024年7月31日(水) 23:59まで</td>
                </tr>
                <tr class="detail__tableBlock">
                  <th class="detail__tableBlockHead">対象者</th>
                  <td class="detail__tableBlockBody">
                    <p class="detail__tableBlockTxt">下記の対象条件を全て満たした方が、特典の対象となります。</p>
                    <p class="detail__tableBlockTxt">条件達成順序は順不同です。</p>
                    <p class="detail__tableBlockTxt--space"></p>
                    <p class="detail__tableBlockTxt">＜対象条件＞</p>
                    <ul class="detail__tableBlockList--disc">
                      <li class="detail__tableBlockList--li">エントリーをされた方</li>
                    </ul>
                    <ul class="detail__tableBlockList">
                      <li class="detail__tableBlockList--li">エントリーには楽天会員登録が必要です。楽天会員でない方は、エントリーと同時に楽天会員登録(無料)ができます。</li>
                      <li class="detail__tableBlockList--li">エントリー履歴は<a class="detail__tableBlockTxt--link" href="https://oubo.rakuten.co.jp/list?spk=f1636b" target="_blank" rel="noopener noreferrer">こちら</a>から確認できます。</li>
                    </ul>
                    <p class="detail__tableBlockTxt--space"></p>
                    <ul class="detail__tableBlockList--disc">
                      <li class="detail__tableBlockList--li">下記の楽天ビューティと楽天証券の条件をどちらも達成された方</li>
                    </ul>
                    <p class="detail__tableBlockTxt detail__headline">楽天ビューティ条件</p>
                    <ul class="detail__tableBlockList--disc detail__indent">
                      <li class="detail__tableBlockList--li">キャンペーン期間中に楽天ビューティで3,000円以上(税込)ネット予約</li>
                      <li class="detail__tableBlockList--li">条件達成期間中に施術完了</li>
                    </ul>
                    <ul class="detail__tableBlockList detail__indent">
                      <li class="detail__tableBlockList--li">ネット予約後キャンセルされた場合、ご来店いただけなかった場合は対象外となります。</li>
                      <li class="detail__tableBlockList--li">楽天発行の割引クーポン利用の場合は、<span class="detail__tableBlockTxt--red">クーポン割引後</span>の価格が3,000 円(税込)以上の場合に対象となります。</li>
                      <li class="detail__tableBlockList--li">電話予約や直接来店での施術は対象外となります。</li>
                      <li class="detail__tableBlockList--li">ネット予約後、お客様都合や店舗都合でキャンセルになり、その後電話予約や直接来店で施術完了された場合は、ポイント進呈の対象外となります。</li>
                      <li class="detail__tableBlockList--li">ネット予約後、来店日時が変更になった場合でも、対象の来店期間内で施術完了された場合は、ポイント進呈の対象となります。</li>
                      <li class="detail__tableBlockList--li">期間内の予約・施術完了であればエントリーと予約・施術完了どちらが先でも対象となります。</li>
                    </ul>
                    <p class="detail__tableBlockTxt--space"></p>
                    <p class="detail__tableBlockTxt detail__headline">楽天証券条件</p>
                    <ul class="detail__tableBlockList--disc detail__indent">
                      <li class="detail__tableBlockList--li">条件達成期間中に NISA 口座で合計 5,000 円以上の投信積立約定</li>
                      <li class="detail__tableBlockList--li">楽天ポイントコースを設定</li>
                    </ul>
                    <ul class="detail__tableBlockList detail__indent">
                      <li class="detail__tableBlockList--li">NISA口座の「つみたて投資枠」「成長投資枠」の区分は問いません。</li>
                    </ul>
                  </td>
                </tr>
                <tr class="detail__tableBlock">
                  <th class="detail__tableBlockHead">特典内容</th>
                  <td class="detail__tableBlockBody">
                    <p class="detail__tableBlockTxt">対象条件を満たした方で、楽天ポイント100万ポイントを山分けして進呈いたします。</p>
                    <p class="detail__tableBlockTxt--space"></p>
                    <ul class="detail__tableBlockList">
                      <li class="detail__tableBlockList--li">100万ポイントを条件達成された方の人数で割り、小数点以下を切り捨てたポイント数を進呈いたします。</li>
                      <li class="detail__tableBlockList--li">条件を満たした方が100万名より多い場合は、お一人様あたり1ポイントを進呈いたします。</li>
                      <li class="detail__tableBlockList--li">条件を満たした方へのポイントは、500ポイントを上限といたします。そのため、ご参加いただいた人数によっては、100万ポイントの山分けにならない場合がございます。</li>
                      <li class="detail__tableBlockList--li">楽天ビューティのその他のキャンペーンとの併用はできません。キャンペーン期間中にその他のキャンペーンの条件を達成された場合、本キャンペーンのポイント進呈の対象外となります。<br><a class="detail__tableBlockTxt--link" href="https://beauty.rakuten.co.jp/cnt/topics/">楽天ビューティのキャンペーン一覧はこちら</a></li>
                    </ul>
                  </td>
                </tr>
                <tr class="detail__tableBlock">
                  <th class="detail__tableBlockHead">ポイント進呈予定日</th>
                  <td class="detail__tableBlockBody">
                    <p class="detail__tableBlockTxt">2024年8月末頃</p>
                    <p class="detail__tableBlockTxt">獲得した特典ポイントは、<a class="detail__tableBlockTxt--link" href="https://point.rakuten.co.jp/history/" target="_blank" rel="noopener noreferrer">楽天PointClubのポイント実績</a>でご確認いただけます。</p>
                  </td>
                </tr>
                <tr class="detail__tableBlock">
                  <th class="detail__tableBlockHead">ポイント有効期限</th>
                  <td class="detail__tableBlockBody">
                    <ul class="detail__tableBlockList--none">
                      <li class="detail__tableBlockList--li">ポイント進呈日から6ヶ月間有効な期間限定ポイントとして進呈されます。</li>
                      <li class="detail__tableBlockList--li">期間限定ポイントの詳細は<a class="detail__tableBlockTxt--link" href="https://ichiba.faq.rakuten.net/detail/000006532?scid=su_2312" target="_blank" rel="noopener noreferrer">こちら</a>をご確認ください。</li>
                    </ul>
                  </td>
                </tr>
                <tr class="detail__tableBlock">
                  <th class="detail__tableBlockHead">注意事項</th>
                  <td class="detail__tableBlockBody">
                    <p class="detail__tableBlockTxt">■ 楽天ビューティ条件についてのご注意事項</p>
                    <ul class="detail__tableBlockList">
                      <li class="detail__tableBlockList--li">楽天ビューティにて一部ネット予約が行えないサロンがございます。また、サロンの予約状況によっては、ご希望に添えない場合やお断りする場合もございます。</li>
                    </ul>
                    <p class="detail__tableBlockTxt--space"></p>
                    <p class="detail__tableBlockTxt">■ 楽天証券条件についてのご注意事項</p>
                    <ul class="detail__tableBlockList">
                      <li class="detail__tableBlockList--li">未成年口座、IFA 口座、法人口座は対象外です。</li>
                      <li class="detail__tableBlockList--li">特典付与作業中に証券総合取引口座を解約・NISA口座を閉鎖または他社のNISA口座へ金融機関変更をされている方は対象外です。</li>
                      <li class="detail__tableBlockList--li">楽天証券ラップサービス、IFAラップサービスによる投資信託の買付は対象外となります。</li>
                      <li class="detail__tableBlockList--li">個人型確定拠出年金（iDeCo）による投資信託の買付は対象外となります。</li>
                      <li class="detail__tableBlockList--li">外貨建てMMF、ETF、上場REITは対象外となります。</li>
                      <li class="detail__tableBlockList--li">本キャンペーンにエントリーする際の楽天IDと楽天証券のポイントコースに紐付けられている楽天IDが異なる場合、ポイント進呈対象外となります。</li>
                      <li class="detail__tableBlockList--li">特典進呈作業時点で証券ポイントコースに設定を変更されたお客様は対象外となります。</li>
                    </ul>
                    <p class="detail__tableBlockTxt--space"></p>
                    <p class="detail__tableBlockTxt">■ その他</p>
                    <ul class="detail__tableBlockList">
                      <li class="detail__tableBlockList--li">楽天ビューティにて一部ネット予約が行えないサロンがございます。また、サロンの予約状況によっては、ご希望に添えない場合やお断りする場合もございます。</li>
                      <li class="detail__tableBlockList--li">取得したユーザ情報は<a class="detail__tableBlockTxt--link" href="https://privacy.rakuten.co.jp/" target="_blank" rel="noopener noreferrer">個人情報保護方針</a>に基づいてお取り扱いいたします。</li>
                      <li class="detail__tableBlockList--li">楽天ビューティの掲載店舗、あるいは弊社及び楽天証券株式会社が不正と合理的に判断した場合は、特典対象から除外する場合がございます。</li>
                      <li class="detail__tableBlockList--li">キャンペーンのエントリー及び条件達成状況に関わるお問い合わせは一切お受けいたしかねますので、ご了承ください。</li>
                      <li class="detail__tableBlockList--li">「QR コード」は、株式会社デンソーウェーブの登録商標です。</li>
                      <li class="detail__tableBlockList--li">その他ご不明な点は下記よりお問い合わせください。<br><a class="detail__tableBlockTxt--link" href="https://beauty.faq.rakuten.net/user/s/" target="_blank" rel="noopener noreferrer">本キャンペーン及び楽天ビューティについて</a><br><a class="detail__tableBlockTxt--link" href="https://www.rakuten-sec.co.jp/web/support/" target="_blank" rel="noopener noreferrer">楽天証券での取引に関するお問い合わせについて</a><br>
                        <ul class="detail__tableBlockList">
                          <li class="detail__tableBlockList--li">本企画に関して楽天証券にお問い合わせの際は、「2405mk0301」のキャンペーンコードをお伝えください。</li>
                        </ul>
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>
        <section class="campaign" id="Campaign" data-ratid="cpn_security_Campaign" data-ratevent="appear" data-ratparam="all">
          <div class="titleWrap">
            <h2 class="titleWrap--title">その他のキャンペーン</h2>
          </div>
                    <script>var dirStr = 'security';</script>
                    <div class="campaignList" id="CampaignList">
                      <div class="campaignListWrap">
                        <template v-for="res in results"><a class="campaignListBox" v-bind:href="res.url" v-if="res.directory !== dirStr">
                            <div class="campaignListBanner"><img class="campaignListBannerImg" v-bind:src="res.banner" v-bind:alt="res.alt"></div>
                            <div class="campaignListTxts">
                              <ul class="campaignListMain">
                                <li class="campaignListTagBox">
                                  <template v-for="tag in res.tag">
                                    <p class="campaignListTag -pink" v-if="tag.name == 'エントリー必要' || tag.name == 'ラ・クーポン'">{{ tag.name }}</p>
                                    <p class="campaignListTag -disable" v-else-if="tag.name == 'エントリー不要'">{{ tag.name }}</p>
                                    <p class="campaignListTag" v-else>{{ tag.name }}</p>
                                  </template>
                                </li>
                                <li class="campaignListTxtBox">
                                  <template v-for="terms in res.terms">
                                    <p class="campaignListTxt">{{ terms.txt }}</p>
                                  </template>
                                </li>
                              </ul>
                              <ul class="campaignListDetail">
                                <p class="campaignListTxt -small">詳細はこちら<i class="icon-chevronRight"></i></p>
                              </ul>
                            </div></a></template>
                      </div>
                    </div>
        </section>
      </div>
    </main>
    <footer id="PC_footer">
      <ul class="global-footer__utility">
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="/cnt/topics/bp/">掲載ご希望のサロン様</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="/cnt/terms/">利用規約</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="/sitemap/">サイトマップ</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="//beauty.faq.rakuten.net/user/s/ask">お問い合わせ</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="//beauty.faq.rakuten.net/user/s/">ヘルプ</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="/cnt/topics/release/">リリース情報</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="//www.facebook.com/RakutenBeauty" target="_blank">Facebook</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="//x.com/Rakuten__BEAUTY" target="_blank">X</a></li>
      </ul>
      <div class="rc-f-standard rc-f-liquid rc-f-custom00">
        <div class="rc-f-section-content00">
          <div class="rc-f-section-bar rc-f-first">
            <div class="rc-f-inner">
              <dl class="rc-f-dl-inline-box">
                <dt class="rc-f-dl-title01 rc-f-text-em">楽天グループ</dt>
                <dd>
                  <ul class="rc-f-list-inline">
                    <li><a class="rc-f-btn" href="//www.rakuten.co.jp/sitemap/"><span>サービス一覧</span></a></li>
                    <li><a class="rc-f-btn" href="//www.rakuten.co.jp/sitemap/inquiry.html"><span>お問い合わせ一覧</span></a></li>
                  </ul>
                </dd>
              </dl>
            </div>
          </div>
          <div class="rc-f-section-bar">
            <div class="rc-f-inner">
              <dl class="rc-f-dl-inline rc-f-block">
                <dt class="rc-f-dl-title01">おすすめ</dt>
                <dd class="rc-f-text-strong" id="grpRakutenRecommend"><a href="//www.rakuten-card.co.jp/">【楽天カード】楽天ポイントが貯まるクレジットカード。年会費無料。</a></dd>
              </dl>
              <ul class="rc-f-row rc-f-row-dot rc-f-row4">
                <li class="rc-f-col rc-f-first">
                  <div class="rc-f-media rc-f-nav-item rc-f-nav-item">
                    <div class="rc-f-media-head"><a href="/rakulab/">「キレイの主役」を応援するビューティメディア</a></div>
                    <div class="rc-f-media-body">Raku Lab(ラクラボ)</div>
                  </div>
                </li>
                <li class="rc-f-col">
                  <div class="rc-f-media rc-f-nav-item rc-f-nav-item-delimit">
                    <div class="rc-f-media-head"><a href="https://brandavenue.rakuten.co.jp/">人気ブランド新作やヘア小物をGET</a></div>
                    <div class="rc-f-media-body">Rakuten Fashion</div>
                  </div>
                </li>
                <li class="rc-f-col">
                  <div class="rc-f-media rc-f-nav-item rc-f-nav-item-delimit">
                    <div class="rc-f-media-head"><a href="https://www.infoseek.co.jp/">楽天が運営するポータルサイト</a></div>
                    <div class="rc-f-media-body">Infoseekトップ</div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div id="mkdiv_footer_pitari"></div>
        <div class="rc-f-section01">
          <div class="-excludeApp" id="footerRakutenBnr"><a href="//corp.rakuten.co.jp/event/climateaction/?scid=wi_bty_gogreen_footer" target="_blank"><img class="footerRakutenBnr__img" src="//cloudinary-a.akamaihd.net/vivivi/image/upload/t_beauty,f_auto/w_150,h_40/v1/front/image/common/bnr_gogreen_pc.svg" alt="本サービスは再生可能エネルギー100%" width="150" height="40"></a></div>
          <div class="rc-f-inner">
            <ul class="rcf-list-inline rcf-list-block">
              <li><a href="//corp.rakuten.co.jp/" rel="nofollow">企業情報</a></li>
              <li><a href="//privacy.rakuten.co.jp/" rel="nofollow">個人情報保護方針</a></li>
              <li><a href="//corp.rakuten.co.jp/csr/">社会的責任[CSR]</a></li>
              <li><a href="//corp.rakuten.co.jp/careers/">採用情報</a></li>
            </ul>
            <p class="copyright">© Rakuten Group, Inc.</p>
          </div>
        </div>
      </div>
      <script type="text/javascript" src="//jp.rakuten-static.com/1/js/lib/prm_selector.js"></script>
      <script type="text/javascript" src="//jp.rakuten-static.com/1/js/grp/hdr/prm_sender.js"></script>
      <script type="text/javascript" src="//jp.rakuten-static.com/1/js/grp/ftr/js/parm_selector_footer.js"></script>
    </footer>
    <div id="SP_footer">
      <div class="c-section c-text--alignCenter">
        <ul class="c-list--inlineSmall c-section__inside">
          <li class="c-list__item"><a href="/cnt/topics/guide/">はじめての方へ</a></li>
          <li class="c-list__item"><a href="//beauty.faq.rakuten.net/user/s/ask">お問い合わせ</a></li>
          <li class="c-list__item"><a href="//beauty.faq.rakuten.net/user/s/">ヘルプ</a></li>
          <li class="c-list__item"><a href="/cnt/topics/release/">リリース情報</a></li>
          <li class="c-list__item"><a href="/cnt/terms/">利用規約</a></li>
          <li class="c-list__item"><a href="/cnt/topics/bp/">掲載ご希望のサロン様</a></li>
        </ul>
      </div>
      <div id="footer">
        <ul>
          <li><a rel="nofollow" href="//corp.rakuten.co.jp/">企業情報</a></li>
          <li><a rel="nofollow" href="//privacy.rakuten.co.jp/sp/">個人情報保護方針</a></li>
          <li><a rel="nofollow" href="//www.rakuten.co.jp/sitemap/sp/">楽天のサービス一覧</a></li>
          <li><a rel="nofollow" href="//www.rakuten.co.jp/sitemap/sp/app.html">アプリ一覧</a></li>
        </ul>
        <div id="copyright">&copy; Rakuten Group, Inc.</div>
        <div class="-excludeApp" id="footerRakutenBnr"><a href="//corp.rakuten.co.jp/event/climateaction/?scid=wi_bty_gogreen_footer" target="_blank"><img class="footerRakutenBnr__img" src="https://cloudinary-a.akamaihd.net/vivivi/image/upload/t_beauty,f_auto/w_150,h_40/v1/front/image/common/bnr_gogreen_sp.svg" alt="本サービスは再生可能エネルギー100%" width="150" height="40"></a></div>
      </div>
    </div>
    <script src="/cnt/common/js/ua-parser/ua-parser.min.js"></script>
    <script src="/cnt/common/js/ua-parser/main.js"></script>
    <script src="/cnt/common/js/smooth-scroll.min.js"></script>
    <script>
      var scroll = new SmoothScroll('a[href*="#"]');
      
    </script>
    <script src="/cnt/common/js/vue/vue.min.js" defer></script>
    <script src="/cnt/common/js/vue/axios.min.js" defer></script>
    <script src="/cnt/common/js/readjson.js?v20241224" defer></script>
    <script>
      campaignlist = true;
      
    </script>
    <script src="/cnt/common/js/cpn-parts/btn_checkbox.js" defer></script>
    <script src="js/splide.min.js" defer></script>
    <script>
      document.addEventListener( 'DOMContentLoaded', function() {
        var elms = document.getElementsByClassName( 'splide' );
        for ( var i = 0; i < elms.length; i++ ) {
          new Splide( elms[ i ] ).mount();
        }
      } );
    </script>
    <!-- RAT tag start-->
    <!-- Generic Parameter-->
    <input id="ratAccountId" type="hidden" name="rat" value="426">
    <input id="ratServiceId" type="hidden" name="rat" value="1">
    <input id="ratPageLayout" type="hidden" name="rat" value="resp">
    <input id="ratSiteSection" type="hidden" name="rat" value="cnt">
    <input id="ratPageName" type="hidden" name="rat" value="cnt">
    <input id="ratPageType" type="hidden" name="rat" value="cnt_item">
    <script type="text/javascript" src="//r.r10s.jp/com/rat/js/rat-main.js"></script>
    <!-- /RAT tag end-->
  </body>
</html>