<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  <head>
    <meta charset="UTF-8">
    <title>渋谷区・世田谷区の対象ヘアサロンのネット予約＆楽天ペイ決済で500ポイント！ | 楽天ビューティ</title>
    <meta name="viewport" content="width=1300">
    <meta name="description" content="エントリー＆渋谷区・世田谷区の対象ヘアサロンのネット予約＆楽天ペイ決済で500ポイントプレゼントキャンペーン">
    <link rel="canonical" href="https://beauty.rakuten.co.jp/cnt/topics/campaign/tokyo-pay/">
    <meta property="og:type" content="article">
    <meta property="og:site_name" content="楽天ビューティ">
    <meta property="og:url" content="https://beauty.rakuten.co.jp/cnt/topics/campaign/tokyo-pay/">
    <meta property="fb:app_id" content="461054960620939">
    <meta property="og:title" content="渋谷区・世田谷区の対象ヘアサロンのネット予約＆楽天ペイ決済で500ポイント！ | 楽天ビューティ">
    <meta property="og:description" content="エントリー＆渋谷区・世田谷区の対象ヘアサロンのネット予約＆楽天ペイ決済で500ポイントプレゼントキャンペーン">
    <meta property="og:image" content="https://beauty.rakuten.co.jp/cnt/topics/campaign/tokyo-pay/img/share.png?v20240507">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="apple-touch-icon-precomposed" href="//beauty.rakuten.co.jp/cnt/common/images/beauty_192px.png?v20180702">
    <link rel="shortcut icon" href="//jp.rakuten-static.com/1/im/ci/rakuten/favicon/pi.ico?20181001">
    <link rel="mask-icon" href="//jp.rakuten-static.com/1/im/ci/rakuten/favicon/Rakuten_SafariPin.svg?20181001" color="#ff41be">
    <link href="css/main.css?v20240507" rel="stylesheet" type="text/css">
    <link rel="dns-prefetch" href="https://cdn.rex.contents.rakuten.co.jp">
    <script>
      const ua = navigator.userAgent;
      //- viewport for Tablet
      if( ua.indexOf('iPhone') > 0 || ua.indexOf('iPod') > 0 || (ua.indexOf('Android') > 0 && ua.indexOf('Mobile') > 0) || ( ua.indexOf('windows') > 0 && ua.indexOf('phone') > 0) || ( ua.indexOf('firefox') > 0 && ua.indexOf('mobile') > 0) ) {
        document.querySelector("meta[name='viewport']").setAttribute("content", "width=device-width,initial-scale=1,user-scalable=no");
      } else if( ua.indexOf('iPad') > 0 || ua.indexOf('Android') > 0 || (ua.indexOf('windows') > 0 && ua.indexOf('touch') > 0) || ( ua.indexOf('firefox') > 0 && ua.indexOf('tablet') > 0) ) {
        document.querySelector("meta[name='viewport']").setAttribute("content", "width=1300");
      }
    </script>
  </head>
  <body>
    <noscript>
      <iframe class="txt_h vis_h" src="//www.googletagmanager.com/ns.html?id=GTM-RKLN" height="0" width="0"></iframe>
    </noscript>
    <script>
      (function(w,d,s,l,i){
      w[l]=w[l]||[];
      w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});
      var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';
      j.async=true;
      j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;
      f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-RKLN');
    </script>
    <script src="//jp.rakuten-static.com/1/grp/banner/js/create.js"></script>
    <div id="mkdiv_header_pitari"></div>
    <header class="-excludeApp" id="SP_header">
      <p id="serviceID"><a class="logo" href="/"><img src="https://beauty.rakuten.co.jp/sp/images/global/rb_logo_v201807.svg" width="74" height="40"></a></p>
    </header>
        <header id="PC_header">
          <div class="rc-h-standard">
            <noscript>
              <div class="rc-h-noscript-bar">
                <div class="rc-h-inner">
                  <p>JavaScriptが無効の為、一部のコンテンツをご利用いただけません。JavaScriptの設定を有効にしてからご利用いただきますようお願いいたします。（<a href="//ichiba.faq.rakuten.co.jp/app/answers/detail/a_id/154">設定方法</a>）</p>
                </div>
              </div>
            </noscript>
            <div class="rc-h-utility-bar">
              <div class="rc-h-inner">
                <div class="rb_wrapper">
                  <ul class="rc-h-group-nav">
                    <li id="grpNote">
                      <noscript><a href="//card.rakuten.co.jp/entry/">今すぐ2,000ポイント！</a></noscript>
                    </li>
                    <li class="rc-h-dropdown rc-h-group-dropdown"><a href="//www.rakuten.co.jp/sitemap/">楽天グループ</a>
                      <ul class="rc-h-dropdown-panel">
                        <li><a href="//books.rakuten.co.jp/?scid=wi_grp_gmx_bea_hepullbu_boo" rel="nofollow">楽天ブックス</a></li>
                        <li><a href="//hoken.rakuten.co.jp/?scid=wi_grp_gmx_bea_hepullbu_hkn" rel="nofollow">楽天の保険</a></li>
                        <li><a href="//www.infoseek.co.jp/?scid=wi_grp_gmx_bea_hepullbu_ifs" rel="nofollow">インフォシーク</a></li>
                        <li><a href="//sm.rakuten.co.jp/?scid=wi_grp_gmx_bea_hepullbu_sup&amp;xadid=wi_grp_gmx_bea_hepullbu_sup" rel="nofollow">楽天西友ネットスーパー</a></li>
                        <li><a href="//www.rakuten.co.jp/sitemap/">サービス一覧</a></li>
                      </ul>
                    </li>
                    <li><a href="//www.rakuten-life.co.jp/?scid=wi_grp_gmx_bea_hetopbu_sei" rel="nofollow">楽天生命</a></li>
                    <li><a href="//www.rakuten.co.jp/" rel="nofollow">楽天市場</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="rb_wrapper">
              <div class="rc-h-service-bar">
                <div class="rc-h-inner">
                  <div class="rc-h-site-id">
                    <p class="rc-h-logo"><a href="/"><img src="//beauty.rakuten.co.jp/images/global/rb_logo_v201807.svg" width="206" height="32" alt="Rakuten BEAUTY"></a></p>
                  </div>
                  <div class="rc-h-site-menu">
                    <div class="rc-h-menu-btns">
                      <ul class="rc-h-help-nav">
                        <li><a href="/cnt/topics/guide/">はじめての方へ</a></li>
                        <li><a href="//beauty.faq.rakuten.net/user/s/">ヘルプ</a></li>
                        <li><a href="//emagazine.rakuten.co.jp/ne?n=294" onclick="_gaq.push(['_trackEvent', 'permission', 'click', 'rbpc_header']);">お得な情報を受け取る</a></li>
                        <li><a href="/cnt/topics/bp/?l-id=rb_pc_header_bp">掲載ご希望のサロン様</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <nav id="globalNav">
            <ul class="globalNav__list c-container">
              <li class="globalNav__item"><a class="globalNav__link" href="/">美容院・ヘアサロン</a></li>
              <li class="globalNav__item"><a class="globalNav__link" href="/nail/">ネイル・まつげサロン</a></li>
              <li class="globalNav__item"><a class="globalNav__link" href="/esthe/">エステサロン</a></li>
              <li class="globalNav__item"><a class="globalNav__link" href="/relax/">リラク・マッサージサロン</a></li>
              <li class="globalNav__item"><a class="globalNav__link" href="/style/">ヘアカタログ</a></li>
              <li class="globalNav__item"><a class="globalNav__link" href="/naildesign/">ネイルカタログ</a></li>
              <li class="globalNav__item"><a class="globalNav__current" href="/cnt/topics/">キャンペーン一覧・特集</a></li>
              <li class="globalNav__item"><a class="globalNav__link" href="/rakulab/">Raku Lab</a></li>
            </ul>
          </nav>
        </header>
        <div class="c-container" id="breadcrumb">
          <ul class="c-breadcrumbs">
            <li class="c-breadcrumbs__item"><a class="c-breadcrumbs__link" href="/">楽天ビューティ</a></li>
            <li class="c-breadcrumbs__item"><a class="c-breadcrumbs__link" href="https://beauty.rakuten.co.jp/cnt/topics/">キャンペーン一覧・特集</a></li>
            <li class="c-breadcrumbs__item"><strong class="c-breadcrumbs__current">渋谷区・世田谷区の対象ヘアサロンのネット予約＆楽天ペイ決済で500ポイント！</strong></li>
          </ul>
        </div>
        <script type="application/ld+json">
           {
            "@context": "https://schema.org",
            "@type": "BreadcrumbList",
            "itemListElement": [
              {
                "@type": "ListItem",
                "position": 1,
                "name": "楽天ビューティ",
                "item": "https://beauty.rakuten.co.jp/"
              },
              {
                "@type": "ListItem",
                "position": 2,
                "name": "キャンペーン一覧・特集",
                "item": "https://beauty.rakuten.co.jp/cnt/topics/"
              },
              {
                "@type": "ListItem",
                "position": 3,
                "name": "渋谷区・世田谷区の対象ヘアサロンのネット予約＆楽天ペイ決済で500ポイント！"
              }
            ]
           }
        </script>
    <main id="content">
      <div id="Tokyopay">
        <div id="End">
                <div class="end">
                  <div class="end__icon">
                    <icon class="icon-info"></icon>
                  </div>
                  <div class="end__txt">
                    <p>このキャンペーンは終了しました</p>
                  </div>
                </div>
        </div>
        <section id="CpnTags">
                <div class="campaignTagSet">
                  <div class="campaignTagSet__wrap">
                    <div class="campaignTagSet__box">
                      <p class="campaignTag -red">エントリー必要</p>
                      <p class="campaignTag">対象サロン限定</p>
                      <p class="campaignTag">ネット予約・施術完了</p>
                      <p class="campaignTag">楽天ペイアプリでお支払い</p>
                    </div>
                  </div>
                </div>
        </section>
        <section class="main" id="Main" data-ratid="cpn_tokyo-pay_Main" data-ratevent="appear" data-ratparam="all">
          <h1 class="main__title"><img class="main__titleImg -pc" src="img/main.png?v20240507" alt="渋谷区・世田谷区の対象ヘアサロンのネット予約＆楽天ペイ決済で500ポイント！" width="1216" height="240"><img class="main__titleImg -sp" src="img/main_sp.png?v20240507" alt="渋谷区・世田谷区の対象ヘアサロンのネット予約＆楽天ペイ決済で500ポイント！" width="640" height="auto"></h1>
          <div class="main__terms">
            <div class="main__termsBox">
              <p class="main__termsTxt">対象条件：エントリーが必要／渋谷区・世田谷区内の対象ヘアサロンのみ／4,000円(税込)以上のネット予約／期間中の施術完了／<br class="-pc">楽天ペイアプリ(コード・QR払い)でのお支払い</p>
              <p class="main__termsTxtDate">対象の予約期間、施術期間：2023年11月1日(水) 0:00 ～ 2024年1月31日(水) 23:59</p>
              <p class="main__termsTxt -small">※楽天ペイアプリ内の楽天ポイントカード払い、楽天Edy、楽天カードタッチ決済、Suicaでのお支払いは、本キャンペーンの対象外となります。</p>
              <p class="main__termsTxt -small">※進呈するポイントには上限や条件があります。キャンペーン詳細は<a class="main__termsLink" href="#Detail">こちら</a></p>
            </div>
          </div>
        </section>
        <section class="entryBox" id="EntryBox">
                <div class="btnSet__link -end"><span class="btnSet__txt">キャンペーンは終了しました</span></div>
        </section>
        <section class="flow" id="Flow">
          <div class="titleWrap">
            <h2 class="titleWrap--title">キャンペーンの流れ</h2>
          </div>
          <div class="flow__wrapper">
            <ul class="flow__boxWrap">
              <li class="flow__box">
                <div class="flow__box0 -pc">
                  <p class="flow__boxTitle">Step.1</p>
                </div>
                <div class="flow__box1"><img class="flow__boxImg" src="img/img_step1.png" alt="Step1" width="200" height="200"></div>
                <div class="flow__box2">
                  <p class="flow__boxTitle -sp">Step.1</p>
                  <p class="flow__boxTxt"><a class="flow__link" href="#EntryBox">エントリー</a>する<br>（予約後でもOK！）</p>
                </div>
              </li>
              <li class="flow__box">
                <div class="flow__box0 -pc">
                  <p class="flow__boxTitle">Step.2</p>
                </div>
                <div class="flow__box1"><img class="flow__boxImg" src="img/img_step2.png" alt="Step2" width="200" height="200"></div>
                <div class="flow__box2">
                  <p class="flow__boxTitle -sp">Step.2</p>
                  <p class="flow__boxTxt"><a class="flow__link" href="#Shoplist">楽天ビューティ</a>で<br>2024年1月31日までに<br><a class="flow__link" href="#Shoplist">対象ヘアサロン</a>にネット予約・来店して施術</p>
                  <p class="flow__boxTxt -small">※4,000円(税込)以上の予約が対象</p>
                </div>
              </li>
              <li class="flow__box">
                <div class="flow__box0 -pc">
                  <p class="flow__boxTitle">Step.3</p>
                </div>
                <div class="flow__box1"><img class="flow__boxImg" src="img/img_step3.png" alt="Step3" width="200" height="200"></div>
                <div class="flow__box2">
                  <p class="flow__boxTitle -sp">Step.3</p>
                  <p class="flow__boxTxt"><a class="flow__link" href="#Download">楽天ペイアプリ<br>（コード・QR払い）</a><br class="-pc">を使って<br class="-pc">サロンでお支払い</p>
                </div>
              </li>
              <li class="flow__box">
                <div class="flow__box0 -pc">
                  <p class="flow__boxTitle">Step.4</p>
                </div>
                <div class="flow__box1"><img class="flow__boxImg" src="img/img_step4.png" alt="Step4" width="200" height="200"></div>
                <div class="flow__box2">
                  <p class="flow__boxTitle -sp">Step.4</p>
                  <p class="flow__boxTxt">条件達成で<br>楽天ポイント500ポイントプレゼント！</p>
                  <p class="flow__boxTxt -small">※2024年3月末日頃までに進呈</p>
                </div>
              </li>
            </ul>
          </div>
          <div class="flow__btn"><a class="btnSet__link" href="#Shoplist"><span class="btnSet__txt">対象ヘアサロンはこちら</span></a>
          </div>
          <ul class="flow__attentionBox">
            <li class="flow__attentionTxt">キャンペーン期間内であれば、エントリーとネット予約・施術の順番は問いません。</li>
            <li class="flow__attentionTxt">楽天ペイアプリ内の楽天ポイントカード払い、楽天Edy、楽天カードタッチ決済、Suicaでのお支払いは、本キャンペーンの対象外となります。</li>
            <li class="flow__attentionTxt">ネット予約後キャンセルされた場合、ご来店いただけなかった場合、楽天ペイアプリでお支払いいただけなかった場合は対象外となります。</li>
            <li class="flow__attentionTxt">楽天発行の割引クーポン利用の場合は、クーポン割引後の価格が4,000円（税込）以上の場合に対象となります。キャンペーン詳細は<a class="flow__link" href="#Detail">こちら</a>。</li>
          </ul>
        </section>
        <section class="download" id="Download">
          <p class="download__icon"><img class="download__img" src="img/logo_pay.svg?v20240507" alt="Rakuten Pay Logo" width="80" height="80"></p>
          <h3 class="download__title">楽天ペイアプリをダウンロード</h3>
          <div class="download__linkBox"><a class="download__link" href="https://r10.to/hM2Ene" target="_blank"><img class="download__img" src="img/btn_apple_store.svg" width="240px" height="auto"></a><a class="download__link" href="https://r10.to/h5Lq8Z" target="_blank"><img class="download__img" src="img/btn_google_play.svg" width="240px" height="auto"></a></div>
        </section>
        <div id="Shoplist" data-ratid="cpn_tokyo-pay_Shoplist" data-ratevent="appear" data-ratparam="all"></div>
        <section id="salonFilterContainer">
          <div class="is-loading" id="salonFilterSection" ref="wrapper">
            <div class="loader"></div>
            <div id="salonFilter">
              <p class="filter-__icon"><img class="filter__img" src="img/logo_rb.svg?v20240507" alt="Rakuten Beauty Logo" width="260" height="55"></p>
              <h2 class="filter-heading">渋谷区・世田谷区で楽天ペイアプリが使える<span class="-sp"><br></span>ヘアサロンはこちら！
              </h2>
              <div class="filter-select">
                <select class="filter-select__item" v-model="select1">
                  <option value="">すべてのエリア</option>
                  <option v-for="(item, index) in select1List" :value="item.name">{{ item.name }} ({{ item.count }}件)</option>
                </select>
              </div>
            </div>
                        <div id="salonList" ref="list">
                          <div class="salonList">
                            <section class="salonList__item position-relative" v-for="item, index in filterList" :key="index">
                              <div class="salonList__content">
                                <div class="salonList__cover"><img class="salonList__image" :src="&quot;//cloudinary-a.akamaihd.net/vivivi/image/upload/t_beauty,f_auto,dpr_2.0,q_auto:good/c_fill,g_auto,w_370,h_229/&quot; + item.shop_id + &quot;_01.jpg&quot; + param" rel="preload" :alt="item.shop_name"></div>
                                <div class="salonList__outline">
                                  <h3 class="salonList__salonName"><a class="salonList__link stretched-link" :href="&quot;/&quot; + item.shop_id + &quot;/?&quot; + lid">{{ item.shop_name }}</a></h3><span class="salonList__area"><i class="icon icon-location"></i>{{ item.area }}</span><span class="salonList__station"><i class="icon icon-train"></i>{{ item.station }}</span>
                                </div>
                              </div>
                            </section>
                          </div>
                        </div>
          </div>
        </section>
        <section class="couponMore" id="couponMore" data-ratid="cpn_tokyo-pay_couponMore" data-ratevent="appear" data-ratparam="all">
          <div class="couponSalon__moreBtn"><a class="couponSalon__link" href="/">全国のヘアサロンを探す<span class="couponMore__txtSmall">※キャンペーン対象外</span></a></div>
        </section>
        <section class="detail" id="Detail" data-ratid="cpn_tokyo-pay_Detail" data-ratevent="appear" data-ratparam="all">
          <div class="detailBox">
            <div class="titleWrap">
              <h2 class="titleWrap--title">キャンペーン詳細</h2>
            </div>
            <p class="detail__caption">※本キャンペーンは予告なく変更・中止される可能性がございます。</p>
            <table class="detail__table">
              <tbody>
                <tr class="detail__tableBlock">
                  <th class="detail__tableBlockHead">予約期間及び施術期間</th>
                  <td class="detail__tableBlockBody">2023年11月1日 0:00 ～ 2024年1月31日 23:59 まで</td>
                </tr>
                <tr class="detail__tableBlock">
                  <th class="detail__tableBlockHead">ポイント付与予定日</th>
                  <td class="detail__tableBlockBody">2024年3月末日頃</td>
                </tr>
                <tr class="detail__tableBlock">
                  <th class="detail__tableBlockHead">ポイント有効期限</th>
                  <td class="detail__tableBlockBody">
                    <p class="detail__tableBlockTxt">特典ポイントは、<span class="detail__tableBlockTxt--red">通常ポイント</span>で付与されます。(期間限定ポイントではございません)</p>
                    <p class="detail__tableBlockTxt">通常ポイントの有効期限については<a class="detail__tableBlockTxt--link" href="https://ichiba.faq.rakuten.net/detail/000006609">こちら</a>をご確認ください。</p>
                  </td>
                </tr>
                <tr class="detail__tableBlock">
                  <th class="detail__tableBlockHead">対象者</th>
                  <td class="detail__tableBlockBody">
                    <p class="detail__tableBlockTxt">下記の対象条件を全て満たした方が、特典の対象となります。</p>
                    <p class="detail__tableBlockTxt--space"></p>
                    <p class="detail__tableBlockTxt">＜対象条件＞</p>
                    <ul class="detail__tableBlockList--disc">
                      <li class="detail__tableBlockList--li">エントリーをされた方</li>
                      <li class="detail__tableBlockList--li">予約対象期間中に対象ヘアサロンで楽天ビューティより4,000円以上(税込)のネット予約された方</li>
                    </ul>
                    <ul class="detail__tableBlockList">
                      <li class="detail__tableBlockList--li">楽天発行の割引クーポン利用の場合は、クーポン割引「後」の価格が4,000円(税込)以上の場合に対象となります。</li>
                    </ul>
                    <ul class="detail__tableBlockList--disc">
                      <li class="detail__tableBlockList--li">対象期間内に施術完了された方</li>
                      <li class="detail__tableBlockList--li">施術後、楽天ペイアプリ(コード・QR払い・セルフ)によるお支払い</li>
                      <li class="detail__tableBlockList--li">楽天ペイアプリ内の楽天ポイントカード払い、楽天Edy、楽天カードタッチ決済、Suicaでのお支払いは、本キャンペーンの対象外となります。</li>
                    </ul>
                  </td>
                </tr>
                <tr class="detail__tableBlock">
                  <th class="detail__tableBlockHead">特典内容</th>
                  <td class="detail__tableBlockBody">
                    <p class="detail__tableBlockTxt">条件達成者様全員に500ポイントをプレゼントいたします</p>
                    <p class="detail__tableBlockTxt--space"></p>
                    <ul class="detail__tableBlockList--none">
                      <li class="detail__tableBlockList--li">進呈予定日：2024年3月末日頃までに進呈いたします</li>
                      <li class="detail__tableBlockList--li">進呈ポイント数：500ポイント</li>
                    </ul>
                    <ul class="detail__tableBlockList">
                      <li class="detail__tableBlockList--li">本特典の進呈上限はおひとり様あたり500ポイント</li>
                    </ul>
                    <ul class="detail__tableBlockList--none">
                      <li class="detail__tableBlockList--li">特典ポイントは、通常ポイントで付与されます。(期間限定ポイントではございません)</li>
                      <li class="detail__tableBlockList--li">期間中何度ご利用いただいても、500ポイントの付与となりますのでご注意ください。</li>
                      <li class="detail__tableBlockList--li">通常ポイントの有効期限については<a class="detail__tableBlockTxt--link" href="https://ichiba.faq.rakuten.net/detail/000006609">こちら</a>をご確認ください。</li>
                    </ul>
                  </td>
                </tr>
                <tr class="detail__tableBlock">
                  <th class="detail__tableBlockHead">注意事項</th>
                  <td class="detail__tableBlockBody">
                    <ul class="detail__tableBlockList">
                      <li class="detail__tableBlockList--li">エントリーするには楽天会員登録する必要があります。楽天会員でない方は、エントリーと同時に楽天会員登録(無料)ができます。</li>
                      <li class="detail__tableBlockList--li">エントリー履歴は<a class="detail__tableBlockTxt--link" href="https://oubo.rakuten.co.jp/list?spk=f1636b">こちら</a>から確認できます。</li>
                      <li class="detail__tableBlockList--li">ネット予約後キャンセルされた場合、ご来店いただけなかった場合、楽天ペイアプリでお支払いいただけなかった場合は対象外となります。</li>
                      <li class="detail__tableBlockList--li">掲載店舗、あるいは弊社が不正と合理的に判断した場合は、特典対象から除外する場合がございます。</li>
                      <li class="detail__tableBlockList--li">電話予約や直接来店の予約は対象外となります。ネット予約後、お客様都合や店舗都合でキャンセルになり、その後電話予約で施術完了された場合は、ポイント付与の対象外となります。</li>
                      <li class="detail__tableBlockList--li">ネット予約後、来店日時が変更になった場合でも、対象の施術期間内で施術完了＆楽天ペイアプリでお支払いされた場合は、ポイント付与の対象となります。</li>
                      <li class="detail__tableBlockList--li">楽天発行の割引クーポン利用の場合は、クーポン割引「後」の価格が4,000円(税込)以上の場合に対象となります。</li>
                      <li class="detail__tableBlockList--li">ネット予約後にメニューが変更になり金額が変わった場合は、変更後の金額が4,000円(税込)以上の場合にポイントが付与されます。</li>
                      <li class="detail__tableBlockList--li">ポイントを利用してネット予約された場合は、ポイント差引「前」の金額に対して、特典ポイントが計算されます。</li>
                      <li class="detail__tableBlockList--li">楽天会員から退会している、楽天会員資格を喪失している、または会員規約・利用規約等に違反している場合、特典ポイントは進呈できかねますので、あらかじめご了承ください。</li>
                      <li class="detail__tableBlockList--li">本キャンペーンに複数回エントリーされた場合でも、ポイント進呈は重複いたしません。</li>
                      <li class="detail__tableBlockList--li">本キャンペーンは予告なく中止・延長・変更する場合がございます。</li>
                      <li class="detail__tableBlockList--li">楽天グループ社員及びキャンペーンの関係者による応募は禁止とします。</li>
                    </ul>
                    <p class="detail__tableBlockTxt--space"></p>
                    <p class="detail__tableBlockTxt">＜楽天ペイアプリ支払いにおける注意事項＞</p>
                    <ul class="detail__tableBlockList">
                      <li class="detail__tableBlockList--li">本キャンペーンは楽天ペイアプリによるコード／QR／セルフでのお支払いを対象としています。下記のお支払い分は対象外となります。</li>
                    </ul>
                    <ul class="detail__tableBlockList--disc">
                      <li class="detail__tableBlockList--li">楽天ペイアプリ内の楽天ポイントカードによるお支払い分</li>
                      <li class="detail__tableBlockList--li">楽天ペイアプリ内の楽天Edyへのチャージ分、楽天Edyによるお支払い分</li>
                      <li class="detail__tableBlockList--li">楽天カードタッチ決済によるお支払い分</li>
                      <li class="detail__tableBlockList--li">楽天ペイアプリ内のSuicaへのチャージ分、Suicaによるお支払い分</li>
                      <li class="detail__tableBlockList--li">ネットでの楽天ペイのお支払い分</li>
                    </ul>
                    <ul class="detail__tableBlockList">
                      <li class="detail__tableBlockList--li">楽天ポイントカードおよび楽天ポイントカードアプリによるポイント利用は、本キャンペーンの対象外です。</li>
                      <li class="detail__tableBlockList--li">お支払いの設定に楽天カードを設定してお支払いの場合、通常進呈いたします［楽天カードご利用通常ポイント分のポイント1％］とは別に本特典を進呈いたします。</li>
                      <li class="detail__tableBlockList--li">楽天ペイアプリでのお支払いをキャンセルされた場合、キャンセル分の金額はキャンペーン対象外となります。</li>
                      <li class="detail__tableBlockList--li">楽天ペイアプリの対応機種は<a class="detail__tableBlockTxt--link" href="https://appuser-help.pay.rakuten.net/--615b1606e95a560022b0227a">こちら</a>からご確認いただけます。</li>
                      <li class="detail__tableBlockList--li">楽天ペイアプリに設定可能なカードは、楽天カード、VISA、Mastercard、JCB、American Expressのカードです。左記以外のカードは、楽天会員情報に登録されていても、楽天ペイアプリのお支払い元の選択画面には表示されません。</li>
                      <li class="detail__tableBlockList--li">楽天カード以外のJCB、American Expressのカードをお支払い元に設定した場合、一部の店舗でお支払いいただけません。</li>
                      <li class="detail__tableBlockList--li">お近くの店舗でのご利用可否は<a class="detail__tableBlockTxt--link" href="https://pay.rakuten.co.jp/shop/map/">使えるお店 地図内の各店舗ページ</a>でご確認ください。</li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>
        <section class="campaign" id="CampaignTokyo">
          <div class="titleWrap">
            <h2 class="titleWrap--title">東京都のその他のキャンペーン</h2>
          </div>
                    <script>var dirStr = 'tokyo-pay';</script>
                    <div class="campaignListTokyo" id="CampaignListTokyo">
                      <h3 class="area__title3">東京都対象キャンペーン</h3>
                      <div class="campaignListWrap">
                        <template v-for="res in results.campaign"><a class="campaignListBox" v-bind:href="res.url" v-if="res.directory !== dirStr">
                            <div class="campaignListBanner"><img class="campaignListBannerImg" v-bind:src="res.banner" v-bind:alt="res.alt"></div>
                            <div class="campaignListTxts">
                              <ul class="campaignListMain">
                                <li class="campaignListTagBox">
                                  <template v-for="tag in res.tag">
                                    <p class="campaignListTag -pink" v-if="tag.name == 'エントリー必要' || tag.name == 'ラ・クーポン'">{{ tag.name }}</p>
                                    <p class="campaignListTag -disable" v-else-if="tag.name == 'エントリー不要'">{{ tag.name }}</p>
                                    <p class="campaignListTag" v-else>{{ tag.name }}</p>
                                  </template>
                                </li>
                                <li class="campaignListTxtBox">
                                  <template v-for="terms in res.terms">
                                    <p class="campaignListTxt">{{ terms.txt }}</p>
                                  </template>
                                </li>
                              </ul>
                              <ul class="campaignListDetail">
                                <p class="campaignListTxt -small">詳細はこちら<i class="icon-chevronRight"></i></p>
                              </ul>
                            </div></a></template>
                      </div>
                      <div class="tokushuTokyo" id="TokushuTokyo" v-if="results.tokushu &amp;&amp; results.tokushu.length &gt; 0">
                        <h3 class="tokushu__title">東京都のサロン特集</h3>
                        <div class="tokushuBox"><a class="tokushuBannerBox" v-for="tok in results.tokushu" v-bind:href="tok.url">
                            <div class="tokushuBanner"><img class="tokushuBanner__img" v-bind:src="tok.banner" v-bind:alt="tok.alt"></div>
                            <div class="tokushuBox__title">{{ tok.title }}</div>
                            <div class="tokushuBox__txt">{{ tok.txt }}</div></a></div>
                      </div>
                    </div>
        </section>
      </div>
    </main>
    <footer id="PC_footer">
      <ul class="global-footer__utility">
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="/cnt/topics/bp/">掲載ご希望のサロン様</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="/cnt/terms/">利用規約</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="/sitemap/">サイトマップ</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="//beauty.faq.rakuten.net/user/s/ask">お問い合わせ</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="//beauty.faq.rakuten.net/user/s/">ヘルプ</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="/cnt/topics/release/">リリース情報</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="//www.facebook.com/RakutenBeauty" target="_blank">Facebook</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="//x.com/Rakuten__BEAUTY" target="_blank">X</a></li>
      </ul>
      <div class="rc-f-standard rc-f-liquid rc-f-custom00">
        <div class="rc-f-section-content00">
          <div class="rc-f-section-bar rc-f-first">
            <div class="rc-f-inner">
              <dl class="rc-f-dl-inline-box">
                <dt class="rc-f-dl-title01 rc-f-text-em">楽天グループ</dt>
                <dd>
                  <ul class="rc-f-list-inline">
                    <li><a class="rc-f-btn" href="//www.rakuten.co.jp/sitemap/"><span>サービス一覧</span></a></li>
                    <li><a class="rc-f-btn" href="//www.rakuten.co.jp/sitemap/inquiry.html"><span>お問い合わせ一覧</span></a></li>
                  </ul>
                </dd>
              </dl>
            </div>
          </div>
          <div class="rc-f-section-bar">
            <div class="rc-f-inner">
              <dl class="rc-f-dl-inline rc-f-block">
                <dt class="rc-f-dl-title01">おすすめ</dt>
                <dd class="rc-f-text-strong" id="grpRakutenRecommend"><a href="//www.rakuten-card.co.jp/">【楽天カード】楽天ポイントが貯まるクレジットカード。年会費無料。</a></dd>
              </dl>
              <ul class="rc-f-row rc-f-row-dot rc-f-row4">
                <li class="rc-f-col rc-f-first">
                  <div class="rc-f-media rc-f-nav-item rc-f-nav-item">
                    <div class="rc-f-media-head"><a href="/rakulab/">「キレイの主役」を応援するビューティメディア</a></div>
                    <div class="rc-f-media-body">Raku Lab(ラクラボ)</div>
                  </div>
                </li>
                <li class="rc-f-col">
                  <div class="rc-f-media rc-f-nav-item rc-f-nav-item-delimit">
                    <div class="rc-f-media-head"><a href="https://brandavenue.rakuten.co.jp/">人気ブランド新作やヘア小物をGET</a></div>
                    <div class="rc-f-media-body">Rakuten Fashion</div>
                  </div>
                </li>
                <li class="rc-f-col">
                  <div class="rc-f-media rc-f-nav-item rc-f-nav-item-delimit">
                    <div class="rc-f-media-head"><a href="https://www.infoseek.co.jp/">楽天が運営するポータルサイト</a></div>
                    <div class="rc-f-media-body">Infoseekトップ</div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div id="mkdiv_footer_pitari"></div>
        <div class="rc-f-section01">
          <div class="-excludeApp" id="footerRakutenBnr"><a href="//corp.rakuten.co.jp/event/climateaction/?scid=wi_bty_gogreen_footer" target="_blank"><img class="footerRakutenBnr__img" src="//cloudinary-a.akamaihd.net/vivivi/image/upload/t_beauty,f_auto/w_150,h_40/v1/front/image/common/bnr_gogreen_pc.svg" alt="本サービスは再生可能エネルギー100%" width="150" height="40"></a></div>
          <div class="rc-f-inner">
            <ul class="rcf-list-inline rcf-list-block">
              <li><a href="//corp.rakuten.co.jp/" rel="nofollow">企業情報</a></li>
              <li><a href="//privacy.rakuten.co.jp/" rel="nofollow">個人情報保護方針</a></li>
              <li><a href="//corp.rakuten.co.jp/csr/">社会的責任[CSR]</a></li>
              <li><a href="//corp.rakuten.co.jp/careers/">採用情報</a></li>
            </ul>
            <p class="copyright">© Rakuten Group, Inc.</p>
          </div>
        </div>
      </div>
      <script type="text/javascript" src="//jp.rakuten-static.com/1/js/lib/prm_selector.js"></script>
      <script type="text/javascript" src="//jp.rakuten-static.com/1/js/grp/hdr/prm_sender.js"></script>
      <script type="text/javascript" src="//jp.rakuten-static.com/1/js/grp/ftr/js/parm_selector_footer.js"></script>
    </footer>
    <div id="SP_footer">
      <div class="c-section c-text--alignCenter">
        <ul class="c-list--inlineSmall c-section__inside">
          <li class="c-list__item"><a href="/cnt/topics/guide/">はじめての方へ</a></li>
          <li class="c-list__item"><a href="//beauty.faq.rakuten.net/user/s/ask">お問い合わせ</a></li>
          <li class="c-list__item"><a href="//beauty.faq.rakuten.net/user/s/">ヘルプ</a></li>
          <li class="c-list__item"><a href="/cnt/topics/release/">リリース情報</a></li>
          <li class="c-list__item"><a href="/cnt/terms/">利用規約</a></li>
          <li class="c-list__item"><a href="/cnt/topics/bp/">掲載ご希望のサロン様</a></li>
        </ul>
      </div>
      <div id="footer">
        <ul>
          <li><a rel="nofollow" href="//corp.rakuten.co.jp/">企業情報</a></li>
          <li><a rel="nofollow" href="//privacy.rakuten.co.jp/sp/">個人情報保護方針</a></li>
          <li><a rel="nofollow" href="//www.rakuten.co.jp/sitemap/sp/">楽天のサービス一覧</a></li>
          <li><a rel="nofollow" href="//www.rakuten.co.jp/sitemap/sp/app.html">アプリ一覧</a></li>
        </ul>
        <div id="copyright">&copy; Rakuten Group, Inc.</div>
        <div class="-excludeApp" id="footerRakutenBnr"><a href="//corp.rakuten.co.jp/event/climateaction/?scid=wi_bty_gogreen_footer" target="_blank"><img class="footerRakutenBnr__img" src="https://cloudinary-a.akamaihd.net/vivivi/image/upload/t_beauty,f_auto/w_150,h_40/v1/front/image/common/bnr_gogreen_sp.svg" alt="本サービスは再生可能エネルギー100%" width="150" height="40"></a></div>
      </div>
    </div>
    <script src="/cnt/common/js/ua-parser/ua-parser.min.js"></script>
    <script src="/cnt/common/js/ua-parser/main.js"></script>
    <script src="/cnt/common/js/smooth-scroll.min.js"></script>
    <script>
      var scroll = new SmoothScroll('a[href*="#"]');
      
    </script>
    <script src="/cnt/common/js/vue/vue.min.js" defer></script>
    <script src="/cnt/common/js/vue/axios.min.js" defer></script>
    <script src="/cnt/common/js/readjson.js?v20240507" defer></script>
    <script>
      const campaignlisttokyo = true;
      
    </script>
    <script>const param = '?v20240507';
      const lid = 'l-id=rb_tokyo-pay_shopdetail';
      const firstSelect1 = '恵比寿・代官山・中目黒';
      const firstSelect2 = '';
      
    </script>
    <script src="js/filter-by-1column.js?v20240507" defer></script>
    <!-- RAT tag start-->
    <!-- Generic Parameter-->
    <input id="ratAccountId" type="hidden" name="rat" value="426">
    <input id="ratServiceId" type="hidden" name="rat" value="1">
    <input id="ratPageLayout" type="hidden" name="rat" value="resp">
    <input id="ratSiteSection" type="hidden" name="rat" value="cnt">
    <input id="ratPageName" type="hidden" name="rat" value="cnt">
    <input id="ratPageType" type="hidden" name="rat" value="cnt_item">
    <script type="text/javascript" src="//r.r10s.jp/com/rat/js/rat-main.js"></script>
    <!-- /RAT tag end-->
  </body>
</html>