extends ../../../../../../_common/pug/Base/_layout.pug

block init
  include ../../_data.pug
  - var currentPageName = "広島市 ベストスタイリスト一覧"
  -
    var meta = {
      title: currentPageName + " | 楽天ビューティアワード 2025",
      description: common.description,
      url: "https://beauty.rakuten.co.jp/cnt/topics/campaign/beautyaward/hiroshima/stylist/",
      og_image: "https://beauty.rakuten.co.jp/cnt/topics/campaign/beautyaward/images/ogp.jpg?v" + parameter,//- default (シェア画像があれば変更)
    }
  - var css = "../../css/main.css?v" + parameter


block addHead
  link(rel="preconnect", href="//fonts.gstatic.com")
  link(rel="stylesheet", href="//fonts.googleapis.com/css2?family=Lora:wght@700&display=swap&text=BESTALONYI0123456789o.")


block js
  //- vue（使用しない時はコメントアウト）
  script(src='/cnt/common/js/vue/vue.min.js')
  script(src='/cnt/common/js/vue/axios.min.js')

  //- json読み込み (vue)
  script(src='../../js/readjson.js?v' + parameter, defer)
  //- 読み込みたいjson名をtrueにする（ハイフン抜き）
  script.
    hiroshimastylists = true;
    //- js用パラメータ
    const param = '!{parameter}';

  //- 画像の遅延ロード
  script(src="../../js/lazysizes.min.js", defer)

  //- スクロールイベント（parallax）
  script(src="../../js/ScrollTrigger.min.js")
  script(src="../../js/list.bundle.js?v2210119", defer)


block nav
  //- grobalNav / ''に入れた部分がcurrent表示になる
  +grobalNav('/cnt/topics/')

  //- breadcrumb
  -
    var lists = [
      {
        name: 'キャンペーン一覧・特集',
        link: 'https://beauty.rakuten.co.jp/cnt/topics/',
      },
      {
        name: '楽天ビューティアワード 2025',
        link: 'https://beauty.rakuten.co.jp/cnt/topics/campaign/beautyaward/',
      },
      {
        name: currentPageName, //- タイトル以外を設定したいときは変更
        link: 'current', //- 'current' is no link
      },
    ]
  +breadcrumb(lists)

block content
  #award
    #mainVisual
      .mainVisual
        a(href="../../", class="mainVisual__logo")
          img(src="../../images/logo_award.png?v" + parameter,width="100%", height="auto", alt="楽天ビューティアワード 2025", class="mainVisual__logo__img")
        h1.mainVisual__title #{currentPageName}
        span.mainVisual__label BEST STYLIST

    #award-content
      nav.awardNav
        a(href="../../hiroshima/salon/", class="awardNav__item") BEST SALON
        p.awardNav__current BEST STYLIST

      #beststylist.container
        #beststylisthiroshima
          section.bestStylist
            .bestStylistList(v-cloak v-if="results[0]")
              div(class="bestStylistList__item" :class="['rank' + results[0].rank, {'is-open': results[0].status === 'open', 'is-close': results[0].status === 'close'}]", data-trigger-list)
                .bestStylistList__item__rank
                  | No.
                  span.bestStylistList__item__rankNum 1
                .bestStylistList__item__cover
                  img(v-if="results[0].noimage === 'on'" src="../../images/noimage.png", width="100%", height="auto", class="lazyload bestStylistList__item__coverItem", :alt="results[0].name")
                  img(v-else :data-src="'//cloudinary-a.akamaihd.net/vivivi/image/upload/t_beauty,f_auto,dpr_2.0,q_auto:good/c_fill,g_face,w_500,h_500/v' + param + '/' + results[0].id + '_01.jpg'", width="100%", height="auto", class="lazyload bestStylistList__item__coverItem", :alt="results[0].name")
                .bestStylistList__item__outline
                  p.bestStylistList__item__salon(v-if="results[0].salonStatus === 'open'")
                    a(:href="'/' + results[0].salonId + '/?l-id=rb_beautyaward-hiroshima_stylist'", class="bestStylistList__item__salonLink ignore-stretched-link") {{ results[0].salon }}
                  p.bestStylistList__item__salon(v-if="results[0].salonStatus === 'close'") {{ results[0].salon }}
                  h2.bestStylistList__item__name(v-if="results[0].status === 'open'")
                    a(:href="'/' + results[0].id + '/?l-id=rb_beautyaward-hiroshima_stylist'", class="stretched-link") {{ results[0].name }}
                  h2.bestStylistList__item__name(v-if="results[0].status === 'close'") {{ results[0].name }}
                  a(v-if="results[0].interview", :href="results[0].interview", class="bestStylistList__item__interview ignore-stretched-link")
                    | 受賞インタビュー
                    i.icon-chevronRight

            .bestStylistList(v-cloak)
              template(v-for="(res, index) in results" :key="res")
                div(v-if="index !== 0", class="bestStylistList__item" :class="['rank' + res.rank, {'is-open': res.status === 'open', 'is-close': res.status === 'close'}]", data-trigger-list)
                  .bestStylistList__item__rank
                    | No.
                    span.bestStylistList__item__rankNum {{ res.rank }}
                  .bestStylistList__item__cover
                    img(v-if="res.noimage === 'on'" src="../../images/noimage.png", width="100%", height="auto", class="lazyload bestStylistList__item__coverItem", :alt="res.name")
                    img(v-else :data-src="'//cloudinary-a.akamaihd.net/vivivi/image/upload/t_beauty,f_auto,dpr_2.0,q_auto:good/c_fill,g_face,w_500,h_500/v' + param + '/' + res.id + '_01.jpg'", width="100%", height="auto", class="lazyload bestStylistList__item__coverItem", :alt="res.name")
                  .bestStylistList__item__outline
                    p.bestStylistList__item__salon(v-if="res.salonStatus === 'open'")
                      a(:href="'/' + res.salonId + '/?l-id=rb_beautyaward-hiroshima_stylist'", class="bestStylistList__item__salonLink ignore-stretched-link") {{ res.salon }}
                    p.bestStylistList__item__salon(v-if="res.salonStatus === 'close'") {{ res.salon }}
                    h2.bestStylistList__item__name(v-if="res.status === 'open'")
                      a(:href="'/' + res.id + '/?l-id=rb_beautyaward-hiroshima_stylist'", class="stretched-link") {{ res.name }}
                    h2.bestStylistList__item__name(v-if="res.status === 'close'") {{ res.name }}
                    a(v-if="res.interview", :href="res.interview", class="bestStylistList__item__interview ignore-stretched-link")
                      | 受賞インタビュー
                      i.icon-chevronRight

    #footer-nav
      nav.backBtn
        a.backBtn__link(href="../../")
          span.backBtn__txt
            | BEAUTY AWARD
            br.-sp
            | トップに戻る
