passStr = '../../../../../'
@import passStr + '_common/stylus/Base/_init'

//------------------------------// Common - このページで使う共通設定。自由に設定可能

secondColor = #45a9bc
grayBgColor = #f7f7f7
grayTxtColor = #333333
grayTagColor = #828282
grayLineColor = #d1d1d1
redColor = #CA080B


// followBtnColor = linear-gradient(180deg, #DB3636 9.38%, #F7B633 93.12%)
backsecColor = #cf3200
stepColor = #d54f24
chineseRedColor = #d54f24
followBtnColor = #cf3200
backmainColor = #d54f24
whiteColor = #fff
blackColor = #000
xBtnColor = #FFD013

pcWidth = 1216px

//------------------------------

#X // #Pagenameはページ固有の名前に置換してください

  // 共通パーツは_common/stylus/Module/Common/_campaignParts.stylにあります
  // 各ページでカスタム使用したい場合はclass名で上書きしてください

  // common
  .textLink
    color:secondColor
    text-decoration: underline
    &:hover
      text-decoration: none
  // override
  .titleWrap
    +pc()
      margin-bottom: 24px
    +sp()
      margin-bottom: 0
  .titleWrap--info
    line-height: 1.8
    +pc()
      width: 100%
      margin-bottom: 24px
      font-size: 1.4rem
    +sp()
      width: calc(100% - 20px)
      margin: 0 auto 16px
      font-size: 1.2rem

  // main
  .main
    .main__title
      display: block
      width:750px
      margin: 0 auto
      line-height:1
      font-size:1.4rem
      text-align: center
      +sp()
        width:100%
        margin: 0 auto
      &Img
        width:100%
    .main__terms
      // display: flex
      // flex-direction: column
      // align-items: center
      text-align: center
      //
      padding: 8px 16px
      margin: 0 auto
      box-sizing: border-box
      background: grayBgColor
      +pc()
        width:750px
      .main__termsBox
        width: 100% //IE対応
        margin: 0 auto
        .main__termsTxt
          line-height 1.5
          color:grayTxtColor
          +pc()
            display: block
            font-size: 1.6rem
          +sp()
            font-size: 1.2rem
          &.-small
            display: inline-block
            color:grayTxtColor
            +pc()
              font-size: 1.4rem
            +sp()
              font-size: 1.0rem
          &.-bold
            font-weight: bold
          &.-mt8
            margin-top: 8px
        .main__termsLink
          color:secondColor
          text-decoration: underline
        .main__stepList
          display: flex
          align-items: stretch
          justify-content: center
          +pc()
            width: 780px
            margin: 10px auto
          +sp()
            width: 100%
            max-width: 800px
            margin: 16px auto
          .main__stepWrap
            position: relative
            width: 100%
            +pc()
              height: 98px
            +sp()
              height: 128px
            .main__step__container
              display: flex
              flex-direction: column
              align-items: center
              justify-content: center
              position: absolute
              top: 0
              left: 0
              z-index: 2
              width: 100%
              height: 100%
              color: whiteColor
              +sp()
                padding: 0 16px 0 8px
                box-sizing: border-box
              .main__step__title
                font-weight: bold
                +pc()
                  font-size: 1.8rem
                  line-height: 1.4
                +sp()
                  font-size: 1.4rem
                  line-height: 1.8
              .main__step__caption
                // padding: 0 8px
                word-break: break-all
                +pc()
                  font-size: 1.4rem
                  line-height: 1.5
                +sp()
                  display: flex
                  align-items: center
                  justify-content: center
                  flex-flow: column
                  height: 4.2em
                  font-size: 1.2rem
                  line-height: 1.4
                .main__step__caption__point
                  +sp()
                    display: block
                    font-weight: bold
              .main__step__icon
                height: 24px
                margin-top: 4px
            .main__step
              position: absolute
              top: 0
              left: 0
              z-index: 1
              height: 100%
              background: stepColor
              color: whiteColor
              +pc()
                width: 236px
                margin-right: 24px
              +sp()
                width: calc(100% - 16px)
                margin-right: 16px
              &::after
                position: absolute
                top: 0
                height: 100%
                background: stepColor
                content: ""
                +pc()
                  clip-path: polygon(0% 0%, 0% 100%, 100% 50%)
                  right: -24px
                  width: 24px
                +sp()
                  clip-path: polygon(-2% 0%, -2% 100%, 100% 50%)
                  right: -16px
                  width: 16px
              &.-purplecolor
                background: backsecColor
                &::after
                  background: backsecColor

  // winners
  .winners
    +pc()
      margin: 120px auto 60px
    +sp()
      width: calc(100% - 25px)
      margin: 30px auto 24px
    .winners--title
      color: black
      text-align: center
      font-weight: bold
      line-height: 1.4
      +pc()
        padding-bottom: 8px
        font-size: 2.8rem
        letter-spacing: 2px
      +sp()
        padding-bottom: 4px
        font-size: 1.4rem
        letter-spacing: 1px
    .winners__mizuhiki
      +pc()
        width: 566px
        margin: 0 auto 32px
      +sp()
        width: 283px
        margin: 0 auto 24px
    .winners__graph
      +pc()
        width: 700px
        margin: 0 auto 32px
      +sp()
        max-width: 350px
        margin: 0 auto 24px
      .winners__graph--caption
        color: chineseRedColor
        text-align: center
        font-weight: bold
        line-height: 1
        +pc()
          padding-top: 16px
          font-size: 2.8rem
        +sp()
          padding-top: 8px
          font-size: 1.4rem
        .winners__graph--caption--small
          font-weight: normal
          +pc()
            font-size: 1.8rem
          +sp()
            font-size: 1rem
    .winners--info
      text-align: center
      line-height: 1.8
      +pc()
        font-size: 1.4rem
      +sp()
        font-size: 1.2rem

  // フォローボタン
  .buttonSection
    display: flex
    align-items: center
    width: 100%
    background: whiteColor
    +sp()
      height: 75px
    @media screen and (min-width: 1247px) {
      width: 100%
      height: 120px
    }
    @media screen  and (min-width: 941px) and (max-width: 1246px) {
      width: 1246px
      height: 120px
    }
    &.-fixed
      position: fixed
      bottom: 0
      left: 0
      background: rgba(255, 255, 255, 0.5)
      backdrop-filter: blur(2px)
      text-align: center
      +pc()
        transform: translateY(120px)
      +sp()
        transform: translateY(80px)
    &.-remove-item
      z-index: -1
    &.-active
      +pc()
        right: 0
        animation: slide_active_pc 0.4s forwards
        z-index: 10
      +sp()
        animation: slide_active_sp 0.4s forwards
        z-index: 10
    &.-remove
      +pc()
        animation: slide_remove_pc 0.4s forwards
        z-index: 10
      +sp()
        animation: slide_remove_sp 0.4s forwards
        z-index: 10
    &.-remove-item.-top-remove
      +pc()
        animation: slide_remove_pc 0.4s forwards
        z-index: 10
      +sp()
        animation: slide_remove_sp 0.4s forwards
        z-index: 10
    .buttonSection__button--link
      display: inline-block
      margin: auto
      background: followBtnColor
      border-radius: 44px
      color: whiteColor
      +pc()
        width: 600px
        padding: 20px 0
        font-size: 3.6rem
        line-height: 1.3
      +sp()
        width: calc(100% - 61px)
        padding: 16px 0
        font-size: 1.8rem
        line-height: 1.5
      &:hover
        opacity: .8
      // //終了用ボタン
      // &.endButton
      //   background-color: grayTagColor
      //   color: white
      //   pointer-events: none

    @keyframes slide_active_pc {
      0% {
        transform: translateY(120px)
      }
      100% {
        transform: translateY(0)
      }
    }

    @keyframes slide_active_sp {
      0% {
        transform: translateY(80px)
      }
      100% {
        transform: translateY(0)
      }
    }

    @keyframes slide_remove_pc {
      0% {
        transform: translateY(0)
      }
      100% {
        transform: translateY(120px)
      }
    }

    @keyframes slide_remove_sp {
      0% {
        transform: translateY(0)
      }
      100% {
        transform: translateY(80px)
      }
    }

  // step
  .stepContent
    position: relative
    width: 100%
    text-align: center
    +pc()
      margin: auto
      padding: 100px 0 60px
    +sp()
      padding: 80px 0 40px
    &::after
      position: absolute
      z-index: 5
      bottom: -40px
      left: 50%
      width: 0
      height: 0
      border-style: solid
      border-color: whiteColor transparent transparent transparent
      transform: translateX(-50%)
      content: ""
      //+sp()
      //  border-width: 40px 50vw 0 50vw
      // @media screen and (min-width: 1247px) {
      //  border-width: 40px 49vw 0 49vw
      //}
      // @media screen  and (min-width: 941px) and (max-width: 1246px) {
      //  border-width: 40px 623px 0 623px
      //}
    &.-first
      +pc()
        padding-top: 40px
      +sp()
        padding-top: 24px
    &.-step2
      background:  linear-gradient(180deg, #FEF4F1 0%, #EAA38C 58%, #D54F24 100%)
      +pc()
        padding-top: 100px
      +sp()
        padding-top: 80px
      &::after
        border-color: backmainColor transparent transparent transparent
    &.-step3
      background: backsecColor
      color:white
      +pc()
        padding-top: 100px
      +sp()
        padding-top: 80px
        margin-bottom: 40px;
      &::after
        content: none
    .stepContent--title
      margin: auto
      +pc()
        width: 200px
      +sp()
        width: 40.0%
    .stepContent--text
      margin-top: 40px
      font-weight: bold
      font-size: 2rem
      line-height: 1.4
    .stepContent--lead
      margin-top: 40px
      font-weight: bold
      font-size: 2rem
      line-height: 1.4
    .stepContent--lead--info
      margin-top: 8px
      +pc()
        font-size: 1.4rem
        line-height: 1.5
      +sp()
        font-size: 1.2rem
        line-height: 1.4
    .stepContent__button
      width: 100%
      margin: 0 auto
      .stepContent__button--link
        display: inline-block
        margin: auto
        background: xBtnColor
        border-radius: 44px
        color: #6D3C07
        +pc()
          width: 600px
          padding: 20px 0
          font-size: 3.6rem
          line-height: 1.3
        +sp()
          margin: 0 16px
          padding: 16px 40px
          font-size: 1.8rem
          font-weight: 500
          line-height: 1.5
        &:hover
          opacity: .8
        // //終了用ボタン
        // &.endButton
        //   background-color: grayTagColor
        //   color: white
        //   pointer-events: none
    .stepContent__menu
      +pc()
        margin-top: 60px
      +sp()
        width: calc(100% - 32px)
        margin: 40px auto 0
      .stepContent__step
        margin: auto
        +pc()
          width: 207px
        +sp()
          width: 44.6%

      .stepContent__step--lead
        font-weight: bold
        line-height: 1.4
        +pc()
          margin-top: 40px
          font-size: 1.8rem
        +sp()
          margin-top: 24px
          font-size: 1.6rem
        .stepContent__step--lead--icon
          display: inline-block
          width: 24px
          +pc()
            padding: 2px 2px 0 1px
          +sp()
            padding: 0 2px 0 1px
      .stepContent__share__short
        +pc()
          width: 300px
          margin: 40px auto 0
        +sp()
          width: 52.4%
          margin: 24px auto 0
      .stepContent__share
        +pc()
          width: 459px
          margin: 40px auto 0
        +sp()
          width: 68.2%
          margin: 24px auto 0
    .stepContent__share__long
      +pc()
        width: 249px
        margin: 40px auto 0
      +sp()
        width: calc(100% - 122px)
        margin: 40px auto 0
    .stepContent__info
      text-align: center
      line-height: 1.8
      +pc()
        margin-top: 60px
        font-size: 1.4rem
      +sp()
        width: calc(100% - 32px)
        margin: 40px auto 0
        font-size: 1.2rem
        text-align: left
      .stepContent__info--list
        text-align: center
        +pc()
          &:nth-of-type(n+2)
            display: inline-block
    .stepContent__post
      +pc()
        width: 600px
        margin: 60px auto 0
      +sp()
        width: calc(100% - 32px)
        margin: 40px auto 0
      .stepContent__post--title
        display: inline-block
        position: relative
        font-weight: bold
        line-height: 1.4
        +pc()
          font-size: 3.6rem
        +sp()
          font-size: 2.8rem
        .stepContent__post--title--text
          display: inline-block
          position: relative
          font-weight: bold
          line-height: 1.4
          +pc()
            font-size: 3.6rem
          +sp()
            font-size: 2.8rem
          &::before
            content: "|"
            position: absolute
            top: 0
            font-weight: normal
            transform: rotate(-45deg)
            +pc()
              top: 0.5rem
              left: -2.5rem
              font-size: 2.8rem
            +sp()
              top: 0.5rem
              left: -2rem
              font-size: 2rem
          &::after
            content: "|"
            position: absolute
            top: 0
            font-weight: normal
            transform: rotate(45deg)
            +pc()
              top: 0.5rem
              right: -2.5rem
              font-size: 2.8rem
            +sp()
              top: 0.5rem
              right: -2rem
              font-size: 2rem
        .stepContent__post--title--img
          display: block
          +pc()
            width: 405px
            margin-top: 16px
          +sp()
            width: 100%
            margin-top: 14px
      .stepContent__post__summary
        margin-top: 40px
        .stepContent__post__summary--text
          font-weight: bold
          line-height: 1.4
          font-size: 2rem
          .stepContent__post__summary--emphasis
            display: inline-block
            padding-left: 2px
            color: redColor
            .stepContent__post__summary--emphasis-point
              letter-spacing: 2px
              +pc()
                font-size: 3.8rem
              +sp()
                font-size: 3rem
        .stepContent__post__summary--info
          margin-top: 8px
          font-size: 1.2rem
          line-height: 1.4
      .stepContent__post__container
        +pc()
          margin-top: 32px
        +sp()
          margin-top: 24px
        .stepContent__post__menu
          display: flex
          justify-content: center
          flex-direction: column
          +pc()
            align-items: flex-end
          +sp()
            margin: auto
          .stepContent__post__menu__list
            width: 100%
            &:first-of-type
              +pc()
                margin-bottom: 32px
              +sp()
                margin-bottom: 24px
            .stepContent__post__menu__list--text__wrap
              display: flex
              justify-content: center
              font-size: 1.8rem
              font-weight: bold
              line-height: 1.4
              .stepContent__post__menu__list--text--icon
                display: flex
                justify-content: center
                align-items: center
                position: relative
                top: 4px
                width: 18px
                height: 18px
                background: grayTxtColor
                box-sizing: border-box
                border-radius: 18px
                color: #F6B45F
                font-size: 1.2rem
                font-weight: bold
                line-height: 1.9
              .stepContent__post__menu__list--text
                padding-left: 3px
            .stepContent__post__menu__list--img
              display: block
              margin: 16px auto 0
              +pc()
                width: 252px
              +sp()
                width: calc(100% - 94px)
              &.-long
                +pc()
                  width: 342px
                  margin: 16px auto 0
              &.-min
                +pc()
                  margin: 16px auto 0                  
      .stepContent__post__contents
        background: whiteColor
        box-sizing: border-box
        +pc()
          width: 492px
          margin: 60px auto 0
          padding: 40px
        +sp()
          width: calc(100% - 8px)
          margin: 40px auto 0
          padding: 40px 24px
        .stepContent__post__contents--title
          +pc()
            width: 281px
            margin: auto
          +sp()
            width: 58.6%
            margin: auto
        .stepContent__post__contents--info
          line-height: 1.4
          font-weight: bold
          +pc()
            margin-top: 40px
            font-size: 1.8rem
            font-weight: bold
          +sp()
            margin-top: 24px
            font-size: 1.6rem
        .stepContent__post__contents__list
          display: flex
          justify-content: center
          width: 100%
          +pc()
            margin: 40px auto 0
          +sp()
            margin: 24px auto 0
          .-first
            border
          .stepContent__post__contents__list__img
            width: 100%
    .stepContent--result
      margin-top: 40px
      line-height: 1.4
      font-weight: bold
      +pc()
        font-size: 2.4rem
      +sp()
        font-size: 2rem
      .stepContent--result--text_pointnumber
        color: #EDCD59
        +pc()
          font-size: 3.6rem
        +sp()
          font-size: 3.2rem
      .stepContent--result--text_point
        color: #EDCD59
      .stepContent--result--text
        line-height: 1.4
        color: naplesYellowColor
        +pc()
          font-size: 3.0rem
        +sp()
          // display: block
          font-size: 2.0rem
    .stepContent--result--lead
      line-height: 1.4
      +pc()
        margin-top: 40px
        font-size: 1.8rem
        font-weight: bold
      +sp()
        margin-top: 24px
        font-size: 1.6rem
    .stepContent--result--caption
      +pc()
        width: 648px
        margin: 40px auto 0
      +sp()
        width: 324px
        margin: 24px auto 0
    .stepContent--result--info
      line-height: 1.8
      +pc()
        margin: 70px auto 0
        font-size: 1.4rem
      +sp()
        margin: 24px auto 0
        width: calc(100% - 32px)
        font-size: 1.2rem
      .stepContent--result--info--link
        color: #EDCD59
        text-decoration: underline
        &:hover
          text-decoration: none

  // app DL
  .app
    +pc()
      margin: 0 0 60px
    +sp()
      margin: 0 0 40px

    // app DL parts(bgColor)
    // 目立たせたい時は #FFE8E8 など推奨
    appDL(#FFE8E8)

  // Campaign Detail
  .detail
    //+pc()
    //  margin-bottom: 60px
    //+sp()
    //  margin-bottom: 40px

    .detail__tableBlockList--indent
      display: block
      padding-left: 2.7rem
      +sp()
        padding-left: 2.3rem
    .detail__tableBlockList--disc.-indent
      padding-left: 0.5rem

    // Campaign Deatail / ()の中にwidthを入れる。SPは何もしなくてもwidth:autoになる
    @import passStr + '_common/stylus/Module/Common/_campaignDetail'
    campaignDetail(pcWidth)
  
  // Other Campaign
  .campaign

    // Campaign List / ()の中にwidthを入れる。SPは何もしなくてもwidth:autoになる
    @import passStr + '_common/stylus/Module/Common/_campaignList'
    campaignList(pcWidth)
