<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  <head>
    <meta charset="UTF-8">
    <title>楽天ビューティ x 楽天ペイ サロン予約＆施術完了＋楽天ペイのコード・QR払いで抽選で1,000名様に1,000ポイント当たる！ | 楽天ビューティ</title>
    <meta name="viewport" content="width=1300">
    <meta name="description" content="楽天ビューティ x 楽天ペイ サロン予約＆施術完了＋楽天ペイのコード・QR払いで抽選で1,000名様に1,000ポイント当たる！">
    <link rel="canonical" href="https://beauty.rakuten.co.jp/cnt/topics/campaign/other/payapp/">
    <meta property="og:type" content="article">
    <meta property="og:site_name" content="楽天ビューティ">
    <meta property="og:url" content="https://beauty.rakuten.co.jp/cnt/topics/campaign/other/payapp/">
    <meta property="fb:app_id" content="461054960620939">
    <meta property="og:title" content="楽天ビューティ x 楽天ペイ サロン予約＆施術完了＋楽天ペイのコード・QR払いで抽選で1,000名様に1,000ポイント当たる！ | 楽天ビューティ">
    <meta property="og:description" content="楽天ビューティ x 楽天ペイ サロン予約＆施術完了＋楽天ペイのコード・QR払いで抽選で1,000名様に1,000ポイント当たる！">
    <meta property="og:image" content="https://beauty.rakuten.co.jp/cnt/topics/campaign/other/payapp/img/share.png?v20241224">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="apple-touch-icon-precomposed" href="//beauty.rakuten.co.jp/cnt/common/images/beauty_192px.png?v20180702">
    <link rel="shortcut icon" href="//jp.rakuten-static.com/1/im/ci/rakuten/favicon/pi.ico?20181001">
    <link rel="mask-icon" href="//jp.rakuten-static.com/1/im/ci/rakuten/favicon/Rakuten_SafariPin.svg?20181001" color="#ff41be">
    <link href="css/main.css?v20241224" rel="stylesheet" type="text/css">
    <link rel="dns-prefetch" href="https://cdn.rex.contents.rakuten.co.jp">
    <script>
      const ua = navigator.userAgent;
      //- viewport for Tablet
      if( ua.indexOf('iPhone') > 0 || ua.indexOf('iPod') > 0 || (ua.indexOf('Android') > 0 && ua.indexOf('Mobile') > 0) || ( ua.indexOf('windows') > 0 && ua.indexOf('phone') > 0) || ( ua.indexOf('firefox') > 0 && ua.indexOf('mobile') > 0) ) {
        document.querySelector("meta[name='viewport']").setAttribute("content", "width=device-width,initial-scale=1,user-scalable=no");
      } else if( ua.indexOf('iPad') > 0 || ua.indexOf('Android') > 0 || (ua.indexOf('windows') > 0 && ua.indexOf('touch') > 0) || ( ua.indexOf('firefox') > 0 && ua.indexOf('tablet') > 0) ) {
        document.querySelector("meta[name='viewport']").setAttribute("content", "width=1300");
      }
    </script>
    <link rel="stylesheet" href="css/splide.min.css">
  </head>
  <body>
    <noscript>
      <iframe class="txt_h vis_h" src="//www.googletagmanager.com/ns.html?id=GTM-RKLN" height="0" width="0"></iframe>
    </noscript>
    <script>
      (function(w,d,s,l,i){
      w[l]=w[l]||[];
      w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});
      var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';
      j.async=true;
      j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;
      f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-RKLN');
    </script>
    <script src="//jp.rakuten-static.com/1/grp/banner/js/create.js"></script>
    <div id="mkdiv_header_pitari"></div>
    <header class="-excludeApp" id="SP_header">
      <p id="serviceID"><a class="logo" href="/"><img src="https://beauty.rakuten.co.jp/sp/images/global/rb_logo_v201807.svg" width="74" height="40"></a></p>
    </header>
        <header id="PC_header">
          <div class="rc-h-standard">
            <noscript>
              <div class="rc-h-noscript-bar">
                <div class="rc-h-inner">
                  <p>JavaScriptが無効の為、一部のコンテンツをご利用いただけません。JavaScriptの設定を有効にしてからご利用いただきますようお願いいたします。（<a href="//ichiba.faq.rakuten.co.jp/app/answers/detail/a_id/154">設定方法</a>）</p>
                </div>
              </div>
            </noscript>
            <div class="rc-h-utility-bar">
              <div class="rc-h-inner">
                <div class="rb_wrapper">
                  <ul class="rc-h-group-nav">
                    <li id="grpNote">
                      <noscript><a href="//card.rakuten.co.jp/entry/">今すぐ2,000ポイント！</a></noscript>
                    </li>
                    <li class="rc-h-dropdown rc-h-group-dropdown"><a href="//www.rakuten.co.jp/sitemap/">楽天グループ</a>
                      <ul class="rc-h-dropdown-panel">
                        <li><a href="//books.rakuten.co.jp/?scid=wi_grp_gmx_bea_hepullbu_boo" rel="nofollow">楽天ブックス</a></li>
                        <li><a href="//hoken.rakuten.co.jp/?scid=wi_grp_gmx_bea_hepullbu_hkn" rel="nofollow">楽天の保険</a></li>
                        <li><a href="//www.infoseek.co.jp/?scid=wi_grp_gmx_bea_hepullbu_ifs" rel="nofollow">インフォシーク</a></li>
                        <li><a href="//sm.rakuten.co.jp/?scid=wi_grp_gmx_bea_hepullbu_sup&amp;xadid=wi_grp_gmx_bea_hepullbu_sup" rel="nofollow">楽天西友ネットスーパー</a></li>
                        <li><a href="//www.rakuten.co.jp/sitemap/">サービス一覧</a></li>
                      </ul>
                    </li>
                    <li><a href="//www.rakuten-life.co.jp/?scid=wi_grp_gmx_bea_hetopbu_sei" rel="nofollow">楽天生命</a></li>
                    <li><a href="//www.rakuten.co.jp/" rel="nofollow">楽天市場</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="rb_wrapper">
              <div class="rc-h-service-bar">
                <div class="rc-h-inner">
                  <div class="rc-h-site-id">
                    <p class="rc-h-logo"><a href="/"><img src="//beauty.rakuten.co.jp/images/global/rb_logo_v201807.svg" width="206" height="32" alt="Rakuten BEAUTY"></a></p>
                  </div>
                  <div class="rc-h-site-menu">
                    <div class="rc-h-menu-btns">
                      <ul class="rc-h-help-nav">
                        <li><a href="/cnt/topics/guide/">はじめての方へ</a></li>
                        <li><a href="//beauty.faq.rakuten.net/user/s/">ヘルプ</a></li>
                        <li><a href="//emagazine.rakuten.co.jp/ne?n=294" onclick="_gaq.push(['_trackEvent', 'permission', 'click', 'rbpc_header']);">お得な情報を受け取る</a></li>
                        <li><a href="/cnt/topics/bp/?l-id=rb_pc_header_bp">掲載ご希望のサロン様</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <nav id="globalNav">
            <ul class="globalNav__list c-container">
              <li class="globalNav__item"><a class="globalNav__link" href="/">美容院・ヘアサロン</a></li>
              <li class="globalNav__item"><a class="globalNav__link" href="/nail/">ネイル・まつげサロン</a></li>
              <li class="globalNav__item"><a class="globalNav__link" href="/esthe/">エステサロン</a></li>
              <li class="globalNav__item"><a class="globalNav__link" href="/relax/">リラク・マッサージサロン</a></li>
              <li class="globalNav__item"><a class="globalNav__link" href="/style/">ヘアカタログ</a></li>
              <li class="globalNav__item"><a class="globalNav__link" href="/naildesign/">ネイルカタログ</a></li>
              <li class="globalNav__item"><a class="globalNav__current" href="/cnt/topics/">キャンペーン一覧・特集</a></li>
              <li class="globalNav__item"><a class="globalNav__link" href="/rakulab/">Raku Lab</a></li>
            </ul>
          </nav>
        </header>
        <div class="c-container" id="breadcrumb">
          <ul class="c-breadcrumbs">
            <li class="c-breadcrumbs__item"><a class="c-breadcrumbs__link" href="/">楽天ビューティ</a></li>
            <li class="c-breadcrumbs__item"><a class="c-breadcrumbs__link" href="https://beauty.rakuten.co.jp/cnt/topics/">キャンペーン一覧・特集</a></li>
            <li class="c-breadcrumbs__item"><strong class="c-breadcrumbs__current">楽天ビューティ x 楽天ペイ サロン予約＆施術完了＋楽天ペイのコード・QR払いで抽選で1,000名様に1,000ポイント当たる！</strong></li>
          </ul>
        </div>
        <script type="application/ld+json">
           {
            "@context": "https://schema.org",
            "@type": "BreadcrumbList",
            "itemListElement": [
              {
                "@type": "ListItem",
                "position": 1,
                "name": "楽天ビューティ",
                "item": "https://beauty.rakuten.co.jp/"
              },
              {
                "@type": "ListItem",
                "position": 2,
                "name": "キャンペーン一覧・特集",
                "item": "https://beauty.rakuten.co.jp/cnt/topics/"
              },
              {
                "@type": "ListItem",
                "position": 3,
                "name": "楽天ビューティ x 楽天ペイ サロン予約＆施術完了＋楽天ペイのコード・QR払いで抽選で1,000名様に1,000ポイント当たる！"
              }
            ]
           }
        </script>
    <main id="content">
      <div id="Payapp">
        <div id="End">
                <div class="end">
                  <div class="end__icon">
                    <icon class="icon-info"></icon>
                  </div>
                  <div class="end__txt">
                    <p>このキャンペーンは終了しました</p>
                  </div>
                </div>
        </div>
        <div id="CpnTags">
                <div class="campaignTagSet">
                  <div class="campaignTagSet__wrap">
                    <div class="campaignTagSet__box">
                      <p class="campaignTag -red">エントリー必要</p>
                      <p class="campaignTag">ネット予約・施術完了</p>
                      <p class="campaignTag">条件達成</p>
                    </div>
                  </div>
                </div>
        </div>
        <section class="main" id="Main" data-ratid="cpn_payapp_Main" data-ratevent="appear" data-ratparam="all">
          <h1 class="main__title"><img class="main__titleImg -pc" src="img/main.png?v20241224" alt="楽天ビューティ x 楽天ペイ サロン予約＆施術完了＋楽天ペイのコード・QR払いで抽選で1,000名様に1,000ポイント当たる！"><img class="main__titleImg -sp" src="img/main_sp.png?v20241224" alt="楽天ビューティ x 楽天ペイ サロン予約＆施術完了＋楽天ペイのコード・QR払いで抽選で1,000名様に1,000ポイント当たる！"></h1>
          <div class="main__terms">
            <div class="main__termsBox">
              <p class="main__termsTxt">キャンペーン期間：6月24日 10:00 〜 7月24日 9:59<span class="main__termsTxt -secondary">条件達成期間：6月24日 10:00 〜 7月31日 23:59</span></p>
            </div>
          </div>
          <div class="main__step__container"><img class="-pc" src="img/step_pc.png?v20241224" width="100%" height=""><img class="-sp" src="img/step_sp.png?v20241224" width="100%" height=""></div>
          <div class="main__step__info">
            <p>※1. <span class="text--bold">3,000円(税込)以上のネット予約</span>が対象</p>
            <p>※2. 楽天ペイによる<span class="text--bold">コード・QR払い／セルフ払いで期間中の合計3,000円(税込)以上のお支払い</span>が対象</p>
            <p>※3. 楽天ビューティでの予約＆来店サロンで楽天ペイでのお支払いに加え、楽天ペイが使えるお店<br>(<a class="main__termsLink" href="https://pay.rakuten.co.jp/campaign/2020/pointprogram/rule/shop/#other_campaign" target="_blank" rel="noopener noreferrer">ポイント進呈対象外の店舗を除く</a>)でのお支払いもキャンペーン達成条件の対象となります。</p>
            <p>※本キャンペーンは予告なく変更・中止される可能性があります。</p>
            <p>※条件の達成順序は順不同です。</p>
            <p>※進呈するポイント（期間限定ポイントを含む）には上限や条件があります。キャンペーン詳細は<a class="main__termsLink" href="#Detail">こちら</a></p>
          </div>
        </section>
        <section class="navigation" id="Navigation" data-ratid="cpn_payapp_Navigation" data-ratevent="appear" data-ratparam="all">
          <ul class="global-nav">
            <li class="global-nav__list"><a class="global-nav__link" href="#Step1">エントリー</a></li>
            <li class="global-nav__list"><a class="global-nav__link" href="#Step2">達成条件</a></li>
            <li class="global-nav__list"><a class="global-nav__link -nav__position" href="#Beauty">楽天ビューティ<br class="-sp">のメリット</a></li>
            <li class="global-nav__list"><a class="global-nav__link -nav__position" href="#Pay">楽天ペイアプリ<br class="-sp">のメリット</a></li>
          </ul>
        </section>
        <div id="Step1"></div>
        <section class="entryBox" id="EntryBox" data-ratid="cpn_payapp_EntryBox" data-ratevent="appear" data-ratparam="all">
          <h2 class="contentStep--title">Step 1</h2>
          <h3 class="conditionsBox--title">まずはこちらから<br class="-sp">エントリー</h3>
          <div class="entryBox__container">
                  <div class="btnSet__link -end"><span class="btnSet__txt">エントリー期間が終了しました</span></div>
          </div>
        </section>
        <div id="Step2"></div>
        <section class="conditionsBox" id="ConditionsBox" data-ratid="cpn_payapp_ConditionsBox" data-ratevent="appear" data-ratparam="all">
          <h2 class="contentStep--title">Step 2</h2>
          <h3 class="conditionsBox--title"><a class="title-beauty" href="#ConditionsBeauty">楽天ビューティ</a>と<a class="title-pay" href="#ConditionsPay">楽天ペイ</a>の<br class="-sp">条件をどちらも達成</h3>
          <div id="ConditionsBeauty"></div>
          <article class="conditionsBox__section">
            <div class="conditionsBox__section__title-beauty"><img src="img/img_beauty_title.png?v20241224" alt="Rakuten BEAUTY" width="100%" height=""></div>
            <div class="conditionsBox__section__wrap">
              <p class="conditionsBox__section__lead">7月24日9:59までに<br class="-sp">3,000円(税込)以上のサロンネット予約<br>＆<br class="-sp">7月31日23:59までに<br class="-sp">施術完了</p>
              <ul class="conditionsBeauty__menu -pc">
                <li class="conditionsBeauty__menu--list">
                  <div class="conditionsBeauty__menu--list--icon">1</div>
                  <p class="conditionsBeauty__menu--list--lead">ご希望の条件に<br>合うサロンを検索</p><img class="conditionsBeauty__menu--list__img" src="img/img_step2_beauty_list1.png?v20241224" alt="ご希望の条件に合うサロンを検索" width="" height="100%">
                </li>
                <li class="conditionsBeauty__menu--list">
                  <div class="conditionsBeauty__menu--list--icon">2</div>
                  <p class="conditionsBeauty__menu--list--lead">日時やメニューを選択<br>して予約</p><img class="conditionsBeauty__menu--list__img" src="img/img_step2_beauty_list2.png?v20241224" alt="日時やメニューを選択して予約" width="" height="100%">
                </li>
                <li class="conditionsBeauty__menu--list">
                  <div class="conditionsBeauty__menu--list--icon">3</div>
                  <p class="conditionsBeauty__menu--list--lead">施術完了</p><img class="conditionsBeauty__menu--list__img" src="img/img_step2_beauty_list3.png?v20241224" alt="施術完了" width="" height="100%">
                </li>
              </ul>
              <div class="splide -sp">
                <div class="splide__track">
                  <ul class="splide__list conditionsBeauty__menu -sp">
                    <li class="splide__slide conditionsBeauty__menu--list">
                      <div class="conditionsBeauty__menu--list--icon">1</div>
                      <p class="conditionsBeauty__menu--list--lead">ご希望の条件に<br>合うサロンを検索</p><img class="conditionsBeauty__menu--list__img" src="img/img_step2_beauty_list1.png?v20241224" alt="ご希望の条件に合うサロンを検索" width="" height="100%">
                    </li>
                    <li class="splide__slide conditionsBeauty__menu--list">
                      <div class="conditionsBeauty__menu--list--icon">2</div>
                      <p class="conditionsBeauty__menu--list--lead">日時やメニューを選択<br>して予約</p><img class="conditionsBeauty__menu--list__img" src="img/img_step2_beauty_list2.png?v20241224" alt="日時やメニューを選択して予約" width="" height="100%">
                    </li>
                    <li class="splide__slide conditionsBeauty__menu--list">
                      <div class="conditionsBeauty__menu--list--icon">3</div>
                      <p class="conditionsBeauty__menu--list--lead">施術完了</p><img class="conditionsBeauty__menu--list__img" src="img/img_step2_beauty_list3.png?v20241224" alt="施術完了" width="" height="100%">
                    </li>
                  </ul>
                </div>
              </div>
              <div class="conditionsBox__search"><a class="conditionsBox__search--button" href="https://beauty.rakuten.co.jp/?l-id=rb_payapp_search">対象サロンの検索はこちら</a>
                <p class="conditionsBox__search--button--info">※ネット予約できるサロンが対象です。</p>
              </div>
            </div>
          </article>
          <div id="ConditionsPay"></div>
          <article class="conditionsBox__section -pay">
            <div class="conditionsBox__section__wrap">
              <div class="conditionsBox__section__title-pay"><img src="img/img_pay_title.png?v20241224" alt="R Pay 楽天ペイ" width="100%" height=""></div>
              <p class="conditionsBox__section__lead">7月31日23:59までに<br>コード・QR払い／セルフ払いで<br>期間中合計 3,000 円(税込)以上のお支払い</p>
              <p class="conditionsBox__section__info">※ 楽天ペイが使えるお店であれば（<a class="info__link" href="https://pay.rakuten.co.jp/campaign/2020/pointprogram/rule/shop/#other_campaign" target="_blank" rel="noopener noreferrer">ポイント進呈対象外の店舗</a>を除く）、サロンでのお支払以外も対象</p>
              <div class="conditionsBox__section__img"><img src="img/img_step2_pay_conditions.png?v20241224" alt="7月31日23:59までにコード・QR払い／セルフ払いで期間中合計 3,000 円(税込)以上のお支払い" width="100%" height=""></div>
              <div class="conditionsBox__section__download -pc -excludeApp">
                <div class="conditionsBox__download__lead">
                  <div class="conditionsBox__download__lead__icon"><img src="img/img_pay_icon.png?v20241224" alt="R Pay" width="100%" height=""></div>
                  <div class="conditionsBox__download__lead__text">楽天ペイアプリの<br>ダウンロードはコチラ</div>
                </div>
                <div class="conditionsBox__download__unit">
                  <div class="conditionsBox__download__app"><a href="https://r10.to/hF8RWR" target="_blank" rel="noopener noreferrer"><img src="img/img_app_button.png?v20241224" alt="App Storeからダウンロード" width="100%" height=""></a><img class="conditionsBox__download__qr" src="img/img_app_qr.png?v20241224" alt="App Storeからダウンロード" width="100%" height=""></div>
                  <div class="conditionsBox__download__googleplay"><a href="https://r10.to/hF8RjB" target="_blank" rel="noopener noreferrer"><img src="img/img_googleplay_button.png?v20241224" alt="Google Playで手に入れよう" width="100%" height=""></a><img class="conditionsBox__download__qr" src="img/img_googleplay_qr.png?v20241224" alt="App Storeからダウンロード" width="100%" height=""></div>
                </div>
              </div>
              <div class="conditionsBox__section__download -sp -excludeApp">
                <div class="conditionsBox__download__lead">
                  <div class="conditionsBox__download__lead__text">楽天ペイアプリの<br>ダウンロードはコチラ</div>
                </div>
                <div class="conditionsBox__download__unit">
                  <div class="conditionsBox__download__lead__icon"><img src="img/img_pay_icon.png?v20241224" alt="R Pay" width="100%" height=""></div>
                  <div class="conditionsBox__download__app -iphone"><a href="https://r10.to/hF8RWR" target="_blank" rel="noopener noreferrer"><img src="img/img_app_button.png?v20241224" alt="App Storeからダウンロード" width="100%" height=""></a></div>
                  <div class="conditionsBox__download__googleplay -android"><a href="https://r10.to/hF8RjB" target="_blank" rel="noopener noreferrer"><img src="img/img_googleplay_button.png?v20241224" alt="Google Playで手に入れよう" width="100%" height=""></a></div>
                </div>
                <div class="conditionsBox__download__desktop-app -desktop"><a class="conditionsBox__download__desktop-app--button" href="https://r10.to/hF8RWR" target="_blank" rel="noopener noreferrer"><img src="img/img_app_button.png?v20241224" alt="App Storeからダウンロード" width="" height="56"></a><img src="img/img_app_qr.png?v20241224" alt="App Storeからダウンロード" width="120" height=""></div>
                <div class="conditionsBox__download__desktop-app -desktop"><a class="conditionsBox__download__desktop-app--button" href="https://r10.to/hF8RjB" target="_blank" rel="noopener noreferrer"><img src="img/img_googleplay_button.png?v20241224" alt="Google Playで手に入れよう" width="" height="56"></a><img src="img/img_googleplay_qr.png?v20241224" alt="App Storeからダウンロード" width="120" height=""></div>
              </div>
              <div class="conditionsBox__section__download -sp -app">
                <div class="conditionsBox__download__desktop"><img class="conditionsBox__download__desktop--icon" src="img/img_pay_icon.png?v20241224" alt="R Pay" width="100%" height="">
                  <div class="conditionsBox__download__desktop--caption">楽天ペイアプリの<br>ダウンロードはコチラ</div>
                </div>
                <div class="conditionsBox__download__desktop--info">下記のURLをコピーしてスマートフォンのブラウザで開いてください。</div>
                <div class="conditionsBox__download__app-container__wrap">
                  <div class="conditionsBox__download__app-container">
                    <p class="conditionsBox__download__app-container--text">iPhoneをお使いの方</p>
                    <p class="conditionsBox__download__app-container--link">https://r10.to/hF8RWR</p>
                  </div>
                  <div class="conditionsBox__download__app-container">
                    <p class="conditionsBox__download__app-container--text">Androidをお使いの方</p>
                    <p class="conditionsBox__download__app-container--link">https://r10.to/hF8RjB</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="conditionsBox__section__method">
              <div class="conditionsBox__section__method__wrap">
                <div class="conditionsBox__method__title">
                  <p class="conditionsBox__method__title__text"><span class="method__text__beauty">楽天ビューティ</span>と<br class="-sp"><span class="method__text__pay">楽天ペイ</span>の条件は<br><span class="conditionsBox__method__title__text__emphasis">一度に達成できます</span></p>
                </div>
                <div class="conditionsBox__method__caption"><img src="img/img_method.png?v20241224" alt="楽天ビューティと楽天ペイの条件は一度に達成できます" width="100%" height=""></div>
                <div class="conditionsBox__method__info">
                  <p class="conditionsBox__method__info--text">楽天ビューティで予約・施術したサロンのお会計（税込3,000円以上）を楽天ペイで支払うと・・・<br>楽天ビューティと楽天ペイの条件を一度に達成することができます。</p>
                  <p class="conditionsBox__method__info--text--lead">※事前にご利用サロンで楽天ペイが使えるかご確認ください。</p>
                </div>
              </div>
            </div>
          </article>
        </section>
        <div id="Step3"></div>
        <section class="achievementBox" id="AchievementBox" data-ratid="cpn_payapp_AchievementBox" data-ratevent="appear" data-ratparam="all">
          <h2 class="contentStep--title">Step 3</h2>
          <h3 class="conditionsBox--title -achievementBox">条件達成された方の中から<br>抽選で1,000名様に<br><span class="title-achievement"><span class="title-achievement-point">1,000</span>ポイント</span>を進呈！</h3>
          <div class="achievementBox__point"><img src="img/img_step3_coin.png?v20241224" alt="条件達成された方の中から抽選で1,000名様に1,000ポイントを進呈！" width="100%" height=""></div>
          <ul class="achievementBox--info">
            <li>※ポイント進呈予定日は2024年9月末頃</li>
            <li>※進呈日から6 ヶ月間有効な期間限定ポイントとして進呈</li>
            <li>※ポイント進呈をもって当選の発表に変えさせていただきます。</li>
            <li>※進呈するポイント（期間限定ポイントを含む）には条件があります。キャンペーン詳細は<a class="info__link" href="#Detail">こちら</a></li>
          </ul>
        </section>
        <div id="Beauty"></div>
        <section class="beautyintro" id="Beautyintro" data-ratid="cpn_payapp_Beautyintro" data-ratevent="appear" data-ratparam="all">
          <article class="conditionsBox__section -beauty">
            <div class="conditionsBox--title">
              <h4>楽天ビューティのメリット</h4>
            </div>
            <div class="beautyintro__wrap">
              <div class="beautyintro__container">
                <div class="beautyintro__title">メリット1</div>
                <div class="beautyintro__lead__wrap">
                  <div class="beautyintro__lead__icon__point"><img src="img/img_beauty_value1.svg?v20241224" alt="ポイント" width="100%" height=""></div>
                  <div class="beautyintro__lead--lead">ポイントが貯まる！使える！<br class="-sp">楽天のサロン予約
                    <div class="beautyintro__lead--lead--text -pc">
                       おトクに、キレイに。楽天ビューティ。</div>
                  </div>
                </div>
                <div class="beautyintro__lead--lead--text -sp">
                   おトクに、キレイに。楽天ビューティ。</div>
                <ul class="beautyintro__menu">
                  <li class="beautyintro__menu__list"><img src="img/img_beauty_hair.png?v20241224" alt="ヘア" width="100%" height=""></li>
                  <li class="beautyintro__menu__list"><img src="img/img_beauty_nail.png?v20241224" alt="ネイル" width="100%" height=""></li>
                  <li class="beautyintro__menu__list"><img src="img/img_beauty_eyelash.png?v20241224" alt="まつげ" width="100%" height=""></li>
                  <li class="beautyintro__menu__list"><img src="img/img_beauty_esthe.png?v20241224" alt="エステ" width="100%" height=""></li>
                  <li class="beautyintro__menu__list"><img src="img/img_beauty_relax.png?v20241224" alt="リラックス" width="100%" height=""></li>
                </ul>
                <div class="beautyintro__menu--info">ヘア・ネイル・まつげ・エステ・リラク・<br class="-sp">マッサージサロンの検索・予約が可能<br>ネット予約・施術完了するたびに<br class="-sp"><span class="beautyintro__menu--info--bold">100円につき1ポイント</span>が貯まる！</div>
              </div>
              <div class="beautyintro__container">
                <div class="beautyintro__title">メリット2</div>
                <div class="beautyintro__lead__wrap">
                  <div class="beautyintro__lead__icon__deal"><img src="img/img_beauty_value2.png?v20241224" alt="ポイント" width="100%" height=""></div>
                  <div class="beautyintro__lead--lead">ポイント高還元<br class="-sp">メニューも豊富！
                    <div class="beautyintro__lead--lead--text -pc">
                       スーパーDEALメニューでさらにおトクにサロンを予約！</div>
                  </div>
                </div>
                <div class="beautyintro__lead--lead--text -sp">
                   スーパーDEALメニューでさらに<br class="-sp">おトクにサロンを予約！</div>
                <div class="beautyintro__menu__img"><img class="-pc" src="img/img_beauty_deal_pc.png?v20241224" alt="スーパーDEAL メニュー" width="100%" height=""><img class="-sp" src="img/img_beauty_deal_sp.png?v20241224" alt="スーパーDEAL メニュー" width="100%" height=""></div>
                <div class="beautyintro__menu__button__wrap"><a class="beautyintro__menu__button" href="https://beauty.rakuten.co.jp/cnt/topics/campaign/superdeal/?l-id=rb_payapp_deal">スーパーDEALメニューをみる</a></div>
              </div>
              <div class="beautyintro__container">
                <div class="beautyintro__title">メリット3</div>
                <div class="beautyintro__lead__wrap">
                  <div class="beautyintro__lead__icon__appicon"><img src="img/img_beauty_value3.svg?v20241224" alt="" width="100%" height=""></div>
                  <div class="beautyintro__lead--lead">アプリから予約で<br class="-sp">次回もポイントアップ</div>
                </div>
                <div class="beautyintro__lead--lead--info">※本キャンペーンとは併用不可となりますのでご注意ください。<br>※下記のキャンペーンはエントリーが必要です。<br>※詳細はキャンペーンページをご確認ください。</div>
                <div class="beautyintro__menu__app__wrap"><a class="beautyintro__menu__app__banner" href="https://beauty.rakuten.co.jp/cnt/topics/campaign/app2x/?l-id=rb_payapp_app2x"><img src="../../../../common/banner/campaign/bnr_common_640x160.png?v20241224" alt="アプリから予約でポイント最大3倍" width="100%" height=""></a></div>
                <div class="beautyintro__menu__app__link__wrap -excludeApp">
                  <ul class="beautyintro__menu__app__article -pc">
                    <li class="beautyintro__menu__app__img"><img src="img/img_app2x_info.png?v20241224" width="100%" height=""></li>
                    <li class="beautyintro__menu__app__qr">
                      <p class="beautyintro__menu__app__qr--text">ダウンロードはこちら</p><img class="beautyintro__menu__app__qr__img" src="img/img_app2x_qr.png?v20241224" alt="qrコード" width="100%" height="">
                    </li>
                  </ul><a class="beautyintro__menu__app__button -excludeApp -sp -iphone" href="https://app.adjust.com/1apl4ucs" target="_blank" rel="noopener noreferrer"><img src="img/img_app_button.png?v20241224" alt="App Storeからダウンロード" width="100%" height=""></a><a class="beautyintro__menu__app__button -excludeApp -sp -android" href="https://app.adjust.com/1apl4ucs" target="_blank" rel="noopener noreferrer"><img src="img/img_googleplay_button.png?v20241224" alt="Google Playからダウンロード" width="100%" height=""></a>
                </div>
              </div>
            </div>
          </article>
        </section>
        <div id="Pay"></div>
        <section class="payappintro" id="Payappintro" data-ratid="cpn_payapp_Payappintro" data-ratevent="appear" data-ratparam="all">
          <article class="payappintro__section">
            <div class="payappintro--title">
              <h4>楽天ペイアプリのメリット</h4>
            </div>
            <div class="payappintro__contents__wrap">
              <div class="payappintro__contents--title">楽天ペイアプリは楽天ポイント<br class="-sp">が<br class="-pc">suicaや街のお店で<br class="-sp"><span class="payappintro__contents--title--red">使える・貯まる</span><br class="-sp">お得なスマホ決済アプリです</div>
              <div class="payappintro__contents__section">
                <div class="payappintro__contents__charge"><img class="payappintro__contents--title--charge-icon -pc" src="img/img_payappintro_change_left_pc.svg?v20241224" width="100%" height=""><img class="payappintro__contents--title--charge-icon -sp" src="img/img_payappintro_change_left_sp.svg?v20241224" width="100%" height="">
                  <h4 class="payappintro__contents__section--title">Suicaチャージでポイント貯まる!</h4><img class="payappintro__contents--title--charge-icon -pc" src="img/img_payappintro_change_right_pc.svg?v20241224" width="100%" height=""><img class="payappintro__contents--title--charge-icon -sp" src="img/img_payappintro_change_right_sp.svg?v20241224" width="100%" height="">
                  <div class="payappintro__contents__charge__container"><a class="payappintro__contents__charge__banner" href="https://pay.rakuten.co.jp/topics/suica/" target="_blank" rel="noopener noreferrer"><img src="img/img_bnr_suica.jpg?v20241224" alt="ポイントが貯まる・使える Suicaへのチャージは楽天ペイ ※条件あり" width="100%" height=""></a>
                    <div class="payappintro__contents__charge__lead">
                       楽天ペイアプリ経由での<br>チャージに変えるだけでお得に</div><a class="payappintro__contents--button" href="https://pay.rakuten.co.jp/topics/suica/" target="_blank" rel="noopener noreferrer">詳しくはこちら</a>
                  </div>
                </div>
                <div class="payappintro__contents__back"><img class="payappintro__contents--title--back-icon -pc" src="img/img_payappintro_back_left_pc.svg?v20241224" width="100%" height=""><img class="payappintro__contents--title--back-icon -sp" src="img/img_payappintro_back_left_sp.svg?v20241224" width="100%" height="">
                  <h4 class="payappintro__contents__section--title">お支払いに1ポイントから使えて<br>さらに1％分戻ってくる</h4><img class="payappintro__contents--title--back-icon -pc" src="img/img_payappintro_back_right_pc.svg?v20241224" width="100%" height=""><img class="payappintro__contents--title--back-icon -sp" src="img/img_payappintro_back_right_sp.svg?v20241224" width="100%" height="">
                  <div class="payappintro__contents__back__img"><img src="img/img_bnr_point.png?v20241224" alt="期間限定ポイントも対象" width="100%" height=""></div>
                  <div class="payappintro__contents__back__btn"><a class="payappintro__contents--button" href="https://pay.rakuten.co.jp/guide/about_point/#point-setting" target="_blank" rel="noopener noreferrer">ポイント利用方法</a>
                    <ul class="payappintro__contents__back__btn--info">
                      <li>※楽天ポイントを用いたコード・QR・セルフ払いに対し100円（税込）につき1ポイント（1%）が翌日に進呈されます。</li>
                      <li>※「コード・QR払い」タブでのポイント利用のみ。「ポイントカード」タブでのポイント利用は還元の対象外となります。</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </section>
        <section class="detail" id="Detail" data-ratid="cpn_payapp_Detail" data-ratevent="appear" data-ratparam="all">
          <div class="detailBox">
            <div class="titleWrap">
              <h2 class="titleWrap--title">キャンペーン詳細</h2>
            </div>
            <p class="detail__caption">※本キャンペーンは予告なく変更・中止される可能性がございます。</p>
            <table class="detail__table">
              <tbody>
                <tr class="detail__tableBlock">
                  <th class="detail__tableBlockHead">エントリー・予約期間</th>
                  <td class="detail__tableBlockBody">2024年6月24日(月)10:00 ～ 2024年7月24日(水)9:59まで</td>
                </tr>
                <tr class="detail__tableBlock">
                  <th class="detail__tableBlockHead">条件達成期間</th>
                  <td class="detail__tableBlockBody">2024年6月24日(月)10:00 ～ 2024年7月31日(水)23:59まで</td>
                </tr>
                <tr class="detail__tableBlock">
                  <th class="detail__tableBlockHead">対象者</th>
                  <td class="detail__tableBlockBody">
                    <p class="detail__tableBlockTxt">下記の対象条件を全て満たした方が、特典の対象となります。</p>
                    <p class="detail__tableBlockTxt">条件の達成は順不同です。</p>
                    <p class="detail__tableBlockTxt--space"></p>
                    <p class="detail__tableBlockTxt">＜対象条件＞</p>
                    <ul class="detail__tableBlockList--disc">
                      <li class="detail__tableBlockList--li">エントリーをされた方</li>
                    </ul>
                    <ul class="detail__tableBlockList">
                      <li class="detail__tableBlockList--li">エントリーには楽天会員登録が必要です。楽天会員でない方は、エントリーと同時に楽天会員登録(無料)ができます。</li>
                      <li class="detail__tableBlockList--li">エントリー履歴は<a class="detail__tableBlockTxt--link" href="https://oubo.rakuten.co.jp/list?spk=f1636b" target="_blank" rel="noopener noreferrer">こちら</a>から確認できます。</li>
                    </ul>
                    <p class="detail__tableBlockTxt--space"></p>
                    <ul class="detail__tableBlockList--disc">
                      <li class="detail__tableBlockList--li">下記の楽天ビューティと楽天ペイアプリの条件をどちらも達成された方</li>
                    </ul>
                    <p class="detail__tableBlockTxt detail__headline">楽天ビューティ条件</p>
                    <ul class="detail__tableBlockList--disc detail__indent">
                      <li class="detail__tableBlockList--li">予約期間中に楽天ビューティで3,000円以上(税込)ネット予約</li>
                      <li class="detail__tableBlockList--li">条件達成期間中に施術完了</li>
                    </ul>
                    <ul class="detail__tableBlockList detail__indent">
                      <li class="detail__tableBlockList--li">ネット予約後キャンセルされた場合、ご来店いただけなかった場合は対象外となります。</li>
                      <li class="detail__tableBlockList--li">楽天発行の割引クーポン利用の場合は、<span class="detail__tableBlockTxt--red">クーポン割引後</span>の価格が3,000円(税込)以上の場合に対象となります。</li>
                      <li class="detail__tableBlockList--li">電話予約や直接来店での施術は対象外となります。</li>
                      <li class="detail__tableBlockList--li">ネット予約後、お客様都合や店舗都合でキャンセルになり、その後電話予約や直接来店で施術完了された場合は、ポイント進呈の対象外となります。</li>
                      <li class="detail__tableBlockList--li">ネット予約後、来店日時が変更になった場合でも、対象の来店期間内で施術完了された場合は、ポイント進呈の対象となります。</li>
                      <li class="detail__tableBlockList--li">期間内の予約・施術完了であればエントリーと予約・施術完了どちらが先でも対象となります。</li>
                    </ul>
                    <p class="detail__tableBlockTxt--space"></p>
                    <p class="detail__tableBlockTxt detail__headline">楽天ペイアプリ条件</p>
                    <ul class="detail__tableBlockList--disc detail__indent">
                      <li class="detail__tableBlockList--li">条件達成期間中に対象店舗にて楽天ペイのコード／QR／セルフ払いで期間中合計3,000円（税込）以上お支払いをした方<br>【対象店舗】<br>楽天ペイのコード／QR／セルフでのお支払いが可能な店舗</li>
                    </ul>
                    <ul class="detail__tableBlockList detail__indent">
                      <li class="detail__tableBlockList--li">一部店舗でのご利用分はポイント進呈対象外となります。詳しくは必ず<a class="detail__tableBlockTxt--link" href="https://pay.rakuten.co.jp/campaign/2020/pointprogram/rule/shop/#other_campaign" target="_blank" rel="noopener noreferrer">こちら</a>からご確認ください。</li>
                      <li class="detail__tableBlockList--li">楽天ペイアプリでお支払い後に、楽天ペイアプリ上で表示される獲得予定ポイントには、本キャンペーンで進呈するポイントは反映されません。</li>
                      <li class="detail__tableBlockList--li">楽天ペイアプリでのお支払いをキャンセルされた場合、キャンセル分の金額はキャンペーン対象外となります。</li>
                      <li class="detail__tableBlockList--li">お支払いの設定に楽天カードを設定してお支払いの場合、通常通りの基準にてポイントを進呈いたします。さらに、［楽天カードご利用通常ポイント分のポイント1％］とは別に、本特典を進呈いたします。</li>
                    </ul>
                  </td>
                </tr>
                <tr class="detail__tableBlock">
                  <th class="detail__tableBlockHead">特典内容</th>
                  <td class="detail__tableBlockBody">
                    <p class="detail__tableBlockTxt">抽選で1,000名様に楽天ポイント1,000ポイントが進呈されます。</p>
                    <p class="detail__tableBlockTxt--space"></p>
                    <ul class="detail__tableBlockList">
                      <li class="detail__tableBlockList--li">楽天ビューティのその他のキャンペーンとの併用はできません。キャンペーン期間中にその他のキャンペーンの条件を達成された場合、本キャンペーンのポイント進呈の対象外となります。<br><a class="detail__tableBlockTxt--link" href="https://beauty.rakuten.co.jp/cnt/topics/">楽天ビューティのキャンペーン一覧はこちら</a></li>
                    </ul>
                  </td>
                </tr>
                <tr class="detail__tableBlock">
                  <th class="detail__tableBlockHead">ポイント進呈予定日</th>
                  <td class="detail__tableBlockBody">
                    <p class="detail__tableBlockTxt">2024年9月末頃</p>
                    <p class="detail__tableBlockTxt--space"></p>
                    <ul class="detail__tableBlockList">
                      <li class="detail__tableBlockList--li">ポイント進呈をもって、当選の発表に変えさせていただきます。</li>
                      <li class="detail__tableBlockList--li">獲得した特典ポイントは、<a class="detail__tableBlockTxt--link" href="https://point.rakuten.co.jp/history/" target="_blank" rel="noopener noreferrer">楽天PointClubのポイント実績</a>でご確認いただけます。</li>
                    </ul>
                    <p class="detail__tableBlockTxt">当選に関わる個別のお問い合わせについては、対応しておりません。</p>
                  </td>
                </tr>
                <tr class="detail__tableBlock">
                  <th class="detail__tableBlockHead">ポイント有効期限</th>
                  <td class="detail__tableBlockBody">
                    <ul class="detail__tableBlockList--none">
                      <li class="detail__tableBlockList--li">ポイント進呈日から6ヶ月間有効な期間限定ポイントとして進呈されます。</li>
                      <li class="detail__tableBlockList--li">期間限定ポイントの詳細は<a class="detail__tableBlockTxt--link" href="https://ichiba.faq.rakuten.net/detail/000006532?scid=su_2312" target="_blank" rel="noopener noreferrer">こちら</a>をご確認ください。</li>
                    </ul>
                  </td>
                </tr>
                <tr class="detail__tableBlock">
                  <th class="detail__tableBlockHead">注意事項</th>
                  <td class="detail__tableBlockBody">
                    <p class="detail__tableBlockTxt">■ 楽天ビューティ条件についてのご注意事項</p>
                    <ul class="detail__tableBlockList">
                      <li class="detail__tableBlockList--li">一部ネット予約が行えないサロンがございます。また、サロンの予約状況によっては、ご希望に添えない場合やお断りする場合もございます。</li>
                    </ul>
                    <p class="detail__tableBlockTxt--space"></p>
                    <p class="detail__tableBlockTxt">■ 楽天ペイアプリ条件についてのご注意事項</p>
                    <ul class="detail__tableBlockList">
                      <li class="detail__tableBlockList--li">楽天ペイアプリの対応機種は<a class="detail__tableBlockTxt--link" href="https://appuser-help.pay.rakuten.net/--615b1606e95a560022b0227a" target="_blank" rel="noopener noreferrer">こちら</a>からご確認いただけます。</li>
                      <li class="detail__tableBlockList--li">楽天ペイアプリに設定可能なカードは、楽天カード、VISA、Mastercard、JCB、American Express のカードです。こちら以外のカードは、楽天会員情報に登録されていても、楽天ペイアプリのお支払い元の選択画面には表示されません。</li>
                      <li class="detail__tableBlockList--li">楽天カード以外のJCB、AmericanExpressのカードをお支払い元に設定した場合、一部の店舗でお支払いいただけません。</li>
                      <li class="detail__tableBlockList--li">お近くの店舗でのご利用可否については、<a class="detail__tableBlockTxt--link" href="https://pay.rakuten.co.jp/shop/map/" target="_blank" rel="noopener noreferrer">使えるお店 地図</a>内の各店舗ページでご確認ください。</li>
                    </ul>
                    <p class="detail__tableBlockTxt--space"></p>
                    <p class="detail__tableBlockTxt">■ その他</p>
                    <ul class="detail__tableBlockList">
                      <li class="detail__tableBlockList--li">メンテナンス等でキャンペーンにご参加いただけない場合がございます。</li>
                      <li class="detail__tableBlockList--li">本サービスへのアクセス集中や通信回線の状態による遅延、不具合などにより本サービスへのアクセスや登録・表示などができないことにより発生した障害、または起因して発生したすべての事象に関しましては、当社の責めに帰すべき場合を除き、責任を負いかねます。</li>
                      <li class="detail__tableBlockList--li">楽天会員から退会、楽天会員資格を喪失、または会員規約・利用規約等に違反している場合、特典は進呈できかねますので、あらかじめご了承ください。</li>
                      <li class="detail__tableBlockList--li">本ページをアプリでご覧の際、一部のリンク先が表示されない場合があります。大変お手数ですが、推奨環境にてご覧ください。</li>
                      <li class="detail__tableBlockList--li">本キャンペーンのポイント進呈対象者は、同時期に行われている他のキャンペーンの対象から除外、または景品総額が景品表示法上の範囲内に制限される場合がございます。あらかじめご了承ください。</li>
                      <li class="detail__tableBlockList--li">本キャンペーンの参加にかかる費用（通信費等含む）は、お客さまのご負担となりますので、あらかじめご了承ください。</li>
                      <li class="detail__tableBlockList--li">天災地変や大規模システム障害などの影響により、実施または継続が困難と弊社が判断した場合、予告なくキャンペーンを中止する場合がございます。あらかじめご了承ください。</li>
                      <li class="detail__tableBlockList--li">楽天グループの役職員及び関係者（業務委託・派遣社員・パートナースタッフ・アルバイト含む）は本キャンペーンに参加できません。</li>
                      <li class="detail__tableBlockList--li">取得したユーザ情報は<a class="detail__tableBlockTxt--link" href="https://privacy.rakuten.co.jp/" target="_blank" rel="noopener noreferrer">個人情報保護方針</a>に基づいてお取り扱いいたします。</li>
                      <li class="detail__tableBlockList--li">掲載店舗、あるいは弊社及び楽天ペイメント株式会社が不正と合理的に判断した場合は、特典対象から除外する場合がございます。</li>
                      <li class="detail__tableBlockList--li">キャンペーンのエントリー及び条件達成状況に関わるお問い合わせは一切お受けいたしかねますので、ご了承ください。</li>
                      <li class="detail__tableBlockList--li">「QRコード」は、株式会社デンソーウェーブの登録商標です。</li>
                      <li class="detail__tableBlockList--li">その他ご不明な点は下記よりお問い合わせください。<br><a class="detail__tableBlockTxt--link" href="https://beauty.faq.rakuten.net/user/s/" target="_blank" rel="noopener noreferrer">本キャンペーン及び楽天ビューティについて</a><br><a class="detail__tableBlockTxt--link" href="https://appuser-help.pay.rakuten.net/" target="_blank" rel="noopener noreferrer">楽天ペイについて</a><br>
                        <ul class="detail__tableBlockList">
                          <li class="detail__tableBlockList--li">本企画に関して楽天ペイメントにお問い合わせの際は、「22998」のキャンペーンコードをお伝えください。</li>
                        </ul>
                      </li>
                      <li class="detail__tableBlockList--li">本キャンペーンは楽天グループ株式会社「楽天ビューティ」が主催しているものであり、Apple Inc., Apple Japan合同会社によるものではありません。</li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>
        <section class="campaign" id="Campaign" data-ratid="cpn_payapp_Campaign" data-ratevent="appear" data-ratparam="all">
          <div class="titleWrap">
            <h2 class="titleWrap--title">その他のキャンペーン</h2>
          </div>
                    <script>var dirStr = 'payapp';</script>
                    <div class="campaignList" id="CampaignList">
                      <div class="campaignListWrap">
                        <template v-for="res in results"><a class="campaignListBox" v-bind:href="res.url" v-if="res.directory !== dirStr">
                            <div class="campaignListBanner"><img class="campaignListBannerImg" v-bind:src="res.banner" v-bind:alt="res.alt"></div>
                            <div class="campaignListTxts">
                              <ul class="campaignListMain">
                                <li class="campaignListTagBox">
                                  <template v-for="tag in res.tag">
                                    <p class="campaignListTag -pink" v-if="tag.name == 'エントリー必要' || tag.name == 'ラ・クーポン'">{{ tag.name }}</p>
                                    <p class="campaignListTag -disable" v-else-if="tag.name == 'エントリー不要'">{{ tag.name }}</p>
                                    <p class="campaignListTag" v-else>{{ tag.name }}</p>
                                  </template>
                                </li>
                                <li class="campaignListTxtBox">
                                  <template v-for="terms in res.terms">
                                    <p class="campaignListTxt">{{ terms.txt }}</p>
                                  </template>
                                </li>
                              </ul>
                              <ul class="campaignListDetail">
                                <p class="campaignListTxt -small">詳細はこちら<i class="icon-chevronRight"></i></p>
                              </ul>
                            </div></a></template>
                      </div>
                    </div>
        </section>
      </div>
    </main>
    <footer id="PC_footer">
      <ul class="global-footer__utility">
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="/cnt/topics/bp/">掲載ご希望のサロン様</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="/cnt/terms/">利用規約</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="/sitemap/">サイトマップ</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="//beauty.faq.rakuten.net/user/s/ask">お問い合わせ</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="//beauty.faq.rakuten.net/user/s/">ヘルプ</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="/cnt/topics/release/">リリース情報</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="//www.facebook.com/RakutenBeauty" target="_blank">Facebook</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="//x.com/Rakuten__BEAUTY" target="_blank">X</a></li>
      </ul>
      <div class="rc-f-standard rc-f-liquid rc-f-custom00">
        <div class="rc-f-section-content00">
          <div class="rc-f-section-bar rc-f-first">
            <div class="rc-f-inner">
              <dl class="rc-f-dl-inline-box">
                <dt class="rc-f-dl-title01 rc-f-text-em">楽天グループ</dt>
                <dd>
                  <ul class="rc-f-list-inline">
                    <li><a class="rc-f-btn" href="//www.rakuten.co.jp/sitemap/"><span>サービス一覧</span></a></li>
                    <li><a class="rc-f-btn" href="//www.rakuten.co.jp/sitemap/inquiry.html"><span>お問い合わせ一覧</span></a></li>
                  </ul>
                </dd>
              </dl>
            </div>
          </div>
          <div class="rc-f-section-bar">
            <div class="rc-f-inner">
              <dl class="rc-f-dl-inline rc-f-block">
                <dt class="rc-f-dl-title01">おすすめ</dt>
                <dd class="rc-f-text-strong" id="grpRakutenRecommend"><a href="//www.rakuten-card.co.jp/">【楽天カード】楽天ポイントが貯まるクレジットカード。年会費無料。</a></dd>
              </dl>
              <ul class="rc-f-row rc-f-row-dot rc-f-row4">
                <li class="rc-f-col rc-f-first">
                  <div class="rc-f-media rc-f-nav-item rc-f-nav-item">
                    <div class="rc-f-media-head"><a href="/rakulab/">「キレイの主役」を応援するビューティメディア</a></div>
                    <div class="rc-f-media-body">Raku Lab(ラクラボ)</div>
                  </div>
                </li>
                <li class="rc-f-col">
                  <div class="rc-f-media rc-f-nav-item rc-f-nav-item-delimit">
                    <div class="rc-f-media-head"><a href="https://brandavenue.rakuten.co.jp/">人気ブランド新作やヘア小物をGET</a></div>
                    <div class="rc-f-media-body">Rakuten Fashion</div>
                  </div>
                </li>
                <li class="rc-f-col">
                  <div class="rc-f-media rc-f-nav-item rc-f-nav-item-delimit">
                    <div class="rc-f-media-head"><a href="https://www.infoseek.co.jp/">楽天が運営するポータルサイト</a></div>
                    <div class="rc-f-media-body">Infoseekトップ</div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div id="mkdiv_footer_pitari"></div>
        <div class="rc-f-section01">
          <div class="-excludeApp" id="footerRakutenBnr"><a href="//corp.rakuten.co.jp/event/climateaction/?scid=wi_bty_gogreen_footer" target="_blank"><img class="footerRakutenBnr__img" src="//cloudinary-a.akamaihd.net/vivivi/image/upload/t_beauty,f_auto/w_150,h_40/v1/front/image/common/bnr_gogreen_pc.svg" alt="本サービスは再生可能エネルギー100%" width="150" height="40"></a></div>
          <div class="rc-f-inner">
            <ul class="rcf-list-inline rcf-list-block">
              <li><a href="//corp.rakuten.co.jp/" rel="nofollow">企業情報</a></li>
              <li><a href="//privacy.rakuten.co.jp/" rel="nofollow">個人情報保護方針</a></li>
              <li><a href="//corp.rakuten.co.jp/csr/">社会的責任[CSR]</a></li>
              <li><a href="//corp.rakuten.co.jp/careers/">採用情報</a></li>
            </ul>
            <p class="copyright">© Rakuten Group, Inc.</p>
          </div>
        </div>
      </div>
      <script type="text/javascript" src="//jp.rakuten-static.com/1/js/lib/prm_selector.js"></script>
      <script type="text/javascript" src="//jp.rakuten-static.com/1/js/grp/hdr/prm_sender.js"></script>
      <script type="text/javascript" src="//jp.rakuten-static.com/1/js/grp/ftr/js/parm_selector_footer.js"></script>
    </footer>
    <div id="SP_footer">
      <div class="c-section c-text--alignCenter">
        <ul class="c-list--inlineSmall c-section__inside">
          <li class="c-list__item"><a href="/cnt/topics/guide/">はじめての方へ</a></li>
          <li class="c-list__item"><a href="//beauty.faq.rakuten.net/user/s/ask">お問い合わせ</a></li>
          <li class="c-list__item"><a href="//beauty.faq.rakuten.net/user/s/">ヘルプ</a></li>
          <li class="c-list__item"><a href="/cnt/topics/release/">リリース情報</a></li>
          <li class="c-list__item"><a href="/cnt/terms/">利用規約</a></li>
          <li class="c-list__item"><a href="/cnt/topics/bp/">掲載ご希望のサロン様</a></li>
        </ul>
      </div>
      <div id="footer">
        <ul>
          <li><a rel="nofollow" href="//corp.rakuten.co.jp/">企業情報</a></li>
          <li><a rel="nofollow" href="//privacy.rakuten.co.jp/sp/">個人情報保護方針</a></li>
          <li><a rel="nofollow" href="//www.rakuten.co.jp/sitemap/sp/">楽天のサービス一覧</a></li>
          <li><a rel="nofollow" href="//www.rakuten.co.jp/sitemap/sp/app.html">アプリ一覧</a></li>
        </ul>
        <div id="copyright">&copy; Rakuten Group, Inc.</div>
        <div class="-excludeApp" id="footerRakutenBnr"><a href="//corp.rakuten.co.jp/event/climateaction/?scid=wi_bty_gogreen_footer" target="_blank"><img class="footerRakutenBnr__img" src="https://cloudinary-a.akamaihd.net/vivivi/image/upload/t_beauty,f_auto/w_150,h_40/v1/front/image/common/bnr_gogreen_sp.svg" alt="本サービスは再生可能エネルギー100%" width="150" height="40"></a></div>
      </div>
    </div>
    <script src="/cnt/common/js/ua-parser/ua-parser.min.js"></script>
    <script src="/cnt/common/js/ua-parser/main.js"></script>
    <script src="/cnt/common/js/smooth-scroll.min.js"></script>
    <script>
      var scroll = new SmoothScroll('a[href*="#"]');
      
    </script>
    <script src="/cnt/common/js/vue/vue.min.js" defer></script>
    <script src="/cnt/common/js/vue/axios.min.js" defer></script>
    <script src="/cnt/common/js/readjson.js?v20241224" defer></script>
    <script>
      campaignlist = true;
      
    </script>
    <script src="/cnt/common/js/cpn-parts/btn_checkbox.js" defer></script>
    <script src="js/splide.min.js" defer></script>
    <script>
      document.addEventListener( 'DOMContentLoaded', function() {
        var elms = document.getElementsByClassName( 'splide' );
        for ( var i = 0; i < elms.length; i++ ) {
          new Splide( elms[ i ] ).mount();
        }
      } );
    </script>
    <!-- RAT tag start-->
    <!-- Generic Parameter-->
    <input id="ratAccountId" type="hidden" name="rat" value="426">
    <input id="ratServiceId" type="hidden" name="rat" value="1">
    <input id="ratPageLayout" type="hidden" name="rat" value="resp">
    <input id="ratSiteSection" type="hidden" name="rat" value="cnt">
    <input id="ratPageName" type="hidden" name="rat" value="cnt">
    <input id="ratPageType" type="hidden" name="rat" value="cnt_item">
    <script type="text/javascript" src="//r.r10s.jp/com/rat/js/rat-main.js"></script>
    <!-- /RAT tag end-->
  </body>
</html>