<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  <head>
    <meta charset="UTF-8">
    <title>サロン・お家で至福のひとときを リフレッシュ＆リラックス特集 | 楽天ビューティ</title>
    <meta name="viewport" content="width=1300">
    <meta name="description" content="お家で癒されるグッズから、プロによる本格ケアまで仕事や家事など日頃の疲れを癒すリカバリーグッズやサービスをご紹介！楽天ビューティでサロンを予約すれば、ポイントも貯まってちょこっとご褒美感がアップするかもしれません。">
    <link rel="canonical" href="https://beauty.rakuten.co.jp/cnt/topics/campaign/refresh_sp/">
    <meta property="og:type" content="article">
    <meta property="og:site_name" content="楽天ビューティ">
    <meta property="og:url" content="https://beauty.rakuten.co.jp/cnt/topics/campaign/refresh_sp/">
    <meta property="fb:app_id" content="461054960620939">
    <meta property="og:title" content="サロン・お家で至福のひとときを リフレッシュ＆リラックス特集 | 楽天ビューティ">
    <meta property="og:description" content="お家で癒されるグッズから、プロによる本格ケアまで仕事や家事など日頃の疲れを癒すリカバリーグッズやサービスをご紹介！楽天ビューティでサロンを予約すれば、ポイントも貯まってちょこっとご褒美感がアップするかもしれません。">
    <meta property="og:image" content="https://beauty.rakuten.co.jp/cnt/topics/campaign/refresh_sp/img/share.png?v20250508">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="apple-touch-icon-precomposed" href="//beauty.rakuten.co.jp/cnt/common/images/beauty_192px.png?v20180702">
    <link rel="shortcut icon" href="//jp.rakuten-static.com/1/im/ci/rakuten/favicon/pi.ico?20181001">
    <link rel="mask-icon" href="//jp.rakuten-static.com/1/im/ci/rakuten/favicon/Rakuten_SafariPin.svg?20181001" color="#ff41be">
    <link href="css/main.css?v20250508" rel="stylesheet" type="text/css">
    <link rel="dns-prefetch" href="https://cdn.rex.contents.rakuten.co.jp">
    <script>
      const ua = navigator.userAgent;
      //- viewport for Tablet
      if( ua.indexOf('iPhone') > 0 || ua.indexOf('iPod') > 0 || (ua.indexOf('Android') > 0 && ua.indexOf('Mobile') > 0) || ( ua.indexOf('windows') > 0 && ua.indexOf('phone') > 0) || ( ua.indexOf('firefox') > 0 && ua.indexOf('mobile') > 0) ) {
        document.querySelector("meta[name='viewport']").setAttribute("content", "width=device-width,initial-scale=1,user-scalable=no");
      } else if( ua.indexOf('iPad') > 0 || ua.indexOf('Android') > 0 || (ua.indexOf('windows') > 0 && ua.indexOf('touch') > 0) || ( ua.indexOf('firefox') > 0 && ua.indexOf('tablet') > 0) ) {
        document.querySelector("meta[name='viewport']").setAttribute("content", "width=1300");
      }
    </script>
    <meta name="robots" content="noindex,nofollow">
    <link rel="preconnect" href="https://gateway-api.global.rakuten.com/" crossorigin="use-credentials">
    <link rel="dns-prefetch" href="https://gateway-api.global.rakuten.com/">
    <link rel="preconnect" href="https://grp10.ias.rakuten.co.jp/" crossorigin="anonymous">
    <link rel="dns-prefetch" href="https://grp10.ias.rakuten.co.jp/">
    <link rel="preconnect" href="https://ias.r10s.jp/" crossorigin="anonymous">
    <link rel="dns-prefetch" href="https://ias.r10s.jp/">
    <link rel="preload" href="https://r.r10s.jp/com/js/c/ecm/ecm_20231012_pc_foundation.min.css?v=202310121200" as="stylesheet">
    <link rel="preload" href="https://r.r10s.jp/com/js/c/ecm/ecm_20231012_pc.min.css?v=202310121200" as="stylesheet">
    <link rel="preload" href="https://r.r10s.jp/com/js/c/ecm/ecm_20231012_pc.min.js?v=202405201200" as="script">
    <link rel="preload" href="https://r.r10s.jp/com/js/c/pc/module/module_set_20170901.min.js" as="script">
    <link rel="preload" href="https://r.r10s.jp/com/js/d/rad_liquid_table/1.12/rad_liquid_table-1.12.0.min.js" as="script">
    <link rel="preload" href="https://r.r10s.jp/com/js/d/smart/rad_table/1.11/smt_rad_table-1.11.0.min.js" as="script">
    <meta name="server_time" content="2025-02-06T16:52:09">
    <link rel="stylesheet" href="https://r.r10s.jp/com/js/c/ecm/ecm_20231012_pc_foundation.min.css?v=202310121200">
    <link rel="stylesheet" href="https://r.r10s.jp/com/js/c/ecm/ecm_20231012_pc.min.css?v=202310121200">
    <script type="text/javascript" src="https://r.r10s.jp/com/js/d/common/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="https://r.r10s.jp/com/js/d/common/jquery-migrate-1.4.1.min.js"></script>
    <script id="closeNoticeScript" type="text/javascript" src="https://r.r10s.jp/com/js/c/event/close_notice/close_notice-1.1.0.min.ni.js" data-banner-url="/com/js/c/event/close_notice/pc_close_notice.html" data-insert-target=".rl-headerWrap" data-insert-method="append" async defer></script>
    <script type="text/javascript" src="https://r.r10s.jp/com/js/d/merged/rjs-h110s112.min.js"></script>
    <link href="css/main.css?v20250508" rel="stylesheet" type="text/css">
  </head>
  <body>
    <noscript>
      <iframe class="txt_h vis_h" src="//www.googletagmanager.com/ns.html?id=GTM-RKLN" height="0" width="0"></iframe>
    </noscript>
    <script>
      (function(w,d,s,l,i){
      w[l]=w[l]||[];
      w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});
      var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';
      j.async=true;
      j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;
      f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-RKLN');
    </script>
    <script src="//jp.rakuten-static.com/1/grp/banner/js/create.js"></script>
    <div id="mkdiv_header_pitari"></div>
    <header class="-excludeApp" id="SP_header">
      <p id="serviceID"><a class="logo" href="/"><img src="https://beauty.rakuten.co.jp/sp/images/global/rb_logo_v201807.svg" width="74" height="40"></a></p>
    </header>
        <header id="PC_header">
          <div class="rc-h-standard">
            <noscript>
              <div class="rc-h-noscript-bar">
                <div class="rc-h-inner">
                  <p>JavaScriptが無効の為、一部のコンテンツをご利用いただけません。JavaScriptの設定を有効にしてからご利用いただきますようお願いいたします。（<a href="//ichiba.faq.rakuten.co.jp/app/answers/detail/a_id/154">設定方法</a>）</p>
                </div>
              </div>
            </noscript>
            <div class="rc-h-utility-bar">
              <div class="rc-h-inner">
                <div class="rb_wrapper">
                  <ul class="rc-h-group-nav">
                    <li id="grpNote">
                      <noscript><a href="//card.rakuten.co.jp/entry/">今すぐ2,000ポイント！</a></noscript>
                    </li>
                    <li class="rc-h-dropdown rc-h-group-dropdown"><a href="//www.rakuten.co.jp/sitemap/">楽天グループ</a>
                      <ul class="rc-h-dropdown-panel">
                        <li><a href="//books.rakuten.co.jp/?scid=wi_grp_gmx_bea_hepullbu_boo" rel="nofollow">楽天ブックス</a></li>
                        <li><a href="//hoken.rakuten.co.jp/?scid=wi_grp_gmx_bea_hepullbu_hkn" rel="nofollow">楽天の保険</a></li>
                        <li><a href="//www.infoseek.co.jp/?scid=wi_grp_gmx_bea_hepullbu_ifs" rel="nofollow">インフォシーク</a></li>
                        <li><a href="//sm.rakuten.co.jp/?scid=wi_grp_gmx_bea_hepullbu_sup&amp;xadid=wi_grp_gmx_bea_hepullbu_sup" rel="nofollow">楽天西友ネットスーパー</a></li>
                        <li><a href="//www.rakuten.co.jp/sitemap/">サービス一覧</a></li>
                      </ul>
                    </li>
                    <li><a href="//www.rakuten-life.co.jp/?scid=wi_grp_gmx_bea_hetopbu_sei" rel="nofollow">楽天生命</a></li>
                    <li><a href="//www.rakuten.co.jp/" rel="nofollow">楽天市場</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="rb_wrapper">
              <div class="rc-h-service-bar">
                <div class="rc-h-inner">
                  <div class="rc-h-site-id">
                    <p class="rc-h-logo"><a href="/"><img src="//beauty.rakuten.co.jp/images/global/rb_logo_v201807.svg" width="206" height="32" alt="Rakuten BEAUTY"></a></p>
                  </div>
                  <div class="rc-h-site-menu">
                    <div class="rc-h-menu-btns">
                      <ul class="rc-h-help-nav">
                        <li><a href="/cnt/topics/guide/">はじめての方へ</a></li>
                        <li><a href="//beauty.faq.rakuten.net/user/s/">ヘルプ</a></li>
                        <li><a href="//emagazine.rakuten.co.jp/ne?n=294" onclick="_gaq.push(['_trackEvent', 'permission', 'click', 'rbpc_header']);">お得な情報を受け取る</a></li>
                        <li><a href="/cnt/topics/bp/?l-id=rb_pc_header_bp">掲載ご希望のサロン様</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <nav id="globalNav">
            <ul class="globalNav__list c-container">
              <li class="globalNav__item"><a class="globalNav__link" href="/">美容院・ヘアサロン</a></li>
              <li class="globalNav__item"><a class="globalNav__link" href="/nail/">ネイル・まつげサロン</a></li>
              <li class="globalNav__item"><a class="globalNav__link" href="/esthe/">エステサロン</a></li>
              <li class="globalNav__item"><a class="globalNav__link" href="/relax/">リラク・マッサージサロン</a></li>
              <li class="globalNav__item"><a class="globalNav__link" href="/style/">ヘアカタログ</a></li>
              <li class="globalNav__item"><a class="globalNav__link" href="/naildesign/">ネイルカタログ</a></li>
              <li class="globalNav__item"><a class="globalNav__current" href="/cnt/topics/">キャンペーン一覧・特集</a></li>
              <li class="globalNav__item"><a class="globalNav__link" href="/rakulab/">Raku Lab</a></li>
            </ul>
          </nav>
        </header>
        <div class="c-container" id="breadcrumb">
          <ul class="c-breadcrumbs">
            <li class="c-breadcrumbs__item"><a class="c-breadcrumbs__link" href="/">楽天ビューティ</a></li>
            <li class="c-breadcrumbs__item"><a class="c-breadcrumbs__link" href="https://beauty.rakuten.co.jp/cnt/topics/">キャンペーン一覧・特集</a></li>
            <li class="c-breadcrumbs__item"><strong class="c-breadcrumbs__current">サロン・お家で至福のひとときを リフレッシュ＆リラックス特集</strong></li>
          </ul>
        </div>
        <script type="application/ld+json">
           {
            "@context": "https://schema.org",
            "@type": "BreadcrumbList",
            "itemListElement": [
              {
                "@type": "ListItem",
                "position": 1,
                "name": "楽天ビューティ",
                "item": "https://beauty.rakuten.co.jp/"
              },
              {
                "@type": "ListItem",
                "position": 2,
                "name": "キャンペーン一覧・特集",
                "item": "https://beauty.rakuten.co.jp/cnt/topics/"
              },
              {
                "@type": "ListItem",
                "position": 3,
                "name": "サロン・お家で至福のひとときを リフレッシュ＆リラックス特集"
              }
            ]
           }
        </script>
    <main id="content">
      <div id="RefreshSp">
        <section id="CpnTags">
                <div class="campaignTagSet">
                  <div class="campaignTagSet__wrap">
                    <div class="campaignTagSet__box">
                      <p class="campaignTag -red">ラ・クーポン</p>
                    </div>
                  </div>
                </div>
        </section>
        <section class="main" id="Main" data-ratid="cpn_refresh_sp_Main" data-ratevent="appear" data-ratparam="all">
          <h1 class="main__title"><img class="main_sub -sp" src="img/main_sub_sp.png?v20250508" alt="〜自分へのご褒美〜 サロン・お家で至福のひとときを"><img class="main_catch -sp" src="img/main_catch_sp.png?v20250508" alt="リフレッシュ＆リラックス特集"><img class="main_sub -pc" src="img/main_sub_pc.png?v20250508" alt="〜自分へのご褒美〜 サロン・お家で至福のひとときを"><img class="main_catch -pc" src="img/main_catch_pc.png?v20250508" alt="リフレッシュ＆リラックス特集">
            <div class="main_lead main_lead_top">お家で癒されるグッズから、サロンのプロによる本格ケアまで<br class="-pc">仕事や家事など日頃の疲れを癒すリカバリーグッズやサービスをご紹介！</div>
            <div class="main__title__btm">
              <div class="main_lead main_lead_btm">特別な日には、自分へのご褒美としてサロンでしか味わえないスペシャルなケアで癒されてみませんか？<br>楽天ビューティでサロンを予約すれば、ポイントも貯まってちょこっとご褒美感がアップするかもしれません。</div><a class="main__title__anchor" href="#Coupon"></a>
            </div>
            <div class="main__title__img -sp"><img src="img/main_sp_img.png?v20250508" width="100%" height="auto"></div>
          </h1>
          <div class="main__terms">
            <div class="main__termsBox"><span class="main__termsTxt -small">※データ集計時点で対象のサロンジャンル/商品を紹介しております。最新情報はリンク先のページからご確認ください。（対象エリア・ポイント還元率・価格・売り切れなど）</span></div>
          </div>
        </section>
        <section class="navigation-title__wrap" id="NavigationTitle" data-ratid="cpn_refresh_sp_NavigationTitle" data-ratevent="appear" data-ratparam="all">
          <div class="navigation-title"><img class="-pc" src="img/navigation_title_pc.png?v20250508" alt="あなたはどれで癒されたい？" width="100%" height="auto"><img class="-sp" src="img/navigation_title_sp.png?v20250508" alt="あなたはどれで癒されたい？" width="100%" height="auto"></div>
        </section>
        <section class="navigation__wrap" id="Navigation" data-ratid="cpn_refresh_sp_Navigation" data-ratevent="appear" data-ratparam="all" aria-hidden="false" aria-label="メニュー">
          <ul class="navigation-list">
            <li class="navigation-list-item"><a class="navigation-button" href="#PlanBody" data-ratid="cpn_refresh_sp_navigation_PlanBody" data-ratevent="click" data-ratparam="all"><span class="navigation-icon"><img src="img/navigation_icon1.png?v20250508" width="auto" height="100%"></span><span class="navigation-text">カラダを<br class="-sp">本格ケアしたい</span></a></li>
            <li class="navigation-list-item"><a class="navigation-button" href="#PlanRefresh" data-ratid="cpn_refresh_sp_navigation_PlanRefresh" data-ratevent="click" data-ratparam="all"><span class="navigation-icon"><img src="img/navigation_icon2.png?v20250508" width="auto" height="100%"></span><span class="navigation-text">気分転換<br class="-sp">したい</span></a></li>
            <li class="navigation-list-item"><a class="navigation-button" href="#PlanSleep" data-ratid="cpn_refresh_sp_navigation_PlanSleep" data-ratevent="click" data-ratparam="all"><span class="navigation-icon"><img src="img/navigation_icon3.png?v20250508" width="auto" height="100%"></span><span class="navigation-text">睡眠の質を<br class="-sp">高めたい</span></a></li>
          </ul>
        </section>
        <section class="fixed__navigation__wrap" id="FixedNavigation" aria-hidden="true" aria-label="追従メニュー">
          <ul class="navigation-list">
            <li class="navigation-list-item"><a class="navigation-button" href="#PlanBody" data-ratid="cpn_refresh_sp_navigation_PlanBody" data-ratevent="click" data-ratparam="all"><span class="navigation-icon"><img src="img/navigation_icon1.png?v20250508" width="auto" height="100%"></span><span class="navigation-text">カラダを<br class="-sp">本格ケアしたい</span></a></li>
            <li class="navigation-list-item"><a class="navigation-button" href="#PlanRefresh" data-ratid="cpn_refresh_sp_navigation_PlanRefresh" data-ratevent="click" data-ratparam="all"><span class="navigation-icon"><img src="img/navigation_icon2.png?v20250508" width="auto" height="100%"></span><span class="navigation-text">気分転換<br class="-sp">したい</span></a></li>
            <li class="navigation-list-item"><a class="navigation-button" href="#PlanSleep" data-ratid="cpn_refresh_sp_navigation_PlanSleep" data-ratevent="click" data-ratparam="all"><span class="navigation-icon"><img src="img/navigation_icon3.png?v20250508" width="auto" height="100%"></span><span class="navigation-text">睡眠の質を<br class="-sp">高めたい</span></a></li>
          </ul>
        </section>
        <section class="plan-all" id="PlanBody" data-ratid="cpn_refresh_sp_PlanBody" data-ratevent="appear" data-ratparam="all"><img class="-pc" src="img/plan_body_main_pc.jpg?v20250508" alt="コリや疲れを改善 至福の本格ケア" width="100%" height="auto"><img class="-sp" src="img/plan_body_main_sp.jpg?v20250508" alt="コリや疲れを改善 至福の本格ケア" width="100%" height="auto">
          <div class="article__wrap">
            <div class="article">
              <h2 class="article__title"><img class="-pc" src="img/body_title_pc.png?v20250508" alt="カラダや頭皮のケア" width="auto" height="100%"><img class="-sp" src="img/body_title_sp.png?v20250508" alt="カラダや頭皮のケア" width="auto" height="100%"></h2>
              <div class="article__category" data-ratid="cpn_refresh_sp_PlanBody_salon" data-ratevent="appear" data-ratparam="all">
                <h3 class="article_stitle"><img src="img/article_salon_body.png?v20250508" alt="〜サロンで〜" width="auto" height="100%"></h3>
                <div class="article__text__opening article__text">カラダや頭皮のコリや疲れをほぐすサロンでのスペシャルケアをご紹介します。<br>頭部や首などのマッサージで血流を改善しリラックス効果を高めるヘッドスパ。筋肉の緊張をほぐしたり、骨格のゆがみを矯正したりして姿勢を改善する整体。香りとマッサージで深いリラクゼーションをもたらすアロマオイルマッサージ。それぞれの特徴を知ることであなたのカラダの状態にピッタリな施術が見つかるかも。疲れを感じている時こそプロによる至福のひとときを体験してみてはいかがでしょう。</div>
                <div class="item__box__wide">
                  <h4 class="item__title"><img src="img/title_headspa.png?v20250508" alt="ヘッドスパ" width="auto" height="100%"></h4>
                  <div class="item__box">
                    <div class="item__image"><img src="img/img_headspa.png?v20250508" alt="ヘッドスパ" width="auto" height="100%"></div>
                    <div class="item__text article__text">頭部や首まわりをマッサージして、血液やリンパの流れを改善します。デスクワークやスマートフォンの使用で疲れた目や首のリフレッシュにも役に立ちます。心身の緊張をほぐすためリラックス効果の高い施術で、アロマオイルを用いたヘッドスパでは香りの作用も加わって、さらなるリラックス効果が期待できます。</div>
                  </div>
                </div><a class="search-link" href="/?l-id=rb_refresh_sp_lp_search_hair"><img class="search-icon" src="img/icon_search.png"><span class="search-text">ヘアサロンを探す</span></a>
                <div class="recommend__box" data-ratid="cpn_refresh_sp_PlanBody_recommend" data-ratevent="appear" data-ratparam="all">
                  <div class="recommend__img"><img src="img/recommend_img_body.png?v20250508" alt="Recommend" width="100%" height="auto"></div>
                  <div class="recommend__title">ヘッドスパ最高！</div>
                  <div class="recommend__text article__text">普段デスクワークなので、肩こりや眼精疲労をケアするために定期的にヘッドスパに行っています。寝つきが悪い時期や新しいアイディアが浮かびにくい時の気分転換にも。<br>雰囲気・香り・コンセプト・メニューなどサロンによって特徴が違うので気分に合わせて選んだり、暑い季節には炭酸スパもつけて頭皮のケアも一緒にしたり…組み合わせ豊富なので飽きずに通えるのも嬉しいです。<br>今はプラネタリウム空間のヘッドスパが気になっていて、楽天ビューティでも掲載があるので今度行ってみようかなと思っています！</div>
                </div>
                <div class="item__box__row">
                  <div class="item__box">
                    <h4 class="item__title"><img src="img/title_chiro.png?v20250508" alt="整体" width="auto" height="100%"></h4>
                    <div class="item__image"><img src="img/img_chiro.png?v20250508" alt="整体" width="auto" height="100%"></div>
                    <div class="item__text article__text">マッサージやストレッチにより、筋肉の緊張やコリをほぐしたり血流を改善したりすることで、疲労回復やむくみの解消が期待できます。また、骨格のゆがみや関節のずれを正し位置に戻し、姿勢を矯正したりカラダの痛みを軽減したりします。</div><a class="search-link" href="/relax/?l-id=rb_refresh_sp_lp_search_relax"><img class="search-icon" src="img/icon_search.png"><span class="search-text">リラクサロンを探す</span></a>
                  </div>
                  <div class="item__box">
                    <h4 class="item__title"><img src="img/title_aroma.png?v20250508" alt="アロマオイルマッサージ" width="auto" height="100%"></h4>
                    <div class="item__image"><img src="img/img_aroma.png?v20250508" alt="アロマオイルマッサージ" width="auto" height="100%"></div>
                    <div class="item__text article__text">心地よいアロマオイルの香りと、筋肉の緊張やコリをほぐすマッサージの組み合わせにより、深いリラクゼーション効果をもたらします。血液やリンパの流れを良くしたり、ラベンダーやカモミールといった精油のリラックス効果によって緊張をほぐしたりします。気分のリフレッシュや疲労回復効果が期待できます。</div><a class="search-link" href="/esthe/?l-id=rb_refresh_sp_lp_search_esthe"><img class="search-icon" src="img/icon_search.png"><span class="search-text">エステサロンを探す         </span></a>
                  </div>
                </div>
              </div>
              <div class="article__category">
                <h3 class="article_stitle" data-ratid="cpn_refresh_sp_PlanBody_home" data-ratevent="appear" data-ratparam="all"><img src="img/article_home_body.png?v20250508" alt="〜お家で〜" width="auto" height="100%"></h3>
                <div class="article__text__opening article__text">リラクゼーショングッズは、自宅で好きな時に使え、“ながらケア”ができるのも魅力です。頭皮、顔、首、肩、腰、脚を部分的にケアできるものから全身に使えるものまで様々。振動や温熱、カラダ深層部のインナーマッスルを電流で刺激するEMSなどの作用で、日頃のカラダの疲れやコリのリフレッシュに役立ちます。大切な人にプロさながらのマッサージをプレゼントするのもステキな贈り物になるはず！</div>
                <!-- .rc-itemCPA--PC704x3 20231012-->
                <div class="rad-table-existItemDisplay rc-itemCPA" style="display:none">
                  <script class="rad-table-proto" type="text/template">
                    <li class="ri-item"><a class="ri-item__imageLink" href="#TEXTURL1#">
                        <div class="ri-item__imageBox ri-item__imageBox--1x1"><img class="ri-item__image" data-lazy-loading="#IMAGESRC1#?fitin=301:301" src="https://r.r10s.jp/com/img/home/t.gif" alt="#IMAGEALT1#"></div></a>
                      <div class="ri-item__textBox"><a class="ri-item__nameLink" href="#TEXTURL1#">
                          <p class="ri-item__name ri-item__name--2lines">#TEXT1L1#</p></a><a class="ri-item__priceLink -wrap" href="#TEXTURL1#">
                          <p class="ri-item__price">#TEXT2L1##TILDE#</p></a></div>
                    </li>
                  </script>
                  <div class="rad-table-config" event_target="body" event_name="rastaloadcomplete" url="https://grp301.api.ias.rakuten.co.jp/acpa/?total=0&amp;nw=jp&amp;site=Ichiba&amp;charset=UTF-8&amp;ssl=0&amp;loc=1738891353406408294" textnum="4" imagenum="3" iconnum="0" shopnum="0" textlinenum="1"></div>
                  <div class="rad-table-frame">
                    <ul class="rad-table-body rl-column3"></ul>
                  </div>
                </div>
                <div class="recommend__box">
                  <div class="recommend__img"><img src="img/recommend_img_body.png?v20250508" alt="Recommend" width="100%" height="auto"></div>
                  <div class="recommend__title">ネックマッサージグッズでリフレッシュしています♪</div>
                  <div class="recommend__text article__text">EMSモードのあるネックマッサージは特にオススメ！PC作業をしながら、本を読みながら、料理をしながら色々な場面で「ながらケア」ができます。優しい電気刺激が心地良く、しかもしっかり効いてくれるので嬉しい。<br>温熱があるものも最高で、首元を温めると効率よく身体全体が温まるので、冬はホッカイロとしても利用できて良いですよ。（併用不可機器があるので商品詳細は必読）</div>
                </div>
              </div>
            </div>
          </div><img class="article_btm_img" src="img/body_article_btm.png?v20250508" alt="Care for your body" width="100%" height="auto">
        </section>
        <section class="plan-all" id="PlanRefresh" data-ratid="cpn_refresh_sp_PlanRefresh" data-ratevent="appear" data-ratparam="all">
          <div class="plan__mv"><img class="-pc" src="img/plan_refresh_main_pc.jpg?v20250508" alt="気分をアゲてリフレッシュ スッキリ気分転換" width="100%" height="auto"><img class="-sp" src="img/plan_refresh_main_sp.jpg?v20250508" alt="気分をアゲてリフレッシュ スッキリ気分転換" width="100%" height="auto"></div>
          <div class="article__wrap">
            <div class="article">
              <h2 class="article__title"><img class="-pc" src="img/refresh_title_pc.png?v20250508" alt="自分磨きで気分をアゲる" width="auto" height="100%"><img class="-sp" src="img/refresh_title_sp.png?v20250508" alt="自分磨きで気分をアゲる" width="auto" height="100%"></h2>
              <div class="article__category" data-ratid="cpn_refresh_sp_PlanRefresh_salon" data-ratevent="appear" data-ratparam="all">
                <h3 class="article_stitle"><img src="img/article_salon_refresh.png?v20250508" alt="〜サロンで〜" width="auto" height="100%"></h3>
                <div class="article__text__opening article__text">ネイルやヘアカラーは、自分磨きの一環として気分を一新するのにピッタリ。鮮やかなネイルアートや新しいヘアカラーは、見た目の変化だけでなく心も明るくリフレッシュさせてくれます。サロンでのスペシャルケアを、日頃のご褒美として自分自身にプレゼントして日常のストレスを解消しましょう。</div>
                <div class="item__box__row">
                  <div class="item__box">
                    <h4 class="item__title"><img src="img/title_nail.png?v20250508" alt="ネイル" width="auto" height="100%"></h4>
                    <div class="item__image"><img src="img/img_nail.jpg?v20250508" alt="ネイル" width="auto" height="100%"></div>
                    <div class="item__text article__text">季節やトレンドにあわせたり、好きな色や気分にあわせたり……、指先のオシャレは、デザインを選ぶだけでも楽しめますが、日常生活や仕事の中でふと目にするたびに気分をあげてくれるのも嬉しいですよね！ネイリストによる丁寧なケアは、指先の美しさを引き出すだけでなく、リラクゼーション効果も期待できます。</div><a class="search-link" href="/nail/?l-id=rb_refresh_sp_lp_search_nail"><img class="search-icon" src="img/icon_search.png"><span class="search-text">ネイルサロンを探す</span></a>
                  </div>
                  <div class="item__box">
                    <h4 class="item__title"><img src="img/title_haircolor.png?v20250508" alt="ヘアカラー" width="auto" height="100%"></h4>
                    <div class="item__image"><img src="img/img_haircolor.jpg?v20250508" alt="ヘアカラー" width="auto" height="100%"></div>
                    <div class="item__text article__text">ネイルと同じようにカラー選びを楽しめるのヘアカラー。自己表現の幅が広がって個性を際立たせることもできます。新しいヘアカラーに挑戦すると気分転換にもなるはず。プロの技術や高品質なカラー剤を使用する美容室での施術は、鮮やかで色持ちも良く、気分転換に最適です。新しい自分に出会うことで、モチベーションも上がり毎日がより楽しくなるでしょう。</div><a class="search-link" href="/?l-id=rb_refresh_sp_lp_search_hair2"><img class="search-icon" src="img/icon_search.png"><span class="search-text">ヘアサロンを探す      </span></a>
                  </div>
                </div>
              </div>
              <div class="article__category" data-ratid="cpn_refresh_sp_PlanRefresh_home" data-ratevent="appear" data-ratparam="all">
                <h3 class="article_stitle"><img src="img/article_home_refresh.png?v20250508" alt="〜お家で〜" width="auto" height="100%"></h3>
                <div class="article__text__opening article__text">ちょっとした隙間時間で気軽に気分をリフレッシュできるグッズをご紹介します。アロマオイル、お香、観葉植物、ガーデニング、塗り絵、水彩画、粘土、パズル……、心安らぐものを直感でチョイスするのもいいですし、普段触れないようなジャンルにトライしてみるのも新たな刺激や癒しになるかもしれません。ご家族やご友人へのプチギフトのヒントにしてみてはいかがでしょうか。</div>
                <!-- .rc-itemCPA--PC704x3 20231012-->
                <div class="rad-table-existItemDisplay rc-itemCPA" style="display:none">
                  <script class="rad-table-proto" type="text/template">
                    <li class="ri-item"><a class="ri-item__imageLink" href="#TEXTURL1#">
                        <div class="ri-item__imageBox ri-item__imageBox--1x1"><img class="ri-item__image" data-lazy-loading="#IMAGESRC1#?fitin=301:301" src="https://r.r10s.jp/com/img/home/t.gif" alt="#IMAGEALT1#"></div></a>
                      <div class="ri-item__textBox"><a class="ri-item__nameLink" href="#TEXTURL1#">
                          <p class="ri-item__name ri-item__name--2lines">#TEXT1L1#</p></a><a class="ri-item__priceLink -wrap" href="#TEXTURL1#">
                          <p class="ri-item__price">#TEXT2L1##TILDE#</p></a></div>
                    </li>
                  </script>
                  <div class="rad-table-config" event_target="body" event_name="rastaloadcomplete" url="https://grp301.api.ias.rakuten.co.jp/acpa/?total=0&amp;nw=jp&amp;site=Ichiba&amp;charset=UTF-8&amp;ssl=0&amp;loc=1738891355149302629" textnum="4" imagenum="3" iconnum="0" shopnum="0" textlinenum="1"></div>
                  <div class="rad-table-frame">
                    <ul class="rad-table-body rl-column3"></ul>
                  </div>
                </div>
                <!-- .rc-itemCPA--PC704x3 20231012-->
                <div class="rad-table-existItemDisplay rc-itemCPA" style="display:none">
                  <script class="rad-table-proto" type="text/template">
                    <li class="ri-item"><a class="ri-item__imageLink" href="#TEXTURL1#">
                        <div class="ri-item__imageBox ri-item__imageBox--1x1"><img class="ri-item__image" data-lazy-loading="#IMAGESRC1#?fitin=301:301" src="https://r.r10s.jp/com/img/home/t.gif" alt="#IMAGEALT1#"></div></a>
                      <div class="ri-item__textBox"><a class="ri-item__nameLink" href="#TEXTURL1#">
                          <p class="ri-item__name ri-item__name--2lines">#TEXT1L1#</p></a><a class="ri-item__priceLink -wrap" href="#TEXTURL1#">
                          <p class="ri-item__price">#TEXT2L1##TILDE#</p></a></div>
                    </li>
                  </script>
                  <div class="rad-table-config" event_target="body" event_name="rastaloadcomplete" url="https://grp301.api.ias.rakuten.co.jp/acpa/?total=0&amp;nw=jp&amp;site=Ichiba&amp;charset=UTF-8&amp;ssl=0&amp;loc=173889135602542984" textnum="4" imagenum="3" iconnum="0" shopnum="0" textlinenum="1"></div>
                  <div class="rad-table-frame">
                    <ul class="rad-table-body rl-column3"></ul>
                  </div>
                </div>
                <div class="recommend__box" data-ratid="cpn_refresh_sp_PlanRefresh_recommend" data-ratevent="appear" data-ratparam="all">
                  <div class="recommend__img"><img src="img/recommend_img_refresh.png?v20250508" alt="Recommend" width="100%" height="auto"></div>
                  <div class="recommend__title">リラックスと自分磨きを叶える時間を楽しんでいます♪</div>
                  <div class="recommend__text article__text">水彩画、ストレッチ、ネイルケア、香木を炊く等々...趣味とは言えない頻度でも、お家でゆる〜く続けています。<br>リラックスして仕事や悩み事以外のことに集中する時間を意図的に作ると、結果的にリフレッシュや外見・内面の自分磨きにも繋がって良いですよね。お友達と水彩画セッションとかもやってみたいです！</div>
                </div>
              </div>
            </div>
          </div><img class="article_btm_img" src="img/refresh_article_btm.png?v20250508" alt="Refresh" width="100%" height="auto">
        </section>
        <section class="plan-all" id="PlanSleep" data-ratid="cpn_refresh_sp_PlanSleep" data-ratevent="appear" data-ratparam="all">
          <div class="plan__mv"><img class="-pc" src="img/plan_sleep_main_pc.jpg?v20250508" alt="上質な睡眠でリカバリ ぐっすり眠る" width="100%" height="auto"><img class="-sp" src="img/plan_sleep_main_sp.jpg?v20250508" alt="上質な睡眠でリカバリ ぐっすり眠る" width="100%" height="auto"></div>
          <div class="article__wrap">
            <div class="article">
              <h2 class="article__title"><img class="-pc" src="img/sleep_title_pc.png?v20250508" alt="質の良い眠りを手に入れる" width="auto" height="100%"><img class="-sp" src="img/sleep_title_sp.png?v20250508" alt="質の良い眠りを手に入れる" width="auto" height="100%"></h2>
              <div class="article__category" data-ratid="cpn_refresh_sp_PlanSleep_salon" data-ratevent="appear" data-ratparam="all">
                <h3 class="article_stitle"><img src="img/article_salon_sleep.png?v20250508" alt="〜サロンで〜" width="auto" height="100%"></h3>
                <div class="article__text__opening article__text">疲れたカラダをリカバリーするのに必要不可欠なのが睡眠。上質な睡眠を手に入れるためのスペシャルケアとしてご紹介するのが、全身を整えることで心地よい眠りのリズムを取り戻すボディケアや、自然素材を用いて体を深部から温めるよもぎ蒸しです。体内の老廃物や毒素を排出するデトックス効果により、むくみやコリを改善するなどして自然な眠りへと誘導し、質の良い眠りを手にいれる手助けをしてくれます。</div>
                <div class="item__box__row">
                  <div class="item__box">
                    <h4 class="item__title"><img src="img/title_bodycare.png?v20250508" alt="ボディケア" width="auto" height="100%"></h4>
                    <div class="item__image"><img src="img/img_bodycare.jpg?v20250508" alt="ボディケア" width="auto" height="100%"></div>
                    <div class="item__text article__text">全身の緊張を丁寧にほぐし、自律神経を整えるボディケア。心身を深いリラックス状態へと導き、自然と眠りに入りやすくする施術です。忙しい日々で眠りが浅い方は、ぐっすり眠れる贅沢なひとときを体験してみてはいかがでしょう。</div>
                  </div>
                  <div class="item__box">
                    <h4 class="item__title"><img src="img/title_yomogi.png?v20250508" alt="よもぎ蒸し" width="auto" height="100%"></h4>
                    <div class="item__image"><img src="img/img_yomogi.jpg?v20250508" alt="よもぎ蒸し" width="auto" height="100%"></div>
                    <div class="item__text article__text">よもぎを中心としたハーブの蒸気を用いた韓国発祥の伝統的な温熱療法です。体を芯から温めて発汗することで体内の老廃物や毒素を排出するデトックス効果が期待できます。リラックス効果もあるため、深い睡眠を得られやすくなります。</div>
                  </div>
                </div><a class="search-link" href="/relax//?l-id=rb_refresh_sp_lp_search_relax2"><img class="search-icon" src="img/icon_search.png"><span class="search-text">リラクサロンを探す    </span></a>
                <div class="recommend__box" data-ratid="cpn_refresh_sp_PlanSleep_recommend" data-ratevent="appear" data-ratparam="all">
                  <div class="recommend__img"><img src="img/recommend_img_sleep.png?v20250508" alt="Recommend" width="100%" height="auto"></div>
                  <div class="recommend__title">ボディケアで全身リラックス</div>
                  <div class="recommend__text article__text">腰痛きっかけに整体やマッサージに通うように。今では新年度、長期休み、年末など、節目には必ずボディケアに。中でもアロマオイルマッサージが大好きで、オイルを選べるサロンでは気分や状態によって好みのオイルを選んでいます。<br>肩は一般的ですが、背中やお尻は思ったよりも凝っていることが多く、マッサージの後は身体が軽くなり、可動域も広がったりとハッピーな気持ちに。<br>マッサージ後にいただけるお茶やハーブティーもサロンによって色々な種類があり、毎回楽しみにしています。</div>
                </div>
              </div>
              <div class="article__category" data-ratid="cpn_refresh_sp_PlanSleep_home" data-ratevent="appear" data-ratparam="all">
                <h3 class="article_stitle"><img src="img/article_home_sleep.png?v20250508" alt="〜お家で〜" width="auto" height="100%"></h3>
                <div class="article__text__opening article__text">お家で寝ている間にカラダをリカバリしたり、自然にぐっすりと眠ることができると良いですよね。枕やアイマスクといった寝具や、パジャマや下着、靴下といった身近なウェアなどから、睡眠中の疲労回復が期待できると注目を集めているリカバリウェアまで。贈り物にピッタリなグッズをご紹介します。</div>
                <!-- .rc-itemCPA--PC704x3 20231012-->
                <div class="rad-table-existItemDisplay rc-itemCPA" style="display:none">
                  <script class="rad-table-proto" type="text/template">
                    <li class="ri-item"><a class="ri-item__imageLink" href="#TEXTURL1#">
                        <div class="ri-item__imageBox ri-item__imageBox--1x1"><img class="ri-item__image" data-lazy-loading="#IMAGESRC1#?fitin=301:301" src="https://r.r10s.jp/com/img/home/t.gif" alt="#IMAGEALT1#"></div></a>
                      <div class="ri-item__textBox"><a class="ri-item__nameLink" href="#TEXTURL1#">
                          <p class="ri-item__name ri-item__name--2lines">#TEXT1L1#</p></a><a class="ri-item__priceLink -wrap" href="#TEXTURL1#">
                          <p class="ri-item__price">#TEXT2L1##TILDE#</p></a></div>
                    </li>
                  </script>
                  <div class="rad-table-config" event_target="body" event_name="rastaloadcomplete" url="https://grp301.api.ias.rakuten.co.jp/acpa/?total=0&amp;nw=jp&amp;site=Ichiba&amp;charset=UTF-8&amp;ssl=0&amp;loc=1738891354268119893" textnum="4" imagenum="3" iconnum="0" shopnum="0" textlinenum="1"></div>
                  <div class="rad-table-frame">
                    <ul class="rad-table-body rl-column3"></ul>
                  </div>
                </div>
              </div>
            </div>
          </div><img class="article_btm_img" src="img/sleep_article_btm.png?v20250508" alt="Good Night..." width="100%" height="auto">
        </section>
        <section class="coupon" id="Coupon" data-ratid="cpn_refresh_sp_Coupon" data-ratevent="appear" data-ratparam="all">
          <h2 class="coupon_title">▼ ▼　楽天ビューティのサロンで使えるクーポン　▼ ▼</h2>
          <div class="couponGet">
            <div class="couponSetTitle"><span class="txt_blue">ヘア</span>・<span class="txt_blue">ネイル</span>・<span class="txt_blue">まつげ</span>・<span class="txt_blue">エステ</span>・<br class="-sp"><span class="txt_blue">エステリラクサロン</span>で使える！</div>
                        <div class="couponOneClickSetWrap">
                          <div class="couponOneClickSetSummary">
                            <div class="couponOneClickSetTime">
                              <p class="couponOneClickSetTimeEnd">予約期限：2025年6月2日 9:59</p>
                              <p class="couponOneClickSetTimeEnd">施術期限：2025年6月30日 23:59</p>
                            </div>
                          </div>
                          <div class="couponOneClickSet">
                            <div class="couponBox">
                              <div class="couponBoxUpper">
                                <div class="couponOneClick" data-coupon-authkey="0srG3FtweAmC22f1hagus6h2wAQQNynY"><a class="couponOneClick-default" href="https://coupon.rakuten.co.jp/getCoupon?getkey=UlNaQS1XQzNZLVRZWlktUENDVA--" data-ratid="1clickAcquisition_refresh_sp_0" data-ratEvent="click" data-ratParam="all">
                                                <div class="couponComponent">
                                                  <div class="couponDetail"><span class="overlay-content"><img class="overlay-contentImg" src="/cnt/common/images/area/icon-checked.svg" alt="クーポン獲得済み"></span>
                                                    <div class="couponDetailBottom">
                                                      <div class="couponDetailBottomR">
                                                        <p class="couponDetailBottomRTitle">
                                                        </p>
                                                        <p class="couponDetailBottomRPrice"><span class="couponDetailBottomRPrice -num">200</span>円OFF
                                                        </p>
                                                      </div>
                                                    </div>
                                                  </div>
                                                  <div class="couponStatus">
                                                    <p class="couponStatusTxt">ラ・クーポンを獲得する</p>
                                                  </div>
                                                </div></a><a class="couponOneClick-acquired" href="https://beauty.rakuten.co.jp/cnt/topics/campaign/refresh_sp/?scid=wi_ich_search_202503_refreshsp_02_get" data-ratid="1clickAcquisition_refresh_sp_0_acquired" data-ratEvent="click" data-ratParam="all">
                                                <div class="couponComponent">
                                                  <div class="couponDetail"><span class="overlay-content"><img class="overlay-contentImg" src="/cnt/common/images/area/icon-checked.svg" alt="クーポン獲得済み"></span>
                                                    <div class="couponDetailBottom">
                                                      <div class="couponDetailBottomR">
                                                        <p class="couponDetailBottomRTitle">
                                                        </p>
                                                        <p class="couponDetailBottomRPrice"><span class="couponDetailBottomRPrice -num">200</span>円OFF
                                                        </p>
                                                      </div>
                                                    </div>
                                                  </div>
                                                  <div class="couponStatus">
                                                    <p class="couponStatusTxt">ラ・クーポン獲得済み</p>
                                                  </div>
                                                </div></a><a class="couponOneClick-having" href="https://beauty.rakuten.co.jp/cnt/topics/campaign/refresh_sp/?scid=wi_ich_search_202503_refreshsp_02_get" data-ratid="1clickAcquisition_refresh_sp_0_having" data-ratEvent="click" data-ratParam="all">
                                                <div class="couponComponent">
                                                  <div class="couponDetail"><span class="overlay-content"><img class="overlay-contentImg" src="/cnt/common/images/area/icon-checked.svg" alt="クーポン獲得済み"></span>
                                                    <div class="couponDetailBottom">
                                                      <div class="couponDetailBottomR">
                                                        <p class="couponDetailBottomRTitle">
                                                        </p>
                                                        <p class="couponDetailBottomRPrice"><span class="couponDetailBottomRPrice -num">200</span>円OFF
                                                        </p>
                                                      </div>
                                                    </div>
                                                  </div>
                                                  <div class="couponStatus">
                                                    <p class="couponStatusTxt">ラ・クーポンを使う</p>
                                                  </div>
                                                </div></a>
                                  <div class="couponOneClick-expired">
                                                <div class="couponComponent"><span class="overlay-content">利用期間が終了しました</span>
                                                  <div class="couponDetail">
                                                    <div class="couponDetailBottom">
                                                      <div class="couponDetailBottomR">
                                                        <p class="couponDetailBottomRTitle">
                                                        </p>
                                                        <p class="couponDetailBottomRPrice"><span class="couponDetailBottomRPrice -num">200</span>円OFF
                                                        </p>
                                                      </div>
                                                    </div>
                                                  </div>
                                                  <div class="couponStatus">
                                                    <p class="couponStatusTxt">終了しました</p>
                                                  </div>
                                                </div>
                                  </div>
                                  <div class="couponOneClick-finished">
                                                <div class="couponComponent"><span class="overlay-content">ご好評につき終了しました</span>
                                                  <div class="couponDetail">
                                                    <div class="couponDetailBottom">
                                                      <div class="couponDetailBottomR">
                                                        <p class="couponDetailBottomRTitle">
                                                        </p>
                                                        <p class="couponDetailBottomRPrice"><span class="couponDetailBottomRPrice -num">200</span>円OFF
                                                        </p>
                                                      </div>
                                                    </div>
                                                  </div>
                                                  <div class="couponStatus">
                                                    <p class="couponStatusTxt">終了しました</p>
                                                  </div>
                                                </div>
                                  </div>
                                </div>
                              </div>
                              <div class="couponBoxBottom">
                                <div class="couponOneClickTerms">
                                  <p class="couponOneClickTermsTxts"><span class="couponOneClickTermsTxt">先着利用<span class="couponOneClickTermsTxtBold">500回</span>／1人<span class="couponOneClickTermsTxtBold">1回</span>まで</span><span class="couponOneClickTermsTxt"><span class="couponOneClickTermsTxtBold">3,000円(税込)以上</span>の施術が対象</span></p>
                                  <div class="couponOneClickTermsAttention"><a class="couponOneClickTermsAttentionLink" href="https://coupon.rakuten.co.jp/getCoupon?getkey=UlNaQS1XQzNZLVRZWlktUENDVA--" data-ratid="1clickAcquisition_refresh_sp_0_detail" data-ratEvent="click" data-ratParam="all">残り利用回数＆ラ・クーポン詳細を確認</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
            <div class="couponOneClickSetBtm">
              <div class="couponSubTxt">※<span class="-b">先着利用（予約成立順）500名限定のラ・クーポンです。</span>獲得済みであっても利用上限に達した場合はご利用いただけません。※一部ラ・クーポンがご利用できない店舗がございます。※ラ・クーポン注意事項は<a href="#Detail">
                   こちら</a></div>
            </div>
          </div>
        </section>
        <section class="detail" id="Detail" data-ratid="cpn_refresh_sp_Detail" data-ratevent="appear" data-ratparam="all">
          <div class="detailBox">
            <div class="titleWrap">
              <h2 class="titleWrap--title">キャンペーン詳細</h2>
            </div>
            <table class="detail__table">
              <tbody>
                <tr class="detail__tableBlock">
                  <th class="detail__tableBlockHead">本特集について</th>
                  <td class="detail__tableBlockBody">
                    <ul class="detail__tableBlockList">
                      <li class="detail__tableBlockList--li">本特集は予告なく変更・中止される可能性がございます。</li>
                      <li class="detail__tableBlockList--li">掲載中のサロンジャンル/商品についても予告なく変更・削除される可能性がございます。</li>
                      <li class="detail__tableBlockList--li">商品について：データ集計時点で対象の商品を紹介しております。詳細はリンク先のページからご確認ください。</li>
                      <li class="detail__tableBlockList--li">サロンジャンルについて：予約枠やメニュー詳細等については、エリアや店舗によって異なります。リンク先のページから希望エリアを選択し、ご確認ください。</li>
                    </ul>
                  </td>
                </tr>
                <tr class="detail__tableBlock">
                  <th class="detail__tableBlockHead">クーポンについて</th>
                  <td class="detail__tableBlockBody">予約期限：2025年6月2日 9:59<br>施術期限：2025年6月30日 23:59
                    <ul class="detail__tableBlockList">
                      <li class="detail__tableBlockList--li">次回のクーポンは2025年6月2日10:00に更新されます。</li>
                    </ul>
                    <p class="detail__tableBlockTxt--space"></p>注意事項
                    <ul class="detail__tableBlockList">
                      <li class="detail__tableBlockList--li">獲得したラ・クーポンは、それぞれお1人様1回まで、ネット予約にてご利用いただけます。</li>
                      <li class="detail__tableBlockList--li">他のラ・クーポンとの併用はできません。</li>
                      <li class="detail__tableBlockList--li">ラ・クーポンには利用上限回数（予約成立順）が設定されています。ラ・クーポン獲得済みであっても利用上限に達した場合はご利用いただけません。</li>
                      <li class="detail__tableBlockList--li">獲得したラ・クーポンは、マイページの<a class="detail__tableBlockTxt--link" href="/user/coupon.php">マイクーポン</a>からご確認いただけます。</li>
                      <li class="detail__tableBlockList--li">ラ・クーポンの利用条件に合致したクーポンのみが、ネット予約STEP中に表示されます。獲得していても、ラ・クーポンが表示されない場合、ラ・クーポンの利用条件等をご確認ください。（予約条件が一致しない、有効期限を過ぎている、利用回数を超えた場合等）</li>
                      <li class="detail__tableBlockList--li">ネット予約確定の前に、他のネット予約が成立し利用上限回数に達した場合には、ネット予約がエラーとなり、ラ・クーポンをご利用になれません。</li>
                      <li class="detail__tableBlockList--li">発行されているラ・クーポンによって来店期日は異なりますので、ご注意ください。</li>
                      <li class="detail__tableBlockList--li">サロンの予約状況によっては、ご希望に添えなかったり、お断りする場合もございます。</li>
                      <li class="detail__tableBlockList--li">ラ・クーポンを利用した予約をキャンセルした場合、利用条件を満たしていれば、マイクーポンに返還されます。<a class="detail__tableBlockTxt--link" href="https://beauty.faq.rakuten.net/user/s/detail/000005759">詳しくはこちら</a></li>
                      <li class="detail__tableBlockList--li">ご来店いただける期間はサロンの営業時間によって異なります。</li>
                      <li class="detail__tableBlockList--li">ラ・クーポンは、楽天ビューティ（サイト/アプリ）での予約時にのみご利用いただけます。予約成立後など後から利用することはできません。</li>
                      <li class="detail__tableBlockList--li">ラ・クーポンを印刷して来店時にお持ちいただいても割引することはできません。</li>
                      <li class="detail__tableBlockList--li">ラ・クーポンは、電話予約でご利用できません。</li>
                      <li class="detail__tableBlockList--li">一部、ラ・クーポンを利用できない店舗がございます。</li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>
        <section class="campaign" id="Campaign" data-ratid="cpn_refresh_sp_Campaign" data-ratevent="appear" data-ratparam="all">
          <div class="titleWrap">
            <h2 class="titleWrap--title">その他のキャンペーン</h2>
          </div>
                    <script>var dirStr = 'refresh_sp';</script>
                    <div class="campaignList" id="CampaignList">
                      <div class="campaignListWrap">
                        <template v-for="res in results"><a class="campaignListBox" v-bind:href="res.url" v-if="res.directory !== dirStr">
                            <div class="campaignListBanner"><img class="campaignListBannerImg" v-bind:src="res.banner" v-bind:alt="res.alt"></div>
                            <div class="campaignListTxts">
                              <ul class="campaignListMain">
                                <li class="campaignListTagBox">
                                  <template v-for="tag in res.tag">
                                    <p class="campaignListTag -pink" v-if="tag.name == 'エントリー必要' || tag.name == 'ラ・クーポン'">{{ tag.name }}</p>
                                    <p class="campaignListTag -disable" v-else-if="tag.name == 'エントリー不要'">{{ tag.name }}</p>
                                    <p class="campaignListTag" v-else>{{ tag.name }}</p>
                                  </template>
                                </li>
                                <li class="campaignListTxtBox">
                                  <template v-for="terms in res.terms">
                                    <p class="campaignListTxt">{{ terms.txt }}</p>
                                  </template>
                                </li>
                              </ul>
                              <ul class="campaignListDetail">
                                <p class="campaignListTxt -small">詳細はこちら<i class="icon-chevronRight"></i></p>
                              </ul>
                            </div></a></template>
                      </div>
                    </div>
        </section>
      </div>
    </main>
    <footer id="PC_footer">
      <ul class="global-footer__utility">
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="/cnt/topics/bp/">掲載ご希望のサロン様</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="/cnt/terms/">利用規約</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="/sitemap/">サイトマップ</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="//beauty.faq.rakuten.net/user/s/ask">お問い合わせ</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="//beauty.faq.rakuten.net/user/s/">ヘルプ</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="/cnt/topics/release/">リリース情報</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="//www.facebook.com/RakutenBeauty" target="_blank">Facebook</a></li>
        <li class="global-footer__utilityItem"><a class="global-footer__utilityLink" href="//x.com/Rakuten__BEAUTY" target="_blank">X</a></li>
      </ul>
      <div class="rc-f-standard rc-f-liquid rc-f-custom00">
        <div class="rc-f-section-content00">
          <div class="rc-f-section-bar rc-f-first">
            <div class="rc-f-inner">
              <dl class="rc-f-dl-inline-box">
                <dt class="rc-f-dl-title01 rc-f-text-em">楽天グループ</dt>
                <dd>
                  <ul class="rc-f-list-inline">
                    <li><a class="rc-f-btn" href="//www.rakuten.co.jp/sitemap/"><span>サービス一覧</span></a></li>
                    <li><a class="rc-f-btn" href="//www.rakuten.co.jp/sitemap/inquiry.html"><span>お問い合わせ一覧</span></a></li>
                  </ul>
                </dd>
              </dl>
            </div>
          </div>
          <div class="rc-f-section-bar">
            <div class="rc-f-inner">
              <dl class="rc-f-dl-inline rc-f-block">
                <dt class="rc-f-dl-title01">おすすめ</dt>
                <dd class="rc-f-text-strong" id="grpRakutenRecommend"><a href="//www.rakuten-card.co.jp/">【楽天カード】楽天ポイントが貯まるクレジットカード。年会費無料。</a></dd>
              </dl>
              <ul class="rc-f-row rc-f-row-dot rc-f-row4">
                <li class="rc-f-col rc-f-first">
                  <div class="rc-f-media rc-f-nav-item rc-f-nav-item">
                    <div class="rc-f-media-head"><a href="/rakulab/">「キレイの主役」を応援するビューティメディア</a></div>
                    <div class="rc-f-media-body">Raku Lab(ラクラボ)</div>
                  </div>
                </li>
                <li class="rc-f-col">
                  <div class="rc-f-media rc-f-nav-item rc-f-nav-item-delimit">
                    <div class="rc-f-media-head"><a href="https://brandavenue.rakuten.co.jp/">人気ブランド新作やヘア小物をGET</a></div>
                    <div class="rc-f-media-body">Rakuten Fashion</div>
                  </div>
                </li>
                <li class="rc-f-col">
                  <div class="rc-f-media rc-f-nav-item rc-f-nav-item-delimit">
                    <div class="rc-f-media-head"><a href="https://www.infoseek.co.jp/">楽天が運営するポータルサイト</a></div>
                    <div class="rc-f-media-body">Infoseekトップ</div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div id="mkdiv_footer_pitari"></div>
        <div class="rc-f-section01">
          <div class="-excludeApp" id="footerRakutenBnr"><a href="//corp.rakuten.co.jp/event/climateaction/?scid=wi_bty_gogreen_footer" target="_blank"><img class="footerRakutenBnr__img" src="//cloudinary-a.akamaihd.net/vivivi/image/upload/t_beauty,f_auto/w_150,h_40/v1/front/image/common/bnr_gogreen_pc.svg" alt="本サービスは再生可能エネルギー100%" width="150" height="40"></a></div>
          <div class="rc-f-inner">
            <ul class="rcf-list-inline rcf-list-block">
              <li><a href="//corp.rakuten.co.jp/" rel="nofollow">企業情報</a></li>
              <li><a href="//privacy.rakuten.co.jp/" rel="nofollow">個人情報保護方針</a></li>
              <li><a href="//corp.rakuten.co.jp/csr/">社会的責任[CSR]</a></li>
              <li><a href="//corp.rakuten.co.jp/careers/">採用情報</a></li>
            </ul>
            <p class="copyright">© Rakuten Group, Inc.</p>
          </div>
        </div>
      </div>
      <script type="text/javascript" src="//jp.rakuten-static.com/1/js/lib/prm_selector.js"></script>
      <script type="text/javascript" src="//jp.rakuten-static.com/1/js/grp/hdr/prm_sender.js"></script>
      <script type="text/javascript" src="//jp.rakuten-static.com/1/js/grp/ftr/js/parm_selector_footer.js"></script>
    </footer>
    <div id="SP_footer">
      <div class="c-section c-text--alignCenter">
        <ul class="c-list--inlineSmall c-section__inside">
          <li class="c-list__item"><a href="/cnt/topics/guide/">はじめての方へ</a></li>
          <li class="c-list__item"><a href="//beauty.faq.rakuten.net/user/s/ask">お問い合わせ</a></li>
          <li class="c-list__item"><a href="//beauty.faq.rakuten.net/user/s/">ヘルプ</a></li>
          <li class="c-list__item"><a href="/cnt/topics/release/">リリース情報</a></li>
          <li class="c-list__item"><a href="/cnt/terms/">利用規約</a></li>
          <li class="c-list__item"><a href="/cnt/topics/bp/">掲載ご希望のサロン様</a></li>
        </ul>
      </div>
      <div id="footer">
        <ul>
          <li><a rel="nofollow" href="//corp.rakuten.co.jp/">企業情報</a></li>
          <li><a rel="nofollow" href="//privacy.rakuten.co.jp/sp/">個人情報保護方針</a></li>
          <li><a rel="nofollow" href="//www.rakuten.co.jp/sitemap/sp/">楽天のサービス一覧</a></li>
          <li><a rel="nofollow" href="//www.rakuten.co.jp/sitemap/sp/app.html">アプリ一覧</a></li>
        </ul>
        <div id="copyright">&copy; Rakuten Group, Inc.</div>
        <div class="-excludeApp" id="footerRakutenBnr"><a href="//corp.rakuten.co.jp/event/climateaction/?scid=wi_bty_gogreen_footer" target="_blank"><img class="footerRakutenBnr__img" src="https://cloudinary-a.akamaihd.net/vivivi/image/upload/t_beauty,f_auto/w_150,h_40/v1/front/image/common/bnr_gogreen_sp.svg" alt="本サービスは再生可能エネルギー100%" width="150" height="40"></a></div>
      </div>
    </div>
    <script src="/cnt/common/js/ua-parser/ua-parser.min.js"></script>
    <script src="/cnt/common/js/ua-parser/main.js"></script>
    <script src="/cnt/common/js/smooth-scroll.min.js"></script>
    <script>
      var scroll = new SmoothScroll('a[href*="#"]');
      
    </script>
    <script src="/cnt/common/js/vue/vue.min.js" defer></script>
    <script src="/cnt/common/js/vue/axios.min.js" defer></script>
    <script src="//r.r10s.jp/com/js/d/Rmodules/Rmodules.min.js?v=1.4.0" defer></script>
    <script src="//r.r10s.jp/com/js/d/coupon/one_click_acquisition/1.2/one_click_acquisition-1.2.0.min.js" defer></script>
    <script src="/cnt/common/js/readjson.js?v20250508" defer></script>
    <script>
      campaignlist = true;
      
    </script>
    <script>
      // 追従メニューの関数
      const FixedNav = () => {
      const scroll = window.pageYOffset; // 現在のスクロール位置
      const header = document.querySelector('.navigation__wrap'); // ヘッダー要素
      const fixed = document.querySelector('.fixed__navigation__wrap'); // 固定ナビゲーション要素
      // 要素が存在しない場合は処理を終了
      if (!header || !fixed) return;
      const baseFixPoint = header.offsetTop - 50; // 固定ナビゲーションの基準位置
      const isHeaderVisible = scroll < baseFixPoint + header.offsetHeight; // ヘッダーが表示されているかどうか
      // ヘッダーの表示・非表示を切り替え
      header.style.visibility = isHeaderVisible ? 'visible' : 'hidden';
      header.setAttribute('aria-hidden', !isHeaderVisible);
      // 固定ナビゲーションの表示・非表示を切り替え
      fixed.style.top = isHeaderVisible ? '-100%' : '0';
      fixed.style.visibility = isHeaderVisible ? 'hidden' : 'visible';
      fixed.setAttribute('aria-hidden', isHeaderVisible);
      };
      // 初期化処理（ページ読み込み時に一度実行）
      window.addEventListener('load', FixedNav);
      // 画面をスクロールしたら発火
      window.addEventListener('scroll', FixedNav);
      
    </script>
    <script type="text/javascript">
      (function ($) {
      const rastaAds = document.querySelectorAll('.rad-table-existItemDisplay');
      const $body = $('body');
      [].forEach.call(rastaAds, function (ads) {
      const config = ads.querySelector('.rad-table-config');
      const eventName = config.getAttribute('event_name');
      $body.one(eventName, function () {
      const lazyImages = ads.querySelectorAll('img[data-original]');
      [].forEach.call(lazyImages, function (image) {
      image.setAttribute('src', image.getAttribute('data-original'));
      image.removeAttribute('data-original');
      });
      });
      });
      })(window.jQuery);
    </script>
    <script charset="UTF-8" type="text/javascript" src="https://r.r10s.jp/com/js/c/ecm/ecm_20231012_pc.min.js?v=202405201200"></script>
    <script charset="euc-jp" type="text/javascript" src="https://r.r10s.jp/com/js/c/pc/module/module_set_20170901.min.js"></script>
    <script charset="UTF-8" type="text/javascript" src="https://r.r10s.jp/com/js/d/rad_liquid_table/1.12/rad_liquid_table-1.12.0.min.js" async></script>
    <script charset="UTF-8" type="text/javascript" src="https://r.r10s.jp/com/js/d/smart/rad_table/1.11/smt_rad_table-1.11.0.min.js" async></script>
    <!-- RAT tag start-->
    <!-- Generic Parameter-->
    <input id="ratAccountId" type="hidden" name="rat" value="426">
    <input id="ratServiceId" type="hidden" name="rat" value="1">
    <input id="ratPageLayout" type="hidden" name="rat" value="resp">
    <input id="ratSiteSection" type="hidden" name="rat" value="cnt">
    <input id="ratPageName" type="hidden" name="rat" value="cnt">
    <input id="ratPageType" type="hidden" name="rat" value="cnt_item">
    <script type="text/javascript" src="//r.r10s.jp/com/rat/js/rat-main.js"></script>
    <!-- /RAT tag end-->
  </body>
</html>