//- LP用ベーステンプレート。新規作成 or 改修時は最新のものをフォルダごと複製して使用してください
//- クーポンがあるLPは_template_coupon/を複製→このテンプレートから必要なものを移植して作成したほうが簡単です
//- ver 2.9.8 / 更新日時：2024.2.6 / media query SP max 900px -> 940px

extends ../../../../_common/pug/Base/_layout.pug

block init
  -
    var parameter = '?v20250310'
    var meta = {
      title: '【楽天】楽天ビューティ初めてのネット予約＆6,000円(税込)以上の施術完了で1,000ポイント｜スタート1000',
      description: 'スタート1000！便利な対象サービスを使うごとに1,000ポイントがもらえる！身の回りのお買い物やクレジットカード、NISA、スマホなどでさくさくもらえてザクザク貯まる！',
      url: 'https://beauty.rakuten.co.jp/cnt/topics/campaign/sbc/',
      directory: 'sbc', //- ディレクトリ名 for Click or Appear Tag（例：/xxxx/→'xxxx'）
      og_image: 'https://beauty.rakuten.co.jp/asset/img/Beauty/ogp.png' + parameter,//- default (シェア画像があれば変更)
    }
    var css = 'css/main.css' + parameter

block addHead
  //- nofollowが必要なときはコメントを外す
  //- meta(name='robots', content='noindex,nofollow')
  meta(name='viewport', content='width=device-width,initial-scale=1')

block nav
  //- grobalNav / ''に入れた部分がcurrent表示になる
  +grobalNav('/cnt/topics/')

  //- breadcrumb
  //- -
  //-   var lists = [
  //-     {
  //-       name: 'キャンペーン一覧・特集',
  //-       link: 'https://beauty.rakuten.co.jp/cnt/topics/',
  //-     },
  //-     {
  //-       name: meta.title, //- タイトル以外を設定したいときは変更
  //-       link: 'current', //- 'current' is no link
  //-     },
  //-   ]
  //- +breadcrumb(lists)

block content
  //- #Pagename はページ固有の名前に置換してください
  #sbc

    //- 終了対応
    //- #End
      - var endflag
      - var endTxt = 'このキャンペーンは終了しました' //- ページ上部の文言
      - var btnTxt = 'エントリー期間が終了しました' //- ボタンの文言
      +endSet(endTxt)

    //- Campaign Tag
    //- Rule: https://confluence.rakuten-it.com/confluence/pages/viewpage.action?pageId=2688949406
    //- #CpnTags
    //- -
    //-   var taglist = {
    //-     tag: [
    //-       'エントリー必要', //- エントリー不要は自動的に青色になります
    //-       '初回利用限定', //- 初回限定と全員、両方のクーポンがある場合はタグはなし
    //-       'アプリ限定',
    //-       'ネット予約・施術完了',
    //-       '毎月開催',
    //-     ],
    //-   }
    //- +campaignTag(taglist)

    #start1000-ddt(
      data-servicepanel ='img/data-servicepanel.png' + parameter,
      data-servicepanel-sp ='img/data-servicepanel.png' + parameter,
      data-servicename = "楽天ビューティ"
      data-achievement-condition = "初めてのネット予約<br>＆6,000円(税込)以上の施術完了で"
      data-incentive-amount-max = ""
      data-incentive-amount = "1000"
      data-cta-text = "さっそく予約する"
      data-cnp-trigger = ""
      data-cnp-img = ""
      data-cnp-img-SP = ""
      data-cnp-img-alt = ""
      data-cta-url = "https://beauty.rakuten.co.jp/"
      data-cta-ratid1 = "sbc-bty-cta-1"
      data-cta-ratid2 = "sbc-bty-cta-2"
      data-achievement-note = ""
      data-annotation = "ネット予約＆施術完了の翌月末ごろに、期間限定ポイントで進呈いたします。<br>※6,000円(税込)以上の施術が対象です。<br>※過去に予約されたことがある方は対象外となります。"
      data-step-layout = "3"
      data-step1-img = "img/data-step1-img.png" + parameter,
      data-step2-img = "img/data-step2-img.png" + parameter,
      data-step3-img = ""
      data-step1-img-sp ='img/data-step1-img-SP.png' + parameter,
      data-step2-img-sp ='img/data-step2-img-SP.png' + parameter,
      data-step3-img-SP = ""
      data-step1-img-alt = ""
      data-step2-img-alt = ""
      data-step3-img-alt = ""
      data-section-title = "楽天ビューティとは"
      data-appeal-mode = "3"
      data-appeal-img1 ='img/data-appeal-img1.png' + parameter,
      data-appeal-img2 ='img/data-appeal-img2.png' + parameter,
      data-appeal-img3 ='img/data-appeal-img3.png' + parameter,
      data-appeal-img1-alt = ""
      data-appeal-img2-alt = ""
      data-appeal-img3-alt = ""
      data-appeal-text1 ='予約・施術完了で<br>楽天ポイントが<br>毎回貯まる！',
      data-appeal-text2 ='スペシャルメニューや<br>割引クーポンで<br>お得に予約！',
      data-appeal-text3 ='ヘアサロンはもちろん<br>ネイル・まつげや<br>エステ、リラクも！',
      data-appeal-detail1 ="ネット予約・施術完了で施術金額の1倍(100円につき1ポイント)の楽天ポイントが毎回貯まります。貯めたポイントは楽天ビューティはもちろん、楽天グループの他サービスでのお支払いに使うことも可能です。",
      data-appeal-detail2 ="楽天ビューティ限定の特別メニューや割引クーポンを使えば、もっとお得にサロン予約が可能です。ポイント高還元の特別メニューは<a href='https://beauty.rakuten.co.jp/cnt/topics/campaign/superdeal/?scid=wi_ich_sbc'>こちら</a>をご確認ください。",
      data-appeal-detail3 ='ヘアサロンだけではなく、ネイル・まつげやエステ、リラクのサロンも検索・予約いただけます。ヘアカタログやネイルカタログからお気に入りのスタイルを見つけて予約することも！メンズももちろん大歓迎◎',
      data-appeal-detail-note1 = ""
      data-appeal-detail-note2 = ""
      data-appeal-detail-note3 = ""
      data-stepdetail-title1 ='ネットでサロン予約<br><span class="step-lead-sm">※6,000円(税込)以上</span>',
      data-stepdetail-title2 ='同月中の施術完了',
      data-stepdetail-title3 ='',
      data-stepdetail-img1 ='img/data-stepdetail-img1.png' + parameter,
      data-stepdetail-img2 ='img/data-stepdetail-img2.png' + parameter,
      data-stepdetail-img3 = ""
      data-stepdetail-img1-sp ='img/data-stepdetail-img1-SP.png' + parameter,
      data-stepdetail-img2-sp ='img/data-stepdetail-img2-SP.png' + parameter,
      data-stepdetail-img3-SP = ""
      data-stepdetail-description1 ='楽天ビューティの予約サイトまたはアプリから、6,000円(税込)以上のメニューでサロンをご予約ください。<br>※過去に楽天ビューティで予約されたことがある方は対象外となります。',
      data-stepdetail-description2 ='同月中に予約されたサロンにご来店いただき、施術完了してもらってください。<br>※6,000円(税込)未満のメニューに変更のうえ施術完了された場合は対象外となります。<br>※予約日と施術日は同月中である必要があります。',
      data-stepdetail-description3 ='',
      data-stepdetail-description4 ='ネット予約＆施術完了の翌月末ごろに、期間限定ポイントとして1,000ポイントを進呈します。',
      data-stepdetail-detail-note1 = ""
      data-stepdetail-detail-note2 = ""
      data-stepdetail-detail-note3 = ""
      data-stepdetail-detail-note4 = ""
      data-additionalinfo-title1 ="楽天ビューティご利用でSPUアップ！",
      data-additionalinfo-title2 = ""
      data-additionalinfo-title3 = ""
      data-additionalinfo-img1 = 'img/data-additionalinfo-img1.png' + parameter,
      data-additionalinfo-img2 = ""
      data-additionalinfo-img3 = ""
      data-additionalinfo-img1-SP = 'img/data-additionalinfo-img1-SP.png' + parameter,
      data-additionalinfo-img2-SP = ""
      data-additionalinfo-img3-SP = ""
      data-additionalinfo-img1-alt = ""
      data-additionalinfo-img2-alt = ""
      data-additionalinfo-img3-alt = ""
      data-additionalinfo-annotation1 = "詳細は<a href='https://beauty.rakuten.co.jp/cnt/topics/campaign/spu/?scid=wi_ich_sbc'>こちら</a>"
      data-additionalinfo-annotation2 ="",
      data-additionalinfo-annotation3 ="")
    #fb-root
    #riGlobalWrap
      //
        -----------------------------------------------------------------------------
        [header]
        ------------------------------------------------------------------------------
      // ----------------------------------end-------------------------------------
      .sbcWrap
        ul.topic-path
          li
            a(href='https://event.rakuten.co.jp/group/sbc/') スタート1000トップ
          li 楽天ビューティ
        main#start1000_container
          .contents_block
            header#header-code.header-block
            #main-area
            .area-container-end
              .area-rule
                dl#rule
                  dt.rule-toggle.js-rule-toggle.is-open.sv-ta-l キャンペーンルール詳細
                  dd.rule-contents(style='display: block;')
                    .container.standardization-rule
                      h3.rule-ttl-main スタート1000楽天ビューティで初めてのネット予約＆6,000円(税込)以上の施術完了で1,000ポイント！
                      dl.rule
                        dt 開催期間
                        dd
                          | 常時開催
                          br
                          | (毎月1日0:00以降のエントリー＆条件達成が対象となります)
                          br
                          | ※
                          a(href='https://ichiba.faq.rakuten.net/detail/000011772') 本特典は、予告なく変更・中止させていただく場合があります。
                          br
                          | 特典の獲得には、毎月エントリーが必要となります。
                        dt エントリー
                        dd
                          p
                            | 必須 
                            a(href='https://event.rakuten.co.jp/group/sbc/') エントリーはこちらから
                        dt 特典
                        dd
                          ul.pc-flex
                            li
                              dl
                                dt 1,000ポイント（期間限定ポイント）
                                dd
                                  ul.disc
                                    li 進呈予定日：条件達成日の翌月末ごろ
                                    li ポイント有効期限：ポイント進呈日から6カ月間有効な期間限定ポイントとして進呈されます。
                                      br
                                      | 期間限定ポイントの詳細は
                                      a(href='https://ichiba.faq.rakuten.net/detail/000006532?scid=su_2312') こちら
                                      | をご確認ください。
                                  p ※当キャンペーンのポイント進呈対象者は、同時期に行われている他のキャンペーンの対象から除外してポイント進呈をいたします。
                        dt 条件
                        dd
                          dl.box-top
                            dt 対象者
                            dd
                              p.box-top.sv-mb-00
                                | 下記の条件を全て満たした方が対象となります。
                                br
                                | ※最初にエントリーが必要となりますのでご注意ください。
                              ul.hanging-indent
                                li ① 当キャンペーンにエントリーする
                                li ② 同月中に楽天ビューティで初めてのネット予約
                                li ③ 同月中に施術完了
                                  br
                                  b &nbsp;※6,000円(税込)以上のご予約・施術完了が対象
                            dt 対象サービス
                            dd 楽天ビューティ
                            dt ポイント進呈の対象外となる場合
                            dd
                              ul.disc
                                li ネット予約後キャンセルされた場合、ご来店いただけなかった場合は対象外となります。
                                li 楽天発行の割引クーポン利用の場合は、クーポン割引後の価格が6,000円(税込)以上の場合に対象となります。
                                li 掲載店舗、あるいは弊社が不正と合理的に判断した場合は、特典対象から除外する場合がございます。
                                li 電話予約や直接来店は対象外となります。
                                li ネット予約後、お客様都合や店舗都合でキャンセルになり、その後電話予約や直接来店で施術完了された場合は、ポイント進呈の対象外となります。
                                li ネット予約後、来店日時が変更になった場合でも、対象の来店期間内で施術完了された場合は、ポイント進呈の対象となります。
                                li 施術完了日がキャンペーンエントリーの翌月以降の場合は対象外となります。
                        dt 注意事項
                        dd
                          p 以下の条件に加えて、トップページの注意事項も適用されます。詳細は
                            a(href='https://event.rakuten.co.jp/group/sbc/#rule_caution') こちら
                            | でご確認ください。
                          ul.disc
                            li 一部ネット予約が行えないサロンがございます。また、サロンの予約状況によっては、ご希望に添えない場合やお断りする場合もございます。
                            li 初回予約をキャンセルされた場合でも、改めて新たにご予約のうえ条件達成されますと「初めてのご利用」扱いとなり、当キャンペーンの対象となります。（予約月が変わる場合は、当キャンペーンへの再エントリーが必要となります）
                            li 本サービスへのアクセス集中や通信回線の状態による遅延、不具合などにより本サービスへのアクセスや登録・表示などができないことにより発生した障害、または起因して発生したすべての事象に関しましては、当社の責めに帰すべき場合を除き、責任を負いかねます。
                            li 取得したユーザ情報は
                              a(href='https://privacy.rakuten.co.jp/') 個人情報保護方針
                              | に基づいてお取り扱いいたします。
                            li キャンペーンのエントリーおよび条件達成状況に関わるお問い合わせは一切お受けいたしかねますので、ご了承ください。
                            li その他ご不明な点は
                              a(href='https://beauty.faq.rakuten.net/user/s/') こちら
                              | よりお問い合わせください。

              .btn-home
                a(href='https://event.rakuten.co.jp/group/sbc/?l-id=wi_grp_gmx_sbcex_subbaner') スタート1000トップへ
          // /contents-wrap
          // /.sbcWrap
          // #riBackToTop
          #riBackToTop
          // /#riBackToTop
          //
            -----------------------------------------------------------------------------
            [footer]
            ------------------------------------------------------------------------------
          // ----------------------------------end-------------------------------------
          // /#riGlobalWrap
          //
            -----------------------------------------------------------------------------
            [javascript]
            ------------------------------------------------------------------------------
          // /design-template
          // rexicon
          svg.sbc-svg-embed(width='32', height='32', xmlns='http://www.w3.org/2000/svg')
            defs
              symbol#num-01(viewBox='0 0 82 120')
                path(d='M46.5 10L5.20001 44.7L18 60L41.8 40L26.9 110H55.6L76.8 10H46.5Z', fill='#BF0000')
              symbol#num-02(viewBox='0 0 97 120')
                path(d='M77.3804 62.1C86.1896 56.1 91.2949 46.9 91.2949 37C91.2949 17.8 72.9758 8 55.5577 8C29.0302 8 14.3149 25.9 12.4129 42H38.9405C38.9405 41.5 39.0406 41 39.1407 40.5C40.8424 33.2 44.6464 28.3 51.6537 28.3C59.4618 28.3 63.4659 34.4 63.4659 39.2C63.4659 43.7 61.8643 47.1 59.2616 49.3L7.30758 87L5.00519 110H81.6849L87.3908 87H43.0447L77.3804 62.1Z', fill='#BF0000')
              symbol#num-03(viewBox='0 0 97 120')
                path(d='M69.6 58.2C81.8 54.5 91.2 47 91.2 35.1C91.2 15.6 73.6 8 56.8 8C31.2 8 20.2 21.2 15.2 35.5C14.7 37 14.4 38.6 14.5 40H40.9V39.9C42.6 33.5 47.1 30 54.5 30C60.9 30 65.4 33.8 65.4 38.9C65.4 44 59.9 48 52.7 48H38.3L36.4 67.4H46.7C53.8 67.4 58.7 72 58.7 78.3C58.7 84.6 52.6 89.4 44.8 89.4C36.2 89.4 31.7 83.9 31.7 79.5C31.7 79.3 31.7 79.1 31.7 78.9L5 90C8.3 102.2 21.5 112 45.2 112C72.7 112 86.2 99.2 86.2 83.9C86.2 73.8 81.3 63.7 69.6 58.2Z', fill='#BF0000')
              symbol#num-04(viewBox='0 0 105 120')
                path(d='M99.1049 72H85.3181L98.5055 10H59.2431L7.29299 72L4.99521 95H51.9501L48.7532 110H77.3258L80.5227 95H93.4103L99.1049 72ZM35.9655 72L63.8387 38.7L56.7455 72H35.9655Z', fill='#BF0000')
              symbol#num-05(viewBox='0 0 98 120')
                path(d='M55.6143 43.6C50.604 43.6 45.9945 44.3 41.6857 45.5L44.3912 33H86.6782L92.4901 10H20.6424L7.61563 71H33.7694C36.0742 65.5 41.3851 62.6 47.5979 62.6C54.7125 62.6 59.6226 68.2 59.6226 75.9C59.6226 83.6 53.51 89.4 45.6939 89.4C39.3809 89.4 35.2725 85.8 33.569 81.7L5.0103 93.6C11.6239 105.8 26.755 112 41.3851 112C70.9458 112 89.3838 92.4 89.3838 74C89.3838 58.5 76.5574 43.6 55.6143 43.6Z', fill='#BF0000')
              symbol#num-06(viewBox='0 0 98 120')
                path(d='M66.9 43.6C63 42.6 60.1 42.6 57.4 42.9L85.1 10H53.8L13.5 58.1C8 64.2 5 71.7 5 79.8C5 101.1 25.3 112 44.6 112C74.1 112 92.5 92.4 92.5 74C92.5 58.5 80 46.9 66.9 43.6ZM48.8 89.4C40.2 89.4 35.7 82.7 35.7 77.3C35.7 67.7 42.5 62.6 50.7 62.6C57.7999 62.6 62.7 68.2 62.7 75.9C62.7 83.6 56.6 89.4 48.8 89.4Z', fill='#BF0000')
              symbol#num-07(viewBox='0 0 99 120')
                path(d='M14 10L11.7 33H58.9L5 110H34.3L88.2 33L94 10H14Z', fill='#BF0000')
              symbol#num-08(viewBox='0 0 97 120')
                path(d='M70.4 58.2C82.6 54.5 92 47 92 35.1C92 15.6 74.4 8 57.6 8C32 8 16 21.1 16 35.5C16 44.1 21.2 51.6 29.8 56.2C11.9 60.8 5 72 5 83.9C5 98.9 18.5 112 46 112C73.5 112 87 99.2 87 83.9C87 73.8 82.1 63.7 70.4 58.2ZM45.7 88.3C39.6 88.3 36.5 83.5 36.5 79.7C36.5 72.9 41.3 69.3 47.1 69.3C52.1 69.3 55.6 73.3 55.6 78.7C55.5 84.2 51.2 88.3 45.7 88.3ZM53.1 48C48.9 48 46 44.6 46 40.1C46 35.6 49.6 32 54.3 32C59.4 32 62.1 36 62.1 39.2C62 44.9 58 48 53.1 48Z', fill='#BF0000')
              symbol#num-09(viewBox='0 0 98 120')
                path(d='M30.6 76.4C34.5 77.4 37.4 77.4 40.1 77.1L12.4 110H43.7L84 61.9C89.5 55.8 92.5001 48.3 92.5001 40.2C92.5001 18.9 72.2 8 52.9 8C23.4 8 5 27.6 5 46C5 61.5 17.5 73.1 30.6 76.4ZM48.7 30.6C57.3 30.6 61.8 37.3 61.8 42.7C61.8 52.3 55 57.4 46.8 57.4C39.7 57.4 34.8 51.8 34.8 44.1C34.8 36.4 40.9 30.6 48.7 30.6Z', fill='#BF0000')
              symbol#num-00(viewBox='0 0 102 120')
                path(d='M5 71.3C5 34.6 26.6 8.29999 56.8 8.29999C80.4 8.29999 96.2 24.4 96.2 48.4C96.2 85.1 74.3 111.7 44 111.7C20.7 111.7 5 95.5 5 71.3ZM45.2 89.3C56.4 89.3 66.5 70.2 66.5 49.1C66.5 36.9 62.8 30.6 55.7 30.6C44.5 30.6 34.6 49.4 34.6 70.6C34.7 82.9 38.3 89.3 45.2 89.3Z', fill='#BF0000')
              symbol#num-point(viewBox='0 0 652 100')
                path(d='M525.635 26.2864L530.688 6.07562H469.188L460.384 93.9244H521.234L526.286 73.7136H484.067L486.268 59.2374H521.234L526.286 39.0266H489.275L491.196 26.2864H525.635Z')
                path(d='M539.492 26.2864H562.709L555.952 93.9244H576.596L586.764 26.2864H609.113L614.166 6.07562H541.506L539.492 26.2864Z')
                path(d='M650.682 6.07562H625.604L621.792 69.3428H638.655L650.682 6.07562Z')
                path(d='M616.801 93.9244H637.477L640.111 76.3484H618.568L616.801 93.9244Z')
                path(d='M425.976 26.2864L427.712 33.323L451.798 30.9051L446.838 6.07562H379.572L372.567 73.5276L396.869 93.9244H443.211L450.992 42.0955H416.739L414.693 62.3062H425.697L424.55 73.7136H405.611L395.691 65.4061L401.581 26.2864H425.976Z')
                path(d='M92.9014 47.0552L70.2108 49.3491L77.7123 79.2932L90.2356 89.8016L103.782 73.6206L97.0861 68.0409L92.9014 47.0552Z')
                path(d='M10.0124 70.5208L0 78.9523L13.5462 95.1023L29.2622 81.9281L37.4147 49.3491L14.7241 47.0552L10.0124 70.5208Z')
                path(d='M103.131 20.3968H96.7451C99.411 18.3509 100.899 15.3441 100.372 12.3373C99.5349 7.59455 94.0173 4.61873 88.0657 5.67267C82.114 6.7266 77.9603 11.4073 78.7972 16.15C79.0762 17.8239 79.9751 19.2809 81.2461 20.3968H81.1531H69.9007L71.8846 7.22257H46.8381L45.5052 20.3968H12.5852L10.5703 40.6076H43.4903L38.0347 95.0713H58.6794L66.8629 40.6076H98.047L103.131 20.3968ZM89.6156 17.421C87.4767 17.421 86.3607 15.7471 86.3607 14.4141C86.3607 12.0273 88.0347 10.7564 90.0805 10.7564C91.8474 10.7564 93.0563 12.1513 93.0563 14.0732C93.0873 15.964 91.5684 17.421 89.6156 17.421Z')
                path(d='M144.978 35.2139L108.4 52.2629L117.328 71.3887L142.715 59.5164L139.151 95.1023H159.795L167.483 43.8314L191.878 23.3726L178.332 7.22258L144.978 35.2139Z')
                path(d='M210.769 11.6331L200.664 29.1357L229.575 45.8282L239.681 28.3256L210.769 11.6331Z')
                path(d='M243.707 68.0099L204.185 71.4507L206.014 92.4675L256.448 88.0657H256.479L287.136 34.9349L272.722 17.7309L243.707 68.0099Z')
                path(d='M322.35 35.4929L326.751 6.07564H301.705L292.932 93.9244H313.577L319.312 55.7037H360.167L363.205 35.4929H322.35Z')
              symbol#num-point-min(viewBox='0 0 188 100')
                g(clip-path='url(#clip0)')
                  path(d='M47.9137 21.4548L36.2111 22.6219L40.08 38.0655L46.5228 43.4852L53.5252 35.1559L50.072 32.2622L47.9137 21.4548Z')
                  path(d='M5.16387 33.5572L0 37.8897L6.98641 46.219L15.0919 39.4245L19.2966 22.6219L7.59392 21.4548L5.16387 33.5572Z')
                  path(d='M53.1895 7.70581H49.8961C51.271 6.65066 52.0384 5.0999 51.7666 3.54914C51.3349 1.1031 48.4892 -0.431675 45.4197 0.11189C42.3501 0.655455 40.2078 3.06952 40.6395 5.51557C40.7834 6.37888 41.247 7.13028 41.9025 7.70581H41.8545H36.0512L37.0744 0.91125H24.1567L23.4692 7.70581H6.50682L5.46765 18.1295H22.4461L19.6323 46.219H30.2798L34.5004 18.1295H50.5835L53.1895 7.70581ZM46.219 6.17104C45.1159 6.17104 44.5404 5.30773 44.5404 4.62028C44.5404 3.38927 45.4037 2.73379 46.4588 2.73379C47.3701 2.73379 47.9936 3.45322 47.9936 4.44442C48.0096 5.41964 47.2262 6.17104 46.219 6.17104Z')
                  path(d='M74.7722 15.3317L55.9073 24.1247L60.4956 33.9888L73.6051 27.8817L71.7666 46.219H82.4141L86.3789 19.7922L98.9608 9.24059L91.9744 0.911255L74.7722 15.3317Z')
                  path(d='M108.698 3.16809L103.486 12.195L118.397 20.8041L123.609 11.7772L108.698 3.16809Z')
                  path(d='M125.691 32.2462L105.308 34.0367L106.251 44.8601L132.262 42.5899V42.6059L148.09 15.1878L140.655 6.3309L125.691 32.2462Z')
                  path(d='M166.251 15.4916L168.521 0.303741H155.604L151.079 45.6275H161.727L164.684 25.9153H185.755L187.322 15.4916H166.251Z')
                  path(d='M84.4125 65.1159L87.0184 54.6923H55.2998L50.7754 100H82.1583L84.7642 89.5764H62.9736L64.1087 82.1103H82.1583L84.7642 71.6867H65.6595L66.6507 65.1159H84.4125Z')
                  path(d='M91.5587 65.1159H103.533L100.048 100H110.695L115.939 65.1159H127.466L130.072 54.6923H92.5979L91.5587 65.1159Z')
                  path(d='M148.905 54.6923H135.971L134.005 87.3221H142.702L148.905 54.6923Z')
                  path(d='M131.431 100H142.094L143.453 90.9353H132.342L131.431 100Z')
                  path(d='M33.0136 65.1159L33.9249 68.745L46.331 67.498L43.773 54.6923H9.08076L5.46765 89.4804L18.0016 100H41.9025L45.9153 73.2694H28.2494L27.2103 83.6931H32.8697L32.2782 89.5764H22.51L17.3941 85.2918L20.4317 65.1159H33.0136Z')
                defs
                  clipPath#clip0
                    rect(width='187.322', height='100', fill='white')
              symbol#num-maximum(viewBox='0 0 37 17')
                path(d='M6.66221 14.9307C4.85609 15.2556 4.85609 15.2556 2.7603 15.5635C1.23532 15.7944 0.570804 15.8884 0.0766751 15.9825L0 14.0585C0.136311 14.0585 0.212986 14.0585 0.3067 14.0585C0.613401 14.0585 1.12457 14.0414 1.91688 13.9815L2.93921 8.17515C2.12134 8.17515 1.66129 8.19226 1.07345 8.26922L1.38867 6.47344C1.87428 6.55041 2.34285 6.56751 3.29703 6.56751H16.4851C17.4393 6.56751 17.9164 6.55041 18.4446 6.47344L18.1294 8.26922C17.5501 8.19226 17.0985 8.17515 16.187 8.17515H9.69514L8.4939 15.0333C9.52475 14.6912 10.4449 14.2295 11.2627 13.6993C10.743 12.9553 10.4619 12.4166 9.9848 11.3135L11.6887 10.6294H11.1946C10.6067 10.6294 10.2574 10.6465 9.78885 10.7063L10.0956 8.95332C10.5045 9.01318 10.8793 9.03028 11.6631 9.03028H14.8068C15.4373 9.03028 15.8973 9.01318 16.2125 8.95332L16.9963 10.0222C16.8344 10.1933 16.7833 10.2702 16.5959 10.5524C15.7695 11.7924 14.8324 12.904 13.9038 13.7421C14.6449 14.2979 15.5991 14.7169 16.9793 15.0761C16.5022 15.6319 16.0933 16.2048 15.7014 16.906C13.8526 16.145 13.3926 15.8542 12.3873 14.9563C11.3053 15.7174 10.4789 16.1963 9.15841 16.7692C9.03914 16.1621 8.78356 15.6404 8.45982 15.2043C8.32351 15.9654 8.24683 16.5041 8.23831 17.0001H6.18512C6.33848 16.5383 6.46627 16.0424 6.62814 15.1103L6.66221 14.9307ZM16.8004 4.33562C16.6726 5.04538 16.6215 5.48149 16.5959 5.94326C16.1614 5.90906 15.5054 5.8834 14.875 5.8834H5.40985C4.57495 5.8834 4.0723 5.90051 3.47594 5.94326C3.61225 5.48149 3.71448 5.02827 3.83376 4.33562L4.27677 1.81298C4.40456 1.10322 4.45568 0.667106 4.48975 0.188232C5.11167 0.248092 5.58024 0.265194 6.45775 0.265194H15.5906C16.4681 0.265194 16.9622 0.248092 17.6012 0.188232C17.4649 0.650003 17.3712 1.08612 17.2434 1.81298L16.8004 4.33562ZM7.06263 12.6389H3.97859L3.77412 13.8019C4.70274 13.7078 5.13723 13.648 6.92632 13.4L7.06263 12.6389ZM7.45452 10.3899H4.37048L4.21713 11.2707H7.30117L7.45452 10.3899ZM7.84642 8.17515H4.76238L4.61755 9.01318H7.70159L7.84642 8.17515ZM5.73359 4.50664H14.8239L14.9602 3.74558H5.86139L5.73359 4.50664ZM6.09141 2.46288H15.1902L15.3265 1.70181H6.22772L6.09141 2.46288ZM11.7739 10.6208C12.0976 11.5786 12.3191 11.9805 12.7451 12.5705C13.4352 11.9805 13.8441 11.5187 14.4746 10.6208H11.7739Z')
                path(d='M29.4518 6.22535C29.6307 7.90996 30.2867 9.72284 31.2749 11.1167C32.3654 12.6987 33.737 13.7676 35.8073 14.6911C35.049 15.4351 34.7083 15.837 34.0608 16.8461C32.2461 15.8114 31.1216 14.8451 30.0566 13.4256C29.0684 12.1087 28.4209 10.6207 28.0375 8.88481C27.1259 10.8174 25.8736 12.4336 24.1101 13.9044C22.6192 15.1444 21.1282 16.0423 19.1432 16.8461C18.9473 16.1363 18.6491 15.5463 18.172 14.8793C19.5947 14.3491 20.4126 13.9472 21.4775 13.2716C24.2804 11.5186 25.9077 9.41499 26.9044 6.22535H22.5254C21.3498 6.22535 20.7875 6.24246 20.1485 6.33652L20.5574 3.98491C21.1368 4.06187 21.7928 4.09608 22.9003 4.09608H27.4838C27.6882 3.16398 27.7393 2.85614 27.9183 1.86419C28.0546 1.08602 28.1142 0.513079 28.1057 0H30.5763C30.3633 0.667002 30.2952 0.932093 30.0566 2.21479C29.9288 2.97586 29.8266 3.42052 29.6903 4.10463H34.6401C35.688 4.10463 36.361 4.07042 37 3.99346L36.5911 6.34507C35.8839 6.26811 35.2961 6.2339 34.2908 6.2339H29.4518V6.22535Z')
              symbol#num-box-tx(viewBox='0 0 105 99')
                path(fill-rule='evenodd', clip-rule='evenodd', d='M97.1415 59.0652C97.7051 56.0916 98 53.0229 98 49.8854C98 22.8234 76.062 0.885376 49 0.885376C21.938 0.885376 0 22.8234 0 49.8854C0 76.9473 21.938 98.8854 49 98.8854C68.9455 98.8854 86.1077 86.9683 93.7546 69.8659L104.367 62.4347L97.1415 59.0652Z', fill='#BF0000')
                path(d='M16.2634 45.5114L23.39 43.6018L24.4372 47.5099C25.2116 50.4 25.9841 51.7066 27.4503 52.5809C29.0919 53.5842 31.812 53.489 36.3113 52.2834C41.2703 50.9546 43.697 49.1076 44.4621 46.0514C44.8654 44.5354 44.7721 43.3988 44.0769 40.8043C43.7601 39.622 43.4984 38.777 42.8831 37.0059L39.8617 37.8155L38.9729 34.4985L27.7083 37.5168L26.7315 33.8714L37.9961 30.8531L36.7201 26.0911L25.4555 29.1094L24.2323 24.5444L18.6821 26.0316L19.9053 30.5966L12.9429 32.4622L14.2189 37.2242L21.1813 35.3586L22.1581 39.004L15.0315 40.9136L16.2634 45.5114ZM37.479 39.8267C37.8767 40.9169 38.1208 41.6963 38.2352 42.1232C39.0008 44.9804 37.9183 46.3265 34.1086 47.3473C32.5323 47.7696 31.5511 47.7862 30.9681 47.4496C30.3851 47.113 30.1546 46.6468 29.653 44.7748L28.9402 42.1146L37.479 39.8267Z', fill='white')
                path(d='M51.716 31.612C50.6629 33.7245 50.6477 33.799 48.4165 37.952L50.4405 45.5055C50.7354 44.8985 50.8949 44.5742 50.943 44.4909L51.8694 42.6939C52.4746 41.4053 52.8985 40.623 53.74 39.1655L55.9135 47.2774L61.1353 45.8782L57.6242 32.7744C58.6228 30.8525 59.0731 30.1686 61.0587 27.595C62.6332 25.5892 63.3727 24.9334 64.2594 24.6958C64.7849 24.555 65.3567 24.7186 65.6505 25.0271C65.9115 25.3443 66.0412 25.6968 66.3404 26.8134L66.4747 27.4462L68.6496 36.6137L68.7903 37.1391C69.3799 39.3395 69.9811 40.2696 71.2216 40.958C72.5782 41.6857 74.2185 41.6334 77.3384 40.7974C77.7325 40.6918 79.0374 40.3069 80.178 39.9661L78.7261 34.5473C77.7825 34.8353 77.2898 34.9673 76.9614 35.0553C76.0419 35.3017 75.4484 35.3199 74.9575 35.0643C74.5082 34.8327 74.0407 34.0075 73.86 33.0704L73.7873 32.6675L72.1645 25.4288C71.8717 24.2049 71.6582 23.2765 71.5966 23.0466C71.1566 21.4046 70.292 20.0171 69.2222 19.1773C67.8017 18.0796 66.2968 17.8492 64.3263 18.3772C62.0931 18.9756 60.3338 20.2918 58.3875 22.7493C57.9348 23.293 57.4821 23.8367 57.071 24.4044C56.7714 24.7311 56.3515 25.266 55.7938 25.9434L53.3299 16.7478L48.1081 18.147L49.4809 23.2702L45.3428 24.379L46.7068 29.4694L50.8448 28.3607L51.716 31.612Z', fill='white')
                path(d='M20.8425 65.2281L22.2241 70.3842L26.5592 69.2226C27.0748 77.3211 27.1007 78.8629 26.77 86.1674L32.2545 84.6978C32.5092 79.7369 32.3681 75.2692 31.8138 67.8146L37.2326 66.3626L35.8511 61.2065L31.4503 62.3857C31.2889 61.1266 31.2778 60.9536 30.8998 58.0981L25.3825 59.5765C25.6758 61.3282 25.7797 62.11 25.9329 63.8641L20.8425 65.2281ZM42.3266 71.58C41.4944 71.627 41.0915 71.6998 40.566 71.8406C36.001 73.0637 33.5658 76.849 34.6657 80.9542C35.1145 82.6291 35.9703 83.9838 37.1058 84.8059C39.1269 86.3059 41.5913 86.7016 44.3828 85.9536C47.2072 85.1968 49.0779 83.6396 49.833 81.4661C50.298 80.1799 50.2815 79.1987 49.872 77.4077C51.7669 77.7799 52.6038 78.0133 55.3275 79.1138L53.6291 72.7754C52.0538 72.2824 51.8632 72.2278 48.1678 71.7044L46.0998 63.9867L50.4021 62.8339L49.0029 57.6121L39.2818 60.2169L42.3266 71.58ZM41.5488 76.8219C42.961 76.4435 43.9756 76.9461 44.2924 78.1283C44.6532 79.4749 43.9865 80.5335 42.6071 80.9031C41.1949 81.2815 39.9809 80.6916 39.6553 79.4765C39.3385 78.2942 40.1037 77.2091 41.5488 76.8219Z', fill='white')
                path(d='M66.914 48.6593L60.4107 62.616C60.0525 63.3808 59.988 64.4541 60.2608 65.4722C60.5776 66.6545 61.0011 67.3154 61.8691 67.9276L63.6885 69.2L74.3289 77.12L82.1451 75.0256L68.8309 65.5342C67.3951 64.5109 67.1605 64.2922 66.9757 63.6025C66.7909 62.9128 66.9234 61.9622 67.3298 61.1141L73.9421 46.7761L66.914 48.6593Z', fill='white')
              symbol#boxPC-point(viewBox='0 0 188 100')
                path(d='M47.9137 21.4548L36.2111 22.6219L40.08 38.0655L46.5228 43.4852L53.5252 35.1559L50.072 32.2622L47.9137 21.4548Z', fill='#BF0000')
                path(d='M5.16387 33.5572L0 37.8897L6.98641 46.219L15.0919 39.4245L19.2966 22.6219L7.59392 21.4548L5.16387 33.5572Z', fill='#BF0000')
                path(d='M53.1895 7.70581H49.8961C51.271 6.65066 52.0384 5.0999 51.7666 3.54914C51.3349 1.1031 48.4892 -0.431675 45.4197 0.11189C42.3501 0.655455 40.2078 3.06952 40.6395 5.51557C40.7834 6.37888 41.247 7.13028 41.9025 7.70581H41.8545H36.0512L37.0744 0.91125H24.1567L23.4692 7.70581H6.50682L5.46765 18.1295H22.4461L19.6323 46.219H30.2798L34.5004 18.1295H50.5835L53.1895 7.70581ZM46.219 6.17104C45.1159 6.17104 44.5404 5.30773 44.5404 4.62028C44.5404 3.38927 45.4037 2.73379 46.4588 2.73379C47.3701 2.73379 47.9936 3.45322 47.9936 4.44442C48.0096 5.41964 47.2262 6.17104 46.219 6.17104Z', fill='#BF0000')
                path(d='M74.7722 15.3317L55.9073 24.1247L60.4956 33.9888L73.6051 27.8817L71.7666 46.219H82.4141L86.3789 19.7922L98.9608 9.24059L91.9744 0.911255L74.7722 15.3317Z', fill='#BF0000')
                path(d='M108.698 3.16806L103.486 12.1949L118.397 20.8041L123.609 11.7772L108.698 3.16806Z', fill='#BF0000')
                path(d='M125.691 32.2462L105.308 34.0368L106.251 44.8601L132.262 42.5899V42.6059L148.09 15.1878L140.655 6.33093L125.691 32.2462Z', fill='#BF0000')
                path(d='M166.251 15.4916L168.521 0.303711H155.604L151.079 45.6275H161.727L164.684 25.9152H185.755L187.322 15.4916H166.251Z', fill='#BF0000')
                path(d='M84.4125 65.1159L87.0184 54.6923H55.2998L50.7754 100H82.1583L84.7642 89.5764H62.9736L64.1087 82.1103H82.1583L84.7642 71.6867H65.6595L66.6507 65.1159H84.4125Z', fill='#BF0000')
                path(d='M91.5587 65.1159H103.533L100.048 100H110.695L115.939 65.1159H127.466L130.072 54.6923H92.5979L91.5587 65.1159Z', fill='#BF0000')
                path(d='M148.905 54.6923H135.971L134.005 87.3221H142.702L148.905 54.6923Z', fill='#BF0000')
                path(d='M131.431 100H142.094L143.453 90.9353H132.342L131.431 100Z', fill='#BF0000')
                path(d='M33.0136 65.1159L33.9249 68.745L46.331 67.498L43.773 54.6923H9.08076L5.46765 89.4804L18.0016 100H41.9025L45.9153 73.2694H28.2494L27.2103 83.6931H32.8697L32.2782 89.5764H22.51L17.3941 85.2918L20.4317 65.1159H33.0136Z', fill='#BF0000')
              symbol#boxSP-point(viewBox='0 0 437 61')
                path(d='M63.0551 27.8907L47.8429 29.4286L52.8721 49.5037L61.2679 56.5486L70.3494 45.7006L65.8606 41.9599L63.0551 27.8907Z', fill='#BF0000')
                path(d='M7.48495 43.6224L0.772491 49.2751L9.85406 60.1023L20.3904 51.2701L25.8559 29.4286L10.6438 27.8907L7.48495 43.6224Z', fill='#BF0000')
                path(d='M69.913 10.0185H65.632C67.4192 8.64693 68.4167 6.63111 68.0634 4.61529C67.5023 1.4357 63.8032 -0.559341 59.8131 0.147235C55.823 0.853811 53.0383 3.99184 53.5994 7.17143C53.7864 8.29364 54.3891 9.27038 55.2412 10.0185H55.1788H47.6351L48.9651 1.18632H32.1735L31.2799 10.0185H9.20982L7.85901 23.5681H29.9291L26.2715 60.0815H40.1121L45.5985 23.5681H66.5048L69.913 10.0185ZM60.8522 8.02348C59.4183 8.02348 58.6701 6.90127 58.6701 6.00766C58.6701 4.40747 59.7923 3.55542 61.1639 3.55542C62.3485 3.55542 63.159 4.4906 63.159 5.77906C63.1797 7.04674 62.1614 8.02348 60.8522 8.02348Z', fill='#BF0000')
                path(d='M97.9682 19.9521L73.4459 31.3821L79.431 44.2043L96.4512 36.245L94.0613 60.1023H107.902L113.056 25.7294L129.411 12.0136L120.329 1.18632L97.9682 19.9521Z', fill='#BF0000')
                path(d='M142.076 4.14319L135.301 15.8772L154.683 27.0681L161.458 15.3341L142.076 4.14319Z', fill='#BF0000')
                path(d='M164.158 41.9391L137.661 44.2459L138.887 58.3358L172.699 55.3849H172.72L193.273 19.7651L183.609 8.23129L164.158 41.9391Z', fill='#BF0000')
                path(d='M216.881 20.1392L219.832 0.417389H203.04L197.159 59.3126H211L214.844 33.6888H242.234L244.271 20.1392H216.881Z', fill='#BF0000')
                path(d='M353.167 13.967L356.554 0.417389H315.323L309.422 59.3126H350.216L353.603 45.7629H325.299L326.774 36.0579H350.216L353.603 22.5083H328.79L330.078 13.967H353.167Z', fill='#BF0000')
                path(d='M362.456 13.967H378.022L373.491 59.3126H387.332L394.148 13.967H409.132L412.519 0.417389H363.807L362.456 13.967Z', fill='#BF0000')
                path(d='M437 0.417389H420.188L417.632 42.8327H428.937L437 0.417389Z', fill='#BF0000')
                path(d='M414.286 59.3126H428.147L429.913 47.5294H415.47L414.286 59.3126Z', fill='#BF0000')
                path(d='M286.354 13.967L287.518 18.6845L303.665 17.0635L300.34 0.417389H255.244L250.547 45.6382L266.84 59.3126H297.908L303.125 24.5657H280.161L278.789 38.1153H286.167L285.398 45.7629H272.7L266.05 40.1935L269.999 13.967H286.354Z', fill='#BF0000')
              symbol#box-point-cnp(viewBox='0 0 144 78')
                path(d='M36.8319 16.9496L27.8357 17.8467L30.8098 29.7187L35.7626 33.885L41.1456 27.482L38.491 25.2575L36.8319 16.9496Z', fill='#BF0000')
                path(d='M3.97035 26.2546L0.000732422 29.5851L5.37139 35.9881L11.6023 30.765L14.8346 17.8483L5.83841 16.9512L3.97035 26.2546Z', fill='#BF0000')
                path(d='M40.8866 6.38062H38.3549C39.4118 5.5695 40.0017 4.37738 39.7928 3.18527C39.461 1.30492 37.2734 0.125097 34.9137 0.542952C32.5541 0.960806 30.9072 2.81657 31.2391 4.69692C31.3497 5.36057 31.7061 5.93819 32.21 6.38062H32.1731H27.7119L28.4984 1.15744H18.5682L18.0398 6.38062H5.00026L4.20142 14.3936H17.2532L15.0902 35.9868H23.2752L26.5198 14.3936H38.8833L40.8866 6.38062ZM35.5282 5.2008C34.6802 5.2008 34.2378 4.53715 34.2378 4.00869C34.2378 3.06237 34.9014 2.55849 35.7126 2.55849C36.4131 2.55849 36.8924 3.11153 36.8924 3.8735C36.9047 4.62318 36.3025 5.2008 35.5282 5.2008Z', fill='#BF0000')
                path(d='M57.4803 12.2433L42.9783 19.0027L46.5055 26.5855L56.5831 21.8908L55.1698 35.9872H63.3548L66.4027 15.6721L76.0748 7.56084L70.7042 1.15784L57.4803 12.2433Z', fill='#BF0000')
                path(d='M83.5597 2.89304L79.5532 9.83228L91.0157 16.4504L95.0222 9.51112L83.5597 2.89304Z', fill='#BF0000')
                path(d='M96.6227 25.2459L80.9531 26.6224L81.6782 34.9426L101.674 33.1974V33.2097L113.841 12.1327L108.126 5.3241L96.6227 25.2459Z', fill='#BF0000')
                path(d='M127.803 12.367L129.549 0.69165H119.618L116.14 35.5333H124.325L126.599 20.38H142.797L144.001 12.367H127.803Z', fill='#BF0000')
                path(d='M76.7033 50.5144L78.7065 42.5015H54.3235L50.8455 77.3309H74.9704L76.9737 69.3179H60.2226L61.0952 63.5785H74.9704L76.9737 55.5656H62.2873L63.0493 50.5144H76.7033Z', fill='#BF0000')
                path(d='M82.1968 50.5144H91.4019L88.7227 77.3309H96.9077L100.939 50.5144H109.8L111.803 42.5015H82.9956L82.1968 50.5144Z', fill='#BF0000')
                path(d='M126.279 42.5015H116.337L114.825 67.585H121.511L126.279 42.5015Z', fill='#BF0000')
                path(d='M112.849 77.3302H121.047L122.091 70.3618H113.55L112.849 77.3302Z', fill='#BF0000')
                path(d='M37.1918 50.5146L37.8923 53.3044L47.4292 52.3458L45.4628 42.5016H18.7939L16.0164 69.2443L25.6516 77.331H44.0249L47.1097 56.7824H33.5294L32.7305 64.7954H37.0812L36.6264 69.318H29.1173L25.1846 66.0243L27.5197 50.5146H37.1918Z', fill='#BF0000')
              symbol#num-maximum-vertical(viewBox='0 0 23 46')
                path(d='M9.1534 19.5932V19.3772C6.8734 19.8092 6.8734 19.8092 4.2814 20.1932C2.3614 20.4572 1.5214 20.6012 0.921402 20.7212L0.369402 18.2492C0.537402 18.2732 0.633402 18.2732 0.753402 18.2732C1.1374 18.2732 1.8094 18.2252 2.8174 18.1532V10.7132C1.7614 10.7132 1.1614 10.7372 0.441402 10.8332V8.50522C1.0894 8.62522 1.7134 8.64922 2.9134 8.64922H19.8814C21.1054 8.64922 21.7054 8.62522 22.3774 8.50522V10.8332C21.6094 10.7372 21.0334 10.7132 19.8574 10.7132H11.5294V19.4972C12.7774 19.0412 13.8574 18.4892 14.7694 17.7932C13.9294 16.8332 13.4494 16.1612 12.5854 14.7452L14.6254 13.8332H14.0014C13.2334 13.8332 12.8014 13.8572 12.2014 13.9292V11.6732C12.7534 11.7452 13.2334 11.7692 14.2174 11.7692H18.2494C19.0654 11.7692 19.6654 11.7452 20.0494 11.6732L21.2974 13.0412C21.1294 13.2812 21.0814 13.3772 20.9134 13.7372C20.1214 15.3212 19.1614 16.7612 18.1774 17.8412C19.2574 18.5372 20.5774 19.0652 22.4254 19.5452C21.9454 20.2652 21.5614 21.0092 21.2014 21.8972C18.6574 20.9132 17.9854 20.5532 16.4974 19.4012C15.2974 20.3852 14.3374 20.9852 12.7774 21.7292C12.4654 20.9612 12.0574 20.2652 11.5294 19.7132C11.5294 20.6972 11.5534 21.3932 11.6494 22.0172H9.0094C9.1054 21.4412 9.1534 20.7932 9.1534 19.5932ZM9.1534 17.4092V16.4492H5.1694V17.9372C6.3454 17.8172 6.8974 17.7452 9.1534 17.4092ZM9.1534 14.6972V13.5452H5.1694V14.6972H9.1534ZM9.1534 11.7932V10.7132H5.1694V11.7932H9.1534ZM18.2254 13.8332H14.7454C15.3934 15.0572 15.7294 15.5852 16.4494 16.3532C17.1934 15.5852 17.6014 14.9852 18.2254 13.8332ZM19.8094 2.55322V5.76922C19.8094 6.70522 19.8334 7.28122 19.9054 7.85722C19.3534 7.80922 18.4894 7.78522 17.6734 7.78522H5.4814C4.4014 7.78522 3.7534 7.80922 3.0094 7.85722C3.0814 7.25722 3.1054 6.65722 3.1054 5.79322V2.55322C3.1054 1.66522 3.0814 1.06522 3.0094 0.46522C3.8014 0.53722 4.4494 0.561219 5.5534 0.561219H17.3614C18.4654 0.561219 19.0894 0.53722 19.9054 0.46522C19.8334 1.04122 19.8094 1.61722 19.8094 2.55322ZM5.5774 2.40922V3.36922H17.3134V2.40922H5.5774ZM5.5774 5.02522V6.00922H17.3134V5.02522H5.5774ZM18.9214 32.1932H12.7054C13.3054 34.3532 14.5774 36.6812 16.1614 38.4812C17.9374 40.4972 19.9294 41.8652 22.7854 43.0412C21.9694 44.0012 21.6334 44.5052 21.0334 45.8012C18.4654 44.4812 16.8094 43.2572 15.1054 41.4092C13.5454 39.7532 12.3694 37.8332 11.4814 35.6012C10.7614 38.0732 9.4894 40.1372 7.5694 42.0332C5.9374 43.6412 4.2094 44.7692 1.8334 45.8012C1.4254 44.8892 0.921402 44.1452 0.153402 43.2812C1.8814 42.5852 2.8414 42.0812 4.0414 41.2412C7.2574 38.9612 8.8654 36.2732 9.4414 32.1932H3.7774C2.2654 32.1932 1.5694 32.2412 0.777402 32.3612V29.3132C1.5214 29.4332 2.3854 29.4812 3.8014 29.4812H9.6814C9.7294 28.2812 9.7534 27.8972 9.7534 26.6492C9.7534 25.6412 9.6814 24.9212 9.5854 24.2492H12.7534C12.6334 25.0892 12.6094 25.4492 12.5854 27.0572C12.5854 28.0412 12.5614 28.5932 12.5374 29.4812H18.8974C20.2654 29.4812 21.1054 29.4332 21.9214 29.3132V32.3612C20.9614 32.2412 20.2414 32.1932 18.9214 32.1932Z')


block js
  //- jsはここに書く

  //------------------------------- ライブラリ読み込み -------------------------------//

  //- jQuery（使用しない時はコメントアウト）
  script(src='https://r.r10s.jp/evt/event/group/sbc/assets/_cmn/js/jquery.3.7.1.min.js')
  meta(name='server_time', content='2016-11-09T21:04:03')
  script#closeNoticeScript(type='text/javascript', src='https://r.r10s.jp/com/js/c/event/close_notice/close_notice-1.0.1.min.ni.js', data-banner-url='/com/js/c/event/close_notice/pc_close_notice.html')
  link(rel='stylesheet', href='https://r.r10s.jp/com/css/c/pc/module/module_set_20160224.min.css')
  noscript
    link(rel='stylesheet', href='https://r.r10s.jp/com/css/c/pc/module/noscript2.0.0.css')
  script(src='https://r.r10s.jp/com/js/d/merged/rjs-h110s112.min.js')
  link(rel='stylesheet', href='https://r.r10s.jp/evt/event/group/sbc/assets/css/design-template/1.5.0/detail.css')

  script.
    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.3";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  
  script(type='text/javascript', src='https://r.r10s.jp/evt/event/group/sbc/assets/_cmn/js/jquery.cookie.js')
  script(type='text/javascript', src='https://r.r10s.jp/evt/event/group/sbc/assets/_cmn/js/lodash.js')
  script(type='text/javascript', src='https://r.r10s.jp/evt/event/group/sbc/assets/js/design-template/1.5.0/detail.js')

  script(src='//instant.page/1.1.0', type='module', integrity='sha384-EwBObn5QAxP8f09iemwAJljc+sU+eUXeL9vSBw1eNmVarwhKk2F9vBEpaN9rsrtp')
