//- 新クーポンLP専用テンプレート。毎回最新のものをフォルダごと複製して使用してください
//- テンプレートの種類について：https://confluence.rakuten-it.com/confluence/pages/viewpage.action?pageId=2443993509
//- CSV Coupon Template / ver 1.2.0 / 更新日時：2024.10.9 / クーポンレイアウト、看板タグ、クーポン内条件表記、クーポン下注意文言アップデート

-
  //- 更新用のpugです。Kintoneの内容をjsonに変換して転記してください。
  //- 作成マニュアル：https://confluence.rakuten-it.com/confluence/display/BUXDGP/Kintone+to+Coupon+LP

  //- 更新日（キャッシュクリア用のパラメータとして使用）
  var parameter = '?v20250318'
  //- ディレクトリ名（l-idなどに使用。入力例：cnt/topics/campaign/xxxx/ -> 'xxxx'）
  var directory = 'mobile_thanksfestival'

  //- Kintoneのcsvをjsonに変換して、[]の中身をまるごと置き換えてください。インデント（段落）が崩れないよう注意
  //- 「クーポン名」のみ手動で良い感じに書き換えてください
  var coupon = [
    {
      "利用開始日時": "2025/3/3 10:00",
      "本発行": "（本発行済）",
      "クーポンコード": "YVAS-L9N2-FEPY-PGRI",
      "クーポン名": "【モバイル契約者対象】楽天ビューティのサロン予約が1,300円OFF",
      "種別": "獲得",
      "事前付与リスト": "https://rak.box.com/s/f67vnpzg9iddsd3u87pi2inddz2cboi5",
      "店舗指定リスト": "※リスト提出予定日までにURL記載",
      "露出先管理Kintone URL": "https://rak.cybozu.com/k/#/space/163/thread/174xxxxxxxxxxxxxxxxxxxxx",
      "担当部署": "MK",
      "レコード番号": 2485,
      "更新者": "shuichiro.matsumoto",
      "作成者": "rpa-1114f28.bp",
      "更新日時": "2025/2/21 13:13",
      "作成日時": "2025/2/15 6:29",
      "入稿シート": "",
      "ページURL": "https://beauty.rakuten.co.jp/cnt/topics/campaign/mobile_thanksfestival/",
      "事前付与空き枠申請": "申請済",
      "対象条件": "新規限定",
      "対象デバイス": "セグメントなし",
      "表示フラグ": "不可",
      "割引適用対象": "サービス",
      "割引適用ショップ・アイテム": "全ショップ",
      "店舗件数": 0,
      "クーポン説明": "楽天ビューティに掲載されている、ヘア・ネイル・まつげ・エステ・リラクサロンのネット予約で利用可能な割引クーポンです。",
      "獲得用URL": "https://coupon.rakuten.co.jp/getCoupon?getkey=TDlOMi1ZVkFTLUZFUFktUEdSSQ--",
      "利用終了日時": "2025/3/21 9:59",
      "来店終了日時": "2025/3/31 23:59",
      "リダイレクトURL": "https://beauty.rakuten.co.jp/cnt/topics/campaign/mobile_thanksfestival/?scid=wi_ich_202503_mobile_thanksfestival_13",
      "事前付与対象枚数": 5745858,
      "セグメント": "202502_モバイル契約者からRB休眠以外の既存除外。https://rak.box.com/s/v4t2swdieop7od7jv4wnle17icgj89hx",
      "制作依頼JIRA URL": "https://jira.rakuten-it.com/jira/browse/RESQUE-10061",
      "注意事項": "＜獲得型_共通＞\n・獲得したラ・クーポンの利用回数には上限があります。\n・他のラ・クーポンとの併用はできません。\n・ラ・クーポンには利用上限回数（予約成立順）が設定されています。ラ・クーポン獲得済みであっても利用上限に達した場合はご利用いただけません。\n・獲得したラ・クーポンは、マイページのマイクーポンからご確認いただけます。\n・ラ・クーポンの利用条件に合致したクーポンのみが、ネット予約STEP中に表示されます。獲得していても、ラ・クーポンが表示されない場合、ラ・クーポンの利用条件等をご確認ください。（予約条件が一致しない、有効期限を過ぎている、利用回数を超えた場合等）\n・ネット予約確定の前に、他のネット予約が成立し利用上限回数に達した場合には、ネット予約がエラーとなり、ラ・クーポンをご利用になれません。\n・ラ・クーポンは、楽天ビューティ（サイト/アプリ）での予約時にのみご利用いただけます。予約成立後など後から利用することはできません。\n・ラ・クーポンを印刷して来店時にお持ちいただいても割引することはできません。\n・ラ・クーポンは、電話予約でご利用できません。\n・一部、ラ・クーポンを利用できない店舗がございます。\n・発行されているラ・クーポンによって来店期日は異なりますので、ご注意ください。\n・サロンの予約状況によっては、ご希望に添えなかったり、お断りする場合もございます。\n・ラ・クーポンを利用した予約をキャンセルした場合、利用条件を満たしていれば、マイクーポンに返還されます。詳しくはこちら\n・本企画は予告無く変更・中止されることがございます。\n・本サービスへのアクセス集中や通信回線の状態による遅延、不具合などにより本サービスへのアクセスや登録・表示などができないことにより発生した障害、または起因して発生したすべての事象に関しましては、当社の責めに帰すべき場合を除き、責任を負いかねます。\n・ご来店いただける期間はサロンの営業時間によって異なります。\n・ラ・クーポンの使用方法についてご不明点があった場合は、楽天ビューティにお問い合わせください。\n\n---------------------------------------------------------------------\n＜獲得型_APPのみ＞\t\n・獲得したラ・クーポンの利用回数には上限があります。\n・他のラ・クーポンとの併用はできません。\n・ラ・クーポンには利用上限回数（予約成立順）が設定されています。ラ・クーポン獲得済みであっても利用上限に達した場合はご利用いただけません。\n・獲得したラ・クーポンは、マイページのマイクーポンからご確認いただけます。\n・ラ・クーポンの利用条件に合致したクーポンのみが、ネット予約STEP中に表示されます。獲得していても、ラ・クーポンが表示されない場合、ラ・クーポンの利用条件等をご確認ください。（予約条件が一致しない、有効期限を過ぎている、利用回数を超えた場合等）\n・ネット予約確定の前に、他のネット予約が成立し利用上限回数に達した場合には、ネット予約がエラーとなり、ラ・クーポンをご利用になれません。\n・ラ・クーポンは、楽天ビューティのアプリでの予約時にのみご利用いただけます。予約成立後など後から利用することはできません。\n・ラ・クーポンを印刷して来店時にお持ちいただいても割引することはできません。\n・ラ・クーポンは、電話予約でご利用できません。\n・一部、ラ・クーポンを利用できない店舗がございます。\n・発行されているラ・クーポンによって来店期日は異なりますので、ご注意ください。\n・サロンの予約状況によっては、ご希望に添えなかったり、お断りする場合もございます。\n・ラ・クーポンを利用した予約をキャンセルした場合、利用条件を満たしていれば、マイクーポンに返還されます。詳しくはこちら\n・本企画は予告無く変更・中止されることがございます。\n・本サービスへのアクセス集中や通信回線の状態による遅延、不具合などにより本サービスへのアクセスや登録・表示などができないことにより発生した障害、または起因して発生したすべての事象に関しましては、当社の責めに帰すべき場合を除き、責任を負いかねます。\n・ご来店いただける期間はサロンの営業時間によって異なります。\n・ラ・クーポンの使用方法についてご不明点があった場合は、楽天ビューティにお問い合わせください。\n\n\n-----------------------------------------------------------------------------------\n＜事前付与型＞\n・ラ・クーポンの利用回数には上限があります。\n・他のラ・クーポンとの併用はできません。\n・ラ・クーポンには利用上限回数（予約成立順）が設定されています。ラ・クーポン獲得済みであっても利用上限に達した場合はご利用いただけません。\n・ラ・クーポンは、マイページのマイクーポンからご確認いただけます。\n・ラ・クーポンの利用条件に合致したクーポンのみが、ネット予約STEP中に表示されます。獲得していても、ラ・クーポンが表示されない場合、ラ・クーポンの利用条件等をご確認ください。（予約条件が一致しない、有効期限を過ぎている、利用回数を超えた場合等）\n・ネット予約確定の前に、他のネット予約が成立し利用上限回数に達した場合には、ネット予約がエラーとなり、ラ・クーポンをご利用になれません。\n・ラ・クーポンは、楽天ビューティ（サイト/アプリ）での予約時にのみご利用いただけます。予約成立後など後から利用することはできません。\n・ラ・クーポンを印刷して来店時にお持ちいただいても割引することはできません。\n・ラ・クーポンは、電話予約でご利用できません。\n・一部、ラ・クーポンを利用できない店舗がございます。\n・発行されているラ・クーポンによって来店期日は異なりますので、ご注意ください。\n・サロンの予約状況によっては、ご希望に添えなかったり、お断りする場合もございます。\n・ラ・クーポンを利用した予約をキャンセルした場合、利用条件を満たしていれば、マイクーポンに返還されます。詳しくはこちら\n・本企画は予告無く変更・中止されることがございます。\n・本サービスへのアクセス集中や通信回線の状態による遅延、不具合などにより本サービスへのアクセスや登録・表示などができないことにより発生した障害、または起因して発生したすべての事象に関しましては、当社の責めに帰すべき場合を除き、責任を負いかねます。\n・ご来店いただける期間はサロンの営業時間によって異なります。\n・ラ・クーポンの使用方法についてご不明点があった場合は、楽天ビューティにお問い合わせください。\n\n\n\n---------　コメントアウト　---------\n※編成へ 各リンク先はこちらでお願いします！\n\nマイクーポン\nhttps://beauty.rakuten.co.jp/user/coupon.php\n\n詳しくはこちら\nhttps://beauty.faq.rakuten.net/user/s/detail/000005759",
      "エリアカテゴリー": "全国_獲得",
      "リスト提出予定日": "2025/2/15",
      "補足": "店舗リスト、メニューリストについてコメントがあればこちらにお願いいたします。",
      "毎月開催": "単月",
      "割引額": 1300,
      "利用上限枚数": 1500,
      "利用最低金額": 4000,
      "メニュークーポン": "なし",
      "メニュー指定リスト": "※リスト提出予定日までにURL記載",
      "サムネイルURL": "※指定がある場合のみ記載",
      "対象店舗予約有無": "なし",
      "会員利用上限枚数(一人あたりの利用回数)": 1
    },
    {
      "利用開始日時": "2025/3/3 10:00",
      "本発行": "（本発行済）",
      "クーポンコード": "QVEJ-OMA0-RW1D-5VLF",
      "クーポン名": "【モバイル契約者対象】楽天ビューティのサロン予約が500円OFF",
      "種別": "獲得",
      "事前付与リスト": "https://rak.box.com/s/23edfjvmr124gyh2tlkadbly2nmqqtly",
      "店舗指定リスト": "※リスト提出予定日までにURL記載",
      "露出先管理Kintone URL": "https://rak.cybozu.com/k/#/space/163/thread/174xxxxxxxxxxxxxxxxxxxxx",
      "担当部署": "MK",
      "レコード番号": 2484,
      "更新者": "shuichiro.matsumoto",
      "作成者": "rpa-1114f28.bp",
      "更新日時": "2025/2/21 13:11",
      "作成日時": "2025/2/15 6:26",
      "入稿シート": "",
      "ページURL": "https://beauty.rakuten.co.jp/cnt/topics/campaign/mobile_thanksfestival/",
      "事前付与空き枠申請": "申請済",
      "対象条件": "セグメントなし",
      "対象デバイス": "セグメントなし",
      "表示フラグ": "不可",
      "割引適用対象": "サービス",
      "割引適用ショップ・アイテム": "全ショップ",
      "店舗件数": 0,
      "クーポン説明": "楽天ビューティに掲載されている、ヘア・ネイル・まつげ・エステ・リラクサロンのネット予約で利用可能な割引クーポンです。",
      "獲得用URL": "https://coupon.rakuten.co.jp/getCoupon?getkey=T01BMC1RVkVKLVJXMUQtNVZMRg--",
      "利用終了日時": "2025/3/21 9:59",
      "来店終了日時": "2025/3/31 23:59",
      "リダイレクトURL": "https://beauty.rakuten.co.jp/cnt/topics/campaign/mobile_thanksfestival/?scid=wi_ich_202503_mobile_thanksfestival_5",
      "事前付与対象枚数": 5901540,
      "セグメント": "202502_モバイル契約者。https://rak.box.com/s/0bbc6ln4moxuecg04iu5r6a1b8ubf3ku",
      "制作依頼JIRA URL": "https://jira.rakuten-it.com/jira/browse/RESQUE-10061",
      "注意事項": "＜獲得型_共通＞\n・獲得したラ・クーポンの利用回数には上限があります。\n・他のラ・クーポンとの併用はできません。\n・ラ・クーポンには利用上限回数（予約成立順）が設定されています。ラ・クーポン獲得済みであっても利用上限に達した場合はご利用いただけません。\n・獲得したラ・クーポンは、マイページのマイクーポンからご確認いただけます。\n・ラ・クーポンの利用条件に合致したクーポンのみが、ネット予約STEP中に表示されます。獲得していても、ラ・クーポンが表示されない場合、ラ・クーポンの利用条件等をご確認ください。（予約条件が一致しない、有効期限を過ぎている、利用回数を超えた場合等）\n・ネット予約確定の前に、他のネット予約が成立し利用上限回数に達した場合には、ネット予約がエラーとなり、ラ・クーポンをご利用になれません。\n・ラ・クーポンは、楽天ビューティ（サイト/アプリ）での予約時にのみご利用いただけます。予約成立後など後から利用することはできません。\n・ラ・クーポンを印刷して来店時にお持ちいただいても割引することはできません。\n・ラ・クーポンは、電話予約でご利用できません。\n・一部、ラ・クーポンを利用できない店舗がございます。\n・発行されているラ・クーポンによって来店期日は異なりますので、ご注意ください。\n・サロンの予約状況によっては、ご希望に添えなかったり、お断りする場合もございます。\n・ラ・クーポンを利用した予約をキャンセルした場合、利用条件を満たしていれば、マイクーポンに返還されます。詳しくはこちら\n・本企画は予告無く変更・中止されることがございます。\n・本サービスへのアクセス集中や通信回線の状態による遅延、不具合などにより本サービスへのアクセスや登録・表示などができないことにより発生した障害、または起因して発生したすべての事象に関しましては、当社の責めに帰すべき場合を除き、責任を負いかねます。\n・ご来店いただける期間はサロンの営業時間によって異なります。\n・ラ・クーポンの使用方法についてご不明点があった場合は、楽天ビューティにお問い合わせください。\n\n---------------------------------------------------------------------\n＜獲得型_APPのみ＞\t\n・獲得したラ・クーポンの利用回数には上限があります。\n・他のラ・クーポンとの併用はできません。\n・ラ・クーポンには利用上限回数（予約成立順）が設定されています。ラ・クーポン獲得済みであっても利用上限に達した場合はご利用いただけません。\n・獲得したラ・クーポンは、マイページのマイクーポンからご確認いただけます。\n・ラ・クーポンの利用条件に合致したクーポンのみが、ネット予約STEP中に表示されます。獲得していても、ラ・クーポンが表示されない場合、ラ・クーポンの利用条件等をご確認ください。（予約条件が一致しない、有効期限を過ぎている、利用回数を超えた場合等）\n・ネット予約確定の前に、他のネット予約が成立し利用上限回数に達した場合には、ネット予約がエラーとなり、ラ・クーポンをご利用になれません。\n・ラ・クーポンは、楽天ビューティのアプリでの予約時にのみご利用いただけます。予約成立後など後から利用することはできません。\n・ラ・クーポンを印刷して来店時にお持ちいただいても割引することはできません。\n・ラ・クーポンは、電話予約でご利用できません。\n・一部、ラ・クーポンを利用できない店舗がございます。\n・発行されているラ・クーポンによって来店期日は異なりますので、ご注意ください。\n・サロンの予約状況によっては、ご希望に添えなかったり、お断りする場合もございます。\n・ラ・クーポンを利用した予約をキャンセルした場合、利用条件を満たしていれば、マイクーポンに返還されます。詳しくはこちら\n・本企画は予告無く変更・中止されることがございます。\n・本サービスへのアクセス集中や通信回線の状態による遅延、不具合などにより本サービスへのアクセスや登録・表示などができないことにより発生した障害、または起因して発生したすべての事象に関しましては、当社の責めに帰すべき場合を除き、責任を負いかねます。\n・ご来店いただける期間はサロンの営業時間によって異なります。\n・ラ・クーポンの使用方法についてご不明点があった場合は、楽天ビューティにお問い合わせください。\n\n\n-----------------------------------------------------------------------------------\n＜事前付与型＞\n・ラ・クーポンの利用回数には上限があります。\n・他のラ・クーポンとの併用はできません。\n・ラ・クーポンには利用上限回数（予約成立順）が設定されています。ラ・クーポン獲得済みであっても利用上限に達した場合はご利用いただけません。\n・ラ・クーポンは、マイページのマイクーポンからご確認いただけます。\n・ラ・クーポンの利用条件に合致したクーポンのみが、ネット予約STEP中に表示されます。獲得していても、ラ・クーポンが表示されない場合、ラ・クーポンの利用条件等をご確認ください。（予約条件が一致しない、有効期限を過ぎている、利用回数を超えた場合等）\n・ネット予約確定の前に、他のネット予約が成立し利用上限回数に達した場合には、ネット予約がエラーとなり、ラ・クーポンをご利用になれません。\n・ラ・クーポンは、楽天ビューティ（サイト/アプリ）での予約時にのみご利用いただけます。予約成立後など後から利用することはできません。\n・ラ・クーポンを印刷して来店時にお持ちいただいても割引することはできません。\n・ラ・クーポンは、電話予約でご利用できません。\n・一部、ラ・クーポンを利用できない店舗がございます。\n・発行されているラ・クーポンによって来店期日は異なりますので、ご注意ください。\n・サロンの予約状況によっては、ご希望に添えなかったり、お断りする場合もございます。\n・ラ・クーポンを利用した予約をキャンセルした場合、利用条件を満たしていれば、マイクーポンに返還されます。詳しくはこちら\n・本企画は予告無く変更・中止されることがございます。\n・本サービスへのアクセス集中や通信回線の状態による遅延、不具合などにより本サービスへのアクセスや登録・表示などができないことにより発生した障害、または起因して発生したすべての事象に関しましては、当社の責めに帰すべき場合を除き、責任を負いかねます。\n・ご来店いただける期間はサロンの営業時間によって異なります。\n・ラ・クーポンの使用方法についてご不明点があった場合は、楽天ビューティにお問い合わせください。\n\n\n\n---------　コメントアウト　---------\n※編成へ 各リンク先はこちらでお願いします！\n\nマイクーポン\nhttps://beauty.rakuten.co.jp/user/coupon.php\n\n詳しくはこちら\nhttps://beauty.faq.rakuten.net/user/s/detail/000005759",
      "エリアカテゴリー": "全国_獲得",
      "リスト提出予定日": "2025/2/15",
      "補足": "店舗リスト、メニューリストについてコメントがあればこちらにお願いいたします。",
      "毎月開催": "単月",
      "割引額": 500,
      "利用上限枚数": 3000,
      "利用最低金額": 4000,
      "メニュークーポン": "なし",
      "メニュー指定リスト": "※リスト提出予定日までにURL記載",
      "サムネイルURL": "※指定がある場合のみ記載",
      "対象店舗予約有無": "なし",
      "会員利用上限枚数(一人あたりの利用回数)": 1
    }
  ]