//- LP用ベーステンプレート。新規作成 or 改修時は最新のものをフォルダごと複製して使用してください
//- テンプレートの種類について：https://confluence.rakuten-it.com/confluence/pages/viewpage.action?pageId=2443993509
//- template / ver 3.2.2 / 更新日時：2025.4.7 / 楽天ビューティとはコンテンツ追加

extends ../../../../_common/pug/Base/_layout.pug

block init
  -
    var parameter = '?v20250409'
    var meta = {
      title: '楽天イーグルス応援キャンペーン',
      description: '楽天イーグルス応援キャンペーン！抽選で合計33名様に公式グッズが当たる！',
      url: 'https://beauty.rakuten.co.jp/cnt/topics/campaign/eagles/',
      directory: 'eagles', //- ディレクトリ名 for Click or Appear Tag（例：/xxxx/→'xxxx'）
      og_image: 'https://beauty.rakuten.co.jp/cnt/topics/campaign/eagles/img/share.png' + parameter,//- default (シェア画像があれば変更)
    }
    var css = 'css/main.css' + parameter

block addHead
  //- nofollowが必要なときはコメントを外す
  //- meta(name='robots', content='noindex,nofollow')

block nav
  //- grobalNav / ''に入れた部分がcurrent表示になる
  +grobalNav('/cnt/topics/')

  //- breadcrumb
  -
    var lists = [
      {
        name: 'キャンペーン一覧・特集',
        link: 'https://beauty.rakuten.co.jp/cnt/topics/',
      },
      {
        name: meta.title, //- タイトル以外を設定したいときは変更
        link: 'current', //- 'current' is no link
      },
    ]
  +breadcrumb(lists)

block content
  //- #Pagename はページ固有の名前に置換してください
  #eagles

    //- 終了対応
    //- #End
      - var endflag
      - var endTxt = 'このキャンペーンは終了しました' //- ページ上部の文言
      - var btnTxt = 'エントリー期間が終了しました' //- ボタンの文言
      +endSet(endTxt)

    //- Campaign Tag
    //- Rule: https://confluence.rakuten-it.com/confluence/pages/viewpage.action?pageId=2688949406
    #CpnTags
      -
        var taglist = {
          tag: [
            'エントリー必要', //- エントリー不要は自動的に青色になります
            '美容室限定', 
            'ネット予約・施術完了',
          ],
        }
      +campaignTag(taglist)

    //- ID、class名は自由
    section#Main.main(data-ratid='cpn_' + meta.directory + '_Main' data-ratevent='appear' data-ratparam='all')
      //- Use h1
      h1.main__title
        img.main__titleImg.-pc(src='img/main.png' + parameter, alt=meta.title)
        img.main__titleImg.-sp(src='img/main_sp.png' + parameter, alt=meta.title)
      .main__terms
        .main__termsBox
          .main__termsBox__main__termsTxt
            p.main__termsTxt
              | エントリー・予約期間:4月22日 10:00 ～ 5月22日 9:59
            p.main__termsTxt
              | 施術期間：4月22日 10:00 ～ 5月31日 23:59
          .main__termsBox--main--img
            img.main__titleImg.-pc(src='img/terms.png' + parameter, alt=meta.title)
            img.main__titleImg.-sp(src='img/terms_sp.png' + parameter, alt=meta.title)
          .main__termsBox__main__termsTxt__small
            p.main__termsTxt.-small ※1 3,000円(税込)以上の施術料金が対象。
            p.main__termsTxt.-small ※ 本キャンペーンは予告なく変更・中止される可能性があります。 
            p.main__termsTxt.-small ※ 条件の達成順序は順不同です。※ キャンペーン詳細は
              a.main__termsLink(href='#Detail')
                | こちら

    //- nav-menu
    .nav-menu
      ul.nav-menu-inner
        li.nav-menu-list
          a.nav-menu-button(href='#EntryBox', data-ratid='eagles_nav_EntryBox' data-ratevent='click' data-ratparam='all')
            span.nav-menu-text エントリー
        li.nav-menu-list.-excludeApp
          a.nav-menu-button(href='#Point', data-ratid='eagles_nav_Point' data-ratevent='click' data-ratparam='all')
            span.nav-menu-text 山分け
              br
              | 10万ポイント
        li.nav-menu-list
          a.nav-menu-button(href='#Prize', data-ratid='eagles_nav_Prize' data-ratevent='click' data-ratparam='all')
            span.nav-menu-text Wチャンス
              br
              | 公式グッズ
        li.nav-menu-list
          a.nav-menu-button(href='#SearchArea', data-ratid='eagles_nav_SearchArea' data-ratevent='click' data-ratparam='all')
            span.nav-menu-text ヘアサロン
              br
              | 予約＆施術

    //- Entry Btn
    section#EntryBox.entryBox(data-ratid='cpn_' + meta.directory + '_EntryBox' data-ratevent='appear' data-ratparam='all')
      .entryBox--container
        .entryBox--desc--wrap 
          .entryBox--img
            img.entryBox--img--title(src='img/title1.png' + parameter, alt='山分けもWチャンスも！まずはエントリー' width='' height='')
          .entryBox--text--box
            p.entryBox--text--box--detail
             | すでに予約＆施術済みの方も♪
             br
             | 5月22日 9:59までのエントリーなら対象
           

      //- 終了対応
      if endflag == true
        //- ボタンセット(url,txt,endflag)
        +btnSet('',btnTxt,true)
      else

        //- 非遷移ボタンジェネレータで作成（使い回しはできません）
        //- https://confluence.rakuten-it.com/confluence/pages/viewpage.action?pageId=4315826663
        // ReX Campaign Entry Button: Mounting points
        // mounting point for button 1
        #rex-ceb-01
        // ReX Campaign Entry Button: Configuration
        script
          | var rexButtons = {language: 'ja', buttons: [{"code":"/rbeauty/eagles202504","theme":"red","wide":true,"showCelebration":false,"alreadyAppliedText":"エントリー済みです","redirection":{"enabled":true,"url":"https://beauty.rakuten.co.jp/cnt/topics/campaign/eagles/","pageTitle":"楽天イーグルス応援キャンペーン","linkText":"楽天イーグルス応援キャンペーン"},"ids":["rex-ceb-01"]}]}
        // ReX Campaign Entry Button: Script
        script(src='https://cdn.rex.contents.rakuten.co.jp/rex-ceb/5.1.0/static/js/main.js' defer='')

        //- メルマガパーミッション
        include ../../../../_common/pug/Module/Common/_mailPermissionTxt
        +mailPermissionTxt()

    //- point
    section#Point.point(data-ratid='cpn_' + meta.directory + '_Prize' data-ratevent='appear' data-ratparam='all')
     .point--container
       .point--desc--wrap 
          .point--img
                img(src='img/point.png' + parameter, alt='みんなで山分け10万ポイント' width='' height='')
          .point--text--box
            p.point--text--box--due 6月末頃に進呈！
            p.point--text--box--detail
              | ※ポイントは進呈日から6ヶ月間有効な期間限定ポイントとして進呈されます。詳細は
              a.point--text--box--link(href="https://ichiba.faq.rakuten.net/detail/000006532?scid=su_2312")
                | こちら
      
    //- prize
    section#Prize.prize(data-ratid='cpn_' + meta.directory + '_Prize' data-ratevent='appear' data-ratparam='all')
     .prize--container
        .prize--desc--wrap
          .prize--img
            img.prize--img--title(src='img/title2.png' + parameter, alt='さらに！美容室の予約＆施術でWチャンス抽選で当たる！' width='' height='')   

        //-A賞 
        .prize--item--wrap-main
          .prize--item--container      
            .prize--item--box
              .prize--item--img
                img.img--prize1(src='img/img_prize1.png' + parameter, alt='A賞 選手直筆サイン入りユニフォーム' width='' height='')
              .prize--item--detail
                .prize--item--title
                  p.prize--item--title--award A賞
                  p.prize--item--title--text 1名様
            .prize--text--box
                | 選手直筆サイン入りユニフォーム
                br
                span.detail ※選手はお選びいただけません。写真はイメージです。

        //-B-C賞
        ul.prize--item--wrap
          li.prize--item--container
            .prize--item--box
              .prize--item--img
                img.img--prize2(src='img/img_prize2.png' + parameter, alt='B賞 【‘47(フォーティーセブン)】Eagles ミニロゴ ’47 CLEAN UP ［カーディナル］' width='' height='')
              .prize--item--detail
                .prize--item--title
                  p.prize--item--title--award B賞
                  p.prize--item--title--text 4名様
            .prize--text--box
              | 【‘47(フォーティーセブン)】Eagles ミニロゴ ’47 CLEAN UP ［カーディナル］

          li.prize--item--container
            .prize--item--box
              .prize--item--img
                img.img--prize3(src='img/img_prize3.png' + parameter, alt='C賞 楽天イーグルス ステンレスウォーターボトル500ml《ブラック》' width='' height='')
              .prize--item--detail
                .prize--item--title
                  p.prize--item--title--award C賞
                  p.prize--item--title--text 4名様
            .prize--text--box
              | 楽天イーグルス ステンレスウォーターボトル500ml《ブラック》


              
        //-D-E-F賞
        ul.prize--item--wrap-three
          li.prize--item--container
            .prize--item--box
              .prize--item--img
                img.img--prize4(src='img/img_prize4.png' + parameter, alt='D賞 サーモビアタンブラー[お買いものパンダ｜ 楽天イーグルス] トートバッグ' width='' height='')
              .prize--item--detail
                .prize--item--title
                  p.prize--item--title--award D賞
                  p.prize--item--title--text 6名様
            .prize--text--box
              | サーモビアタンブラー[お買いものパンダ｜ 
              br.-sp
              | 楽天イーグルス] トートバッグ

          li.prize--item--container
            .prize--item--box
              .prize--item--img
                img.img--prize5(src='img/img_prize5.png' + parameter, alt='E賞 [お買いものパンダ｜楽天イーグルス] ぬいぐるみ お買いものパンダ［MINI］' width='' height='')
              .prize--item--detail
                .prize--item--title
                  p.prize--item--title--award E賞
                  p.prize--item--title--text 6名様
            .prize--text--box
              |  [お買いものパンダ｜楽天イーグルス] 
              br.-sp
              | ぬいぐるみ お買いものパンダ［MINI］

          li.prize--item--container
            .prize--item--box
              .prize--item--img
                img.img--prize6(src='img/img_prize6.png' + parameter, alt='F賞 スマホショルダーストラップイーグルスカラー' width='' height='')
              .prize--item--detail
                .prize--item--title
                  p.prize--item--title--award F賞
                  p.prize--item--title--text 12名様
            .prize--text--box
              | スマホショルダーストラップ
              br.-sp
              | イーグルスカラー

        ul.prize--info
          li ※写真はすべてイメージです。
          li ※賞や直筆サイン入りユニフォームの選手についてはお選びいただけません。
          li ※キャンペーン期間内であればネット予約・施術と応募の順番は問いません。
          li ※当選者の発表は賞品の発送をもって代えさせていただきます。詳細は
            a.prize--text--box--link(href="#Detail")
                | こちら
          li ※賞品の発送は6月末頃を予定しております。
          li ※住所不備等による賞品の再送は行いませんので、登録の情報に誤りや変更がないか必ずご確認ください。楽天会員情報の確認・変更は
            a.prize--text--box--link(href="https://my.rakuten.co.jp/")
                | こちら



    //- Area Search
    section#SearchArea.searchArea(data-ratid='cpn_' + meta.directory + '_SearchArea' data-ratevent='appear' data-ratparam='all')
      .searchArea--container
        .searchArea--desc--wrap 
          .searchArea--img
            img.searchArea--img--title(src='img/title3.png' + parameter, alt='美容室の予約＆施術完了' width='' height='')
          .searchArea--text--box
            p.searchArea--text--box--detail
             | 5月22日 9:59までに楽天ビューティで
             br
             | 美容室のネット予約をして
             br
             | 5月31日 23:59までに施術完了で条件達成！

      h3.titleWrap--subtitle 美容室を探す

      //- プロパティをつけると検索内容をカスタマイズできます
      //- https://git.rakuten-it.com/projects/RBEAUT/repos/rbeautyuicomponent/browse/src/components/ShopSearch/readme.md
      #shopSearch(default-genre-id="", default-prefectures-id="13", search-style="hide_genre", search-type="?l-id=eagles_lp_search" data-ratid="eagles_btn_shop_search" data-ratevent="click")
        include ../../../../_common/pug/Module/Common/_shopSearchList

      .searchArea__content__category__wrap
        .searchArea__content__category--title
          | 迷ったらこちら！
          br
          span.searchArea__content__category--title-catch
            | 注目メニュー
        ul.ssStep__article__content__category
          li.ssStep__article__content__category__list
            a.ssStep__article__content__category__link(href='https://beauty.rakuten.co.jp/freeword%E4%BC%BC%E5%90%88%E3%82%8F%E3%81%9B%E3%82%AB%E3%83%83%E3%83%88/sort7/?q=%E4%BC%BC%E5%90%88%E3%82%8F%E3%81%9B%E3%82%AB%E3%83%83%E3%83%88&l-id=rb_eagles_menu01')
              span.ssStep__article__content__category__link--icon
                img(src='img/img_menu01.png' + parameter, width='100%' height='auto')
              | 似合わせ
              br
              | カット
          li.ssStep__article__content__category__list
            a.ssStep__article__content__category__link(href='https://beauty.rakuten.co.jp/men/tk135/?l-id=rb_eagles_menu02')
              span.ssStep__article__content__category__link--icon
                img(src='img/img_menu02.png' + parameter, width='100%' height='auto')
              | メンズ
              br.-sp
              | カット
          li.ssStep__article__content__category__list
            a.ssStep__article__content__category__link(href='https://beauty.rakuten.co.jp/tk107/?l-id=rb_eagles_menu03')
              span.ssStep__article__content__category__link--icon
                img(src='img/img_menu03.png' + parameter, width='100%' height='auto')
              | 縮毛
              br.-sp
              | 矯正
          li.ssStep__article__content__category__list
            a.ssStep__article__content__category__link(href='https://beauty.rakuten.co.jp/freeword%E7%99%BD%E9%AB%AA%E3%81%BC%E3%81%8B%E3%81%97/sort7/?q=%E7%99%BD%E9%AB%AA%E3%81%BC%E3%81%8B%E3%81%97&l-id=rb_eagles_menu04')
              span.ssStep__article__content__category__link--icon
                img(src='img/img_menu04.png' + parameter, width='100%' height='auto')
              | 白髪
              br.-sp
              | ぼかし
          li.ssStep__article__content__category__list
            a.ssStep__article__content__category__link(href='https://beauty.rakuten.co.jp/freeword%E3%83%89%E3%83%A9%E3%82%A4%E3%83%98%E3%83%83%E3%83%89%E3%82%B9%E3%83%91/sort7/?q=%E3%83%89%E3%83%A9%E3%82%A4%E3%83%98%E3%83%83%E3%83%89%E3%82%B9%E3%83%91&l-id=rb_eagles_menu05')
              span.ssStep__article__content__category__link--icon
                img(src='img/img_menu05.png' + parameter, width='100%' height='auto')
              | ドライヘッド
              br
              | スパ
          li.ssStep__article__content__category__list
            a.ssStep__article__content__category__link(href='https://beauty.rakuten.co.jp/freeword%E5%A4%96%E5%9B%BD%E4%BA%BA%E9%A2%A8%E3%82%AB%E3%83%A9%E3%83%BC/sort7/?q=%E5%A4%96%E5%9B%BD%E4%BA%BA%E9%A2%A8%E3%82%AB%E3%83%A9%E3%83%BC&l-id=rb_eagles_menu06')
              span.ssStep__article__content__category__link--icon
                img(src='img/img_menu06.png' + parameter, width='100%' height='auto')
              | 外国人風
              br
              | カラー
          li.ssStep__article__content__category__list
            a.ssStep__article__content__category__link(href='https://beauty.rakuten.co.jp/nail/st2/?l-id=rb_eagles_menu07')
              span.ssStep__article__content__category__link--icon
                img(src='img/img_menu07.png' + parameter, width='100%' height='auto')
              | ハンド・
              br.-sp
              | フット
              br.-pc
              | ネイル
          li.ssStep__article__content__category__list
            a.ssStep__article__content__category__link(href='https://beauty.rakuten.co.jp/freeword%E5%B0%8F%E5%AD%A6%E7%94%9F%E6%9C%AA%E6%BA%80%E3%82%AB%E3%83%83%E3%83%88/sort7/?q=%E5%B0%8F%E5%AD%A6%E7%94%9F%E6%9C%AA%E6%BA%80%E3%82%AB%E3%83%83%E3%83%88&l-id=rb_eagles_menu08')
              span.ssStep__article__content__category__link--icon
                img(src='img/img_menu08.png' + parameter, width='100%' height='auto')
              | 小学生未満
              br
              | カット
          li.ssStep__article__content__category__list
            a.ssStep__article__content__category__link(href='https://beauty.rakuten.co.jp/freeword%E7%99%BA%E6%AF%9B%E3%82%B1%E3%82%A2/sort7/?q=%E7%99%BA%E6%AF%9B%E3%82%B1%E3%82%A2&l-id=rb_eagles_menu09')
              span.ssStep__article__content__category__link--icon
                img(src='img/img_menu09.png' + parameter, width='100%' height='auto')
              | 発毛ケア
          li.ssStep__article__content__category__list
            a.ssStep__article__content__category__link(href='https://beauty.rakuten.co.jp/relax/freeword%E3%82%82%E3%81%BF%E3%81%BB%E3%81%90%E3%81%97/sort7/?q=%E3%82%82%E3%81%BF%E3%81%BB%E3%81%90%E3%81%97&l-id=rb_eagles_menu10')
              span.ssStep__article__content__category__link--icon
                img(src='img/img_menu10.png' + parameter, width='100%' height='auto')
              | もみほぐし



    //- 施術完了
    section#Done.done(data-ratid='cpn_' + meta.directory + '_SearchArea' data-ratevent='appear' data-ratparam='all')
      .done--container
        .done--desc--wrap 
          .done--img
                img(src='img/done.png' + parameter, alt='施術完了' width='' height='')

    //- app DL
    section#App.app.-excludeApp(data-ratid='cpn_' + meta.directory + '_App' data-ratevent='appear' data-ratparam='all')

      //- app DL parts
      //- バナー上の注意文：表示(true) or 非表示(false)
      - var appInfoFlag = true
      //- 
        共通DLコンテンツのAdjust URLとQRコードは基本変更不要。変更したい場合は第2引数にadjustUrl、第3引数にQRCodeの画像URLを入れると変更可能
        例：+appDL('app2x','https://app.adjust.com/1ifdl1tv','/cnt/common/images/cpn-parts/btn_dl_qr.svg')
      +appDL('app2x','https://app.adjust.com/1mwmaows?engagement_type=fallback_click','img/QR.png')

    //- banner
    //- section#Banner.banner(data-ratid='cpn_' + meta.directory + '_Banner' data-ratevent='appear' data-ratparam='all')
    //-   .banner__box
    //-     p.banner__txt
    //-       | こちらもチェック！
    //-       br.-sp
    //-       | アプリからご予約でポイントGET！
    //-     .banner__boxInner
    //-       a.banner__link(href='/cnt/topics/campaign/app2x/?l-id=rb_xxxx_app2x')
    //-         img.banner__img(src='//cloudinary-a.akamaihd.net/vivivi/image/upload/t_beauty,f_auto,q_auto:good/v1/banner/app2x/640x160.png' + parameter, alt='楽天ビューティ紹介キャンペーン' width='640' height='160')


    //- Campaign Detail
    section#Detail.detail(data-ratid='cpn_' + meta.directory + '_Detail' data-ratevent='appear' data-ratparam='all')
      .detailBox
        .titleWrap
          h2.titleWrap--title キャンペーン詳細
        h3.titleWrap--subtitle 楽天イーグルス応援キャンペーン
        p.detail__caption ※本キャンペーンは予告なく変更・中止される可能性がございます。
        table.detail__table
          tbody
            tr.detail__tableBlock
              th.detail__tableBlockHead エントリー・予約期間
              td.detail__tableBlockBody 2025年4月22日(火) 10:00～2025年5月22日(木) 9:59まで

            tr.detail__tableBlock
              th.detail__tableBlockHead 施術期間
              td.detail__tableBlockBody 2025年4月22日(火) 10:00～2025年5月31日(土) 23:59まで

            tr.detail__tableBlock
              th.detail__tableBlockHead 対象者
              td.detail__tableBlockBody
                p.detail__tableBlockTxt 下記の対象条件を全て満たした方が、特典の対象となります。
                p.detail__tableBlockTxt--space

                p.detail__tableBlockTxt ① 10万ポイント山分けキャンペーン
                p.detail__tableBlockTxt エントリーをされた方
                p.detail__tableBlockTxt--space

                p.detail__tableBlockTxt ② 公式グッズ抽選キャンペーン
                ul.detail__tableBlockList--disc
                  li.detail__tableBlockList--li エントリーをされた方
                  li.detail__tableBlockList--li 予約期間中に楽天ビューティ掲載のヘアサロンで3,000円以上(税込)のネット予約をされた方
                  li.detail__tableBlockList--li 施術期間中に施術を完了された方
                p.detail__tableBlockTxt--space

                ul.detail__tableBlockList
                  li.detail__tableBlockList--li エントリーには楽天会員登録が必要です。楽天会員でない方は、エントリーと同時に楽天会員登録(無料)ができます。
                  li.detail__tableBlockList--li
                    | エントリー履歴は
                    a.detail__tableBlockTxt--link(href='https://oubo.rakuten.co.jp/list?spk=f1636b') こちら
                    | から確認できます。
                  li.detail__tableBlockList--li ネット予約後キャンセルされた場合、ご来店いただけなかった場合は対象外となります。
                  li.detail__tableBlockList--li 楽天発行の割引クーポン利用の場合は、
                    span.detail__tableBlockTxt--red クーポン割引後
                    | の価格が3,000円(税込)以上の場合に対象となります。
                  li.detail__tableBlockList--li ネット予約後、お客様都合や店舗都合でキャンセルになり、その後電話予約や直接来店で施術完了された場合は、当キャンペーンの対象外となります。
                  li.detail__tableBlockList--li ネット予約後、来店日時が変更になった場合でも、対象の来店期間内で施術完了された場合は、当キャンペーンの対象となります。
                  li.detail__tableBlockList--li 期間内の予約・施術完了であればエントリーと予約・施術完了どちらが先でも対象となります。
                  li.detail__tableBlockList--li 楽天グループの役職員及び関係者は応募できません。

            tr.detail__tableBlock
              th.detail__tableBlockHead 特典内容
              td.detail__tableBlockBody
                p.detail__tableBlockTxt ① 10万ポイント山分けキャンペーン
                p.detail__tableBlockTxt 楽天ポイント 10 万ポイントを当ページよりエントリーした方の人数で割り、小数点以下を切り捨てたポイント数を進呈いたします。
                p.detail__tableBlockTxt エントリーされた方が 10 万名より多い場合は、お一人様あたり 1 ポイントを進呈いたします。
                p.detail__tableBlockTxt--space

                p.detail__tableBlockTxt ② 公式グッズ抽選キャンペーン
                p.detail__tableBlockTxt 抽選で合計33名様に楽天イーグルス公式グッズを進呈いたします。
                p.detail__tableBlockTxt--space

                p.detail__tableBlockTxt A賞 選手直筆サイン入り MyHEROユニフォーム （1名）
                p.detail__tableBlockTxt B賞 【‘47(フォーティーセブン)】Eagles ミニロゴ ’47 CLEAN UP ［カーディナル］ (4名様)
                p.detail__tableBlockTxt C賞 楽天イーグルス ステンレスウォーターボトル500ml《ブラック》 （4名様）
                p.detail__tableBlockTxt D賞 [お買いものパンダ｜楽天イーグルス] トートバッグ (6名様)
                p.detail__tableBlockTxt E賞 [お買いものパンダ｜楽天イーグルス] ぬいぐるみ お買いものパンダ［MINI］ (6名様)
                p.detail__tableBlockTxt F賞 スマホショルダーストラップ イーグルスカラー（12名様）
                p.detail__tableBlockTxt--space

                p.detail__tableBlockTxt ※ 賞や直筆サイン入りユニフォームの選手についてはお選びいただけません。
                p.detail__tableBlockTxt
                  | ※ 特典は楽天会員情報にご登録の住所宛てに発送いたします（国内のみ）。ご登録の情報に誤りや変更がないか、必ずご確認ください。楽天会員情報の確認・変更は
                  a.detail__tableBlockTxt--link(href='https://my.rakuten.co.jp/') こちら
                  | 。
                p.detail__tableBlockTxt ※ 楽天会員情報の登録不備や宛先不明などで連絡がとれない場合、当選は無効とさせていただき、特典の再送及び繰り上げ当選は行いませんのでご注意ください。
                p.detail__tableBlockTxt ※ 特典の転売、特典獲得権の譲渡は禁止です。

            tr.detail__tableBlock
              th.detail__tableBlockHead ポイント進呈・特典発送予定日
              td.detail__tableBlockBody
                p.detail__tableBlockTxt 6月末頃
                p.detail__tableBlockTxt--space

                p.detail__tableBlockTxt ※ 公式グッズは特典の発送をもって、楽天ポイントはポイント進呈をもって当選の発表にかえさせていただきます。
                p.detail__tableBlockTxt
                  | ※ 獲得した特典ポイントは、
                  a.detail__tableBlockTxt--link(href='https://point.rakuten.co.jp/history/') 楽天PointClubのポイント実績
                  | でご確認いただけます。
                p.detail__tableBlockTxt ※ 当選に関わる個別のお問い合わせについては、対応しておりません。
                p.detail__tableBlockTxt ※ 都合により特典の発送が遅れる場合もございます。予めご了承ください。

            tr.detail__tableBlock
              th.detail__tableBlockHead ポイント有効期限
              td.detail__tableBlockBody
                p.detail__tableBlockTxt 特典ポイントは、
                  span.detail__tableBlockTxt--red 期間限定ポイント
                  | で進呈されます。ポイント進呈日から6ヶ月間有効な期間限定ポイントとして進呈されます。
                p.detail__tableBlockTxt 期間限定ポイントは、有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などを行なった場合には返還されません。
                p.detail__tableBlockTxt
                  | 期間限定ポイントの詳細は
                  a.detail__tableBlockTxt--link(href='https://ichiba.faq.rakuten.net/detail/000006532?scid=su_2312') こちら
                  | でご確認ください。

            tr.detail__tableBlock
              th.detail__tableBlockHead 注意事項
              td.detail__tableBlockBody
                ul.detail__tableBlockList
                  li.detail__tableBlockList--li 一部ネット経由の予約が行えないサロンがございます。また、サロンの予約状況によっては、ご希望に添えない場合やお断りする場合もございます。
                  li.detail__tableBlockList--li 本サービスへのアクセス集中や通信回線の状態による遅延、不具合などにより本サービスへのアクセスや登録・表示などができないことにより発生した障害、または起因して発生したすべての事象に関しましては、当社の責めに帰すべき場合を除き、責任を負いかねます。
                  li.detail__tableBlockList--li
                    | 取得したユーザ情報は
                    a.detail__tableBlockTxt--link(href='https://privacy.rakuten.co.jp/') 個人情報保護方針
                    | に基づいてお取り扱いいたします。
                  li.detail__tableBlockList--li 掲載店舗、あるいは弊社が不正と合理的に判断した場合は、特典対象から除外する場合がございます。
                  li.detail__tableBlockList--li キャンペーンのエントリー及び条件達成状況に関わるお問い合わせは一切お受けいたしかねますので、ご了承ください。
                  li.detail__tableBlockList--li
                    | その他ご不明な点は
                    a.detail__tableBlockTxt--link(href='https://beauty.faq.rakuten.net/user/s/') こちら
                    | よりお問い合わせください。


    //- Other Campaign
    section#Campaign.campaign(data-ratid='cpn_' + meta.directory + '_Campaign' data-ratevent='appear' data-ratparam='all')
      .titleWrap
        h2.titleWrap--title その他のキャンペーン

      include ../../../../_common/pug/Module/Common/_campaignList
      +campaignList()


block js
  //- jsはここに書く

  //------------------------------- ライブラリ読み込み -------------------------------//

  //- jQuery（使用しない時はコメントアウト）
  script(src="/cnt/common/js/jquery/3.7.1/jquery.min.js", defer)

  //- vue（使用しない時はコメントアウト）
  script(src='/cnt/common/js/vue/vue.min.js', defer)
  script(src='/cnt/common/js/vue/axios.min.js', defer)

  //------------------------------- CPNパーツ用js読み込み -------------------------------//

  //- エリア検索
  script(src="/cnt/common/js/area-search/shopSearch.js", defer)

  //- キャンペーン一覧 (vue)（cpnlist/barter枠のjson読み込み）
  script(src='/cnt/common/js/readjson.js' + parameter, defer)
  //- 読み込みたいjson名をtrueにする（ハイフン抜き）
  script.
    campaignlist = true;

  //- よくあるご質問（jQuery）
  script(src="/cnt/common/js/cpn-parts/qa_accordion.js", defer)

  //- ボタン+checkbox（vue）
  script(src="/cnt/common/js/cpn-parts/btn_checkbox.js", defer)

  //------------------------------- このページ用のjs -------------------------------//

  //- あればここに書く
